﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.PayBank_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 90%;
        font-weight: normal;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        /*height:25%;*/
    }
</style>


@*<style>


        .k-edit-form-container {
            position: relative;
            width: 100%;
            /*height:25%;*/
        }

            .k-edit-form-container .k-edit-buttons {
                visibility: hidden !important;Depend_Code
            }
    </style>*@



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("QCBank", new { })<br />
            @Html.TextBoxFor(model => model.paybank_QCbank, new { disabled = "disabled" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Bank Name", new { })<br />

            @(Html.Kendo().DropDownList()
                                                                            .Name("Depend_Code")
                                           .DataTextField("paybank_bank_name")
                                                                            .DataValueField("Depend_Code")
                                            .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height:25px;width: 175px;font-weight:normal;margin-left: 0%;" })
                                            .DataSource(source => { source.Read(read => { read.Action("GetBankCode", "PayBank", new { parentcode = "QCD_BankName" }); }).ServerFiltering(true); }))

        </div>
        <div class="col-sm-2">
            @Html.Label("Account No", new { style = "" })<br />

            @Html.TextBoxFor(model => model.paybank_acc_no, new { @maxlength = "12"})
        </div>
        <div class="col-sm-2">
            @Html.Label("Branch Name", new { style = "" })<br />
            @Html.TextBoxFor(model => model.paybank_branch_name, new { @maxlength = "200", style = "" })
        </div>
        <div class="col-sm-2">

            @Html.Label("IFSC Code", new { })<br />
            @Html.TextBoxFor(model => model.paybank_ifsc_code, new { @maxlength = "200", style = "" })
        </div>
        <div class="col-sm-2">

        </div>
    </div>

    <div class="row" style="margin-left:-1%;margin-top:25px;">
        <div class="col-sm-2">

            @Html.Label("GL No", new { style = "" })<br />
            @(Html.Kendo().DropDownList()
                                              .Name("paybankglid")
                                              .DataTextField("paybank_gl_no")
                                              .DataValueField("paybankglid")
                              .HtmlAttributes(new { style = "height:25px;width: 175px;font-weight:normal;margin-left: 0%;" })
                              .DataSource(source => { source.Read(read => { read.Action("GetBankGLNo", "PayBank", new { parentcode = "QCD_GL Code" }); }).ServerFiltering(true); }))

        </div>
        <div class="col-sm-2">

            @Html.Label("MEMO FileName", new { style = "" })<br />
            @Html.TextBoxFor(model => model.paybank_memo_filename, new { @maxlength = "200", style = " " })
        </div>
        <div class="col-sm-2">
            @Html.Label("Online FileName", new { style = "  " })<br />
            @Html.TextBoxFor(model => model.paybank_online_filename, new { style = "" })
        </div>
        <div class="col-sm-4">
            @Html.Label("Address", new { style = "" })<br />
            @Html.TextAreaFor(model => model.paybank_bank_address, new { style = "width: 100%" })
        </div>               
    </div>    
        <div class="row" style="margin-top:15px;">
            <div class="col-sm-2">
                @Html.Label("Period From", new { style = "" })<br />
                @(Html.Kendo().DatePicker().Format("dd-MM-yyyy").
                        Name("paybank_period_from")
               .Value(Model.paybank_period_from)
                        .Events(e => e.Change("StartDateChanged"))
                                               .HtmlAttributes(new { style = "", placeholder = "DD-MM-YYYY", @id = "paybank_period_from", onkeypress = "return isNumberKey(event)" }))     @*//onkeypress = "return ESTOnkeypress();"*@
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Period To", new { style = "" })<br />
                            @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                    .Name("paybank_period_to")
            .Value(Model.paybank_period_to)
                     .Events(e => e.Change("EndDateChanged"))
                                    .HtmlAttributes(new { style = "", placeholder = "DD-MM-YYYY", @id = "paybank_period_to", onkeypress = "return isNumberKey(event)" }))
                        </div>
                        @*<div class="col-sm-2">
                            @Html.Label("Default", new { style = "" })<br />
                            @Html.RadioButtonFor(m => m.paybank_default, "Y", new { id = "Yes" })
                            <label for="Ongoing" style="font-weight: normal;">Yes</label>
                            @Html.RadioButtonFor(m => m.paybank_default, "N", new { Checked = "true", id = "No" })
                            @Html.RadioButtonFor(m => m.paybank_default, "N", new { id = "No" })
                            <label for="One_Time" style="font-weight: normal;">No</label>

                        </div>*@

            <div class="col-sm-2">
                @Html.Label("Default", new { @class = "lbl-font",style="font-weight:bold;" })<br />

                @Html.RadioButtonFor(m => m.paybank_default, "Y")
                @*<label for="Ongoing" style="font-weight: normal;">Yes</label>*@
                @Html.Label("Yes", new { @class = "lbl-font" })

                @Html.RadioButtonFor(m => m.paybank_default, "N")
                @Html.Label("No", new { @class = "lbl-font" })
                @*<label for="One_Time" style="font-weight: normal;">No</label>*@

                @Html.ValidationMessageFor(m => m.paybank_default, "", new { @class = "error" })
            </div>
                        @*<div class="col-sm-2">
                            @Html.Label("CHQ", new { style = "" })<br />
                            @Html.RadioButtonFor(m => m.paybank_CHQ_default, "Y", new { id = "Check" })

                            <label for="Ongoing" style="font-weight: normal;">Yes</label>
                            @Html.RadioButtonFor(m => m.paybank_CHQ_default, "N", new { Checked = "true", id = "Checkid" })
                            @Html.RadioButtonFor(m => m.paybank_CHQ_default, "N", new { id = "Checkid" })


                            <label for="One_Time" style="font-weight: normal;">No</label>
                        </div>*@

            <div class="col-sm-2">
                @Html.Label("CHQ", new { @class = "lbl-font", style = "font-weight:bold;" })<br />

                @Html.RadioButtonFor(m => m.paybank_CHQ_default, "Y")
                @*<label for="Ongoing" style="font-weight: normal;">Yes</label>*@
                @Html.Label("Yes", new { @class = "lbl-font" })

                @Html.RadioButtonFor(m => m.paybank_CHQ_default, "N")
                @Html.Label("No", new { @class = "lbl-font" })
                @*<label for="One_Time" style="font-weight: normal;">No</label>*@

                @Html.ValidationMessageFor(m => m.paybank_CHQ_default, "", new { @class = "error" })
            </div>

                         @*<div class="col-sm-2">
                            @Html.Label("EFT", new { style = "" })<br />
                            @Html.RadioButtonFor(m => m.paybank_EFT_default, "Y", new { id = "efcid" })

                            <label for="Ongoing" style="font-weight: normal;">Yes</label>
                            @Html.RadioButtonFor(m => m.paybank_EFT_default, "N", new { Checked = "true", id = "eft" })
                            @Html.RadioButtonFor(m => m.paybank_EFT_default, "N", new { id = "eft" })
                            <label for="One_Time" style="font-weight: normal;">No</label>
                        </div>*@

            <div class="col-sm-2">
                @Html.Label("EFT", new { @class = "lbl-font", style = "font-weight:bold;" })<br />

                @Html.RadioButtonFor(m => m.paybank_EFT_default, "Y")
                @*<label for="Ongoing" style="font-weight: normal;">Yes</label>*@
                @Html.Label("Yes", new { @class = "lbl-font" })

                @Html.RadioButtonFor(m => m.paybank_EFT_default, "N")
                @Html.Label("No", new { @class = "lbl-font" })
                @*<label for="One_Time" style="font-weight: normal;">No</label>*@

                @Html.ValidationMessageFor(m => m.paybank_EFT_default, "", new { @class = "error" })
            </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">

                        @*<div class="col-sm-2">
                            @Html.Label("ERA", new { style = "" })<br />
                            @Html.RadioButtonFor(m => m.paybank_ERA_default, "Y", new { id = "eraid" })

                            <label for="Ongoing" style="font-weight: normal;">Yes</label>


                            @Html.RadioButtonFor(m => m.paybank_ERA_default, "N", new { Checked = "true", id = "era" })

                            @Html.RadioButtonFor(m => m.paybank_ERA_default, "N", new { id = "era" })


                            <label for="One_Time" style="font-weight: normal;">No</label>
                        </div>*@


                        <div class="col-sm-2">
                            @Html.Label("ERA", new { @class = "lbl-font", style = "font-weight:bold;" })<br />

                            @Html.RadioButtonFor(m => m.paybank_ERA_default, "Y")
                            @*<label for="Ongoing" style="font-weight: normal;">Yes</label>*@
                            @Html.Label("Yes", new { @class = "lbl-font" })

                            @Html.RadioButtonFor(m => m.paybank_ERA_default, "N")
                            @Html.Label("No", new { @class = "lbl-font" })
                            @*<label for="One_Time" style="font-weight: normal;">No</label>*@

                            @Html.ValidationMessageFor(m => m.paybank_ERA_default, "", new { @class = "error" })
                        </div>

                        @*<div class="col-sm-2">
                            @Html.Label("DD", new { style = "" })<br />
                            @Html.RadioButtonFor(m => m.paybank_DD_default, "Y", new { id = "ddid" })

                            <label for="Ongoing" style="font-weight: normal;">Yes</label>

                            @Html.RadioButtonFor(m => m.paybank_DD_default, "N", new { Checked = "true", id = "dd" })
                            @Html.RadioButtonFor(m => m.paybank_DD_default, "N", new { id = "dd" })

                            <label for="One_Time" style="font-weight: normal;">No</label>
                        </div>*@

                        <div class="col-sm-2">
                            @Html.Label("DD", new { @class = "lbl-font", style = "font-weight:bold;" })<br />

                            @Html.RadioButtonFor(m => m.paybank_DD_default, "Y")
                            @*<label for="Ongoing" style="font-weight: normal;">Yes</label>*@
                            @Html.Label("Yes", new { @class = "lbl-font" })

                            @Html.RadioButtonFor(m => m.paybank_DD_default, "N")
                            @Html.Label("No", new { @class = "lbl-font" })
                            @*<label for="One_Time" style="font-weight: normal;">No</label>*@

                            @Html.ValidationMessageFor(m => m.paybank_DD_default, "", new { @class = "error" })
                        </div>

                    </div>
                </div>

