﻿<style>
    .checkbox, .radio {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 4px;
        line-height: 1.42857143;
        vertical-align: top;
    }
</style>

@if (ViewBag.Role != null)
{
    <table class="table table-striped table-bordered table-responsive" style="border:inset;margin-bottom: 0px;height:250px;">
        <tbody>

            @foreach (var item in ViewBag.Role)
            {
                <tr>
                    <td>
                        <div class="checkbox">

                            <label class="hd-txt">
                                <input type="checkbox" class="chkRole" value="@item.Role_Gid">@item.Role
                            </label>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

<div class="col-sm-3">
    <button class="btn btn-primary" id="button_Submit" type="button" style="margin-left: 40%;width: 100%;" onclick="return Save_RoleEmployee();">
        <i class="fa fa-save"></i> Submit
    </button>
</div> 
<div class="col-sm-3">
    <button class="btn btn-primary" id="btn_Close" type="button" style="margin-left: 40%;width: 100%;" onclick="return Close_Window();">
        <i class="fa fa-save"></i> Close
    </button>
</div> 
