﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DataAccessHandler.Models.IEMProduct.RoleEmployee_Model
@*<h2>Index</h2>*@

<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Employee Vs Role</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">

                <div class="col-md-11 table-responsive">
                    @using (Html.BeginForm("EmployeeRole", "EmployeeRole", FormMethod.Post, new { @id = "Form_EmployeeRole" }))
                    {
                        @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.RoleEmployee_Model>().Name("KendGrid_EmployeeRole")
                     .HtmlAttributes(new { @style = "width:99%;line-height:2em;font-weight:normal;height: 347px" })
                      .Columns(columns =>
                        {
                            columns.Bound(m => m.Employee_Gid).Title("Employee Gid").Hidden();
                            columns.Bound(m => m.EmployeeCode).Title("Employee Code").Width(150);
                            columns.Bound(m => m.EmployeeName).Title("Employee Name").Width(150);
                            columns.Template(p => { }).ClientTemplate("<a onclick='return MapRole()' style='cursor:pointer; text-decoration: underline;color:blue;'>Map Role</a>").Title("Action").Width(50);
                        })
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                                .Model(model => model.Id(p => p.Employee_Gid))
                        .PageSize(10)
                                                .Read(read => read.Action("Get_AllEmployee_List", "EmployeeRole", new { Master = "All_Employee" }))
                        ))
                    }
                </div>

            </div>
        </div>

    </div>
    @Html.HiddenFor(m => m.HD_Employee_Gid)
</body>
</html>
@(Html.Kendo().Window()
    .Name("WinEmployeeRole") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
.Title("Map Role to Employee") //set the title of the window
.Visible(false)
.Height(302)
.Width(355)
.Content(@<text>

        <div id="divRole" style="margin-left: 50px; width: 250px;"></div>
</text>)
)

<script type="text/javascript">
    function MapRole() {
        debugger;
        var wdw = $("#WinEmployeeRole").data("kendoWindow"); //get the Window widget's instance
        wdw.open();
        wdw.center();

        //  var url = 'Url.Action("Read_Role", "EmployeeRole", new { Area=""})';
        // $("#divRole").load(url);
        //$("#divRole").load("../EmployeeRole/Read_Role");

        $("#divRole").load("../EmployeeRole/Read_Role", { 'aaa': "65" });

        var grid = $("#KendGrid_EmployeeRole").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Emp_Gid = (model.Employee_Gid);
        $("#HD_Employee_Gid").val(Emp_Gid);
        var RoleEmployee = {
            "Employee_Gid": Emp_Gid
        }
        $.ajax({
            url: '@Url.Action("Read_RoleByEmployee", "EmployeeRole")',
            data: JSON.stringify(RoleEmployee),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                //var Result = JSON.parse(data);
                for (k = 0; k < data.length; k++) {
                    $("input[value='" + data[k].Role_Gid + "']").prop('checked', true);

                }

            },
        });
    }

    function Save_RoleEmployee()
    {
        debugger;
       
        var RoleIds = $('.chkRole:checkbox:checked').map(function () {
          return this.value;
        }).get();

        var grid = $("#KendGrid_EmployeeRole").data("kendoGrid");
        // RoleIds = $(".chkbx:checked", grid.tbody).closest("tr");
        if (RoleIds.length == 0) {
            $.alert({
                title: 'IEM Product',
                content: 'Select atleast one record!',
                type: 'blue',
            });
            return false;
        }


        var ChkListIds = { 
            "RoleIds": RoleIds.join(','),
            "Employee_Gid": $("#HD_Employee_Gid").val()
        };
        $.ajax({
            //url: '../Delmat/Save_Update_Delmat/',
            url:'@Url.Action("Save_RoleToEmployee","EmployeeRole")',
            data: JSON.stringify(ChkListIds),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                var Result = JSON.parse(data);

                if (Result[0]["clear"] == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0].Msg,
                        type: 'green',
                        animationSpeed: 700,
                    });

                    var wdw = $("#WinEmployeeRole").data("kendoWindow"); //get the Window widget's instance
                    wdw.close();
                }
                else {
                    $.alert({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                }

            },
        });
    }
    function Close_Window()
    {
        var wdw = $("#WinEmployeeRole").data("kendoWindow"); //get the Window widget's instance
        wdw.close();
    }
</script>
