﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrapv4.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/util.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Content/css")
</head>
<body style="
        background: url('../../Content/Images/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">


    <div class="container">
        <div class="row" style="margin-top:70px;">
            <div class="col-md-9">
                <p style="text-align:justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><br>
                <p style="text-align:justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><br>
                <p style="text-align:justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-md-3 form-login p-t-25 p-b-15">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title p-b-25">
                        <img src="~/Content/Images/logo-flex.png" />
                    </span>
                    <div class="wrap-input100 validate-input m-b-2" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" id="username" placeholder="Type your username">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-5" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" id="pass" placeholder="Type your password">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-2">
                        <span class="label-input100 mt-3">Login Mode</span>
                        <select class="custom-select input100 mt-2" id="ddlLoginMode" name="ddlLoginMode" style="height: 38px !important;font-size: 14px !important;">
                            <option value="1">Self</option>
                            <option value="2">Proxy</option>
                        </select>
                    </div>
                    <div class="wrap-input100 validate-input m-b-2" id="divProxyFrom">
                        @(Html.Kendo().DropDownList()
                        .AutoBind(false)
                        .Name("proxyFromId")
                        .DataTextField("proxyFrom")
                        .DataValueField("proxyFromId")
                        .HtmlAttributes(new { @style = "width: 100%;" })
                        .DataSource(source =>
                        {
                            source.Read(read => { read.Action("Get_ProxyFrom", "Login").Data("GetProxyFrom"); });
                        }))


                    </div>
                    <div style="text-align:center;" class="mt-2">
                        <span class="Success_show" style="color: blue;font-size:12px;">@ViewBag.Message</span>
                        <span class="errormessage" id="errormessage" style="color: blue;font-size:12px;"></span>
                    </div>
                    @*<div class="text-right p-t-8 p-b-31">
                            <a href="#"> Forgot password? </a>
                        </div>*@
                    <div class="container-login100-form-btn">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" style="width:255px;margin-top:10px;" type="submit" onclick="Login();">Login</button>
                            </div>
                            @*<div class="col-md-6">
                                    <center><button class="btn btn-primary" type="reset">Cancel</button></center>
                                </div>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/main.js"></script>

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divProxyFrom").hide();
    });

    function Login() {
        debugger;
        var UserName = $("#username").val();
        var Password = $("#pass").val();
        var Loginmode = $("#ddlLoginMode").val();
        var ProxyFromId = $("#proxyFromId").val();

        if (UserName == "" || UserName == null || UserName == undefined) {
            $(".errormessage").html('<span class="errormessage"  id="mess">Please Enter UserName...!!</span>');
            //$("#erridmsg").show();
            return false;
        }
        if (Password == "" || Password == null || Password == undefined) {
            $(".errormessage").html('<span class="errormessage"  id="mess">Please Enter Password...!!</span>');
            //$("#erridmsg").show();
            return false;
        }
        if (Loginmode == "" || Loginmode == null || Loginmode == undefined) {
            $(".errormessage").html('<span class="errormessage"  id="mess">Please Select Login Mode...!!</span>');
            //$("#erridmsg").show();
            return false;
        }
        if (Loginmode == "2" && (ProxyFromId == null || ProxyFromId == 0 || ProxyFromId == undefined)) {
             
            $(".errormessage").html('<span class="errormessage"  id="mess">Please Select Proxy By...!!</span>');
            //$("#erridmsg").show();
            return false;
        }


        //window.location.href = '@Url.Action("Login","Login")?UserName=' + UserName + '&Password=' + Password + '&Loginmode=' + Loginmode + '&ProxyFrom=' + ProxyFromId;
       // window.location.href = "../Login/Login?UserName=" + UserName + "&Password=" + Password + "&Loginmode=" + Loginmode + "&ProxyFrom=" + ProxyFromId;
    }

    function GetProxyFrom() {
        debugger;
        var Loginmode = $("#ddlLoginMode").val();
        var UserName = "";
        if (Loginmode == "2") {
            UserName = $("#username").val();
        }

        return { "ProxyFrom": UserName }
    }

    $('#ddlLoginMode').change(function () {
        debugger;
        var Loginmode = $("#ddlLoginMode").val();
        $("#divProxyFrom").hide();
        if (Loginmode == "2") {
            $("#divProxyFrom").show();
            var UserName = $("#username").val();
            if (UserName == "" || UserName == null || UserName == undefined) {
                $(".errormessage").html('<span class="errormessage"  id="mess">Please Enter UserName...!!</span>');
                $("#erridmsg").show();
                return false;
            }
            var select = $("#proxyFromId").data("kendoDropDownList");
            select.dataSource.read();
        }


    });
</script>