﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 65%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }

    .k-multiselect-wrap {
        max-height: 30px !important;
        overflow: auto !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Ref No", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.CLM_Ecf_No, null, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
            @Html.HiddenFor(model => model.CLM_Ecf_Gid)
        </div>
        <div class="col-sm-2">
            @Html.Label("Employee Code & Name", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                    .Name("CLM_Emp_Gid")
                    .DataTextField("CLM_Emp_Code")
                    .DataValueField("CLM_Emp_Gid")
                            .Filter("contains")
                    .MinLength(3)
                    //.Events(e => e.DataBound("onDataBound_ECFRaiser"))
                    .HtmlAttributes(new { @style = "width: 110%;", @class = "form-control" })
                    .DataSource(source =>
                    {
                        source.Read(read => { read.Action("Get_DropDown_List", "Claim").Data("Get_Login_User"); }).ServerFiltering(true); 
                    }))
            @*@Html.TextBoxFor(model => model.CLM_Emp_Code, null, new { @class = "form-controls", @readonly = "readonly" })
                @Html.HiddenFor(model => model.CLM_Emp_Gid)*@
        </div>
        <div class="col-sm-2">
            @Html.Label("Claim Date", new { @class = "lbl-font" })
            @(Html.Kendo().DatePicker()
                  .Name("CLM_Claim_Date")
                  .Value(Model.CLM_Claim_Date)
                  .Events(e => e.Change("onChange_ClaimDate"))
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 110%;", onkeypress = "return IsDateKey(event)" }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Claim Month", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.CLM_Claim_Month, null, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
            @*@(Html.Kendo().DatePicker()
                .Name("CLM_Claim_Month")
                .Value(Model.CLM_Claim_Month)
                .Format("dd-MM-yyyy")
                .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 305px;", onkeypress = "return IsDateKey(event)" }))*@
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-sm-2">
            @Html.Label("Claim Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.CLM_Claim_Amount, null, new { @class = "form-controls", @type = "number" })
        </div>
        <div class="col-sm-4">
            @Html.Label("Add Employee", new { @class = "lbl-font" })
            @*@(Html.Kendo().MultiSelectFor(m => m.CLM_Add_EmpGid)
                .Name("CLM_Add_EmpGid")
                .DataTextField("CLM_Add_EmpName")
                .DataValueField("CLM_Add_EmpGid")
                .Placeholder("Select...")
                .AutoBind(false)
                .Height(500)
                .AutoClose(false)
                .Filter("contains")
                .HtmlAttributes(new { style = "width:112%;height: 60% !important;", @class = "form-control", @maxlength = "255" })
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("Get_DropDown_List", "Claim", new { Master = "Employee", Master_Code = "0", Master_Gid = "0" });
                    }).ServerFiltering(false);
                }))*@
            @(Html.Kendo().MultiSelectFor(m => m.CLM_Add_EmpGid)
                  .Name("CLM_Add_EmpGid")
                  .DataTextField("CLM_Add_EmpName")
                  .DataValueField("CLM_Add_EmpGid")
                  .Placeholder("Select...")
                  .AutoBind(false)
                  .MinLength(3)
                  .Delay(0)
                  .Height(300)
                  .AutoClose(false)
                  .Filter("contains")
                  .HtmlAttributes(new { style = "width:171%;height: 60% !important;", @class = "form-control", @maxlength = "255" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          //read.Action("Get_DropDown_List", "Claim", new { Master = "Employee", Master_Code = "0", Master_Gid = "0" });
                          read.Action("Get_DropDown_List", "Claim").Data("basicFilter");
                      }).ServerFiltering(true);
                  }))
            @Html.HiddenFor(m => m.CLM_Add_EmpName)
            @Html.HiddenFor(m => m.HDR_EmployeeIds)
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-6">
            @Html.Label("Claim Description", new { @class = "lbl-font" })
            @Html.TextAreaFor(model => model.CLM_Claim_Description, new { @class = "form-controls", @style = "height:35% !important;min-width: 148% !important;" })
        </div>
    </div>
</div>
