﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 65%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.HiddenFor(model => model.Exp_invoiceno, new { Value = "0" })
            @Html.Label("Ref No", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Exp_ecfgid")
                  .DataTextField("Exp_ecfno")
                  .DataValueField("Exp_ecfgid")
                  .Filter("contains")
                    //.Events(e => e.Change("onChange_Ecf"))
                  .Events(e => e.DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_DropDown_List", "Claim").Data("Fn_Get_BatchGid");
                      });
                  }))
        </div>
        @*<div class="col-sm-3">
                @Html.Label("Invoice No", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.Exp_invoiceno, new { @class = "form-controls", @readonly = "readonly", @style = "width: 91% !important; background-color: #eee;" })
                @(Html.Kendo().AutoComplete()
                      .Name("Exp_invoiceno")
                      .DataTextField("Exp_invoiceno")
                      .Filter("contains")
                      //.MinLength(3)
                      .HtmlAttributes(new { @style = "width:100%" })
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("Get_DropDown_List", "Claim").Data("Fn_Get_EcfGid");
                          })
                          .ServerFiltering(false);
                      }))
            </div>*@
        <div class="col-sm-2">
            @Html.Label("Nature of Expense", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Exp_natureexpgid")
                  .DataTextField("Exp_natureexpname")
                  .DataValueField("Exp_natureexpgid")
                  .Filter("contains")
                  .Events(e => e.Change("onChange_Natureofexpense").DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource
                  (
                     source => { source.Read(read => { read.Action("Get_DropDown_List", "Claim", new { Master = "NOE", Master_Code = "QCD_Natureofexpense", Master_Gid = "0" }); }); }
                  ))
        </div>

        <div class="col-sm-2">
            @Html.Label("Expense Category", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Exp_catggid")
                  .DataTextField("Exp_catgname")
                  .DataValueField("Exp_catggid")
                  .Filter("contains")
                  .Events(e => e.Change("onChange_Category").DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource
                  (
                    source => { source.Read(read => { read.Action("Get_DropDown_List", "Claim").Data("Fn_Get_NOEGid"); }); }
                  ))
        </div>

        <div class="col-sm-2">
            @Html.Label("Expense Sub Category", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Exp_subcatggid")
                  .DataTextField("Exp_subcatgname")
                  .DataValueField("Exp_subcatggid")
                  .Filter("contains")
                  .Events(e => e.Change("onChange_Subcategory").DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource
                  (
                     source => { source.Read(read => { read.Action("Get_DropDown_List", "Claim").Data("Fn_Get_CategoryGid"); }); }
                  ))
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-sm-2">
            @Html.Label("GL Code", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Exp_glcode, new { @class = "form-controls", @readonly = "readonly", @style = "width: 91% !important; background-color: #eee;" })
        </div>

        <div class="col-sm-2">
            @Html.Label("HSN Detail", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Exp_hsngid")
                  .DataTextField("Exp_hsnname")
                  .DataValueField("Exp_hsngid")
                  .Filter("contains")
                  .Events(e => e.DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource
                  (
                     source => { source.Read(read => { read.Action("Get_DropDown_List", "Claim").Data("Fn_Get_GlGid"); }); }
                  ))
        </div>

        <div class="col-sm-2">
            @Html.Label("Debit Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Exp_debitamount, null, new { @class = "form-controls", @type = "number", @style = "width: 91% !important;" })
        </div>

        <div class="col-sm-2">
            @Html.Label("Tax Type :", new { @class = "lbl-font", @style = "width:100%;" })
            @Html.RadioButtonFor(m => m.Exp_taxtype, "G", new { @style = "width: 8%; height: 25%" }) GST
            @Html.RadioButtonFor(m => m.Exp_taxtype, "R", new { @style = "width: 8%; height: 25%" }) RCM
            @Html.RadioButtonFor(m => m.Exp_taxtype, "N", new { @style = "width: 8%; height: 25%" }) None
        </div>
    </div>
</div>
