﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 51%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Ref No", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Pay_ecfgid")
                  .DataTextField("Pay_ecfno")
                  .DataValueField("Pay_ecfgid")
                  .Filter("contains")
                  .Events(e => e.DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 113%;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_DropDown_List", "Claim").Data("Fn_Get_BatchGidForPayment");
                      });
                  }))
            @*@Html.TextBoxFor(model => model.Pay_ecfno, new { @class = "form-controls", @readonly = "readonly", @style = "width: 100% !important; background-color: #eee;" })*@
            @*@Html.HiddenFor(model => model.Pay_ecfgid)*@
        </div>
        <div class="col-sm-2">
            @Html.Label("Pay Mode", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Pay_paymodemode")
                  .DataTextField("Pay_paymodename")
                  .DataValueField("Pay_paymodemode")
                  .Filter("contains")
                  .Events(eve => eve.Change("onChange_Paymode").DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 113%;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_DropDown_List", "Claim", new { Master = "Paymode", Master_Code = "", Master_Gid = 0 });
                      });
                  }))
        </div>
        <div class ="col-sm-0" id="div_ppx" hidden>
            <button type="button" id="button_ppx" disabled class="btn btn-info" onclick="return GetARFRecords()" style="height: 25%;margin-top: 77%;margin-left: 42%;"><span class="fa fa-">?</span></button>
        </div>
        <div class="col-sm-2">
            @Html.Label("GL Code", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Pay_glcode")
                  .DataTextField("Pay_glcode")
                  .DataValueField("Pay_glcode")
                  .Filter("contains")
                  .Events(eve => eve.Change("onChange_PaymentGLCode").DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 114%;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_DropDown_List", "Claim", new { Master = "GL", Master_Code = "QCD_GLNO", Master_Gid = 0 });
                      });
                  }))
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-sm-2">
            @Html.Label("Beneficiary", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_beneficiary, new { @class = "form-controls", @readonly = "readonly", @style = "width: 100% !important; background-color: #eee;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Credit Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_creditamount, new { @class = "form-controls", @type = "number", @style = "width: 100% !important;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Payment Ref No", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_referenceno, new { @class = "form-controls", @readonly = "readonly", @style = "width: 100% !important;background-color: #eee;" })
        </div>
        @*<div class="col-sm-2">
                @Html.Label("Payment Date", new { @class = "lbl-font" })
                @(Html.Kendo().DatePicker()
                      .Name("Pay_paymentdate")
                      .Value(Model.Pay_paymentdate)
                      .Format("dd-MM-yyyy")
                      .HtmlAttributes(new { @placeholder = "DD-MM-YYYY", @style = "width: 113%;background-color: #eee;", onkeypress = "return IsDateKey(event)", @readonly = "readonly" }))
            </div>
            <div class="col-sm-2">
                @Html.Label("Payment Status", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.Pay_paymentstatus, new { @class = "form-controls", @readonly = "readonly", @style = "width: 100% !important; background-color: #eee;" })
            </div>*@
    </div>

</div>
