﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 50%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.TextBoxFor(m => m.Det_type, new { @type = "hidden" })
            @Html.Label("Type", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Det_typegid")
                  .DataTextField("Det_typename")
                  .DataValueField("Det_typegid")
                  .Events(e => e.Change("onChange_TravelType").DataBound("onDataBound_Common"))
                  .Filter("contains")
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_DropDown_List", "Claim", new { Master = "TravelType", Master_Code = "", Master_Gid = "0" });
                      });
                  }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Travel Class", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Det_travelclassgid")
                  .DataTextField("Det_travelclassname")
                  .DataValueField("Det_travelclassgid")
                  .Filter("contains")
                  .Events(e => e.DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_DropDown_List", "Claim").Data("Fn_Get_TravelType");
                      });
                  }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Date", new { @class = "lbl-font" })
            @(Html.Kendo().DatePicker()
                  .Name("Det_datefrom")
                  .Value(Model.Det_datefrom)
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 100%;", onkeypress = "return IsDateKey(event)" }))
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-2">
            @Html.Label("Place From", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Det_placefrom")
                  .DataTextField("Det_placefrom")
                  .DataValueField("Det_placefrom")
                  .Filter("contains")
                  .Events(e => e.Change("onChange_PlaceFrom").DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_DropDown_List", "Claim", new { Master = "City", Master_Code = "QCD_City", Master_Gid = "0" });
                      });
                  }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Place To", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Det_placeto")
                  .DataTextField("Det_placeto")
                  .DataValueField("Det_placeto")
                  .Filter("contains")
                  .Events(e => e.Change("onChange_PlaceTo").DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_DropDown_List", "Claim", new { Master = "City", Master_Code = "QCD_City", Master_Gid = "0" });
                      });
                  }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Det_amount, null, new { @class = "form-controls", @type = "number", @style = "width: 87% !important;" })
        </div>
    </div>
</div>
