﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.EFTFileGeneration_Model
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-1 top">
            <div class="col-md-12">
                <p style="text-align:center;color:white;background-color:#225281">Online/Memo File Generation</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">

            <div class="col-sm-2">
                @Html.Label("Payment Batch No", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.BatchNo, new { style = "width:100%" })
            </div>
            <div class="col-sm-2">
                @Html.Label("PV From", new { @class = "lbl-font" })
                @(Html.Kendo().DatePicker()
                  .Name("PV_From")
                        //   .Value(Model.PV_From)
                        //  .Events(e => e.Change("onChange_PV_From"))
                  .Format("dd/MM/yyyy")
                  .HtmlAttributes(new { @placeholder = "DD-MM-YYYY", @style = "width: 110%;", onkeypress = "return IsDateKey(event)" }))
            </div>
            <div class="col-sm-2">
                @Html.Label("PV To", new { @class = "lbl-font" })
                @(Html.Kendo().DatePicker()
                  .Name("PV_To")
                        //  .Value(Model.PV_To)
                        //          .Events(e => e.Change("onChange_PV_To"))
                  .Format("dd/MM/yyyy")
                  .HtmlAttributes(new { @placeholder = "DD-MM-YYYY", @style = "width: 110%;", onkeypress = "return IsDateKey(event)" }))
            </div>

            <div class="col-sm-2">

                @Html.Label("PV From Amount", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.PV_From_Amount, null, new { @class = "form-controls", @type = "number" })

            </div>
            <div class="col-sm-2">
                @Html.Label("PV To Amount", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.PV_To_Amount, null, new { @class = "form-controls", @type = "number" })
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-2">
                @Html.Label("PV No", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.PV_No, null, new { @class = "form-controls", @type = "string" })
            </div>


            <div class="col-sm-2">
                @Html.Label("Employee Code", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.Employee_Code, null, new { @class = "form-controls", @type = "string" })
            </div>
            <div class="col-sm-2">
                @Html.Label("Employee Name", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.Employee_Name, null, new { @class = "form-controls", @type = "string" })
            </div>

            <div class="col-sm-2">
                @Html.Label("Supplier Code", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.Supplier_Code, null, new { @class = "form-controls", @type = "string" })
            </div>
            <div class="col-sm-2">
                @Html.Label("Supplier Name", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.Supplier_Name, null, new { @class = "form-controls", @type = "string" })
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-2">
                @Html.Label("Claim Type", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                                .Name("ClaimType")
                                .DataTextField("ClaimType")
                                                .DataValueField("ClaimType")
                .HtmlAttributes(new { style = "width:100%;" })
                                                       .DataSource(source => { source.Read(read => { read.Action("Get_ClaimType", "EFT"); }).ServerFiltering(true); }))
            </div>
            <div class="col-sm-2">
                @Html.Label("Pay Mode", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                          .Name("Pay_paymodemode")
                          .DataTextField("Pay_paymodemode")
                          .DataValueField("Pay_paymodemode")
                  .Filter("contains")
                  .HtmlAttributes(new { @style = "width: 100%;" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("Get_PayMode", "EFT", new { Master = "Paymode_EFT", Master_Code = "", Master_Gid = 0 });
                      });
                  }))
            </div>
            <div class="col-sm-2">
                @Html.Label("Pay Bank", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                        .Name("PayBank_Gid")
                                .DataTextField("PayBank")
                                        .DataValueField("PayBank_Gid")
                .HtmlAttributes(new { style = "width:100%;" })
                                                        .DataSource(source => { source.Read(read => { read.Action("Read_PayBank", "EFT", new { parentcode = "PayBank" }); }).ServerFiltering(true); }))

            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-0" style="margin-top:20px;width:100px;">
                <button type="button" value="Search" style="width:70%" onclick="Search()" class="btn btn-primary"> Search</button>
            </div>
            <div class="col-sm-1" style="margin-top:20px;margin-left:-40px;margin-right:2px;">
                <button type="button" value="EFT File Download" style="width:111%" onclick="FileDownload()" class="btn btn-primary"> EFT File Download</button>

            </div>
            <div class="col-sm-0" style="margin-top:20px;">
                <button type="button" value="Clear" style="width:78px;" onclick="Clear()" class="btn btn-primary"> Clear</button>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-11">
                @using (Html.BeginForm("EFT", "EFT", FormMethod.Post, new { @id = "Form_EFT" }))
                {

                    @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.EFTFileGeneration_Model>().Name("Kendo_EFT")
                                .HtmlAttributes(new { style = "width:91%;line-height:2em;font-weight:normal" })

                                    .Columns(columns =>
                                    {

                                        columns.Bound(m => m.PV_Gid).Width(20).Title("PV Gid").Hidden();
                                        columns.Bound(m => m.Benificary_Bank_Name).Width(80).Title("Benificary Bank Name").Width(160);
                                        columns.Bound(m => m.PV_Date).Width(120).Title("PV Date").Width(160).Hidden();
                                        columns.Bound(m => m.PV_No).Width(80).Title("PV No").Width(160);
                                        columns.Bound(m => m.Pay_paymodemode).Width(83).Title("PV Mode").Width(160);
                                        columns.Bound(m => m.Supplier_Code).Width(120).Title("Sup/Emp Code").Width(160);
                                        columns.Bound(m => m.Supplier_Name).Width(120).Title("Sup/Emp Name").Width(160);
                                        columns.Bound(m => m.PV_Gid).ClientTemplate("<input type='checkbox' id='chkPV_Gid' value='#= PV_Gid #' />").Title("Select <input type='checkbox' id='chkPV_Gid_All'>").Width(50).Sortable(false).Filterable(false);
                                    })


                                            .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(new List<object> { 20, 25, 30, 40, 50, 70, 500 })
                                            .ButtonCount(5))
                                            .Filterable()
                                            .Sortable()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .PageSize(20)
                                                // .Events(events => events.Error("error_handler"))
                                                    .Model(model => model.Id(p => p.PV_Gid))
                                                                    .Read(read => read.Action("Read_EFTGrid", "EFT").Data("LoadEFTGrid"))
                                          ))
                }
            </div>
        </div>
        <div class="row" style="margin-top:10px;" id="divOnlineMemoButtons">
            <div class="col-sm-2">
                <button type="button" value="Online" style="width:70%" onclick="OnlineFileGeneration()" class="btn btn-primary"> Online</button>
            </div>
            <div class="col-sm-2">
                <button type="button" value="Memo" style="width:70%" onclick="MemoFileGeneration()" class="btn btn-primary"> Memo</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdDownloadPath" value="@System.Configuration.ConfigurationManager.AppSettings["EFTDownloadPath"]" />

</body>
</html>


<script >
    $(document).ready(function () {
        debugger;
        //$("#divOnlineMemoButtons").attr("style", "display:none;");
    });

    function Clear() {
        debugger;
        //$("#divOnlineMemoButtons").attr("style", "display:none;");
        $("#BatchNo").val("");
        $("#PV_From").val("");
        $("#PV_To").val("");
        $("#PV_From_Amount").val("");
        $("#PV_To_Amount").val("");
        $("#PV_No").val("");
        $("#Employee_Code").val("");
        $("#Employee_Name").val("");
        $("#Supplier_Code").val("");
        $("#Supplier_Name").val("");
        $("#ClaimType").data("kendoDropDownList").value("Employee");
        $("#PaymentRunGL_PayBank_Gid").data("kendoDropDownList").value("ERA");
        $("#PayBank_Gid").data("kendoDropDownList").value(0); 
    }
    function FileDownload() {
        var DownloadPath = $("#hdDownloadPath").val();
        window.open(DownloadPath, "_blank");
    }
    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }
    function getFormated_StringDate(date) {   //get DD/MM/YYYY or MM/DD/YYYYY
        if (date != "" || date != undefined) {
            var d = date.split("/");
            return d[2] + "-" + d[1] + "-" + d[0];
        }
    }
    function Search() {
        debugger;
        var PVAmtFrom = $("#PV_From_Amount").val().replace(/,/g, '');
        var PVAmtTo = $("#PV_To_Amount").val().replace(/,/g, '');
        var PayBankGId = $("#PayBank_Gid").val();

        if (((PVAmtFrom == "" || PVAmtFrom == "0") && (PVAmtTo != "" && PVAmtTo != "0"))
            || ((PVAmtFrom != "" && PVAmtFrom != "0") && (PVAmtTo == "" || PVAmtTo == "0"))) {
            //jAlert("Ensure PV Amount From/To!", "Message");
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Ensure PV Amount From/To!',
                type: 'blue',
                animationSpeed: 700,
            });
            return false;
        }
        if (PVAmtFrom != "" && PVAmtTo != "" && PVAmtFrom != "0" && PVAmtTo != "0") {
            if (parseFloat(PVAmtTo) < parseFloat(PVAmtFrom)) {
                //jAlert("Ensure Valid PV Amount Range!", "Message");
                $.alert({
                    icon: 'fa fa-success',
                    title: 'IEM Product',
                    theme: 'dark',
                    content: 'Ensure Valid PV Amount Range!',
                    type: 'blue',
                    animationSpeed: 700,
                });
                return false;
            }
        }
        if (PayBankGId == "" || PayBankGId == "0") {
            //jAlert("Ensure Bank Name!", "Message");
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Ensure Bank Name!',
                type: 'blue',
                animationSpeed: 700,
            });
            return false;
        }
        $("#Kendo_EFT").data("kendoGrid").dataSource.read();
       /* try 
        {
           
            var grid = $("#Kendo_EFT").data("kendoGrid");
            var ds = grid.dataSource;
            var totalRecords = ds.total();
            $("#divOnlineMemoButtons").attr("style", "display:none;");
            if (totalRecords > 0) {
                $("#divOnlineMemoButtons").attr("style", "display:block;");
            }
        }
        catch(e){
            $("#divOnlineMemoButtons").attr("style", "display:none;");
        }*/

    }
    function LoadEFTGrid() {
        var PVAmtFrom = $("#PV_From_Amount").val().replace(/,/g, '');
        var PVAmtTo = $("#PV_To_Amount").val().replace(/,/g, '');
        var PayBankGId = $("#PayBank_Gid").val();

        return {
            PV_From: getFormated_StringDate($("#PV_From").val()),
            PV_To: getFormated_StringDate($("#PV_To").val()),
            PV_No: $("#PV_No").val(),
            PV_From_Amount: PVAmtFrom,
            PV_To_Amount: PVAmtTo,
            Employee_Code: $("#Employee_Code").val(),
            Employee_Name: $("#Employee_Name").val(),
            Supplier_Code: $("#Supplier_Code").val(),
            Supplier_Name: $("#Supplier_Name").val(),
            ClaimType: $("#ClaimType").val(),
            Pay_paymodemode: $("#Pay_paymodemode").val(),
            PayBank_Gid: $("#PayBank_Gid").val(),
            BatchNo: $("#BatchNo").val()
        }
    }

    $("#chkPV_Gid_All").click(function (e) {
        debugger;
        //$('.chkPV_Gid:checkbox:visible').prop('checked', this.checked);
        $("#chkPV_Gid").prop('checked', this.checked);
    });

    function OnlineFileGeneration() {
        debugger;
        var array = new Array();
        $('#Kendo_EFT input:checkbox:checked:visible').each(function (index) {
            array[index] = $(this).val();
        });

        //var _chkPrintDetails = array.join(',');
        var _chkPrintDetails = "";
        $.each(array, function (index) {
            //_chkPrintDetails += array[index].split(',')[1] + '|';

            _chkPrintDetails += array[index] + '|';
        });
        //return false;
        if (_chkPrintDetails.trim() == "") {
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Please select a record!',
                type: 'blue',
                animationSpeed: 700,
            });
            return false;
        }
        var data = {
            PV_Gids: _chkPrintDetails,
            PV_Status: "Online",
            PV_Cancel_GID: "0",
            PV_Cancel_Reason: ""
            //Pay_paymodemode: $("#Pay_paymodemode").val()
        };

        $.ajax({
            //url: '../Delmat/Save_Update_Delmat/',
            url: '@Url.Action("SetEFTMemoDetails", "EFT")',
            data: JSON.stringify(data),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                debugger;
                var Result = JSON.parse(data);
                if (Result[0]["Msg"] != "" && (Result[0].Clear == "false" || Result[0].Clear == "False" || Result[0].Clear == "0")) {
                    $.alert({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                }
                if (Result[0]["clear"] == 1) {
                    var data = {
                        PV_Gids: Result[0]["PV_Gids"],
                        Pay_paymodemode: $("#Pay_paymodemode").data("kendoDropDownList").text(),
                        PayBank_Gid: 0,
                        ViewType: 0
                    };
                    $.confirm({
                        icon: 'fa fa-warning',
                        title: 'IEM Product',
                        autoClose: 'cancel|10000',
                        theme: 'dark',
                        animationSpeed: 700,
                        content: Result[0]["Msg"],
                        type: 'orange',
                        buttons: {
                            confirm: function () {
                                $.ajax({
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8",
                                    async: false,
                                    url: '@Url.Action("GenerateDocuments", "EFT")',
                                    data: JSON.stringify(data),
                                    success: function (data) {
                                        debugger;
                                        $.alert({
                                            icon: 'fa fa-success',
                                            title: 'IEM Product',
                                            theme: 'dark',
                                            content: 'Online Files Generated Successfully!..',
                                            type: 'green',
                                            animationSpeed: 700,
                                        });
                                        $("#Kendo_EFT").data("kendoGrid").dataSource.read();
                                       /* var grid = $("#Kendo_EFT").data("kendoGrid");
                                        var ds = grid.dataSource;
                                        var totalRecords = ds.total();
                                        $("#divOnlineMemoButtons").attr("style", "display:none;");
                                        if (totalRecords > 0) {
                                            $("#divOnlineMemoButtons").attr("style", "display:block;");
                                        }*/
                                    },
                                });

                            },
                            cancel: function () {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: 'Payment File Not Generated!.',
                                    type: 'blue',
                                    animationSpeed: 700,
                                });
                            },
                        }
                    });
                }

            },
        });
    }
    function MemoFileGeneration() {
        debugger;
        var array = new Array();
        $('#Kendo_EFT input:checkbox:checked:visible').each(function (index) {
            array[index] = $(this).val();
        });

        //var _chkPrintDetails = array.join(',');
        var _chkPrintDetails = "";
        $.each(array, function (index) {
            //_chkPrintDetails += array[index].split(',')[1] + '|';
            _chkPrintDetails += array[index] + '|';
        });
        //return false;
        if (_chkPrintDetails.trim() == "") {
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Please select a record!',
                type: 'blue',
                animationSpeed: 700,
            });
            return false;
        }
        var data = {
            PV_Gids: _chkPrintDetails,
            PV_Status: "MEMO",
            PV_Cancel_GID: "0",
            PV_Cancel_Reason: ""
        };

        $.ajax({
            //url: '../Delmat/Save_Update_Delmat/',
            url: '@Url.Action("SetEFTMemoDetails", "EFT")',
            data: JSON.stringify(data),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                var Result = JSON.parse(data);
                if (Result[0]["Msg"] != "" && (Result[0].Clear == "false" || Result[0].Clear == "False" || Result[0].Clear == "0")) {
                    $.alert({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                }
                if (Result[0]["clear"] == 1) {
                    var data = {
                        PV_Gids: Result[0]["PV_Gids"],
                        Pay_paymodemode: $("#Pay_paymodemode").data("kendoDropDownList").text(),
                        PayBank_Gid: $("#PayBank_Gid").val(),
                        ViewType: 1
                    };
                    $.confirm({
                        icon: 'fa fa-warning',
                        title: 'IEM Product',
                        autoClose: 'cancel|10000',
                        theme: 'dark',
                        animationSpeed: 700,
                        content: Result[0]["Msg"],
                        type: 'orange',
                        buttons: {
                            confirm: function () {
                                $.ajax({
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8",
                                    async: false,
                                    url: '@Url.Action("GenerateDocuments", "EFT")',
                                    data: JSON.stringify(data),
                                    success: function (data) {
                                        debugger;
                                        $.alert({
                                            icon: 'fa fa-success',
                                            title: 'IEM Product',
                                            theme: 'dark',
                                            content: 'MEMO Files Generated Successfully!..',
                                            type: 'green',
                                            animationSpeed: 700,
                                        });
                                        $("#Kendo_EFT").data("kendoGrid").dataSource.read();
                                       /* var grid = $("#Kendo_EFT").data("kendoGrid");
                                        var ds = grid.dataSource;
                                        var totalRecords = ds.total();
                                        $("#divOnlineMemoButtons").attr("style", "display:none;");
                                        if (totalRecords > 0) {
                                            $("#divOnlineMemoButtons").attr("style", "display:block;");
                                        }*/
                                    },
                                });

                            },
                            cancel: function () {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: 'Payment File Not Generated!.',
                                    type: 'blue',
                                    animationSpeed: 700,
                                });
                            },
                        }
                    });
                }

            },
        });
    }
</script>