﻿@model DataAccessHandler.Models.FlexiSpend.ERATemplate
@{
    int icount = 0;
}
<html>
<head>
    <style>
        #tblsig > tbody > tr > td {
            margin: 0px !important;
            white-space: normal;
            word-break: break-all;
        }

        #tbldet > tbody > tr > td, #tbldet > thead > tr > th {
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body style="font-family:Verdana; font-size:13px !important;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    @if (Model != null)
    {
        <br />
        <div style="width:80%;">
            Date:@Model.Date<br />
            @Model.LetterNo
        </div><br /><br />
        <div style="width:100%; white-space: normal;
            word-break: break-all;">
            To,<br />
            @*@Model.BankAddress*@
            The Branch Manager<br />
            HDFC Bank Limited<br />
            115  Radha krishnan Salai,<br />
            3rd floor, (Opp. Kalyani Hospital,)<br />
            Mylapore,<br />
            Chennai 600 004.
        </div><br /><br />

        <span>Kind Attn: @Model.KindAttan</span><br /><br />
        <div>
            <span>Dear Sir/Madam,</span><br /><br />
            <span><b>Sub:  Account Transfer</b></span><br /><br />
            <p style="text-indent:25px; text-align:justify;">
                We request you to make the payments as per the attached sheet through funds transfer and debit our account @System.Configuration.ConfigurationManager.AppSettings["CompanyFullName"]- Exp Account No: @Model.CompanyAccountNo  for a total amount of Rs @Model.Amount/- (@Model.AmountInWords)
            </p><br />
            <span>
                Thanking You
            </span>
            <br /><br />
        </div>
        <div style="width:100%;">
            <table id="tblsig" width="100%" style="font-size: 13px;">
                <tr>
                    <td>For @System.Configuration.ConfigurationManager.AppSettings["CompanyFullName"]</td>
                </tr>
                <tr>
                    <td style="line-height:50px;"><br /></td>
                </tr>
                <tr>
                    <td>Authorized Signatory</td>
                </tr>
            </table>
        </div>
        <p style="page-break-before:always"></p>
    <!-- Break Page -->
        <br />
        <br />
        if (@Model.DetailArray.Count > 0)
        {
            <div>
                <table style="border-top: 1px solid black; border-left: 1px solid black; font-size:13px;" id="tbldet" width="100%">
                    <thead>
                        <tr>
                            <th style="width:10%; border-bottom: 1px solid black; border-right: 1px solid black;">
                                S.No.
                            </th>
                            <th style="width:30%; border-bottom: 1px solid black; border-right: 1px solid black;">
                                Name of the vendor
                            </th>
                            <th style="width:25%; max-width:150px; border-bottom: 1px solid black; border-right: 1px solid black;">
                                Bank Account Number
                            </th>
                            <th style="width:25%; max-width:150px; border-bottom: 1px solid black; border-right: 1px solid black;">
                                Bank IFSC code
                            </th>
                            <th style="width:15%; border-bottom: 1px solid black; border-right: 1px solid black;">
                                Amount
                            </th>
                            <th style="width:15%; max-width:190px; border-bottom: 1px solid black; border-right: 1px solid black;">
                                Remittance Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var innerDet in @Model.DetailArray)
                        {
                            <tr>
                                <td align="center" style="border-bottom: 1px solid black; border-right: 1px solid black;">@(++icount)</td>
                                <td style="border-bottom: 1px solid black; border-right: 1px solid black;">&nbsp;@innerDet.NameOfVendor</td>
                                <td style="border-bottom: 1px solid black; border-right: 1px solid black;">&nbsp;@innerDet.BankAccountNo</td>
                                <td align="right" style="border-bottom: 1px solid black; border-right: 1px solid black;">&nbsp;@innerDet.IFSCCode</td>
                                <td align="right" style="border-bottom: 1px solid black; border-right: 1px solid black;">&nbsp;@innerDet.Amount</td>
                                <td style="border-bottom: 1px solid black; border-right: 1px solid black;">&nbsp;@innerDet.RemittanceDetails</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th align="right" style="border-bottom: 1px solid black; border-right: 1px solid black;" colspan="4">
                                Total
                            </th>
                            <th align="right" style="border-bottom: 1px solid black; border-right: 1px solid black;">
                                @Model.Amount
                            </th>
                            <th align="right" style="border-bottom: 1px solid black; border-right: 1px solid black;">&nbsp;</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
    }
</body>
</html>


<script type="text/javascript">
    window.print()
    window.focus()
</script>