﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.APCheker_Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        a.k-grid-View {
            background: transparent !important;
            border: transparent !important;
        }
    </style>
</head>
<body>

    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:#fff;">AP Checker</p>
        </div>
    </div>

    <div class="container-fluid" id="APChecker">
        <div class="row mt-1">
            <div class="col-md-12  table-responsive">
                @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.APCheker_Model>().Name("kendgrid_apchecker")
                    .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 250px;margin-top:5px;" })
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.Ref_Gid).Title("ECF Gid").Hidden();
                        columns.Bound(m => m.Ref_No).Title("Ref No.").Width(70);
                        //columns.Bound(m => m.Ref_Date).Title("Date").Width(70).ClientTemplate("#= kendo.toString(Ref_Date, \"dd-MM-yyyy\") #");
                        columns.Bound(m => m.Ref_Date).Title("Date").Width(70).Format("{0:dd-MM-yyyy}");
                        columns.Bound(m => m.Type_SubType).Title("Type / Sub Type").Width(100);
                        columns.Bound(m => m.Status).Title("Status").Width(70);
                        columns.Bound(m => m.Amount).Title("Amount").Width(70).HtmlAttributes(new { style = "text-align:right;" });
                        columns.Bound(m => m.Raiser_Id_Name).Title("Raiser ID / Name").Width(100);
                        columns.Bound(m => m.Supplier_Code_Name).Title("Supplier Code / Name").Width(100);
                        columns.Bound(m => m.Type_Gid).Title("Type Gid").Hidden();
                        columns.Bound(m => m.Type).Title("Type").Hidden();
                        columns.Bound(m => m.SubType_Gid).Title("Sub Type Gid").Hidden();
                        columns.Bound(m => m.SubType).Title("Sub Type").Hidden();
                        columns.Bound(m => m.Raiser).Title("Raiser").Hidden();
                        columns.Bound(m => m.Batch_Gid).Hidden();
                        columns.Command(cmd =>
                        {
                            cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;font-size: 12px;'>").Click("ViewCheckList");
                        }).Title("Action").Width(40);
                    })
                    .Filterable()
                    .Sortable()
                    .Scrollable(s => s.Enabled(true).Height("auto"))
                    .Resizable(resize => resize.Columns(true))
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(false)
                    .Model(model => model.Id(p => p.Ref_Gid))
                    .PageSize(50)
                    .Events(events => events.Error("error_handler"))
                    .Read(read => read.Action("Get_APCheckerList", "APChecker", new { GridAction = "CHECKER" }))
                ))
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">

    function ViewCheckList() {
        debugger;
        var grid = $("#kendgrid_apchecker").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.Type.toLowerCase();
        var BatchGID = model.Batch_Gid;
        var EcfGID = model.Ref_Gid;
        var RaiserGID = model.Raiser;
        var ClaimStatus = model.Status;
        var DisplayStatus = "Scrutinised";
        if (ClaimType == 'claim') {
            var url = '@Url.Action("Claim", "Claim", new { Area = "EOW", BatchGID = "REPLACEBATCH", EcfGID = "REPLACEECFGID", ClaimStatus = "REPLACESTATUS", Display_Status = "REPLACEDISPLAYSTATUS" })';
            url = url.replace('REPLACEBATCH', BatchGID).replace('REPLACEECFGID', EcfGID).replace('REPLACESTATUS', ClaimStatus).replace('REPLACEDISPLAYSTATUS', DisplayStatus);
            window.location.href = url.replace(/amp;/g, '');
           //window.location.href = '/EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'invoice') {
            var url = '@Url.Action("SupplierinvoiceDetails", "SupplierInvoice", new { Area = "EOW", BatchGID = "REPLACEBATCH", EcfGID = "REPLACEECFGID", RaiserGID = "RAISERGID", ClaimStatus = "REPLACESTATUS", Display_Status = "REPLACEDISPLAYSTATUS" })';
            url = url.replace('REPLACEBATCH', BatchGID).replace('REPLACEECFGID', EcfGID).replace('RAISERGID', RaiserGID).replace('REPLACESTATUS', ClaimStatus).replace('REPLACEDISPLAYSTATUS', DisplayStatus);
            window.location.href = url.replace(/amp;/g, '');
            //window.location.href = '../EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'advance') {
            //window.location.href = '../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
            var url = '@Url.Action("AdvanceRequisition", "AdvanceRequisition", new { Area = "EOW", BatchGID = "REPLACEBATCH", EcfGID = "REPLACEECFGID", PageStatus = "REPLACESTATUS", Display_Status = "REPLACEDISPLAYSTATUS" })';
            url = url.replace('REPLACEBATCH', BatchGID).replace('REPLACEECFGID', EcfGID).replace('REPLACESTATUS', ClaimStatus).replace('REPLACEDISPLAYSTATUS', DisplayStatus);
            window.location.href = url.replace(/amp;/g, '');
        }
    }

    function error_handler(e) {
        debugger;
        e.preventDefault();
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM',
                content: message,
                type: 'blue',
            });
        }
    }
</script>