﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@{
    DataAccessHandler.Models.IEMProduct.MenuModel menuList = new DataAccessHandler.Models.IEMProduct.MenuModel();
    DBHelper.Profile_Model objUpload = new DBHelper.Profile_Model();
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IEM</title>

    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-confirm.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    @*<link href="~/Content/main.css" rel="stylesheet" />*@
    <style type="text/css">
          div#spinner {
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: fixed;
            display: block;
            opacity: 0.6;
            background: #aaaaaa url('~/Content/Images/ui-bg_flat_0_aaaaaa_40x100.png');
            z-index: 1006;
            text-align: center;
            display: none;
            filter: Alpha(Opacity=30); /*{opacityOverlay}*/
        }
            div#spinner img {
            position: absolute;
            /*width:100px;
               height:100px;*/
            top: 40%;
            left: 42%;
            opacity: 4.5;
            z-index: 1007;
        }
              div#spinner span {
            font-family: Arial Tahoma;
            font-size: large;
            font-weight: bold;
            opacity: 4.5;
            margin-top: 100px;
            color: white;
        }
            
        </style>
</head>
<body>

        <div id="spinner">
            <img src="~/Content/images/Fountain.gif" /> <br /><span>Please Wait...</span>.webp
            @*<img src="~/Content/images/GlowingRing.gif" /> <br /><span>Please Wait...</span>*@
            @*<img src="~/Content/images/Snake.gif" /> <br /><span>Please Wait...</span>*@
            @* <img src="~/Content/images/Fountain.gif" /> <br /><span>Please Wait...</span>*@
            @*<img src="~/Content/images/Segments.gif" /> <br /><span>Please Wait...</span>*@
            @*<img src="~/Content/images/FadingLines.gif" /> <br /><span>Please Wait...</span>*@

        </div>
  
        <div class="container-fluid">
            <div class="row" style="background:#245988;">

                <div class="col-sm-2" style="background: #eee;">
                    <img style="margin: 5px;" src="~/Content/Images/logo-flex.png" />
                </div>

                @(Html.Kendo().Window()
                      .Name("kwindow_employeedetails")
                      .Title("Employee Profile") //set the title of the window
                      .Content(@<text>@Html.Partial("Profile_Partial", objUpload)</text>)
                                                                                                                .Draggable()
                                                                                                                .Resizable()
                                                                                                                .Width(1200)
                                                                                                                .Height(600)
                                                                                                                .Modal(true)
                                                                                                                .Scrollable(false)
                                                                                                                .Visible(false))

                <div class="col-sm-6">
                    <header>
                        <div class="HeaderMenu">
                            <div style="float:left;width:100%;color:white;">
                                @Html.Partial("MenuNew", menuList)

                            </div>
                        </div>
                    </header>
                </div>
                <div class="col-sm-2">
                    <a style="margin:12px;float:right;font-size:17px;color:#fff;">Welcome @Session["Employee_Name"]</a>
                </div>

                <div class="col-sm-1">
                    <table style="margin-left:-34%;">
                        <tr>
                            <td>
                                @*<a href="#" data-toggle="tooltip" title="My Profile" class="fa fa-user" data-target="#Newcust1" onclick="Editcustdetails();">Profile</a>*@
                                <span onclick="return Editcustdetails();" class="fa fa-user" style="color:white;cursor:pointer;"></span>
                                @*@Html.ActionLink(" ", "Profile", "Profile", new { @class="Editcustdetails" }, new { @style = "margin:15px;float:right;font-size:20px;color:#fff;", @class = "fa fa-user" })*@
                            </td>
                            <td>
                                @Html.ActionLink(" ", "WorkBench", "WorkBench", new { Area = "" }, new { @style = "margin:15px;float:right;font-size:20px;color:#fff;", @class = "fa fa-th" })
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Login", "Login", new { Area = "" }, new { @style = "margin:15px;float:right;font-size:20px;color:#fff;", @class = "fa fa-sign-out" })
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-1">
                    <img style="margin: 4px;float: left;" src="~/Content/images/iem-logo.png" />
                </div>

            </div>

        </div>


        <div class="container-fluid body-content">
            @RenderBody()

            <footer>
                <div class="row footer mt-5">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <p style="text-align:center;position: relative;top: 5px;">&copy; @DateTime.Now.Year Flexicode Technologies Pvt Ltd.</p>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </footer>
        </div>

        @RenderSection("scripts", required: false)


</body>

</html>


<script>
    /*Avoid Pasting values in a textbox*/
    $('input').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });
   
    // Show the loader icon
    $(document).ajaxStart(function () {
        // $('#loader').show();
        showProgress();
    });

    // Hide the loader icon
    $(document).ajaxStop(function () {
        // $('#loader').hide();
        hideProgress();
    });
    var spinnerVisible = false;

    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    }
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    }


    function Signout() {
        debugger;

        @*var url = '@Url.Action("Login", "../Login")'
        window.location.href = url;*@
    }


    function Editcustdetails()
    {
        debugger;
        var window = $("#kwindow_employeedetails").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        Read_ProfileData();
        TreeView();
    }
    //$('#Editcustdetails').click(function () {
    //    debugger;

    //    var window = $("#kwindow_employeedetails").data("kendoWindow"); //get the Window widget's instance
    //    window.open();  //and call its open method
    //    window.center();
    //});
    //function Editcustdetails() {
    //    debugger;
    //    //$("#Profile").data("kendoWindow").open();

    //    var window = $("#kwindow_profile").data("kendoWindow"); //get the Window widget's instance
    //    window.open();  //and call its open method
    //    window.center();
    //}
    @*function Editcustdetails() {
        debugger;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: {},
            dataType: "html",
            url: '@Url.Action("Profile", "Profile")',
            success: function (data) {
                debugger;
                $("#Newcust1").html(data);
            },
            error: function (data) {
                $.alert({
                    title: 'DMS',
                    content: 'Error' + data,
                    type: 'red',
                });
            }
        });
    }*@

</script>
