﻿

<table>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;"><label id="lblTotalRecord"></label> </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;"><label id="lblTotalValid"></label></div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-weight:bold;padding-left: 145px;padding-top: 15px;"><label id="lblTotalInvalid"></label></div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <br /><br />
            <table>
                <tr>
                    <td style="padding-left: 140px;" id="tdValid">

                        <div style="font-weight:bold">
                            <input type="button" id="btnoksupplierdex" class="btn btn-primary" value="Ok" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" id="btncancelexcel" class="btn btn-warning" value="Cancel" onclick="GotoIndexclose()" />
                        </div>
                        @*<div style="font-weight:bold">
                                <a class="btn btn-primary" data-modal="" href="/LocalConveyanceNew/Index" id="TemplateClose" onclick="GotoIndexcloseb()">
                                    Close
                                </a>
                            </div>*@

                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td id="tdInvalid">

                        <div style="font-weight:bold">
                            <a class="btn btn-warning" data-modal="" href="../../BulkUpload/downloadsexcel" id="ViewErrorLog" onclick="GotoIndexclose()">
                                View Error Log
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" id="btncancelexcel1" class="btn btn-primary" value="Cancel" onclick="GotoIndexclose()" />
                        </div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<script>
    $(document).ready(function () {

        $("#btnoksupplierdex").click(function () {
            debugger;
            //var BatchGid = $("#BatchGid").val();
            //debugger;
            var UploadMethodName = $("#UploadMethod").val().trim().toLowerCase();
            var UploadMethod = $("#UploadMethod").val();
            var BatchGid = "";
            var TypeGid = "";
            var SubTypeGid = "";
            var CLM_Create_Mode = "S";
            var Claimtype = "";
            //alert(UploadMethodName);

            if (UploadMethodName == "employeeinvoice" || UploadMethodName == "employeedebitline" || UploadMethodName == "employeecoa") {
                BatchGid = $("#HDR_Batch_Gid").val();   //ucomment while integration
                TypeGid = $("#HDR_Type_Gid").val();
                SubTypeGid = $("#HDR_SubType_Gid").val();
                Claimtype = $("#HDR_SubType_Gid").data("kendoDropDownList").text().trim();
                if (UploadMethodName == "employeeinvoice" && Claimtype == "Travel") {
                    UploadMethod = "EmployeeECF_Travel";
                }
                else if (UploadMethodName == "employeeinvoice" && Claimtype == "Other") {
                    UploadMethod = "EmployeeECF_Others";
                }
                else if (UploadMethodName == "employeedebitline" && Claimtype == "Conveyance") {
                    UploadMethod = "EmployeeConveyance";
                }
                //BatchGid = 331;
                //TypeGid = 4;
                ////SubTypeGid = 9; // non travel
                //SubTypeGid = 29; //  local conveyance
                //Claimtype ="";
            }
            else if (UploadMethodName == "supplierinvoice" || UploadMethodName == "supplierdebitline" || UploadMethodName == "suppliercoa") {
                BatchGid = $("#BatchGid").val();   //ucomment while integration
                TypeGid = $("#Type_Gid").val();
                SubTypeGid = $("#SubType_Gid").val();
                Claimtype = $("#SubType_Gid").data("kendoDropDownList").text().trim();
            }
            //var BatchGid = 0;
            //var TypeGid = 3;
            //var SubTypeGid = 7;
            //var Raiser = 1;
            //var CLM_Create_Mode = "S";
            //var Claimtype = "Boarding";

            var objupload =
           {
               "BatchGid": BatchGid,
               "Type_Gid": TypeGid,
               "SubType_Gid": SubTypeGid,
               "CLM_Create_Mode": CLM_Create_Mode,
               "Claimtype": Claimtype,
               //"UploadMethod": $("#UploadMethod").val()
               "UploadMethod": UploadMethod
           };
            debugger;
            var url = '@Url.Action("localdetailssu", "../BulkUpload")';
            $.post(url, objupload,
            function (data) {
                var data = JSON.parse(data);
                debugger;
                if (data[0]["clear"] == 1) {
                    //debugger;
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: data[0]["Msg"],
                        type: 'green',
                        animationSpeed: 700,

                    });
                  
                    debugger;

                    if (UploadMethodName == "employeeinvoice" || UploadMethodName == "EmployeeECF_Travel" || UploadMethodName == "EmployeeECF_Others") {
                        $("#HDR_Batch_Gid").val(data[0].batch_gid).trigger("change");
                        $("#HDR_Batch_No").val(data[0].batch_no).trigger("change"); // set batch no.
                        $("#HDR_Batch_Amount").val(data[0].batch_amount).trigger("change"); //rebind the batch amount.

                        setTimeout(function () {
                            debugger;
                            $("#kendgrid_claim").data("kendoGrid").dataSource.read();
                            $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                            $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                        }, 1500);
                    }
                    else if (UploadMethodName == "employeedebitline") {
                        $("#kendogrid_expense").data("kendoGrid").dataSource.read();
                    }
                    else if (UploadMethodName == "employeecoa") {
                        $("#KendGrid_ExpenseCOA").data("kendoGrid").dataSource.read();
                    } 
                    else if (UploadMethodName == "employeeconveyance") {
                        $("#kendogrid_conveyance").data("kendoGrid").dataSource.read();
                    }
                    else if (UploadMethodName == "supplierdebitline") {
                        $("#KendGrid_InvoiceExp").data("kendoGrid").dataSource.read();
                    }
                    else if (UploadMethodName == "SupplierCOA") {
                        $("#KendGrid_ExpenseCOA").data("kendoGrid").dataSource.read();
                    }

                    var window = $("#kwindow_debitlineupload").data("kendoWindow"); //get the Window widget's instance 
                    window.close();
                    var wdw = $("#myExcelStatusWindow").data("kendoWindow"); //get the Window widget's instance
                    wdw.close();
                } else {
                    //jAlert("error.", "Message");
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: data[0]["Msg"],
                        type: 'green',
                        animationSpeed: 700,
                    });
                    return false;
                }
            }, 'json');

        });
    });
    function GotoIndexclose() {
        var wdw = $("#myExcelStatusWindow").data("kendoWindow"); //get the Window widget's instance
        wdw.close();
    }

</script>