﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;

<style>
    .checkbox, .radio {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 4px;
        line-height: 1.42857143;
        vertical-align: top;
    }
</style>

<div class="row">
    @if (ViewBag.APChecklist != null)
    {
        <div class="col-md-12" style="margin-left:0%;">
            <table class="table table-striped table-bordered table-responsive" id="tbl_chk" style="border:inset;margin-bottom: 0px;width:97%;">
                <tbody>

                    @foreach (var item in ViewBag.APChecklist)
                    {
                        <tr>
                            <td style="width: 15%;">
                                <div class="checkbox">
                                    <label class="hd-txt">
                                        @*<input type="checkbox" class="chkParent" value="@item.Attr_Parent_Gid" onclick="return ShowRecords()">*@
                                        @item.CheckList_Name
                                    </label>
                                </div>
                            </td>

                            <td style="width: 45%;">
                                <div class="checkbox">
                                    <label class="hd-txt">
                                        @item.CheckList_Reason
                                    </label>
                                </div>
                            </td>

                            <td style="width: 15%;">
                                <input type="radio" value="1" id="rdo_@item.CheckList_Gid" class="rdo-cls" name="rdo_@item.CheckList_Gid" onchange="return onchange_Checklist(@item.CheckList_Gid,'@item.CheckList_Reason','1');">
                                @Html.Label("Ok", new { @class = "lbl-font" }) &nbsp; &nbsp;
                                <input type="radio" value="2" id="rdo_@item.CheckList_Gid" class="rdo-cls" name="rdo_@item.CheckList_Gid" onchange="return onchange_Checklist(@item.CheckList_Gid,'@item.CheckList_Reason','2');">
                                @Html.Label("Not Ok", new { @class = "lbl-font" }) &nbsp; &nbsp;
                                <input type="radio" value="3" id="rdo_@item.CheckList_Gid" class="rdo-cls" name="rdo_@item.CheckList_Gid" onchange="return onchange_Checklist(@item.CheckList_Gid,'@item.CheckList_Reason','3');">
                                @Html.Label("NA", new { @class = "lbl-font" })
                            </td>

                            <td style="width: 25%;">
                                <div class="col-md-7" id="div_txtreason">
                                    <textarea rows="4" cols="50" id="CheckList_notok_reason_@item.CheckList_Gid" style="width:50%;min-width: 125%;" class="form-controls" hidden="hidden"></textarea>
                                </div>
                                <div class="col-md-1" style="margin-left: 10%;" id="div_txtreason">
                                    <span class="glyphicon glyphicon-save" style="color:orange;margin-top: 30%;margin-left: 100%;" hidden="hidden" id="btn_reason_@item.CheckList_Gid" onclick="return onclick_SubmitReason(@item.CheckList_Gid,'@item.CheckList_Reason','2');"></span>
                                </div>
                                <div class="col-md-12" id="div_lblreason" style="height: 25px;overflow: auto;">
                                    <label class="hd-txt" style="font-weight:normal;" id="CheckList_notok_reasonlbl_@item.CheckList_Gid"></label>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row" style="margin-top:0.5%;" id="div_actionbuttons">
                <div class="col-md-6"></div>
                <div class="col-md-2"><button type="button" class="btn btn-success pull-right" onclick="return Submit_Checklist()"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Submit CheckList</button></div>
                <div class="col-md-2"><button type="button" class="btn btn-primary pull-left" style="margin-left: -2%;" value="Cancel" onclick="return Close_Checklist_Popup();"><span class="glyphicon glyphicon-refresh" style="color:white;"></span>Close </button> </div>
            </div>
        </div>
    }

</div>

<script>
   
    $(document).ready(function () {
        debugger;
        if ($("#hdn_checkerauthoriser_flag").val() == "Audit Checker") {
            $(".rdo-cls").prop("disabled", true); // disable the all radio buttons.
            $("#div_actionbuttons").hide();
        }
        else {
            $("#div_auditauthorizer").hide();
        }
        var modelObj = {};
        modelObj.HDR_EcfGId = $("#hdn_checklist_ecf_gid").val();
        modelObj.HDR_SubType_Gid = 0;
        $.ajax({ //fetch already verified checklists.
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("Get_Selected_Checklists", "Claim")',
            data: '{modelObj_claim: ' + JSON.stringify(modelObj) + '}',
            success: function (Data) {
                debugger;
                var message1 = JSON.parse(Data.Result);
                var message2 = JSON.parse(Data.Result1);

                if (message1.length > 0) {
                    for (var i = 0; i < message1.length; i++) {
                        $("input[name=" + message1[i].radiobutton_name + "][value=" + message1[i].selected_value + "]").attr('checked', 'checked');
                        if (message1[i].selected_value == 2) {
                            if ($("#hdn_checkerauthoriser_flag").val() == "Audit Checker") {
                                $("#CheckList_notok_reason_" + message1[i].checklistreason_checklist_gid).attr("hidden", true);
                                $("#btn_reason_" + message1[i].checklistreason_checklist_gid).attr("hidden", true);
                                $("#CheckList_notok_reasonlbl_" + message1[i].checklistreason_checklist_gid).attr("hidden", false);
                                $("#CheckList_notok_reasonlbl_" + message1[i].checklistreason_checklist_gid).text(message1[i].checklistreason_reason);
                            }
                            else {
                                $("#CheckList_notok_reasonlbl_" + message1[i].checklistreason_checklist_gid).attr("hidden", true);
                                $("#btn_reason_" + message1[i].checklistreason_checklist_gid).attr("hidden", false);
                                $("#CheckList_notok_reason_" + message1[i].checklistreason_checklist_gid).attr("hidden", false);
                                $("#CheckList_notok_reason_" + message1[i].checklistreason_checklist_gid).val(message1[i].checklistreason_reason);
                            }
                        }
                    }
                }
                else {
                    $("#div_txtreason").show();
                    $("#div_lblreason").hide();
                }
                if (message2.length > 0) {
                    $("#txtReason").val(message2[0].checklist_reasons)
                }
            }

        });
    });

    function Submit_Checklist() {
        debugger;
        $.dialog({
            icon: 'fa fa-success',
            title: 'IEM',
            content: 'Checklist Submitted Successfully.!',
            type: 'green',
        });
        setTimeout(function () {
            var window = $("#kwindow_auditchecklist").data("kendoWindow");
            window.close();
        }, 1000);
    }

    function Close_Checklist_Popup() {
        debugger;
        var window = $("#kwindow_auditchecklist").data("kendoWindow");
        window.close();
    }


    function onchange_Checklist(checklist_gid, checklist_reason, checklist_status) {
        debugger;
        var checklistecf_gid = $("#hdn_checklist_ecf_gid").val();
        if (checklist_status == "2") {
            $("#CheckList_notok_reason_" + checklist_gid).val("");
            $("#CheckList_notok_reason_" + checklist_gid).attr("hidden", false);
            $("#btn_reason_" + checklist_gid).attr("hidden", false);

        }
        else {
            //$("#div_notokreason").hide();
            $("#CheckList_notok_reason_" + checklist_gid).attr("hidden", true);
            $("#btn_reason_" + checklist_gid).attr("hidden", true);
            Checklist_Updation(checklistecf_gid, checklist_gid, "", checklist_status);
        }
    }

    function onclick_SubmitReason(checklist_gid, checklist_reason, checklist_status) {
        debugger;
        if ($("#CheckList_notok_reason_" + checklist_gid).val() == "" || $("#CheckList_notok_reason_" + checklist_gid).val() == null || $("#CheckList_notok_reason_" + checklist_gid).val() == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM Product',
                content: 'Reason field should not be empty.!',
                type: 'blue',
            });
        }
        else {
            Checklist_Updation($("#hdn_checklist_ecf_gid").val(), checklist_gid, checklist_reason + "-" + $("#CheckList_notok_reason_" + checklist_gid).val(), checklist_status);
        }
    }

    function Checklist_Updation(ecf_gid, checklist_gid, checklist_reason, checklist_status) {
        debugger;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("Update_Checklist", "../Claim")',
            data: "{ ecf_gid:'" + ecf_gid + "', checklist_gid:'" + checklist_gid + "',checklist_reason:'" + checklist_reason + "',checklist_status:'" + checklist_status + "' }",
            success: function (data) {
                debugger;
                $("#txtReason").val(data);
                if (checklist_status == '2') {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: 'Reasons Updated.!',
                        type: 'green',
                    });
                }
                //var window = $("#kwindow_notonreason").data("kendoWindow"); //get the Window widget's instance
                //window.close();  //and call its open method
                return true;
            }
        });
        //$.getJSON("Update_Checklist/Claim?ecf_gid=" + ecf_gid + "&checklist_gid=" + checklist_gid + "&checklist_reason=" + checklist_reason + "&checklist_status=" + checklist_status, function (data) {
        //    debugger;
        //    $("#txtReason").val(data);
        //    return true;
        //});
    }
</script>