﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DBHelper.Attachment_Model

<html>
<head>
    <title></title>
    <style>
        div.k-window {
            display: inline-block;
            position: absolute;
            z-index: 10001;
            border-style: solid;
            border-width: 1px;
            padding-top: 1em;
            width: 50%;
            font-weight: normal;
        }

        .k-edit-form-container {
            position: relative;
            width: 100%;
            /*height:25%;*/
        }

        div#kwindow_attachment {
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        @*@using (Html.BeginForm("AttachmentGrid_Save", "../Attachment", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {*@
        @using (Ajax.BeginForm("AttachmentGrid_Save", "../Attachment", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "AjaxUpdatePanel" }, new { enctype = "multipart/form-data", id = "frmUploader" }))
        {
            <div id="AjaxUpdatePanel">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-3">
                        @Html.Label("Browse File", new { style = "" })
                        @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                        @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.Label("Document Group", new { })<br />
                        @(Html.Kendo().DropDownList()
                          .Name("attachment_attachmenttype_gid")
                          .DataTextField("docgrpname")
                          .DataValueField("attachment_attachmenttype_gid")
                         .HtmlAttributes(new { style = "width:100%" })
                //.DataSource(source => { source.Read(read => { read.Action("GetDocGroup", "IEMProduct/Attachment", new { parentcode = "QCD_DocGroup" }); }).ServerFiltering(true); }))
                     .DataSource(source => { source.Read(read => { read.Action("GetDocGroup", "../Attachment", new { parentcode = "QCD_DocGroup" }); }).ServerFiltering(true); }))

                        @Html.ValidationMessageFor(model => model.attachment_attachmenttype_gid, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.Label("Document Name", new { })<br />
                        @Html.TextBoxFor(model => model.attachment_docname, new { @style = "width:100%", @class = "form-controls" })
                        @Html.ValidationMessageFor(model => model.attachment_docname, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        @Html.Label("Description")<br />
                        @Html.TextAreaFor(model => model.attachment_desc, new { @style = "width:100%;max-width: 200%;", @class = "form-control", })
                        @Html.ValidationMessageFor(model => model.attachment_desc, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3" style="margin-top:28px;">
                        <button type="submit" id="button_Attachment" value="Upload" style="width:70%;margin-left:13%" class="btn btn-primary" > Upload</button>
                    </div>
                    <div class="col-sm-3">
                        <span class="Success_show" id="sumsg" style="color:green"></span>
                    </div>
                </div>
                @Html.HiddenFor(model => model.attachment_module_flag)
                @Html.HiddenFor(model => model.attachment_ref_flag)
                @Html.HiddenFor(model => model.attachment_ref_gid)
                @Html.HiddenFor(model => model.attachment_invoice_gid)
                @Html.HiddenFor(model => model.debitline_gid)
            </div>
        }
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-11">
                @using (Html.BeginForm("Attachment", "../Attachment", FormMethod.Post, new { @id = "form3" }))
                {

                    @(Html.Kendo().Grid<DBHelper.Attachment_Model>().Name("KgridAttachmentdml")
                        .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal;height: 200px !important;" })
                        .Columns(columns =>
                            {
                                columns.Bound(m => m.attachment_gid).Width(20).Title("Master ID").Hidden();
                                columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action("Show_documents", "../Attachment") + "/#= attachment_gid #'" + ">#= attachment_filename #</a>").Title("File Name").Width(450);
                                columns.Bound(m => m.docgrpname).Width(80).Title("Doc Group Name").Width(160);
                                columns.Bound(m => m.attachment_desc).Width(83).Title("Description").Width(160);
                                columns.Bound(m => m.attachment_inserted_by).Width(120).Title("Attached By").Width(160);
                                columns.Bound(m => m.attachment_inserted_date).Width(120).Title("Attached Date").Width(160);
                                columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return DeleteAttachmentJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                            })
                        .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(new List<object> { 5, 10, 20, 500 })
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(5)
                        .Events(events => events.Error("error_handler"))
                        .Model(model => model.Id(p => p.attachment_gid))
                        .Create(Create => Create.Action("QcMasterGridSave", "../Attachment"))
                        .Read(read => read.Action("ReadGrid", "../Attachment").Data("Get_Flags"))
                     ))
                }
            </div>
        </div>
    </div>

</body>

</html>

<script type="text/javascript">

    function Get_Flags()
    {
        debugger;
        var params = {};
        params.attachment_ref_flag = $("#attachment_ref_flag").val();
        params.attachment_ref_gid = $("#attachment_ref_gid").val();
        params.attachment_module_flag = $("#attachment_module_flag").val();
        params.attachment_invoice_gid = $("#attachment_invoice_gid").val();
        params.debitline_gid = $("#debitline_gid").val();
        return { ObjModel: params }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }
    function on_change_single_file() {
        debugger;
        var fp = $("#File");
        var lg = fp[0].files.length;
        // get length
        var items = fp[0].files;
        var fileSize = 0;
        var FileUpload = $('#File').val();

        var ext = $('#File').val().split('.').pop().toLowerCase();
        //Allowed file types
        if ($.inArray(ext, ['xlsx', 'xls', 'gif', 'png', 'jpg', 'jpeg', 'docx', 'doc', 'pdf', 'rtf', 'ppt', 'txt', 'odt']) == -1) {
            $.alert({
                title: 'IEM PRODUCT',
                content: 'The file type is invalid.!',
                type: 'blue',
            });
            $('#FileUpload').val("");
            $('#upload-file-info').html("");
            return false;
        }

        if (lg > 0) {
            for (var i = 0; i < lg; i++) {
                fileSize = fileSize + items[i].size; // get file size
            }
            if (fileSize > 314572800) {
                $.alert({
                    title: 'IEM PRODUCT',
                    content: 'File size must not be more than 300 MB.!',
                    type: 'blue',
                });
                $('#FileUpload').val('');
                return false;
            }
            else {
                debugger;
                // var files = $('#FileUpload').val();
                var files = $("#File").get(0).files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append("File", files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SingleFile_onchange", "../Attachment")',
                    dataType: "json",
                    contentType: false,  // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                    },
                    error: function (error) {
                        debugger;
                    }
                });
            }
        }
    }

    window.addEventListener("submit", function (e) {
        debugger;
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                //updateTarget.innerHTML = xhr.responseText;
                                $("#sumsg").text("File Uploaded Successfully.!");
                                $("#file").val("");
                                $("#attachment_docname").val("");
                                $("#attachment_desc").val("");
                                $("#attachment_attachmenttype_gid").data("kendoDropDownList").select(0);
                                $("#attachment_attachmenttype_gid").data("kendoDropDownList").trigger("change");
                                $("#KgridAttachmentdml").data("kendoGrid").dataSource.read();
                            }
                        }
                    }
                };
                xhr.send(new FormData(form));
            }
        }
    }, true);

    $(document).ready(function () {
        debugger;
        $("#sumsg").text("");
        $("#KgridAttachmentdml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridAttachmentdml").data("kendoGrid");
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
        });
    })

    function onRequestEnd(e) {
        debugger;
        //Check request type
        if (e.type == "create") {
            debugger;
            //check for errors in the response
            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#KgridAttachmentdml").data("kendoGrid").dataSource.read();
                        // window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }
    }

    function DeleteAttachmentJs() {
        debugger;
        var grid = $("#KgridAttachmentdml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var attachment_gid = (model.attachment_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    debugger;
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "../Attachment")',
                        data: "{ attachment_gid:'" + attachment_gid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                $("#KgridAttachmentdml").data("kendoGrid").dataSource.read();
                                //window.location.reload(1);
                            }, 1500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
</script>
