﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DBHelper.Attachment_Model

<html>
<head>
    <title></title>
    <style>
        div.k-window {
            display: inline-block;
            position: absolute;
            z-index: 10001;
            border-style: solid;
            border-width: 1px;
            padding-top: 1em;
            width: 50%;
            font-weight: normal;
        }

        .k-edit-form-container {
            position: relative;
            width: 100%;
            /*height:25%;*/
        }

        div#kwindow_attachment {
            overflow: hidden;
        }
    </style>
</head>
<body>     
    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-11">
                @using (Html.BeginForm("Attachment", "Attachment", FormMethod.Post, new { @id = "form3" }))
                {

                    @(Html.Kendo().Grid<DBHelper.Attachment_Model>().Name("Kgrid_AduitTrail")
                        .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal;height: 200px !important;" })
                        .Columns(columns =>
                            {
                                columns.Bound(m => m.QiD).Width(20).Title("Queue ID").Hidden();
                                columns.Bound(m => m.EmpCode).Width(80).Title("Employee Code").Width(160);
                                columns.Bound(m => m.EmpName).Width(83).Title("Employee Name").Width(160);
                                columns.Bound(m => m.ActionDate).Width(120).Title("Action Date").Width(160);
                                columns.Bound(m => m.ActionType).Width(120).Title("Action Type").Width(160);
                                columns.Bound(m => m.Remarks).Width(120).Title("Remarks").Width(160);
                                columns.Bound(m => m.Designation).Width(120).Title("Designation").Width(160);

                            })
                            .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(new List<object> { 15, 20, 500 })
                            .ButtonCount(5))
                            .Filterable()
                            .Sortable()
                            .Scrollable(s => s.Enabled(true).Height("auto"))
                            .Resizable(resize => resize.Columns(true))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(15)
                            .Events(events => events.Error("error_handler"))
                                .Model(model => model.Id(p => p.QiD))
                                .Read(read => read.Action("Read_AuditTrail", "Attachment", new { Area=""}).Data("Get_ECF_Gid"))
                         ))
                }
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Ref_Gid)
</body>

</html>

<script type="text/javascript">

    function Get_ECF_Gid() {
        debugger;
        var ECF_Gid = $("#HDR_EcfGId").val();
        //var ECF_Gid = $("#ecf_gid").val();
        //var ECF_Gid = 269;
        return { "ECF_Gid": ECF_Gid }
    }
</script>