﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DBHelper.Attachment_Model

<div class="container-fluid" style="margin-left: -2%;margin-top:1%;">
    @Html.HiddenFor(model => model.attach_batch_gid)
    @Html.HiddenFor(model => model.attach_ecf_gid)
    @Html.HiddenFor(model => model.attach_module)
    @Html.HiddenFor(model => model.attach_debitinvoice_flag)
    <div class="col-sm-12">
        @(Html.Kendo().Grid<DBHelper.Attachment_Model>().Name("kgrid_attachments")
            .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal;height: 50% !important;" })
            .Columns(columns =>
                {
                    columns.Bound(m => m.attachment_gid).Title("Master ID").Hidden();
                    columns.Bound(m => m.ecf_no).Title("Ref No").Width(100);
                    columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action("Show_documents", "../Attachment") + "/#= attachment_gid #'" + ">#= attachment_filename #</a>").Title("File Name").Width(350);
                    columns.Bound(m => m.docgrpname).Width(80).Title("Doc Group Name").Width(160);
                    columns.Bound(m => m.attachment_desc).Width(83).Title("Description").Width(160);
                    columns.Bound(m => m.attachment_inserted_by).Width(120).Title("Attached By").Width(160);
                    columns.Bound(m => m.attachment_inserted_date).Width(120).Title("Attached Date").Width(160);
                })
                    .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(new List<object> { 10, 15, 20, 25 })
                    .ButtonCount(5))
                    .Filterable()
                    .Sortable()
                    .Scrollable(s => s.Enabled(true).Height("auto"))
                    .Resizable(resize => resize.Columns(true))
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Events(events => events.Error("error_handler"))
                    .Model(model => model.Id(p => p.attachment_gid))
                    .Read(read => read.Action("GetBatchWiseAttachments", "../Attachment").Data("Parameter_values"))
                ))
    </div>
</div>

<script>
    function Parameter_values() {
        debugger;
        var params = {};
        params.attach_batch_gid = $("#attach_batch_gid").val();
        params.attach_ecf_gid = $("#attach_ecf_gid").val();
        params.attach_module = $("#attach_module").val();
        params.attach_debitinvoice_flag = $("#attach_debitinvoice_flag").val();
        return { _ObjModel: params }
    }
</script>