﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model DBHelper.BulkUpload_Model


<html>
<head>
    <title></title>
    <style>
        div.k-window {
            display: inline-block;
            position: absolute;
            z-index: 10001;
            border-style: solid;
            border-width: 1px;
            padding-top: 1em;
            width: 50%;
            font-weight: normal;
        }

        .k-edit-form-container {
            position: relative;
            width: 100%;
            /*height:25%;*/
        }

        div#kwindow_attachment {
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div class="container-fluid">

        @*@using (Ajax.BeginForm("UploadFiles", "~/BulkUpload", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "AjaxUpdatePanel" }, new { enctype = "multipart/form-data", id = "frmUploader" }))
            {*@
        <div id="AjaxUpdatePanel" class="col-sm-3">
            @*<div class="col-md-2">
                 @Html.Label("Ref No", new { style = "" })
                 @(Html.Kendo().DropDownList()
            .Name("Refid")
            .DataTextField("RefrenceNo")
            .DataValueField("Refid")
            .Filter("contains")
                         //.Events(e => e.Change("onChange_Provider"))
            .HtmlAttributes(new { @style = "width: 100%;", oncopy = "return false", onpaste = "return false" })
            .DataSource(source =>
            {
                source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetRefno"); });
            }))
             </div>*@
            @Html.HiddenFor(m => m.UploadMethod)
            <div class="row" style="margin-top:10px;">
                @*<div class="col-sm-3">
                @Html.Label("Browse File", new { style = "" })
                @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })*@
                <form id="theuploadformempsup">
                    <input type="file" style="padding-top: 5px;" name="UploadFile" id="fileupsupplier" class="fileupsupplier" />
                </form>
            </div>
        </div>
        <div class="col-sm-2" style="margin-top:28px;">
            <span>Select Sheet</span>
            <br />
            <select id="ddlSelectsheet" style="width:150px;" name="ddlSelectsheet" class="textboxStyle">
                <option value="0">--Select--</option>
            </select>
        </div>
        <div class="col-sm-2" style="margin-top:28px;">
            <input type="button" id="btnfrstsubmit" class="btn btn-primary" value="Upload" onclick="Newexcelsunew()" />&nbsp;&nbsp;&nbsp;
            <input type="button" id="btnfrstClear" class="btn btn-warning" value="Clear" />
        </div>
        <div class="col-sm-3" style="margin-top:28px;">
            @*<a data-modal="" href="~/Download/DebitLineTemplate.xls" id="DownloadTemplate">*@
            <a data-modal="" href="#" onclick="DownloadTemplate();" id="DownloadTemplate">
                <button id="DownloadTemplate" class="btn btn-primary" type="submit">
                    <span style="color:white !important;font-size:12px;" class="glyphicon glyphicon-download">
                    </span> Download Template
                </button>
            </a>
        </div>

        @*}*@
    </div>
    @(Html.Kendo().Window()
.Name("myExcelStatusWindow") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
.Title("Excel Result") //set the title of the window
.Content(@<text>
            @Html.Partial("_Supplierexcelstatus")
</text>)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                               .Draggable() //Enable dragging of the window
                                                                                                                                                                                                                                                                                                                                                                                                                                                                               .Resizable() //Enable resizing of the window
                                                                                                                                                                                                                                                                                                                                                                                                                                                                               .Width(600) //Set width of the window
                                                                                                                                                                                                                                                                                                                                                                                                                                                                               .Modal(true)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                               .Visible(false)
    )
</body>

</html>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $fileInput = $('#fileupsupplier');
        $fileInput.replaceWith($fileInput = $fileInput.clone(true));
        $("#fileupsupplier").val('');
        $("#ddlSelectsheet").empty();
        $("#ddlSelectsheet").append("<option value='0' >--Select--</option>");
    });

    function DownloadTemplate() {
        debugger;
        @*var url = '@Url.Action("DownloadTemplate", "BulkUpload", new { Area = "" })? TemplateName =' + UploadMethodName;
        window.location.href = url;*@

        var UploadMethodName = $("#UploadMethod").val().trim();
        
        if (UploadMethodName == "EmployeeInvoice") {
            var Claimtype = $("#HDR_SubType_Gid").data("kendoDropDownList").text().trim();
            if (Claimtype == "Travel") {
                UploadMethodName = "EmployeeECF_Travel";
            }
            else if (Claimtype == "Other") {
                UploadMethodName = "EmployeeECF_Others";
            }
        }
        else if (UploadMethodName == "EmployeeDebitline") {
            var Claimtype = $("#HDR_SubType_Gid").data("kendoDropDownList").text().trim();
            if (Claimtype == "Conveyance") {
                UploadMethodName = "LocalConveyance";
            }
        }

        var url = '@Url.Action("DownloadTemplate", "BulkUpload", new {Area = "", TemplateName = "REPLACEME" })';
        window.location.href = url.replace('REPLACEME', UploadMethodName);
    }
    function GetRefno() {
        //var Batchid = $("#BatchGid").val();
        var Batchid = 287;
        return { "Batchid": Batchid, "_Action": "ExpRefno" }
    }

    $('#btnfrstClear').click(function () {
        // alert($("#UploadMethod").val());

        $fileInput = $('#fileupsupplier');
        $fileInput.replaceWith($fileInput = $fileInput.clone(true));
        $("#fileupsupplier").val('');
        $("#ddlSelectsheet").empty();
        $("#ddlSelectsheet").append("<option value='0' >--Select--</option>");
        return false;

    });
    function Newexcelsunew() {
        var sheet = $("#ddlSelectsheet option:selected").text();
        if (sheet == null || sheet == "0" || sheet == "--Select--") {
            //jAlert("Please Select valid File.", "Message");
            $.alert({
                title: 'IEM PRODUCT',
                content: 'Please Select valid File.!',
                type: 'blue',
            });
            $("#ddlSelectsheet").focus();
            return false;
        }

        //UploadMethod = "SupplierDebitline";
        //UploadMethod = "SupplierInvoice";
        //"UploadMethod": "EmployeeInvoice";
        debugger;
        var UploadMethodName = $("#UploadMethod").val().trim().toLowerCase();
        var UploadMethod = $("#UploadMethod").val();


        if (UploadMethodName == "employeeinvoice") {
            var Claimtype = $("#HDR_SubType_Gid").data("kendoDropDownList").text().trim();
            if (Claimtype == "Travel") {
                UploadMethod = "EmployeeECF_Travel";
            }
            else {
                UploadMethod = "EmployeeECF_Others";
            }
        }
        else if (UploadMethodName == "employeedebitline") {
            var Claimtype = $("#HDR_SubType_Gid").data("kendoDropDownList").text().trim();
            if (Claimtype == "Conveyance") {
                UploadMethod = "EmployeeConveyance";
            } 
        }

        //var UploadMethod = "EmployeeCOA";
        //var UploadMethod = "LocalConveyance";
        //alert(UploadMethod);
        var objmodel =
             {
                 "UploadMethod": UploadMethod
             };
        $.ajax({
            //url: "../BulkUpload/Localconveyancestatuserrs/",
            url: '@Url.Action("Localconveyancestatuserrs", "../BulkUpload")',
            type: 'POST',
            cache: false,
            data: objmodel,
            success: function (data) {
                debugger;
                if (data.msg == "Success") {
                    debugger;
                    var ExcelResults = data.ExcelResult.split('-');
                    $("#lblTotalValid").text(ExcelResults[0]);
                    $("#lblTotalInvalid").text(ExcelResults[1]);
                    $("#lblTotalRecord").text(ExcelResults[2]);
                    var invalidcount = ExcelResults[1].split(':');
                    if (invalidcount[1] > 0) {
                        $("#tdValid").hide();
                        $("#tdInvalid").show();
                    }
                    else {
                        $("#tdValid").show();
                        $("#tdInvalid").hide();
                    }
                    var wdw = $("#myExcelStatusWindow").data("kendoWindow"); //get the Window widget's instance
                    wdw.center();
                    wdw.open();
                    //pending
                    //objDialogOtherTravelmodenew.load(urlVU);
                    //objDialogOtherTravelmodenew.dialog({ title: 'Upload Summary' });
                    //objDialogOtherTravelmodenew.dialog("open");

                    $fileInput = $('#fileupsupplier');
                    $fileInput.replaceWith($fileInput = $fileInput.clone(true));
                    $("#fileupsupplier").val('');
                }
                else {
                    $fileInput = $('#fileupsupplier');
                    $fileInput.replaceWith($fileInput = $fileInput.clone(true));
                    $("#fileupsupplier").val('');
                    $.alert({
                        title: 'IEM PRODUCT',
                        content: 'Invalid Template.!',
                        type: 'blue',
                    });
                    return false;
                }
            },
            error: function () {
                $fileInput = $('#fileupsupplier');
                $fileInput.replaceWith($fileInput = $fileInput.clone(true));
                $("#fileupsupplier").val('');
                $.alert({
                    title: 'IEM PRODUCT',
                    content: 'something seems wrong.!',
                    type: 'blue',
                });
                return false;
            }
        });
    }
    $(".fileupsupplier").on('change', function (e) {
        debugger;
        $("#ddlSelectsheet").empty();
        $("#ddlSelectsheet").append("<option value='0' >--Select--</option>");
        var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none"></iframe>');
        $("body").append(iframe);
        var url = '@Url.Action("UploadFilesnew", "../BulkUpload")';
        var form = $('#theuploadformempsup');
        //form.attr("action", "../BulkUpload/UploadFilesnew");
        form.attr("action", url);
        form.attr("method", "post");
        form.attr("encoding", "multipart/form-data");
        form.attr("enctype", "multipart/form-data");
        form.attr("target", "postiframe");
        form.attr("file", $('#fileupsupplier').val());
        form.submit();
        setTimeout(function () {
            getsheets();
        }, 1000);
        //return false;
    });

    function getsheets() {
        debugger;
        var data = "fff";
        $.ajax({
            type: "POST",
            // url: '../BulkUpload/UploadFiles',
            url: '@Url.Action("UploadFiles", "../BulkUpload")',
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                debugger;
                $("#ddlSelectsheet").empty();
                $("#ddlSelectsheet").append("<option value='0' >--Select--</option>");
                if (result == "") {
                    debugger;
                    
                    $fileInput = $('#fileupsupplier');
                    $fileInput.replaceWith($fileInput = $fileInput.clone(true));
                    $("#fileupsupplier").val('');
                    //jAlert("Please Check The File Format and Upload", "Message");
                    $.alert({
                        title: 'IEM PRODUCT',
                        content: 'Please Check The File Format and Upload.!',
                        type: 'blue',
                    });
                    return false;
                }
                else {
                    var err = result[0].SheetName;
                    if (err == "Error") {
                        $.alert({
                            title: 'IEM PRODUCT',
                            content: 'Please Upload Valid File.!',
                            type: 'blue',
                        });
                        return false;
                    }
                    else {
                        debugger;
                        if (result.length > 0) {
                            setTimeout(function () {
                            for (var i = 0; i < result.length; i++) {
                                var stylesSelect = $('#ddlSelectsheet');
                                stylesSelect.attr('disabled', false);
                                $("#ddlSelectsheet").append("<option value=" + result[i].SheetId + " >" + result[i].SheetName + "</option>");
                            }
                            }, 1500);
                        }
                        if (result.length == 0) {
                            var stylesSelect = $('#ddlSelectsheet');
                            stylesSelect.attr('disabled', true);
                        }
                    }
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }
</script>