﻿@model  DataAccessHandler.Models.IEMProduct.MenuModel


    <link href="~/Content/cssmenu.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>
    @*<script src="~/Scripts/mootools-core.js"></script>*@
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @{
        List<DataAccessHandler.Models.IEMProduct.MenuModel> menuList = new List<DataAccessHandler.Models.IEMProduct.MenuModel>();
        SharedData.DropDown_Bindings dtm = new SharedData.DropDown_Bindings();
        string LoginMode = Session["Employee_Role"].ToString();
        string InsertBy = Session["Proxy_InsertBy"].ToString();
        menuList = dtm.GetMenu(LoginMode, InsertBy).ToList();

        ViewBag.linkimg = "~" + (string)Session["Link"];
    }
    <div id="cssmenu">
        @*<div  id="menu-line"></div><div id="menu-button">Menu</div>*@
        <ul style="display: block;">
            @foreach (var mp in  menuList.Where(p => p.ParentId == 1))
            {
                //if (Session["loginraisemode"] != null)
                //{
                    if (@mp.Name == "E-Claims")
                    {
                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <a href="@mp.url">@mp.Name</a>
                            @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
                            {
                                @:<ul>
                            }

                            @RenderMenuItem(menuList, mp)

                            @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
                            {
                                @:</ul>
                        }

                        </li>
                    }
                @*}*@
                else
                {
                    <li class="has-sub">
                        <span class="submenu-button"></span>
                        <a href="@mp.url">@mp.Name</a>
                        @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
                        {
                            @:<ul>
                        }

                        @RenderMenuItem(menuList, mp)

                        @if (menuList.Count(p => p.ParentId == mp.Id) > 0)
                        {
                            @:</ul>
                        }

                    </li>
                }
            }
        </ul>
        @helper RenderMenuItem(List<DataAccessHandler.Models.IEMProduct.MenuModel> menuList, DataAccessHandler.Models.IEMProduct.MenuModel mi)
{
    foreach (var cp in menuList.Where(p => p.ParentId == mi.Id))
    {
        if (Session["loginraisemode"] != null)
        {
            if (@cp.Name == "Own Claims" || @cp.Name == "Travel Claim" || @cp.Name == "Non Travel Claim")
            {
                @:<li>
                    @*<span class="submenu-button"></span>*@
                    <a href="@cp.url">@cp.Name</a>

                if (menuList.Count(p => p.ParentId == cp.Id) > 0)
                {
                    @:<ul style="display: block;">
        }

        @RenderMenuItem(menuList, cp)
                if (menuList.Count(p => p.ParentId == cp.Id) > 0)
                {
                    @:</ul>
                }
                else
                {
                    @:</li>
                }
            }
        }
        else
        {
            @:<li>
                @*<span class="submenu-button"></span>*@
                <a href="@cp.url">@cp.Name</a>

            if (menuList.Count(p => p.ParentId == cp.Id) > 0)
            {
                @:<ul style="display: block;">
        }

        @RenderMenuItem(menuList, cp)
            if (menuList.Count(p => p.ParentId == cp.Id) > 0)
            {
                @:</ul>
            }
            else
            {
                @:</li>
            }
        }
    }
}
  
    </div>
    @*<br />*@
    <div style="padding:2px;" id="divMyMenu"></div>
    @*<script type="text/javascript">
        var objDialogMyMenu1;
        $(document).ready(function () {
            objDialogMyMenu1 = $("[id$='divMyMenu']");
            objDialogMyMenu1.dialog({
                autoOpen: false,
                closeOnEscape: false,
                modal: true,
                show: 'fade-in',
                close: 'fade-out',
                async: false,
                cache: false

            });

        });
        function ShowMyProfile() {
            objDialogMyMenu1.load('/MASTERS/MyProfile/Index?' + new Date().getTime());
            objDialogMyMenu1.dialog({
                title: 'My Profile',
                width: 1117,
                height: 570
            });
            objDialogMyMenu1.dialog("open");
        }

    </script>*@