﻿
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.Profile_Model

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 55%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .k-treeview .k-item {
        /*background-color: #245988;*/
        background-color:  whitesmoke ;  
                       
        color: black;
    }

    #treeview {
        height: 250px;
        overflow-y: auto;
        /*border: 1px solid #d9d9d9;*/
    }

    .lbl-font {
        font-weight: normal;
    }

    .k-multiselect-wrap {
        max-height: 30px !important;
        overflow: auto !important;
    }
</style>

<html lang="en">

<body>
    <div class="container">
 
        <div class="row">

            <div class="col-sm-2">
                @Html.Label("Employee Name", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.Emp_Name, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
            </div>
            <div class="col-sm-2">
                @Html.Label("Employee Code", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.Emp_Code, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
            </div>
            <div class="col-sm-2">
                @Html.Label("Gender", new { @class = "lbl-font" })
                <div class="row" style="margin-left: 0px;">
                    @Html.RadioButtonFor(m => m.Gender, "M", new { id = "Male" })
                    <label for="Gender" style="font-weight: normal;">Male</label>
                    @Html.RadioButtonFor(m => m.Gender, "F", new { id = "Female" })
                    <label for="Gender" style="font-weight: normal;">Female</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="treeview"></div>
            </div>
        </div>


        <div class="row" style="margin-top:-15.5%;">

            <div class="col-sm-2">
                @Html.Label("Date Of Birth", new { @class = "lbl-font" })
                @Html.TextBoxFor(model => model.DOB, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })

                @*@(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                          .Name("DOB")
                        //.Value(Model.DOB )
                          .HtmlAttributes(new { style = "width:100%;", placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(evt)", @readonly = "readonly" }))*@  
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Date Of Join", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.DOJ, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })

                        @*@(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                          .Name("DOJ")
                                //.Value(Model.DOJ )
                          .HtmlAttributes(new { style = "width: 100%;", placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(evt)", @readonly = "readonly" }))*@
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Designation", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Designation, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    
                </div>
                 <div class="row" style="margin-top:0.5%;">
                    <div class="col-sm-2">
                        @Html.Label("Grade", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Grade, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Department", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Department, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Branch", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Branch, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                </div>
                <div class="row" style="margin-top:0.5%;">
                    <div class="col-sm-2">
                        @Html.Label("FC", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.FC_Name, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("CC", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.CC_Name, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Product Code", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Product_Code, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>


                </div>
                <div class="row" style="margin-top:0.5%;">
                    <div class="col-sm-12">
                        @Html.Label("Address", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-controls", @readonly = "readonly", @style = "min-width: 55% !important;background-color: #eee;" })
                    </div>

                </div>
                <div class="row" style="margin-top:0.5%;">
                    <div class="col-sm-2">
                        @Html.Label("Personal Email", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Personal_Email, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Office Email", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Office_Email, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Supervisor", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Sup_Name, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Status", new { @class = "lbl-font" })
                        <div class="row" style="margin-left: 0px;">
                            @Html.RadioButtonFor(m => m.emp_status, "Y", new { id = "Active" })
                            <label for="Status" style="font-weight: normal;"> Active </label>
                            @Html.RadioButtonFor(m => m.emp_status, "N", new { id = "Inactive" })
                            <label for="Status" style="font-weight: normal;"> Inactive </label>
                            @Html.RadioButtonFor(m => m.emp_status, "R", new { id = "Resigned" })
                            <label for="Status" style="font-weight: normal;"> Resigned </label>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:0.5%;">
                    <div class="col-sm-2">
                        @Html.Label("Bank Name", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Bank_Name, new { @class = "form-controls", @readonly = "readonly" ,@style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("IFSC Code", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.IFSC_Code, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Card No", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Card_No, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Function Name", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Function_Name, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>

                </div>
                <div class="row" style="margin-top:0.5%;">
                    <div class="col-sm-2">
                        @Html.Label("IEM Designation", new { @class = "lbl-font" })
                        @Html.TextBoxFor(model => model.Iem_Designation, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
                    </div>
                    <div class="col-sm-2">
                        @Html.Label("Branch Type", new { @class = "lbl-font" })
                        <div class="row" style="margin-left: 0px;">
                            @Html.RadioButtonFor(m => m.branch_flag, "B", new { id = "Branch_id" })
                            <label for="BranchType" style="font-weight: normal;"> Branch </label>
                            @Html.RadioButtonFor(m => m.branch_flag, "NB", new { id = "NON_BRANCH" })
                            <label for="BranchType" style="font-weight: normal;"> Non Branch </label>

                        </div>
                    </div>
                </div>


            </div>
        </body>
    </html>

    <script type="text/javascript">
        $(document).ready(function () {
            debugger;

            //Read_ProfileData();
            //TreeView();

        })
        function TreeView() {
            debugger;
            var EmpDetails = {};

            EmpDetails.Action = "Hirackey";

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                async: false,
                // url: "Url.Action("GetEmpDetailsHirackey", "Profile")",
                url: '@Url.Action("GetEmpDetailsHirackey", "Profile", new {Area = "" })',
                //url:"../../../Profile/GetEmpDetailsHirackey",
                data: '{Obj_Model: ' + JSON.stringify(EmpDetails) + '}',
                success: function (response) {
                    debugger;
                    if (response.length > 0) {
                        var myDataSource = new kendo.data.HierarchicalDataSource({
                            data: response
                        });
                        $("#treeview").kendoTreeView({
                            loadOnDemand: false,
                            //checkboxes: {
                            //    checkChildren: true
                            //},
                            dataSource: myDataSource,
                            //check: onCheck,
                            expand: onExpand
                        });



                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: "No Record Update",
                            type: 'red',
                        });

                    }
                },
                error: function (response) {
                    $.dialog({
                        title: 'IEM Product',
                        content: "Error..",
                        type: 'red',
                    });
                }
            });
        }
        function onCheck() {
            debugger;
            var checkedNodes = [];
            var treeView = $("#treeview").data("kendoTreeView");

            getCheckedNodes(treeView.dataSource.view(), checkedNodes);
            //populateMultiSelect(checkedNodes);
        }

        function onExpand(e) {
            if ($("#filterText").val() == "") {
                $(e.node).find("li").show();
            }
        }
        function Read_ProfileData() {
            debugger;
            var EmpDetails = {};

            EmpDetails.Action = "SELECTEMPLOYEE";

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                async: false,
                // url: "Url.Action("GetEmpDetails", "Profile")",
                url : '@Url.Action("GetEmpDetails", "Profile", new { Area = ""})',
                //url: "../../Profile/GetEmpDetails",
                data: '{Obj_Model: ' + JSON.stringify(EmpDetails) + '}',
                success: function (response) {
                    debugger;
                    if (response.length > 0) {
                        var Result = JSON.parse(response);
                        $("#Emp_Name").val(Result[0]["Emp_Name"]);
                        $("#Emp_Code").val(Result[0]["Emp_Code"]);
                        var Gender = Result[0]["Gender"];
                        if (Gender == "M") {
                            $('#Male').attr('checked', 'checked');
                        }
                        else {
                            $('#Female').attr('checked', 'checked');
                        }
                        $("#DOB").val(Result[0]["EMP_DOB"]);
                        $("#DOJ").val(Result[0]["Emp_Doj"]);
                        $("#Designation").val(Result[0]["Designation"]);
                        $("#Grade").val(Result[0]["Grade"]);
                        $("#Department").val(Result[0]["Department"]);
                        $("#Branch").val(Result[0]["Branch"]);
                        $("#FC_Name").val(Result[0]["FC_Name"]);
                        $("#CC_Name").val(Result[0]["CC_Name"]);
                        $("#Product_Code").val(Result[0]["Product Code"]);
                        $("#Address").val(Result[0]["Address"]);
                        $("#Personal_Email").val(Result[0]["Personal_Email"]);
                        $("#Office_Email").val(Result[0]["Office_Email"]);
                        $("#Sup_Name").val(Result[0]["Supervisor_name"]);
                        $("#Bank_Name").val(Result[0]["Bank_Name"]);
                        $("#IFSC_Code").val(Result[0]["IFSC_Code"]);
                        $("#Card_No").val(Result[0]["Card_No"]);
                        $("#Function_Name").val(Result[0]["Function_Name"]);

                        var Emp_Status = Result[0]["employee_status"];
                        if (Emp_Status == "Y") {
                            $('#Active').attr('checked', 'checked');
                        }
                        else if (Emp_Status == "N") {
                            $('#Inactive').attr('checked', 'checked');
                        }
                        else if (Emp_Status == "R") {
                            $('#Resigned').attr('checked', 'checked');
                        }
                        $("#Iem_Designation").val(Result[0]["Designation"]);

                        var BranchType = Result[0]["branch_flag"];

                        if (BranchType == "B") {
                            $('#Branch_id').attr('checked', 'checked');
                        }
                        else if (BranchType == "N") {
                            $('#NON_BRANCH').attr('checked', 'checked');
                        }

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: "No Record Update",
                            type: 'red',
                        });

                    }
                },
                error: function (response) {
                    $.dialog({
                        title: 'IEM Product',
                        content: "Error..",
                        type: 'red',
                    });
                }
            });
        }
    </script>
