﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.SupplierInvoice_Model

@{
    DataAccessHandler.Models.EOW.SupplierInvoice_Model ObjModel = new DataAccessHandler.Models.EOW.SupplierInvoice_Model();
}

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 45%;
        height: auto;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }
</style>
<div class="container">
    <div class="row">
        @using (Html.BeginForm("SupplierInvoice", "SupplierInvoice", FormMethod.Post, new { @id = "Form_TDS" }))
        {
            @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.SupplierInvoice_Model>().Name("KendGrid_InvsupplierTDS")
            .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height: 250px !important;" })
        .ToolBar(toolbar => toolbar.Create().Text("TDS"))
        .Columns(columns =>
        {
            columns.Bound(m => m.Refid).Title("Ecf id").Hidden();
            columns.Bound(m => m.Invoiceid).Title("Inv id").Hidden();
            columns.Bound(m => m.InvoiceNo).Title("Invoice No");
            columns.Bound(m => m.InvoiceAmt).Title("Invoice Amount");
            columns.Bound(m => m.TaxableAmt).Title("Taxable Amount");
            columns.Bound(m => m.TaxName).Title("Tax Type");
            columns.Bound(m => m.SubTaxName).Title("Tax SubType");
            columns.Bound(m => m.TaxRate).Title("Tax Rate");
            columns.Bound(m => m.TaxAmt).Title("TDS");
            columns.Bound(m => m.Supplierid).Title("Supplier id").Hidden();
            columns.Bound(m => m.InvTaxid).Title("Supplier id").Hidden();
            columns.Command(cmd =>
            {
                cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("TDSDelete");
            }).Title("Action").Width(60).Visible(Model.PageFor == "Draft" || Model.PageFor == "Audit Maker");
            columns.Command(cmd =>
            {
                cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
            }).Title("Action").Width(40).Visible(Model.PageFor != "Draft" && Model.PageFor != "Audit Maker");
            //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(110);
            //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return TDSDelete()' class='deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
        })
        .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("AddSupplierinvoiceTDS"); })
        .Filterable()
        .Sortable()
        .Scrollable(s => s.Enabled(true).Height("auto"))
        .Resizable(resize => resize.Columns(true))
        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model => model.Id(p => p.Refid))
        .PageSize(5)
        .Events(events => events.Error("error_handler").RequestEnd("onRequestEndTDS"))
        .Read(read => read.Action("Read_Invoice", "SupplierInvoice").Data("ReadTDS"))
        .Create(Create => Create.Action("Save_Invoice", "SupplierInvoice").Data("TDS"))
        .Update(update => update.Action("Update_Invoice", "SupplierInvoice").Data("TDS"))
        ))
        }
        @Html.HiddenFor(model => model.Invoiceid, new { id = "txtTdsinvid" })
        @Html.HiddenFor(model => model.Refid, new { id = "txtTdsRefid" })
        @Html.HiddenFor(model => model.InvoiceNo, new { id = "txtTdsinvno" })
        @Html.HiddenFor(model => model.InvoiceAmt, new { id = "txtTdsinvAmt" })
    </div>
</div>

<script>

    $(document).ready(function () {
        debugger;
        var gridtds = $("#KendGrid_InvsupplierTDS").data("kendoGrid");
        gridtds.bind("edit", function (event) {
            //var editWindow = this.editable.element.data("kendoWindow");
            //editWindow.unbind("close");
            //editWindow.bind("close", onWindowEditClose);
        });
    });
    function ReadTDS() {
        debugger;
        //var grid = $("#KendGrid_Invoice").data("kendoGrid");
        //var model = grid.dataItem($(event.target).closest("tr"));
        //if (model != null){
        //$("#txtTdsinvid").val(model.Invoiceid);
        //$("#txtTdsRefid").val(model.Refid);
        //$("#txtTdsinvno").val(model.InvoiceNo);
        //$("#txtTdsinvAmt").val(model.InvoiceAmt);
        //var window = $("#TDS").data("kendoWindow"); //get the Window widget's instance
        //window.open();  //and call its open method
        //window.center();
        //$("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read({ Invoiceid: $("#txtTdsinvid").val(), Refid: $("#txtTdsRefid").val(), GridType: "Tax", _Action: "TDS" });
        return { Invoiceid: $("#txtTdsinvid").val(), Refid: $("#txtTdsRefid").val(), GridType: "Tax", _Action: "TDS" }
    }
    function ViewMode(e) {
        debugger;
        var grid = this,
         selectedRow = $(e.target).closest("tr")[0];
        grid.editRow(selectedRow);
        $(".k-grid-update").hide();
        $(".k-window-title").text("View");
    }
    //TDS line Delete
    function TDSDelete() {
        debugger;
        var grid = $("#KendGrid_InvsupplierTDS").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var InvTaxid = (model.InvTaxid);
        var _data = { "InvTaxid": InvTaxid }

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Delete_InvoiceTDS", "SupplierInvoice")',
                        data: JSON.stringify({ _data: _data }),

                        success: function (data) {
                            //debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Message"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                //window.location.reload(1);
                                $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read();
                                $("#KendGrid_InvoiceCR").data("kendoGrid").dataSource.read();
                            }, 2500);
                        },

                        error: function (data) {
                            $.alert({
                                icon: 'fa fa-success',
                                title: 'IEM Product',
                                theme: 'dark',
                                content: "Error",
                                type: 'green',
                                animationSpeed: 700,
                            });

                            setTimeout(function () {
                                //window.location.reload(1);
                                $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read();
                                $("#KendGrid_InvoiceCR").data("kendoGrid").dataSource.read();
                            }, 2500);
                        }

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
    function onRequestEndTDS(e) {
        //debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {
            //check for errors in the response

            if (e.response.Errors == null) {

                if (e.response.length > 0) {
                    var Result = JSON.parse(e.response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read();
                            $("#KendGrid_InvoiceCR").data("kendoGrid").dataSource.read();
                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'red',
                        });
                        //preventCloseOnSave = true;
                        //setTimeout(function () {
                        //    debugger
                        //    $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read();
                        //    $("#KendGrid_InvoiceCR").data("kendoGrid").dataSource.read();
                        //}, 1500);

                        return false;
                    }
                }

                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Records in the List!",
                        type: 'red',
                    });

                    setTimeout(function () {
                        debugger;
                        $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read();
                        $("#KendGrid_InvoiceCR").data("kendoGrid").dataSource.read();
                    }, 1500);

                    //return false;
                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: e.response.Errors,
                    type: 'red',
                });
                return false;
            }
        }

        if (e.type == "update") {
            //debugger;

            //check for errors in the response

            if (e.response.Errors == null) {

                if (e.response.length > 0) {
                    var Result = JSON.parse(e.response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read();
                            $("#KendGrid_InvoiceCR").data("kendoGrid").dataSource.read();
                        }, 1500);
                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'blue',
                        });
                        //preventCloseOnSave = true;
                        //setTimeout(function () {
                        //    debugger;
                        //    $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read();
                        //    $("#KendGrid_InvoiceCR").data("kendoGrid").dataSource.read();
                        //}, 1500);
                        //return false;
                    }

                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: "No Records Found!",
                    type: 'red',
                });

                setTimeout(function () {
                    debugger;
                    $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read();
                    $("#KendGrid_InvoiceCR").data("kendoGrid").dataSource.read();
                }, 1500);
            }

            return false;
        }
    }


</script>
