﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.WorkFlow_Model
<style>
    .checkbox, .radio {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 4px;
        line-height: 1.42857143;
        vertical-align: top;
    }
</style>
<div class="row mt-1">
    <div class="col-md-3">
        <label>Type</label>
        @(Html.Kendo().DropDownList()
                  .Name("Type_Code")
                  .DataTextField("Type_Name")
                  .DataValueField("Type_Code")
                  .Events(e => e.Change("onChange_Type"))
                  .HtmlAttributes(new { @style = "width: 100%;" })
                  .DataSource(source =>
                  {
                      source.Read(read => { read.Action("Get_DropDownList", "WorkFlow", new { Action_Type = "Type", Master_Code = "QCD_Type" }); });
                  }))
    </div>
    <div class="col-md-3">
        <label>Sub Type</label>
        @(Html.Kendo().MultiSelectFor(m => m.SubType_Code)
                  .Name("SubType_Code")
                  .DataTextField("SubType_Name")
                  .DataValueField("SubType_Code")
                  .Placeholder("- Select -")
                  .AutoBind(false)
                  .AutoClose(false)
                  .Filter("contains")
                //.Events(e => e.Change("onChange_SubType"))
                  .HtmlAttributes(new { @style = "width: 100%;height:30px;" })
                  .DataSource(source =>
                  {
                      source.Read(read => { read.Action("Get_DropDownList", "WorkFlow").Data("GetTypeCode"); });
                  })
        )
    </div>
    <div class="col-md-3">

        <label>Attributes</label>
        <div id="Attributepartialview" style="width: 690px;">
        </div>
    </div>
    

    @Html.HiddenFor(model => model.HDN_Type)
    @Html.HiddenFor(model => model.HDN_SubType)
</div>

<script>

    $('.k-grid-add').click(function (e) {
        //debugger;

        if ($("#Type_Code").val() == "0" || $("#Type_Code").val() == null || $("#Type_Code").val() == "" || $("#Type_Code").val() == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the Type.!',
                type: 'blue',
            });
            return false;
        }

        if ($("#SubType_Code").val() == null || $("#SubType_Code").val() == "" || $("#SubType_Code").val() == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the SubType.!',
                type: 'blue',
            });
            return false;
        }

        var checkedparent = $('.chkChild:checkbox:checked').map(function () {
            return this.value;
        }).get();

        if (checkedparent.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the attributes.!',
                type: 'blue',
            });
            return false;
        }
        return true;
    });
    function ShowRecords() {
        //debugger;
        if ($("#SubType_Code").val() == null || $("#SubType_Code").val() == "" || $("#SubType_Code").val() == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the SubType.!',
                type: 'blue',
            });
            return false;
        }
        else {
            var multiselect = $("#SubType_Code").data("kendoMultiSelect");
            multiselect.dataSource.read();
        }
    }

    $(document).ready(function () {
        //debugger;
        var multiselect = $("#SubType_Code").data("kendoMultiSelect");
        multiselect.enable(false);
        multiselect.dataSource.filter({});
    });


    function GetTypeCode() {
        //debugger;
        var DependCode_Gid = $("#Type_Code").val();
        return { Action_Type: 'SubType', Dependent_Gid: DependCode_Gid }
    }

    @*function onChange_Type() {
        debugger;
        var url = '@Url.Action("Show_Attribute_PartialView", "WorkFlow")';
        $("#Attributepartialview").load(url);

        var multiselect = $("#SubType_Code").data("kendoMultiSelect");
        multiselect.dataSource.read();
        multiselect.enable(true);
    }*@
    function onChange_Type() {
        debugger;
        $("#Attributepartialview").load("../WorkFlow/Show_Attribute_PartialView", { 'Type_Gid': $("#Type_Code").val() });

        var multiselect = $("#SubType_Code").data("kendoMultiSelect");
        multiselect.dataSource.read();
        multiselect.enable(true);
    }

    function onChange_SubType() {
        //debugger;
        //var SubType = "";
        //$("#HDN_Type").val('');
        //$("#HDN_SubType").val('');
        //$("#HDN_Type").val($("#Type_Code").val()).trigger("change");
        //SubType = $("#SubType_Code").data("kendoMultiSelect").value();
        //$("#HDN_SubType").val(SubType.join(",")).trigger("change");
    }

</script>