﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.PaymentStatus_Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .lbl-font {
            font-weight: normal;
        }

        .form-control {
            height: 30px !important;
        }

        .k-state-disabled {
            background: #efefef;
        }

        a.k-button.k-button-icontext.k-grid-Tax {
            height: 30px;
            margin-top: 15px;
            margin-left: 25px;
        }
    </style>
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    @*<link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />*@
    @*<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>*@
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Payment Status</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">
                    @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.PaymentStatus_Model>().Name("kendgridPaymentStatus")
                                .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;" })

                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.chqid).Width(50).Title("PVID").Hidden();
                                    columns.Bound(m => m.paymentPayrunVoucherID).Width(50).Title("PVID").Hidden();
                                    columns.Bound(m => m.paymentBankID).Width(50).Title("PaymentBankID").Hidden();
                                    columns.Bound(m => m.paymentBank).Width(140).Title("Payment Bank");
                                    columns.Bound(m => m.paymentGLValDate).Title("GL Value Date").Width(130);
                                    columns.Bound(m => m.paymentPVNumber).Title("PV No.").Width(110);
                                    columns.Bound(m => m.paymentAmount).Title("PV Amount").Width(100);
                                    columns.Bound(m => m.paymentBeneficiary).Title("Beneficiary").Width(110);
                                    columns.Bound(m => m.paymentMode).Title("Paymode").Width(100);
                                    columns.Bound(m => m.chqstatus_name).Title("<span class='fa fa-pencil' style='color:red;'>Payment Status").Width(130);
                                    columns.Bound(m => m.paymentRefNo).Title("<span class='fa fa-pencil' style='color:red;'>Pay Ref No").Width(130);
                                    columns.Bound(m => m.paymentDate).Title("<span class='fa fa-pencil' style='color:red;'> Payment Date").Width(130).Format("{0:dd-MM-yyyy}");
                                    columns.Bound(m => m.paymentReaseon).Title("<span class='fa fa-pencil' style='color:red;'>Reason").Width(130);
                                    // columns.Bound(m => m.chqstatus_name).Title("Payment Status").Width(80);
                                    //       columns.Bound(p => p.paymentStatusName)
                                    //.ClientTemplate("-Select-")
                                    //.Title("Payment Status")
                                    //.EditorTemplateName("Payment_Status").Width(80);
                                //    columns.Bound(m => m.PV_Change_Paymode).Width(120).Title("<span class='fa fa-pencil' style='color:red;'> Change Paymode").Width(130);
                                  //  columns.Bound(m => m.Change_GLValue_Date).Width(120).Title("<span class='fa fa-pencil' style='color:red;'> New GL Value Date").Width(130).Format("{0:dd-MM-yyyy}");



                                    columns.Bound(m => m.paymentPayrunVoucherID).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#= paymentPayrunVoucherID #' onchange='SelectedValue()'  /> ").Title("Select").Width(60).Sortable(false).Filterable(false);
                                })
                                      .Editable(editable =>
                                     { editable.Mode(GridEditMode.InCell); })
                                      .Pageable(pageable => pageable
                                      .Refresh(true)
                                      .PageSizes(true)
                                      .ButtonCount(5))
                                      .Filterable()
                                     .Sortable()
                                     .Scrollable(s => s.Enabled(true).Height("auto"))
                                     .Resizable(resize => resize.Columns(true))

                                     .DataSource(dataSource => dataSource
                                     .Ajax()
                                      .Model(model =>
                                        {

                                            model.Id(p => p.paymentPayrunVoucherID);
                                            model.Field(p => p.paymentPayrunVoucherID).Editable(false);
                                            model.Field(p => p.paymentBank).Editable(false);
                                            model.Field(p => p.paymentBankID).Editable(false);
                                            model.Field(p => p.paymentGLValDate).Editable(false);
                                            model.Field(p => p.paymentPVNumber).Editable(false);
                                            model.Field(p => p.paymentAmount).Editable(false);
                                            model.Field(p => p.paymentBeneficiary).Editable(false);
                                            model.Field(p => p.paymentMode).Editable(false);
                                            //model.Field(p => p.chqstatus_name).Editable(true);




                                        })
                                                           .Model(model => model.Id(p => p.paymentPayrunVoucherID))
                                         //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                             .Read(read => read.Action("ReadPaymentStatus", "PaymentStatus").Data("GetPaymentConversion"))


                             ))
                </div>

            </div>
        </div>
        @*<div class="col-sm-3" style="margin-top:20px;">
                <button type="submit" value="Update" style="width:70%" onclick="PaymentStatusUpdate()" class="btn btn-primary"> Update</button>
            </div>*@
    </div>

    <div class="container-fluid">
        <div class="row" style="margin-top:0.3%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div id="example" class="col-md-2" style=" margin-top: 43px;">
                <button type="submit" id="showOverlay" value="Upload" id="showOverlay" style="width:70%" onclick="PaymentStatusUpdate()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-saved" style="color:white; font-size:12px;"></span> Update
                </button>
                
            </div>
            <div id="window"></div>
        </div>
    </div>

    @*<div id="example">
        <button id="showOverlay" class="k-button">Show overlay</button>
        </div>

        <div id="window"></div>*@
</body>

</html>
<script type="text/javascript">

    $(document).ready(function () {
        debugger;

        $("#kendgridPaymentStatus").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#kendgridPaymentStatus").data("kendoGrid");

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            var index = event.container.context.cellIndex;
            if (index == "9") {

                event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


                GetDropdownlistvalues();
            }
        });

    })
    function onSelect(e) {
        debugger;
        var selectedValue =$("#paymentStatusID").val();         
        $("#paymentStatusID").selectedValue = selectedValue;
        }
 
    
    function getFormated_StringDate(date) {
        debugger;
        var date = new Date(date),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [day, mnth, date.getFullYear()].join("-");
    }

    function GetDropdownlistvalues() {
        var DropDownData = {};

         
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("GetDropDownList", "PaymentStatus")",
            //data: { "UrgentECF_Gid": Refids, "Maker_Reason": Reason },
            data: '{Obj_Model: ' + JSON.stringify(DropDownData) + '}',
        success: function (response) {
            debugger;
            var datas = response;
            $("#chqstatus_name").data("kendoDropDownList").dataSource.data(datas);
        },
        error: function (response) {
            $.dialog({
                title: 'IEM Product',
                content: "Error..",
                type: 'red',
            });
        }
    });
    }

    function onChangePaymode() {
        debugger;
        var TranId = this.value();       
       

        $("#chqstatus_name").val(ChqStatus);
        
    }

    function GetPaymentConversion() {

        var model = {};
        model.Action = "QCD_CheqStatus";

        return { "Obj_Model": model }
    }
    function PaymentStatusUpdate() {
        debugger;
        var PVGid = [];
        var chq_id = [];
        var Paymode = [];
        var PVDate = [];
        var list_paymentstatus_gid = '';
        var grid = $("#kendgridPaymentStatus").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");
        var item = grid.dataItem(checkedrows);
        var PaymentConv = {};


        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one record to payment Status.!',
                type: 'blue',
            });
            return false;
        }

      //  var RefNo = $("#paymentRefNo").val();
        //var paymentDate = $("#paymentDate").val();
        //var chqstatus_code = $("#chqstatus_code").data("kendoDropDownList").value();
        //var paymentReaseon = $("#paymentReaseon").value();

        //if (RefNo == undefined || RefNo == 0) {
        //    $.dialog({
        //        title: 'IEM',
        //        content: 'Enter The Payment Ref NO.!',
        //        type: 'blue',
        //    });
        //    return false;
        //}



     //   var chqstatus_code = $("#chqstatus_code").data("kendoDropDownList").val();
      /*  var refno = $("#paymentRefNo").val();
        var paymentReaseon = $("#paymentReaseon").val();
        var paymentDate = $("#paymentDate").val();
       
        if (chqstatus_code == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select  Payment Status.!',
                type: 'blue',
            });
            return false;
        }
       
        if (paymentReaseon == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Enter The Payment Reason.!',
                type: 'blue',
            });
            return false;
        }
        if (paymentDate == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Select Payment Date.!',
                type: 'blue',
            });
            return false;
        }*/

        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);

            // PVGid.push(itemcompare.PV_Gid, itemcompare.PV_Change_Paymode, getFormated_StringDate(itemcompare.Change_GLValue_Date),"^");
            var PVGid = itemcompare.paymentPayrunVoucherID;
            var chqstatus_code = itemcompare.chqstatus_name;
            var refno = itemcompare.paymentRefNo;
            var PVDate = getFormated_StringDate(itemcompare.paymentDate);
            var paymentReaseon = itemcompare.paymentReaseon;
            var pavmode = itemcompare.paymentMode;
            var chq_id = itemcompare.chqid;
         //   var PVGLGid = itemcompare.PVGL_Gid;

            if (list_paymentstatus_gid == '') {
                list_paymentstatus_gid = PVGid + ',' + refno +  ',' + paymentReaseon + ',' + chqstatus_code +','+chq_id+','+pavmode+ ',' + PVDate ;
                    //+ ',' + chq_id;

            }
            else {
                list_paymentstatus_gid += ',' + '^' + PVGid + ',' + refno + ',' + paymentReaseon + ',' + chqstatus_code + ',' + chq_id +','+pavmode + ',' + PVDate;
                    //+ ',' + chq_id;
            }
        }
        list_paymentstatus_gid += ',' + '^';
        // var PVGids = PVGid.join(",");
        var PVGids = list_paymentstatus_gid;


        PaymentConv.SelectedValues = list_paymentstatus_gid;


        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("UpdatePayment", "PaymentStatus")",
            data: '{Obj_Model: ' + JSON.stringify(PaymentConv) + '}',
        success: function (response) {
            if (response.length > 0) {
                var Result = JSON.parse(response);
                if (Result[0]["clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        $("#kendgridPaymentStatus").data("kendoGrid").dataSource.read();

                    }, 1500);

                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                    $("#kendgridPaymentStatus").data("kendoGrid").dataSource.read();

                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: "No Record Update",
                    type: 'red',
                });
                $("#kendgridPaymentStatus").data("kendoGrid").dataSource.read();

            }
        },
        error: function (response) {
            $.dialog({
                title: 'IEM Product',
                content: "Error..",
                type: 'red',
            });
        }
    });


    }


    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }


</script>
 
<script>
    // Window initialization code start
    // when Kendo UI using server wrappers, the initialization script will be generated automatically
    $(function () {
        debugger;
        $("#window").kendoWindow({
            title: "Kendo UI Window",
            actions: ["refresh"],
            content: {
                template: "Now is #= (new Date()).toLocaleTimeString() #"
            },
            width: 300,
            height: 160
        });
    });
    // initialization code end

    // example code start
    $(function () {
        debugger;
        var windowWidget = $("#window").data("kendoWindow");

        $("#showOverlay").click(function () {
            kendo.ui.progress(windowWidget.element, true);
        });
    });
</script>