﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DataAccessHandler.Models.IEMProduct.FundUpdate_Model

<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Fund Update</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("FundUpdate", "FundUpdate", FormMethod.Post, new { @id = "form1" }))
                    {

                        <div>
                            @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.FundUpdate_Model>().Name("Kgridfunddml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                               // .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {

                                    columns.Bound(m => m.fundupdate_gid).Width(20).Title("Master ID").Hidden();

                                   // columns.Bound(m => m.fundupdate_paybankname_id).Width(180).Title("Type").Hidden();
                                    columns.Bound(m => m.bankname).Width(80).Title("Payment Bank");
                                    columns.Bound(m => m.accountNo).Width(200).Title("Payment Bank Account No");
                                    columns.Bound(m => m.fundupdate_date).Width(100).Title("Date") ;
                                    //columns.Bound(m => m.fundupdate_openingbal).Width(120).Title("Opening Balance").HtmlAttributes(new { onkeyup = "AddData()" });
                                    //columns.Bound(m => m.fundupdate_inflow).Width(120).Title("Inflow").HtmlAttributes(new { onkeyup = "AddData()" });
                                    columns.Bound(m => m.fundupdate_openingbal).Width(120).Title("Opening Balance");
                                    columns.Bound(m => m.fundupdate_inflow).Width(120).Title("Inflow");
                                    columns.Bound(m => m.fundupdate_fundavailable).Width(120).Title("Fund Available");
                                    columns.Command(cmd => { cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(120);
                                   // columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()'><i class='fa fa-trash-o' aria-hidden='true'></i></button>").Width(80).Title("Delete");


                                })

                            .Editable(editable =>
                             { editable.Mode(GridEditMode.InLine); })



                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                                     .Events(events => events.Edit("edit"))//inline grid readonly

                                                  //.Events(events => events.Change("onChange"))
                                     .Selectable()
                             //.Events(e => e.Change("onChange"))
                             .Scrollable(s => s.Enabled(true).Height("auto"))

                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()

                              .Model(model =>
                                {
                                    model.Id(m => m.fundupdate_gid);

                                })
                             .PageSize(15)

                                     .Events(events => events.Error("error_handler"))

                                    .Model(model => model.Id(p => p.fundupdate_gid))
                                             .Create(Create => Create.Action("SaveGrid", "FundUpdate"))
                                               .Read(read => read.Action("ReadGrid", "FundUpdate"))
                                                     .Update(update => update.Action("UpdateGrid", "FundUpdate").Data("Getavailablebalance"))
                             ))
                        </div>
                    }
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>



    <script type="text/javascript">

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                $.alert({
                    title: 'IEM PRODUCT',
                    content: message,
                    type: 'red',
                });
            }
        }

        $(document).ready(function () {
            debugger;

            $("#Kgridfunddml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
            var grid = $("#Kgridfunddml").data("kendoGrid");

            //function for changing kendo popup title.
            grid.bind("edit", function (event) {
                debugger;
                event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
                //if (event.model.isNew() == true) {

                //}
                //else {
                //    debugger;

                //    //event.container
                //    //          .find("input[name=value]") // get the input element for the field
                //    //          .val("1") // set the value
                //    //          .change();


                //    var fund = event.model.fundupdate_openingbal;

                //    var fundva = event.model.fundupdate_inflow;
                //   // var


                //    //$("#fundupdate_openingbal").data("kendoDropDownList").value(event.model.TranId);

                //    //$("#TranId").data("kendoDropDownList").trigger("change");
                //    //$("#TransubId").data("kendoDropDownList").value(event.model.TransubId);
                //    //$("#TransubId").data("kendoDropDownList").trigger("change");


                //}



                $("#Kgridfunddml").click(function () {
                    var val1 = parseInt($("#fundupdate_openingbal").val());
                    var val2 = parseInt($("#fundupdate_inflow").val());
                    $("#fundupdate_fundavailable").val(val1 + val2);
                });

            });

        })

        function Getavailablebalance() {
            debugger;
            var availablebal = $("#fundupdate_fundavailable").val();

            return { _balance: availablebal }
        }



        function onRequestEnd(e) {
            debugger;
            //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

            if (e.type == "create") {

                debugger;

                //check for errors in the response

                if (e.response.Errors == null) {
                    var Result = JSON.parse(e.response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            window.location.reload(1);
                        }, 1500);
                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'red',
                        });

                    }

                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                }
            }

            if (e.type == "update") {
                debugger;

                //check for errors in the response

                if (e.response.Errors == null) {
                    var Result = JSON.parse(e.response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            window.location.reload(1);
                        }, 1500);
                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'blue',
                        });

                    }

                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                }
            }

        }


        function myDeleteJs() {
            debugger;
            var grid = $("#Kgridfunddml").data("kendoGrid");
            var model = grid.dataItem($(event.target).closest("tr"));
            var fundupdate_gid = (model.fundupdate_gid);

            $.confirm({
                icon: 'fa fa-warning',
                title: 'IEM Product',
                autoClose: 'cancel|10000',
                theme: 'dark',
                animationSpeed: 700,
                content: 'Are you sure do you want to delete this record!',
                type: 'orange',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            async: false,
                            url: '@Url.Action("DeleteGrid", "FundUpdate")',
                            data: "{ fundupdate_gid:'" + fundupdate_gid + "'}",

                            success: function (data) {
                                debugger;

                                var Result = JSON.parse(data);
                                if (Result[0]["Clear"] == 1) {

                                    $.alert({
                                        icon: 'fa fa-success',
                                        title: 'IEM Product',
                                        theme: 'dark',
                                        content: Result[0]["Msg"],
                                        type: 'green',
                                        animationSpeed: 700,
                                    });
                                }

                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 2500);
                            },

                        });

                    },
                    cancel: function () {
                        $.alert({
                            icon: 'fa fa-success',
                            title: 'IEM Product',
                            theme: 'dark',
                            content: 'Delete Canceled.!',
                            type: 'blue',
                            animationSpeed: 700,
                        });
                    },
                }
            });
        }

        function AddData() {
            debugger;
            //  var grid = this;
            // var model = grid.dataItem(grid.select());
            var openingbal = $("#fundupdate_openingbal").val();
            var inflow = $("#fundupdate_inflow").val();
            var availablebal = $("#fundupdate_fundavailable").val();
            // var availablebal = openingbal + inflow;
            //  $("#TransubId").data("kendoDropDownList").value(event.model.TransubId);
            //  var availablebal = $("#fundupdate_fundavailable").val(openingbal + inflow);
            //var availablebal = parseInt($("#fundupdate_fundavailable").val(openingbal + inflow);


            var val1 = (isNaN(parseInt(openingbal))) ? 0 : parseInt(openingbal);
            var val2 = (isNaN(parseInt(inflow))) ? 0 : parseInt(inflow);
            $("#fundupdate_fundavailable").val(val1 + val2);
            // availablebal.val(val1 + val2);
        }


        //grid configuration


        ////script
        //function onChange(e) {
        //    debugger;
        //    var grid = this;
        //    var model = grid.dataItem(grid.select());
        //}




        //$(function onChange(e) {
        //    debugger;
        //    //On KeyUp event of the textbox we will display the Sum in third textbox

        //    //var textBox1 = $('#TextBox1').keyup(foo);

        //    //var textBox2 = $('#TextBox2').keyup(foo);
        //    //var textBox3 = $('#TextBox3').keyup(foo);

        //    var openingbal = $("#fundupdate_openingbal").keyup(change);

        //    var inflow = $("#fundupdate_inflow").keyup(change);

        //    var availablebal = $("#fundupdate_fundavailable").keyup(change);


        //  //  We are passing the ID of the textbox and capturing its value

        //    function change() {
        //        var value1 = openingbal.val();
        //        var value2 = inflow.val();
        //        var value3 = availablebal.val();
        //        var sum = add(value1, value2);
        //        $('input:text[id$=availablebal]').val(sum);
        //    }

        //    //function add() {
        //    //    var sum = 0;
        //    //    for (var i = 0, j = arguments.length; i < j; i++) {
        //    //        if (IsNumeric(arguments[i])) {
        //    //            sum += parseFloat(arguments[i]);
        //    //        }
        //    //    }
        //    //    return sum;
        //    //}
        //    //function IsNumeric(input) { // To check if the val entered is Numeric

        //    //    return (input - 0) == input && input.length > 0;
        //    //}
        //});
    </script>

    @*inline grid readonly*@
    <script type="text/javascript">
        function edit(e) {
            if (e.model.isNew() == false) {
                $("#bankname").attr("readonly", true);
                $("#accountNo").attr("readonly", true);
                $("#fundupdate_date").attr("readonly", true);
                $("#fundupdate_fundavailable").attr("readonly", true);
            }
        }
    </script>


