﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:#fff;">Payment Run</p>
        </div>
        <div class="container-fluid" id="PaymentRun">
            <div class="tab-content">
                <div class="tab-pane containers active" id="raise">
                    <div class="row mt-2">
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm">Fund Position</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            @using (Html.BeginForm("PaymentRun", "PaymentRun", FormMethod.Post, new { @id = "Form_FundPosition" }))
                            {
                                @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.PaymentRun_Model>
                                ().Name("kendgrid_FundPosition")
                                .HtmlAttributes(new { @style = "width:50%;line-height:2em;font-weight:normal;height: 120px;margin-top:5px;" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.Fund_PayBank_Name).Title("Payment Bank A/c").Width(80);
                                    columns.Bound(m => m.Fund_PayBank_Date).Title("Date").Width(100);
                                    columns.Bound(m => m.Fund_Available).Title("Fund Available").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                    columns.Bound(m => m.Fund_Utilised).Title("Utilised").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                    columns.Bound(m => m.Fund_Balance).Title("Balance").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                    columns.Bound(m => m.Fund_YettoUtilise).Title("Yet to Utilise").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                    columns.Bound(m => m.Fund_AvailableBalance).Title("Available Balance").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                })
                                .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(new List<object> { 15, 20, 500 })
                                    .ButtonCount(5))
                                    .Filterable()
                                    .Sortable()
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(resize => resize.Columns(true))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .ServerOperation(false)
                                    .PageSize(15)
                                    .Read(read => read.Action("Read_FundPosition", "PaymentRun"))
                                    ))
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            @using (Html.BeginForm("PaymentRun", "PaymentRun", FormMethod.Post, new { @id = "Form_PaymentRun_BeforeGL" }))
                            {
                                @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.PaymentRun_Model>
                                ().Name("kendgrid_PaymentRun_BeforeGL")
                                .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 200px;margin-top:5px;" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.PaymentRunGL_ECF_Gid).Title("ECF Gid").Hidden();
                                    columns.Bound(m => m.PaymentRunGL_Batch_Gid).Title("Batch GID.").Hidden();
                                    columns.Bound(m => m.PaymentRunGL_ECF_Creditline_Amount).Title("Yet to Pay Amount").Hidden();
                                    columns.Bound(m => m.PaymentRunGL_ECF_No).Title("Ref No.").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Date).Title("Date").Width(100);
                                    columns.Bound(m => m.PaymentRunGL_ECF_DocType_SubType).Title("Type / Sub Type").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Status).Title("Status").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Amount).Title("Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                    columns.Bound(m => m.PaymentRunGL_ECF_Raiser).Title("Raiser ID / Name").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Supplier).Title("Supplier Code / Name").Width(100);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Netting).Title("Netting").Width(80);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return View_ECF()' class='deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("View").Width(50);
                                    columns.Bound(c => c.PaymentRunGL_Batch_Gid).ClientTemplate("<input type='checkbox' id='chkECF_Gid' value='#= PaymentRunGL_ECF_Gid #' />").Title("Select").Width(50).Sortable(false).Filterable(false);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return ReverseAuthorization()' class='deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Reverse Authorization").Width(50);
                                })
                                .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(new List<object> { 15, 20, 500 })
                                    .ButtonCount(5))
                                    .Filterable()
                                    .Sortable()
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(resize => resize.Columns(true))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .ServerOperation(false)
                                    .PageSize(15)
                                    .Read(read => read.Action("Read_PaymentRun_BeforeGL", "PaymentRun"))
                                    ))
                            }
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-2">
                            @Html.Label("GL Value Date", new { @class = "lbl-font" })
                            @(Html.Kendo().DatePicker()
                            .Name("PaymentRunGL_Date")
                                    //.Value(Model.PaymentRunGL_Date)
                            .Format("dd-MM-yyyy")
                            .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 100%;", onkeypress = "return IsDateKey(event)" }))
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Pay Bank A/C", new { @class = "lbl-font" })
                            @(Html.Kendo().DropDownList()
                            .Name("PaymentRunGL_PayBank_Gid")
                            .DataTextField("PaymentRunGL_PayBank_Name")
                            .DataValueField("PaymentRunGL_PayBank_Gid")
                            .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                            .DataSource(source =>
                            {
                                source.Read(read => { read.Action("Read_PayBank", "PaymentRun"); });
                            }))
                        </div>
                        <div class="col-sm-0">
                            <button class="btn btn-primary" id="button_GLDate" type="button" style="margin-left: 40%;width: 100%;" onclick="return Update_GLDate();">
                                <i class="fa fa-save"></i> Update
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary" id="button_Clear" type="button" style="margin-left: 40%;width: 100%;" onclick="return Clear_GLDate();">
                                <i class="fa fa-save"></i> Clear
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" id="button_ReverseAuthorization" type="button" style="margin-left: 40%;width: 125%;" onclick="return MultipleReverseAuthorization();">
                                <i class="fa fa-save"></i> Reverse Authorization
                            </button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            @using (Html.BeginForm("PaymentRun", "PaymentRun", FormMethod.Post, new { @id = "Form_PaymentRun_AfterGL" }))
                            {
                                @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.PaymentRun_Model>
                                ().Name("kendgrid_PaymentRunAfterGL")
                                .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 200px;margin-top:5px;" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.PaymentRunGL_ECF_Gid).Title("ECF Gid").Hidden();
                                    columns.Bound(m => m.PaymentRunGL_ECF_Raiser_GID).Title("Raiser GID").Hidden();
                                    columns.Bound(m => m.PaymentRunGL_ECF_Creditline_Amount).Title("Yet to Pay Amount").Hidden();
                                    columns.Bound(m => m.PaymentRunGL_ECF_No).Title("Ref No.").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Date).Title("Date").Width(100);
                                    columns.Bound(m => m.PaymentRunGL_ECF_DocType_SubType).Title("Type / Sub Type").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Status).Title("Status").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Amount).Title("Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                    columns.Bound(m => m.PaymentRunGL_ECF_Raiser).Title("Raiser ID / Name").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_ECF_Supplier).Title("Supplier Code / Name").Width(100);
                                    columns.Bound(m => m.PaymentRunGL_GLDate).Title("GL Value Date").Width(80);
                                    columns.Bound(m => m.PaymentRunGL_PayBank_Name).Title("Payment Bank").Width(80);

                                    columns.Bound(c => c.PaymentRunGL_ECF_Gid).ClientTemplate("<input type='checkbox' id='chkECF_Gid' value='#= PaymentRunGL_ECF_Gid #' />").Title("Select").Width(50).Sortable(false).Filterable(false);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Undo_GLDate_Update()' class='deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Undo").Width(50);
                                })
                                .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(new List<object> { 15, 20, 500 })
                                    .ButtonCount(5))
                                    .Filterable()
                                    .Sortable()
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(resize => resize.Columns(true))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .ServerOperation(false)
                                    .PageSize(15)
                                    .Read(read => read.Action("Read_PaymentRun_AfterGL", "PaymentRun"))
                                    ))
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2"> <button class="btn btn-primary" id="button_GeneratePayment" type="button" style="margin-left: 40%;width: 100%;" onclick="return GeneratePayment();"> <i class="fa fa-save"></i> Generate Payment </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @(Html.Kendo().Window()
    .Name("myPaymentRunSummary") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
    .Title("PaymentRun Summary") //set the title of the window
    .Content(@<text>
        <span>Payment Run Summary</span>
        <div id="divPaymentRunSummary" style="margin-bottom:20px;"></div>

        <span>Pay Run Voucher Summary</span>
        <div id="divPaymentRunVoucherSummary"></div>

    </text>)
                .Draggable()
                .Resizable()
                .Width(800)
                .Height(300)
                .Modal(true)
                .Scrollable(false)
                .Visible(false)
    )
</body>
</html>
<script type="text/javascript">
    function MultipleReverseAuthorization()
    {
        var grid = $("#kendgrid_PaymentRun_BeforeGL").data("kendoGrid");
        //var model = grid.dataItem($(event.target).closest("tr"));
        //var EcfGID = model.PaymentRunGL_ECF_Gid;
        var cel = $("input:checked", grid.tbody).closest("tr");
        var ecf_gids = "";
        //var ecf_gid = "";
        $.each(cel, function (idx, row) {
            var item = grid.dataItem(row);
            //ecf_gid = item.PaymentRunGL_ECF_Gid;
            ecf_gids = ecf_gids + item.PaymentRunGL_ECF_Gid + ",";
        });
        if (ecf_gids == "") {
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Select atleast one record from above list!..',
                type: 'blue',
                animationSpeed: 700,
            });
        }
        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to Reverse the Claim Authorization!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Reverse_Authorization", "PaymentRun")',
                        data: "{ EcfGID:'" + ecf_gids + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].clear == 1) {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0].Message,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Reverse Authorization Cancelled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
    function Undo_GLDate_Update() {
        debugger;
        var grid = $("#kendgrid_PaymentRunAfterGL").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var EcfGID = model.PaymentRunGL_ECF_Gid;

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to Undo!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Undo_PaymentRunGLDate", "PaymentRun")',
                        data: "{ EcfGID:'" + EcfGID + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].clear == 1) {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0].Message,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                                $("#kendgrid_PaymentRun_BeforeGL").data("kendoGrid").dataSource.read();
                                //$("#kendgrid_PaymentRunAfterGL").data("kendoGrid").dataSource.read();
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Undo Process Cancelled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
    function ReverseAuthorization() {
        debugger;
        var grid = $("#kendgrid_PaymentRun_BeforeGL").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var EcfGID = model.PaymentRunGL_ECF_Gid;

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to Reverse the Claim Authorization!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Reverse_Authorization", "PaymentRun")',
                        data: "{ EcfGID:'" + EcfGID + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].clear == 1) {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0].Message,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Reverse Authorization Cancelled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
    function View_ECF() {
        debugger;
        var grid = $("#kendgrid_PaymentRun_BeforeGL").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.PaymentRunGL_ECF_ClaimType.toLowerCase();
        var BatchGID = model.PaymentRunGL_Batch_Gid;
        var EcfGID = model.PaymentRunGL_ECF_Gid;
        var RaiserGID = model.PaymentRunGL_ECF_Raiser_GID;
        var ClaimStatus = "Inprocess";
        if (ClaimType == 'claim') {
            window.open(
            '../../EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus,
              '_blank'
            );
            // window.location.href = '../EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'invoice') {
            // window.location.href = '../EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
            window.open(
            '../../EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus,
            '_blank'
            );
        }
        else if (ClaimType == 'advance') {
            //window.location.href = '../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
            window.open(
            '../../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus,
           '_blank'
           );
        }
    }

    function GeneratePayment() {
        debugger;
        var grid = $("#kendgrid_PaymentRunAfterGL").data("kendoGrid");
        // Get selected rows
        var sel = $("input:checked", grid.tbody).closest("tr");
        var ecf_gids = "";
        //var ecf_gid = "";
        $.each(sel, function (idx, row) {
            var item = grid.dataItem(row);
            //ecf_gid = item.PaymentRunGL_ECF_Gid;
            ecf_gids = ecf_gids + item.PaymentRunGL_ECF_Gid + ",";
        });
        if (ecf_gids == "") {
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Select atleast one record from above list!..',
                type: 'blue',
                animationSpeed: 700,
            });
        }
        /* $.alert({
             icon: 'fa fa-success',
             title: 'IEM Product',
             theme: 'dark',
             content: 'selected: ' + JSON.stringify(ecf_gids),
             type: 'blue',
             animationSpeed: 700,
         });*/
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("Set_PaymentRun", "PaymentRun")',
            // data: JSON.stringify("ecf_gids:"+ecf_gids,)
            data: JSON.stringify({ "ecf_gids": ecf_gids }),
            success: function (result) {
                debugger;
                var Result = JSON.parse(result.Data1);
                if (Result[0].Clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0].Message,
                        type: 'green',
                        animationSpeed: 700,
                    });

                    //change as Data2 from Data1 after issue fixed.
                    debugger
                    var chkval = JSON.parse(result.Data2);
                    var arr = [];
                    $.each(chkval, function (i, e) {
                        $.each(e, function (key, val) {
                            arr.push(val);
                        });
                    });

                    if (arr == "NoRecords") {
                        /* $.alert({
                             title: 'DMS',
                             content: 'There is no record found..!',
                             type: 'blue',
                         });*/
                        return false;
                    }

                    var columns = [];
                    var data = JSON.parse(result.Data2);
                    //var data2 = JSON.parse(result.Data3);
                    debugger;
                    var i = 0;
                    var entryIndex = "entries[" + i + "]";

                    for (var key in data[0]) {
                        //var val = data[0][key];
                        columns.push({
                            field: entryIndex,
                            title: key,
                            width: 20,
                            //type: val
                        });
                        i = i + 1;
                        entryIndex = "entries[" + i + "]";
                    }

                    var rows = [];
                    var data1 = JSON.parse(result.Data2);

                    $.each(data1, function (i, e) {
                        var entryArray = [];
                        $.each(e, function (key, val) {
                            //entryArray.push(key);
                            entryArray.push(val);

                        });
                        rows.push(kendo.observable({
                            entries: entryArray
                        }));

                    });

                    var viewModel = kendo.observable({
                        gridRows: rows
                    });

                    var configuration = {
                        editable: false,
                        sortable: true,
                        scrollable: true,
                        filterable: true,
                        pagable: true,
                        resizable: true,
                        selectable: 'row',
                        pageable: {
                            pageSize: 5,
                            buttonCount: 4
                        },
                        columns: columns,
                        rows: viewModel,
                        height: '15%',
                        width: '100%',
                    };

                    $("#example1").remove();
                    $('#divPaymentRunSummary').append('<div id="example1" style="top:5px; position:relative" class="k-content"><table id="grid2" style="width:100% Important!" data-bind="source: gridRows"></table></div>');

                    var timeEditGrid = $("#grid2").kendoGrid(configuration).data("kendoGrid");
                    kendo.bind($("#grid2"), viewModel);
                    var grid = $("#grid2").data("kendoGrid");
                    for (var i = 0; i < grid.columns.length; i++) {
                        grid.autoFitColumn(i);  //autofit each column.
                    }
                    debugger;
                    //Bind Payment Run Voucher Summary Grid
                    Bind_PaymentRunVoucher_Summary(result.Data3);

                    var wdw = $("#myPaymentRunSummary").data("kendoWindow"); //get the Window widget's instance
                    wdw.open();
                    wdw.center();

                    $("#kendgrid_PaymentRunAfterGL").data("kendoGrid").dataSource.read();
                    $("#kendgrid_FundPosition").data("kendoGrid").dataSource.read();
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0].Message,
                        type: 'green',
                        animationSpeed: 700,
                    });
                }
            },
        });
    }
    function Bind_PaymentRunVoucher_Summary(Data3) {
        //PaymentRun Voucher Summary dynamic Grid
        debugger
        var chkval = JSON.parse(Data3);
        var arr = [];
        $.each(chkval, function (i, e) {
            $.each(e, function (key, val) {
                arr.push(val);
            });
        });

        if (arr == "NoRecords") {
            /* $.alert({
                 title: 'DMS',
                 content: 'There is no record found..!',
                 type: 'blue',
             });*/
            return false;
        }

        var columns = [];
        var data = JSON.parse(Data3);
        //var data2 = JSON.parse(result.Data3);
        debugger;
        var i = 0;
        var entryIndex = "entries[" + i + "]";

        for (var key in data[0]) {
            //var val = data[0][key];
            columns.push({
                field: entryIndex,
                title: key,
                width: 20,
                //type: val
            });
            i = i + 1;
            entryIndex = "entries[" + i + "]";
        }

        var rows = [];
        var data1 = JSON.parse(Data3);

        $.each(data1, function (i, e) {
            var entryArray = [];
            $.each(e, function (key, val) {
                //entryArray.push(key);
                entryArray.push(val);

            });
            rows.push(kendo.observable({
                entries: entryArray
            }));

        });

        var viewModel = kendo.observable({
            gridRows: rows
        });

        var configuration = {
            editable: false,
            sortable: true,
            scrollable: true,
            filterable: true,
            pagable: true,
            resizable: true,
            selectable: 'row',
            pageable: {
                pageSize: 5,
                buttonCount: 4
            },
            columns: columns,
            rows: viewModel,
            height: '15%',
            width: '100%',
        };

        $("#example2").remove();
        $('#divPaymentRunVoucherSummary').append('<div id="example2" style="top:5px; position:relative" class="k-content"><table id="gridVoucher" style="width:100% Important!" data-bind="source: gridRows"></table></div>');

        var timeEditGrid = $("#gridVoucher").kendoGrid(configuration).data("kendoGrid");
        kendo.bind($("#gridVoucher"), viewModel);
        var grid = $("#gridVoucher").data("kendoGrid");
        for (var i = 0; i < grid.columns.length; i++) {
            grid.autoFitColumn(i);  //autofit each column.
        }
    }

    function Update_GLDate() {
        debugger;
        var GL_date = $("#PaymentRunGL_Date").val();
        var PayBank_Gid = $("#PaymentRunGL_PayBank_Gid").val();
        var PayBank_Name = $("#PaymentRunGL_PayBank_Gid").data("kendoDropDownList").text();
        var grid = $("#kendgrid_PaymentRun_BeforeGL").data("kendoGrid");
        var YettoPayAmount = 0;
        // Get selected rows
        var cel = $("input:checked", grid.tbody).closest("tr");
        if (GL_date == "") {
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Select GL Value Date!..',
                type: 'blue',
                animationSpeed: 700,
            });
            return false;
        }
        else if (PayBank_Gid == 0) {
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Select PayBank!..',
                type: 'blue',
                animationSpeed: 700,
            });
            return false;
        }
        // Get data item for each
        var ecf_gids = "";
        //var ecf_gid = "";
        $.each(cel, function (idx, row) {
            var item = grid.dataItem(row);
            //ecf_gid = item.PaymentRunGL_ECF_Gid;
            ecf_gids = ecf_gids + item.PaymentRunGL_ECF_Gid + ",";
            YettoPayAmount = YettoPayAmount + item.PaymentRunGL_ECF_Creditline_Amount;
        });
        if (ecf_gids == "") {
            $.alert({
                icon: 'fa fa-success',
                title: 'IEM Product',
                theme: 'dark',
                content: 'Select atleast one record from above list!..',
                type: 'blue',
                animationSpeed: 700,
            });
        }
        debugger;
        //YettoPayAmount = 100000;
        var grid_AfterGL = $("#kendgrid_PaymentRunAfterGL").data("kendoGrid");
        var grid_AfterGL_RowCount = 0;
        try {
            grid_AfterGL_RowCount = grid_AfterGL.dataSource.total();
        }
        catch (e) {
            grid_AfterGL_RowCount = 0;
        }
        //var grid_AfterGL_RowCount = 0;
        var AfterGL_UsedAmount = 0;
        if (grid_AfterGL_RowCount > 0) {
            for (var i = 0; i < grid_AfterGL_RowCount; i++) {
                if (PayBank_Name == grid_AfterGL.dataSource.data()[i].PaymentRunGL_PayBank_Name) {
                    AfterGL_UsedAmount = AfterGL_UsedAmount + grid_AfterGL.dataSource.data()[i].PaymentRunGL_ECF_Creditline_Amount;
                }
            }
        }
        var FundGrid = $("#kendgrid_FundPosition").data("kendoGrid");
        var FundGrid_RowCount = FundGrid.dataSource.total();
        var AvailableBalance = 0;
        var Balance = 0;
        for (var i = 0; i < FundGrid_RowCount; i++) {
            if (PayBank_Name == FundGrid.dataSource.data()[i].Fund_PayBank_Name) {
                Balance = FundGrid.dataSource.data()[i].Fund_Available;
                AvailableBalance = Balance - (AfterGL_UsedAmount + YettoPayAmount);
                //FundGrid.dataSource.data()[i].Fund_YettoUtilise = YettoPayAmount;
                if (AvailableBalance <= 0) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Insufficient Fund!..',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                    return false;
                }
                else {
                    FundGrid.dataSource.data()[i].Fund_AvailableBalance = AvailableBalance;
                    FundGrid._data[i]["Fund_YettoUtilise"] = YettoPayAmount;
                    FundGrid.saveChanges();
                }
            }
        }


        /*  COAgrid.bind("edit", function (event) {
              //var model = COAgrid.dataItem("tbody tr:eq(1)");
              //var GlName = (model.GlName);
              event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
              debugger;
              if (event.model.isNew() == true) {
                  //COAgrid.dataSource.data()[0].GlName = GlName;
                  $("#GlName").val($("#KendGrid_ExpenseCOA").data("kendoGrid")._data[1]["GlName"])
              }
          });*/
        /*  $.alert({
              icon: 'fa fa-success',
              title: 'IEM Product',
              theme: 'dark',
              content: 'selected: ' + JSON.stringify(ecf_gids),
              type: 'blue',
              animationSpeed: 700,
          });
          //alert("selected: " + JSON.stringify(items));*/
        // var _data = { "ecf_gids": Refid, "Invoiceid": Invoiceid, "_Action": "Tax", "Taxid": Taxid, "SubTaxid": SubTaxid }
        debugger;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("Update_GLValue_Date", "PaymentRun")',
            // data: JSON.stringify("ecf_gids:"+ecf_gids,)
            data: JSON.stringify({ "ecf_gids": ecf_gids, "GL_date": GL_date, "PayBank_Gid": PayBank_Gid }),
            success: function (data) {
                debugger;
                var Result = JSON.parse(data);
                if (Result[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0].Message,
                        type: 'green',
                        animationSpeed: 700,
                    });

                    $("#kendgrid_PaymentRun_BeforeGL").data("kendoGrid").dataSource.read();
                    $("#kendgrid_PaymentRunAfterGL").data("kendoGrid").dataSource.read();
                    Clear_GLDate();
                } //Clear end
                setTimeout(function () {
                    grid.dataSource.read();
                }, 2000);
            },
        });


    }
    function Clear_GLDate() {
        $("#PaymentRunGL_Date").val('');
        //$("#PaymentRunGL_PayBank_Gid").val(0);
        $("#PaymentRunGL_PayBank_Gid").data("kendoDropDownList").value(0);
    }
    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }
</script>
