﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model

@{
    DBHelper.Attachment_Model objModel_attach = new DBHelper.Attachment_Model();
    DataAccessHandler.Models.EOW.SupplierInvoice_Model objModel_Invoice = new DataAccessHandler.Models.EOW.SupplierInvoice_Model();
    DBHelper.BulkUpload_Model objUpload = new DBHelper.BulkUpload_Model();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .form-control {
            height: 30px !important;
        }

        .k-state-disabled {
            background: #efefef;
        }

        a.k-button.k-button-icontext.k-grid-Tax {
            height: 10px;
            margin-top: -28px;
            margin-left: 25px;
        }

        .class-amount {
            text-align: right;
        }

        .well {
            min-height: 20px;
            padding: 10px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        }
    </style>
</head>
<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:#fff;">Raise Claim Details</p>
        </div>
    </div>
    <div class="container-fluid" id="claim">
        <div class="row mt-1">
            <div class="col-md-12">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#raise">Raise Claim Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#attach2" onclick="return Show_BatchWise_Attachments();">Attachments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#audit">Audit Trail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#auditcheck">Audit Check List</a>
                    </li>
                </ul>

                @(Html.Kendo().Window()
                    .Name("kwindow_attachment")
                    .Events(ev => ev.Close("Refresh_Expense"))
                    .Title("Attachment") //set the title of the window
                    .Content(@<text> @Html.Partial("Attachment", objModel_attach) </text>)
                        .Draggable()
                        .Resizable()
                        .Width(1000)
                        .Height(450)
                        .Modal(true)
                        .Visible(false))

                @(Html.Kendo().Window()
                      .Name("kwindow_details")
                      .Events(ev => ev.Close("Refresh_Expense"))
                      .Title("Details") //set the title of the window
                      .Events(e => e.Close("onClose_KendoWindow"))
                      .Content(@<text> @Html.Partial("Details_Partial_View") </text>)
                        .Draggable()
                        .Resizable()
                        .Width(1100)
                        .Height(300)
                        .Modal(true)
                        .Visible(false))

                @(Html.Kendo().Window()
                      .Name("kwindow_tax")
                      .Title("Details") //set the title of the window
                      .Content(@<text> @Html.Partial("Tax_Partial_View") </text>)
                        .Draggable()
                        .Resizable()
                        .Width(950)
                        .Height(350)
                        .Modal(true)
                        .Scrollable(false)
                        .Visible(false))

                @(Html.Kendo().Window()
                      .Name("kwindow_coa")
                      .Title("Details") //set the title of the window
                      .Content(@<text>@Html.Partial("COA_Partial_View", objModel_Invoice)</text>)
                        .Draggable()
                        .Resizable()
                        .Width(1100)
                        .Height(300)
                        .Modal(true)
                        .Scrollable(false)
                        .Visible(false))

                @(Html.Kendo().Window()
                      .Name("kwindow_debitlineupload")
                      .Title("Details") //set the title of the window
                      .Content(@<text>@Html.Partial("DebitlineBulkUpload", objUpload)</text>)
                        .Draggable()
                        .Resizable()
                        .Width(1100)
                        .Height(300)
                        .Modal(true)
                        .Scrollable(false)
                        .Visible(false))

                @(Html.Kendo().Window()
                      .Name("kwindow_ppx")
                      .Title("Details") //set the title of the window
                      .Content(@<text>@Html.Partial("PPXADJ_Partial_View")</text>)
                        .Draggable()
                        .Resizable()
                        .Width(1200)
                        .Height(200)
                        .Modal(true)
                        .Scrollable(false)
                        .Visible(false))

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane containers active" id="raise">
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-sm">Header</button>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.HDR_Batch_Gid)
                        @Html.HiddenFor(model => model.HDR_EcfGId)
                        @Html.HiddenFor(model => model.HDR_Raiser_Gid)
                        @Html.HiddenFor(model => model.HDR_Status)
                        @Html.HiddenFor(model => model.CLM_Create_Mode)
                        <div class="row">
                            <div class="col-md-2">
                                @Html.Label("Type", new { @class = "lbl-font" })
                                @(Html.Kendo().DropDownList()
                                      .Name("HDR_Type_Gid")
                                      .DataTextField("HDR_Type_Name")
                                      .DataValueField("HDR_Type_Gid")
                                      .Events(e => e.DataBound("onDataBound_Type"))
                                      .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                                      .DataSource(source =>
                                      {
                                          source.Read(read => { read.Action("Get_DropDown_List", "Claim", new { Master = "Type", Master_Code = "QCD_Type", Master_Gid = "0" }); });
                                      }))
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Sub Type", new { @class = "lbl-font" })
                                @(Html.Kendo().DropDownList()
                                      .Name("HDR_SubType_Gid")
                                      .DataTextField("HDR_SubType_Name")
                                      .DataValueField("HDR_SubType_Gid")
                                      .Events(e => e.DataBound("onDataBound_SubType").Change("onChange_SubType"))
                                      .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                                      .DataSource(source =>
                                      {
                                          source.Read(read => { read.Action("Get_DropDown_List", "Claim").Data("Get_Type_Gid"); });
                                      }))
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Raiser ID & Name", new { @class = "lbl-font" })
                                @Html.TextBoxFor(model => model.HDR_Raiser, Model.HDR_Raiser, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Batch No", new { @class = "lbl-font" })
                                @Html.TextBoxFor(model => model.HDR_Batch_No, Model.HDR_Batch_No, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Batch Amount", new { @class = "lbl-font" })
                                @Html.TextBoxFor(model => model.HDR_Batch_Amount, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Batch Status", new { @class = "lbl-font" })
                                @Html.TextBoxFor(model => model.Display_Batch_Status, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                @using (Html.BeginForm("Claim", "Claim", FormMethod.Post, new { @id = "Form_Claim" }))
                                {
                                    @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendgrid_claim")
                                          .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 100px;margin-top:5px;" })
                                          .ToolBar(toolBar =>
                                            {
                                                toolBar.Create().Text("Claim");
                                                toolBar.Custom().Name("Claim").Text(" ").Url("#").HtmlAttributes(new { onclick = "return Debitlin_Upload('EmployeeInvoice')", @style = "margin-left: 93%;margin-top: -18px !important;font-size: 18px;", @class = "fa fa-upload" });
                                            })
                                          .Columns(columns =>
                                            {
                                                columns.Bound(m => m.CLM_Ecf_Gid).Title("ECF Gid").Hidden();
                                                columns.Bound(m => m.CLM_Emp_Gid).Title("Raiser Gid").Width(80); 
                                                columns.Bound(m => m.CLM_Ecf_No).Title("Ref No.").Width(80);
                                                columns.Bound(m => m.CLM_Emp_Code).Title("Employee Code & Name").Width(100);
                                                columns.Bound(m => m.CLM_Claim_Date).Title("Claim Date").Width(80);
                                                columns.Bound(m => m.CLM_Claim_Month).Title("Claim Month").Width(80);
                                                columns.Bound(m => m.CLM_Claim_Amount).Title("Claim Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                                columns.Bound(m => m.CLM_Claim_Description).Title("Claim Description").Width(300);
                                                columns.Bound(m => m.HDR_EmployeeIds).Title("Employee ID").Hidden();
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                                    cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Delete_Claim");
                                                }).Title("Action").Width(40).Visible(Model.HDR_Status == "Draft");
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                                                }).Title("Action").Width(40).Visible(Model.HDR_Status != "Draft");
                                            })
                                            .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Claim_PopUp"); })
                                            .Filterable()
                                            .Sortable()
                                            .Selectable(sl => sl.Enabled(true))
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .ServerOperation(false)
                                            .Model(model => model.Id(p => p.CLM_Ecf_Gid))
                                            .PageSize(50)
                                            .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                            .Read(read => read.Action("Read_Claim", "Claim").Data("Get_Claim"))
                                            .Create(Create => Create.Action("Save_Claim", "Claim").Data("fn_claimSave"))
                                            .Update(update => update.Action("Update_Claim", "Claim").Data("fn_claimSave"))
                                        ))
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_expense")
                                      .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 120px;margin-top:5px;" })
                                      .ToolBar(toolBar =>
                                        {
                                            toolBar.Create().Text("Expense");
                                            toolBar.Custom().Name("DebitLine").Text(" ").Url("#").HtmlAttributes(new { onclick = "return Debitlin_Upload('EmployeeDebitline')", @style = "margin-left: 92%;margin-top: -18px !important;font-size: 18px;", @class = "fa fa-upload" });
                                        })
                                      .Columns(columns =>
                                            {
                                                columns.Bound(m => m.Exp_gid).Title("Expense Gid").Hidden();
                                                columns.Bound(m => m.Exp_ecfgid).Title("Ecf Gid").Hidden();
                                                columns.Bound(m => m.Exp_ecfno).Title("Ref No").Width(80);
                                                columns.Bound(m => m.Exp_invoiceno).Title("Invoice No").Hidden();
                                                columns.Bound(m => m.Exp_natureexpname).Title("Nature of Expense").Width(80);
                                                columns.Bound(m => m.Exp_catgname).Title("Exp Cat").Width(70);
                                                columns.Bound(m => m.Exp_subcatgname).Title("Exp Sub Cat").Width(80);
                                                columns.Bound(m => m.Exp_glcode).Title("GL Code & Desc").Width(70);
                                                columns.Bound(m => m.Exp_debitamount).Title("Debit Amount").Width(70).HtmlAttributes(new { style = "text-align:right;" });
                                                columns.Bound(m => m.Det_gridtypegid).Title("Detail TypeID").Hidden();
                                                columns.Bound(m => m.Det_gridtypename).Title("Detail TypeName").Hidden();
                                                columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Show_COA_PartialView()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("COA").Width(30);
                                                columns.Bound(c => c.Exp_taxtype).ClientTemplate("<input type='checkbox' id ='chktaxtype' value = '#= Exp_taxtype #'  /> &nbsp;#= Exp_taxtypetext # <button type='button' onclick='return Show_Tax_PartialView()' class = 'deleteclass'><i class='fa fa-plus' aria-hidden='true'></i></button>").Title("Tax").Width(50).Sortable(false).Filterable(false);
                                                //  columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Show_Details_PartialView()' class = 'deleteclass'><i class='fa fa-plus' aria-hidden='true'></i></button>").Title("Details").Width(30);
                                                //  columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Show_Attachment_PartialView()' class = 'deleteclass'><i class='fa fa-plus' aria-hidden='true'></i></button>").Title("Attach").Width(30);
                                                columns.Bound(m => m.DetailCount).ClientTemplate("#if(DetailCount > 0){#<button type='button' onclick='return Show_Details_PartialView()' class='deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>#} else {#<button type='button' onclick='return Show_Details_PartialView()' class='deleteclass'><i class='fa fa-plus' aria-hidden='true'></i></button>#}#").Title("Details").Width(50);
                                                columns.Bound(m => m.AttachmentCount).ClientTemplate("#if(AttachmentCount > 0){#<button type='button' onclick='return Show_Attachment_PartialView()' class='deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>#} else {#<button type='button' onclick='return Show_Attachment_PartialView()' class='deleteclass'><i class='fa fa-plus' aria-hidden='true'></i></button>#}#").Title("Attach").Width(40);
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                                    cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Delete_Expense");
                                                }).Title("Action").Width(40).Visible(Model.HDR_Status == "Draft" || Model.HDR_Status == "Audit Maker");
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                                                }).Title("Action").Width(40).Visible(Model.HDR_Status != "Draft" && Model.HDR_Status != "Audit Maker");
                                            })
                                      .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Expense_PopUp"); })
                                      .Filterable()
                                      .Sortable()
                                      .Selectable(sl => sl.Enabled(true))
                                      .Scrollable(s => s.Enabled(true).Height("auto"))
                                      .Resizable(resize => resize.Columns(true))
                                      .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .ServerOperation(false)
                                      .Model(model =>
                                      {
                                          model.Id(n => n.Exp_gid);
                                          model.Field(c => c.Exp_invoiceno).DefaultValue(Convert.ToString(0));
                                          model.Field(c => c.Exp_taxtype).DefaultValue(Convert.ToString('N'));
                                      })
                                      .PageSize(100)
                                      .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd_Expense"))
                                      .Read(read => read.Action("Read_Claim", "Claim").Data("Get_Expense"))
                                      .Create(Create => Create.Action("Save_Expense", "Claim"))
                                      .Update(update => update.Action("Update_Expense", "Claim"))
                                      ))
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_payment")
                                      .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 120px;margin-top:5px;" })
                                      .ToolBar(toolbar => toolbar.Create().Text("Payment"))
                                      .Columns(columns =>
                                            {
                                                columns.Bound(m => m.Pay_gid).Title("Payment Gid").Hidden();
                                                columns.Bound(m => m.Pay_ecfgid).Title("Ecf Gid").Hidden();
                                                //columns.Bound(m => m.HDR_Batch_Gid).Title("Batch Gid").Width(50);
                                                columns.Bound(m => m.Pay_ecfno).Title("Ref No.").Width(50);
                                                columns.Bound(m => m.Pay_paymodemode).Title("Paymode").Width(50);
                                                columns.Bound(m => m.Pay_beneficiary).Title("Beneficiary").Width(100);
                                                columns.Bound(m => m.Pay_creditamount).Title("Credit Amount").Width(100).HtmlAttributes(new { style = "text-align:right;" });
                                                columns.Bound(m => m.Pay_referenceno).Title("Pay Ref No.").Width(100);
                                                columns.Bound(m => m.Pay_paymentdate).Title("Payment Date").Width(100);
                                                columns.Bound(m => m.Pay_paymentstatus).Title("Payment Status").Width(100);
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                                    cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Delete_Payment");
                                                }).Title("Action").Width(40).Visible(Model.HDR_Status == "Draft" || Model.HDR_Status == "Audit Maker");
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                                                }).Title("Action").Width(40).Visible(Model.HDR_Status != "Draft" && Model.HDR_Status != "Audit Maker");
                                                //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(30);
                                                //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Fn_Deleteclaim_Details(2)' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(30);
                                            })
                                      .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Payment_PopUp"); })
                                      .Filterable()
                                      .Sortable()
                                      .Selectable(sl => sl.Enabled(true))
                                      .Scrollable(s => s.Enabled(true).Height("auto"))
                                      .Resizable(resize => resize.Columns(true))
                                      .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .ServerOperation(false)
                                      .Model(model => model.Id(p => p.Pay_gid))
                                      .PageSize(50)
                                      .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd_Payment"))
                                      .Read(read => read.Action("Read_Claim", "Claim").Data("Get_Payment"))
                                      .Create(Create => Create.Action("Update_Payment", "Claim")/*.Data("Fn_Get_PaymodeGLcode")*/)
                                      .Update(update => update.Action("Update_Payment", "Claim")/*.Data("Fn_Get_PaymodeGLcode")*/)
                                      ))
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 table-responsive">
                                @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_remarks")
                                      .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 100px;margin-top:5px;" })
                                      .Columns(columns =>
                                            {
                                                columns.Bound(m => m.Rem_gid).Title("Ecf Gid").Hidden();
                                                columns.Bound(m => m.Rem_ecfno).Title("Ref No").Width(50);
                                                columns.Bound(m => m.Rem_status).Title("Status").Width(50);
                                                columns.Bound(m => m.Rem_remarks).Title("Remarks").Width(200);
                                                columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(30).Visible(Model.HDR_Status == "Draft");
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                                                }).Title("Action").Width(30).Visible(Model.HDR_Status != "Draft");
                                                //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("D").Width(1);
                                            })
                                      .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Remarks_PopUp"); })
                                      .Filterable()
                                      .Sortable()
                                      .Selectable(sl => sl.Enabled(true))
                                      .Scrollable(s => s.Enabled(true).Height("auto"))
                                      .Resizable(resize => resize.Columns(true))
                                      .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .ServerOperation(false)
                                      .Model(model => model.Id(p => p.Rem_gid))
                                      .PageSize(50)
                                      .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd_Remarks"))
                                      .Read(read => read.Action("Read_Claim", "Claim").Data("Get_Remarks"))
                                          //.Read(read => read.Action("Read_Claim", "Claim", new { GirdName = "Remarks", BatchGid = Model.HDR_Batch_Gid }))
                                      .Update(update => update.Action("Update_Remarks", "Claim"))
                                      ))
                            </div>

                            <div class="col-md-4" id="divSubmit">
                                <button type="button" class="btn btn-info" onclick="return onclick_Draft()" style="width: 20%;margin-top: 10%;"><i class="fa fa-inbox" aria-hidden="true"></i>&nbsp;Draft</button>&nbsp;&nbsp;
                                <button type="button" style="width: 20%;margin-top: 10%;" class="btn btn-success" onclick="return onclick_Submit()"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Submit</button>
                                <button type="button" style="width: 30%;margin-top: 10%;background-color:#dc3545" class="btn btn-success" onclick="return onclick_Cancel()">Cancel Transaction</button>
                            </div>

                            <div class="col-md-6" id="divApproval" style="margin-top:1%;">
                                @Html.TextAreaFor(m => m.Approver_Remarks, new { @class = "form-control", @style = "min-width: 100%;min-height: 50%;", placeholder = "Approver Remarks..", })
                                <input type="radio" name="rblstatus" id="rblstatus" value="Approve">&nbsp;<span style="color: green;font-size: 15px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Approve
                                &nbsp;&nbsp; <input type="radio" name="rblstatus" id="rblstatus" value="Reject">&nbsp;<span style="color: red;font-size: 15px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;Reject
                                &nbsp;&nbsp; &nbsp;&nbsp;<button type="button" style="width: 20%;margin-top: 2%;" class="btn btn-success" onclick="return onclick_SubmitApproval()"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Submit</button>
                            </div>

                            <div class="col-md-6" id="div_audit">
                                <div class="col-md-6">
                                    @Html.Label("Reason", new { @class = "lbl-font" })
                                    @Html.TextArea("txtReason", new { @style = "width:100%;min-width: 100%;min-height: 50px !important;", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-6" style="margin-top:5%;">
                                    @Html.Label("Status Updation :", new { @class = "lbl-font" }) &nbsp;&nbsp;&nbsp;
                                    @Html.RadioButton("chkStatus", "Approve", new { @id = "rdo_appr" })
                                    @Html.Label("Approve", new { @class = "lbl-font" })&nbsp;&nbsp;
                                    @Html.RadioButton("chkStatus", "Inex", new { @id = "rdo_inex" })
                                    @Html.Label("Inex", new { @class = "lbl-font" })&nbsp;&nbsp;
                                    @Html.RadioButton("chkStatus", "Hold", new { @id = "rdo_hold" })
                                    @Html.Label("Hold", new { @class = "lbl-font" })
                                </div>
                                <div class="col-md-12" style="margin-left:-2%;margin-top:1%;">
                                    <div class="col-md-6">
                                        @Html.TextArea("APCheckerRemarks", new { @style = "width:100%;min-width: 105%;min-height: 35px !important;", @class = "form-control", @placeholder = "Remarks" })
                                    </div>
                                    <div class="col-md-6" style="margin-top:0%;">
                                        <button type="button" class="btn btn-info" value="Audit" onclick="return Audit_Check_List();">
                                            <span class="fa fa-check-square-o" style="color:white;"></span>
                                            Audit Check
                                        </button>
                                        <button id="btnSubmitAudit" type="button" class="btn btn-success" onclick="return APChecker_Submit();">
                                            <span class="glyphicon glyphicon-save" style="color:white;"></span>
                                            Submit
                                        </button>
                                        <button type="button" class="btn btn-primary" value="Cancel" onclick="return Redirect_to_CheckerQueue();">
                                            <span class="glyphicon glyphicon-refresh" style="color:white;"></span>
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        @(Html.Kendo().Window()
                      .Name("kwindow_auditchecklist")
                      .Title("Audit Check List") //set the title of the window
                      .Content(@<text>
                        <div class="well" style="width: 98% !important;height: 600px !important;margin-top:0.5%;">
                            @*<span class="lbl-font" style="color:red;">Audit Check List</span>*@
                            <div id="APCheckList"></div>
                            <input type="hidden" id="hdn_checklist_ecf_gid" />
                            <input type="hidden" id="hdn_checkerauthoriser_flag" />
                        </div>
                    </text>)
                        .Events(ev => ev.Close("close_checkauditchecklist"))
                        .Draggable()
                        .Resizable()
                        .Width(1300)
                        .Height(400)
                        .Modal(true)
                        .Scrollable(false)
                        .Visible(false))
                    </div>

                    <div class="tab-pane containers fade" id="attach2">
                        <div class="container-fluid ml-0">
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    @Html.Partial("BatchAttachments", objModel_attach)
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12 table-responsive">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane containers fade" id="audit">
                        <div class="row">
                            <div class="row mt-2">
                                <div class="col-md-10">
                                    @Html.Partial("AuditTrail", objModel_attach)
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 table-responsive">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane containers fade" id="auditcheck">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well" style="width: 98% !important;height: 600px !important;margin-top:0.5%;" id="div_auditauthorizer">
                                    <span class="lbl-font" style="color:red;">Audit Check List</span>
                                    <div id="APCheckList_authorizer" style="overflow:auto;height: 500px !important"></div>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 table-responsive">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var preventCloseOnSave = false;
    var checklist_run_flag = false;

    $(document).ready(function () {
        debugger;

        if ($("#HDR_Status").val().trim().toLowerCase() == "draft" || $("#HDR_Status").val().trim().toLowerCase() == "rejected") {
            $("#div_audit").hide();
            $("#divSubmit").show();
            $("#divApproval").hide();
            $('[href="#auditcheck"]').closest('li').hide();
        }
        else if ($("#HDR_Status").val().trim().toLowerCase() == "inprocess" || $("#HDR_Status").val().trim().toLowerCase() == "approved"
            || $("#HDR_Status").val().trim().toLowerCase() == "paid") {
            $("#div_audit").hide();
            $("#divSubmit").hide();
            $("#divApproval").hide();
            $(".k-grid-toolbar").hide();
            $('[href="#auditcheck"]').closest('li').hide();
        }
        else if ($("#HDR_Status").val().trim().toLowerCase() == "formyapproval") {
            $("#div_audit").hide();
            $("#divSubmit").hide();
            $("#divApproval").show();
            $(".k-grid-toolbar").hide();
            $('[href="#auditcheck"]').closest('li').hide();
        }
        else if ($("#HDR_Status").val().trim().toLowerCase() == "audit maker") {
            $("#div_audit").show();
            $("#div_auditauthorizer").hide();
            $("#kendgrid_claim .k-grid-toolbar").hide();
            $("#divSubmit").hide();
            $("#divApproval").hide();
            $("#hdn_checklist_ecf_gid").val($("#HDR_EcfGId").val());
            $("#hdn_checkerauthoriser_flag").val($("#HDR_Status").val());
            $('[href="#auditcheck"]').closest('li').hide();
            //$("#APCheckList").load("../Claim/Show_APCheckList_PartialView", { 'SubType_Gid': $("#HDR_SubType_Gid").val() });
        }
        else if ($("#HDR_Status").val().trim().toLowerCase() == "audit checker") {
            $("#div_audit").hide();
            $("#hdn_checklist_ecf_gid").val($("#HDR_EcfGId").val());
            $("#hdn_checkerauthoriser_flag").val($("#HDR_Status").val());
            $("#APCheckList_authorizer").load("../Claim/Show_APCheckList_PartialView", { 'SubType_Gid': $("#HDR_SubType_Gid").val() });
            $("#divSubmit").hide();
            $("#divApproval").hide();
            $(".k-grid-toolbar").hide();
            $('[href="#auditcheck"]').closest('li').show();
        }
        $("#HDR_Type_Gid").data("kendoDropDownList").enable(false);
        // $("#HDR_SubType_Gid").data("kendoDropDownList").enable(false);

        var grid = $("#kendgrid_claim").data("kendoGrid");
        grid.bind("edit", function (event) {//function for changing kendo popup title.
            debugger;
            //$(".k-window-actions").hide();
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "Add Claim" : "Edit Claim");
            var multiEmployee = $('#CLM_Add_EmpGid').data("kendoMultiSelect");
            // multiEmployee.dataSource.data([]);
            if (event.model.isNew() == true) {
                debugger;
                $("#CLM_Claim_Month").val("");
                //var RaiserDropDown = $("#CLM_Emp_Gid").data("kendoDropDownList");
               /* $.getJSON("Get_DropDown_List/Claim?Master=Raiser_ByID&EmpName=" + $("#HDR_Raiser_Gid").val(), function (output) {
                    debugger;
                    //var employeelist = data.employee; 
                    RaiserDropDown.dataSource.data(output);
                    //alert(emp_ids);
                    RaiserDropDown.value($("#HDR_Raiser_Gid").val());
                    RaiserDropDown.trigger("change");
                });*/
                //$("#CLM_Emp_Gid").data('kendoDropDownList').value($("#HDR_Raiser_Gid").val());
                //$("#CLM_Emp_Gid").data('kendoDropDownList').trigger("change");
            }
            else {
                var userDate = $("#CLM_Claim_Date").val();
                var ClaimDate = moment(userDate, "DD-MM-YYYY").format("MMM-YYYY");
                $("#CLM_Claim_Month").val(ClaimDate);
                debugger;

                var RaiserDropDown = $("#CLM_Emp_Gid").data("kendoDropDownList");
                 
                var selectedItem = grid.dataItem(grid.select());
                $.getJSON("Get_DropDown_List/Claim?Master=Raiser_ByID&EmployeeName=" + selectedItem.CLM_Emp_Gid, function (output) {
                    debugger;
                    //var employeelist = data.employee; 
                    RaiserDropDown.dataSource.data(output);
                    //alert(emp_ids);
                    RaiserDropDown.value(selectedItem.CLM_Emp_Gid);
                    RaiserDropDown.trigger("change");
                }); 

                var emp_ids = $("#HDR_EmployeeIds").val();
                $.getJSON("Get_DropDown_List/Claim?Master=Employee_ByID&EmployeeName=" + emp_ids, function (result) {
                    debugger;
                    //var employeelist = data.employee; 
                    $("#CLM_Add_EmpGid").data("kendoMultiSelect").dataSource.data(result);
                    //alert(emp_ids);
                    multiEmployee.value(emp_ids.split(','));
                    multiEmployee.trigger("change");
                });
                debugger;
            }
            //var multiselect = $("#CLM_Add_EmpGid").data("kendoMultiSelect");
            if ($("#HDR_SubType_Gid").data("kendoDropDownList").text().trim() == "Travel") {
                multiEmployee.enable(true);
            }
            else {
                multiEmployee.enable(false);
            }

            if ($("#HDR_Status").val() != "Draft") {
                $('.k-grid-update').css('display', 'none');
            }
        });

        var gridexpense = $("#kendogrid_expense").data("kendoGrid");
        gridexpense.bind("edit", function (event) { //function for changing kendo popup title.
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "Add Expense" : "Edit Expense");

            var editWindow = this.editable.element.data("kendoWindow");
            editWindow.unbind("close");
            editWindow.bind("close", onWindowEditClose);

            if ($("#HDR_Status").val() == "Draft" || $("#HDR_Status").val() == "Audit Maker") {
                $('.k-grid-update').css('display', 'inline-flex');
            }
            else {
                $('.k-grid-update').css('display', 'none');
            }
        });

        var gridpayment = $("#kendogrid_payment").data("kendoGrid");
        gridpayment.bind("edit", function (event) { //function for changing kendo popup title.
            debugger;
           // var gview = $("#kendogrid_payment").data("kendoGrid");
            //Getting selected item
            var selectedItem = gridpayment.dataItem(gridpayment.select());
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "Add Payment" : "Edit Payment");

            var editWindow = this.editable.element.data("kendoWindow");
            editWindow.unbind("close");
            editWindow.bind("close", onWindowEditClose);

            if (event.model.isNew() == true) {
                $("#Pay_ecfgid").data("kendoDropDownList").enable(true);
                $("#Pay_glcode").data("kendoDropDownList").enable(false);
            }
            else {
                $("#Pay_ecfgid").data("kendoDropDownList").enable(false);
                $("#Pay_glcode").data("kendoDropDownList").enable(false);
                $("#Pay_paymodemode").data("kendoDropDownList").enable(false);
                if (selectedItem.Pay_paymodemode == 'ERA') {
                    //$(".k-grid-update").hide();
                    $('.k-grid-update').css('display', 'none');
                }
            }
            if ($("#HDR_Status").val() == "Draft" || $("#HDR_Status").val() == "Audit Maker" || $("#HDR_Status").val() == "Rejected") {
                $('.k-grid-update').css('display', 'inline-flex');
            }
            else {
                $('.k-grid-update').css('display', 'none');
            }
            /*if (selectedItem.Pay_paymodemode == 'ERA') {
                //$(".k-grid-update").hide();
                $('.k-grid-update').css('display', 'none');
            }*/
        });

        var gridremarks = $("#kendogrid_remarks").data("kendoGrid");
        gridremarks.bind("edit", function (event) { //function for changing kendo popup title.
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "Add Remarks" : "Edit Remarks");
            if ($("#HDR_Status").val() != "Draft") {
                $('.k-grid-update').css('display', 'none');
            }
        });

        var gridcoa = $("#KendGrid_ExpenseCOA").data("kendoGrid");
        gridcoa.bind("edit", function (event) { //function for changing kendo popup title.
            if ($("#HDR_Status").val() == "Draft" || $("#HDR_Status").val() == "Audit Maker") {
                $('.k-grid-update').css('display', 'inline-flex');
            }
            else {
                $('.k-grid-update').css('display', 'none');
            }
        });

        var gridtravel = $("#kendogrid_travel").data("kendoGrid");
        gridtravel.bind("edit", function (event) { //function for changing kendo popup title.
            if ($("#HDR_Status").val() == "Draft" || $("#HDR_Status").val() == "Audit Maker") {
                $('.k-grid-update').css('display', 'inline-flex');
            }
            else {
                $('.k-grid-update').css('display', 'none');
            }
        });

        var gridbordlodg = $("#kendogrid_boardinglodging").data("kendoGrid");
        gridbordlodg.bind("edit", function (event) { //function for changing kendo popup title.
            if ($("#HDR_Status").val() == "Draft" || $("#HDR_Status").val() == "Audit Maker") {
                $('.k-grid-update').css('display', 'inline-flex');
            }
            else {
                $('.k-grid-update').css('display', 'none');
            }
        });

        var gridconveyance = $("#kendogrid_conveyance").data("kendoGrid");
        gridconveyance.bind("edit", function (event) { //function for changing kendo popup title.
            if ($("#HDR_Status").val() == "Draft" || $("#HDR_Status").val() == "Audit Maker") {
                $('.k-grid-update').css('display', 'inline-flex');
            }
            else {
                $('.k-grid-update').css('display', 'none');
            }
        });

    });


    //$("body").on("click", "[role='row']", function (e) {
    //    debugger;

    //    var grid = $("#kendogrid_payment").getKendoGrid();
    //    var item = grid.dataItem($(e.target).closest("tr"));
    //    alert(item.Pay_paymodemode);

    //});

    var onWindowEditClose = function (e) {
        debugger;
        if (preventCloseOnSave) {
            e.preventDefault();
            preventCloseOnSave = false;
        }
    };

    function onDataBound_Common(e) {
        debugger;
        if (this.dataSource.data().length == 2) {
            this.select(1);
            this.trigger("change");
        }
        //var id = this.element.attr("id");
    }

    function close_checkauditchecklist() {
        debugger;
        var checked_rdobtn_values = $('.rdo-cls:radio:checked').map(function () {
            return this.value;
        }).get();
        var str = checked_rdobtn_values.join(',');
        if (str.includes('2')) {
            $('input[id="rdo_appr"]').attr('disabled', true);
            $('input[id="rdo_inex"]').attr('disabled', false);
            $("#rdo_inex").attr('checked', 'checked');
        }
        else {
            $('input[id="rdo_appr"]').attr('disabled', false);
            $('input[id="rdo_inex"]').attr('disabled', true);
            $("#rdo_appr").attr('checked', 'checked');
        }
    }

    function Audit_Check_List() {
        debugger;
        $("#hdn_checklist_ecf_gid").val($("#HDR_EcfGId").val());
        $("#hdn_checkerauthoriser_flag").val($("#HDR_Status").val());
        $("#APCheckList").load("../Claim/Show_APCheckList_PartialView", { 'SubType_Gid': $("#HDR_SubType_Gid").val() });
        var window = $("#kwindow_auditchecklist").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        checklist_run_flag = true;
    }

    function APChecker_Submit() {
        debugger;

        if (checklist_run_flag == false) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Please Verify Checklist.!',
                type: 'blue',
            });
            return false;
        }

        var status = $("input[name='chkStatus']:checked").val();
        if (status == "" || status == null || status == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Please select the status.!',
                type: 'blue',
            });
            return false;
        }
        var remark = $("#APCheckerRemarks").val();
        if (remark == "" || remark == null || remark == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Remarks should not be blank.!',
                type: 'blue',
            });
            return false;
        }
        var apmodelObj = {};
        if ($("#hdn_checkerauthoriser_flag").val() == "Audit Maker") {
            apmodelObj.AP_Action = "CHECKER";
        }
        else {
            apmodelObj.AP_Action = "AUTHORIZER";
        }
        apmodelObj.CheckList_ecf_gid = $("#hdn_checklist_ecf_gid").val();
        apmodelObj.CheckList_status = $("input[name='chkStatus']:checked").val();
        apmodelObj.AP_Remarks = $("#APCheckerRemarks").val();
        apmodelObj.ecfgids = "0";
        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("APChecklist_Submit", "Claim")',
            data: '{APobjModel: ' + JSON.stringify(apmodelObj) + '}',
            success: function (result) {
                var message = JSON.parse(result);
                if (message[0].clear == 1) {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.href = '@Url.Action("APChecker", "APChecker", new { Area = "FlexiSpend" })'
                    }, 2000);
                }
                else {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                }
            }

        });
    }

    function Redirect_to_CheckerQueue() {
        window.location.href = '@Url.Action("APChecker", "APChecker", new { Area = "FlexiSpend" })'
    }

    function basicFilter(ev) {
        debugger;
            try {
                var empname = "";
                var emp_val = ev.filter;
                if (emp_val != undefined) {
                    empname = ev.filter.filters[0].value;
                }
                else {
                    empname = "";
                    var splitEmp_Code = "";
                    //$("#CLM_Add_EmpGid").data("kendoDropDownList").text();
                    var employee_name = $("#CLM_Add_EmpName").val();
                    if (employee_name != "a" && employee_name != "") {
                        splitEmp_Code = employee_name;
                        empname = splitEmp_Code[0];
                        $("#CLM_Add_EmpName").val("a");
                    } 
                }
            }
            catch (e) {
                empname = "";
                var splitEmp_Code = "";
                //$("#CLM_Add_EmpGid").data("kendoDropDownList").text();
                var employee_name = $("#CLM_Add_EmpName").val();
                if (employee_name != "a") {
                    splitEmp_Code = employee_name;
                }
                empname = splitEmp_Code[0];
                $("#CLM_Add_EmpName").val("a");
            }
        return {
            Master: "Employee_Search", Master_Code: "0", Master_Gid: "0",
            //EmpName: ev.filter.filters[0] ? ev.filter.filters[0].value : ""
            EmployeeName: empname
        }
    }

    function onChange_SubType() {
        debugger;

        if ($("#HDR_SubType_Gid").data("kendoDropDownList").text().trim() == "Petty Cash") {
            $.getJSON("Get_GL_Code/Claim?Master=" + 'PettyCash' + "&Master_Gid=" + $("#HDR_Raiser_Gid").val(), function (data) {
                debugger;
                if (data == "ARF Not Available") {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: 'There is no employee advance available, Can not raise PettyCash Claim.!',
                        type: 'blue',
                    });
                    $("#HDR_SubType_Gid").data("kendoDropDownList").select(0);
                    $("#HDR_SubType_Gid").data("kendoDropDownList").trigger("change");
                    return false;
                }
            });
        }
    }

    function Show_BatchWise_Attachments() {
        debugger;
        $("#attach_batch_gid").val($("#HDR_Batch_Gid").val());
        $("#attach_ecf_gid").val($("#HDR_EcfGId").val());
        $("#attach_module").val("EOW");
        $("#attach_debitinvoice_flag").val("Debit");
        $("#kgrid_attachments").data("kendoGrid").dataSource.read();
    }

    function ViewMode(e) {
        debugger;
        var grid = this,
         selectedRow = $(e.target).closest("tr")[0];
        grid.editRow(selectedRow);
        $(".k-grid-update").hide();
        $(".k-window-title").text("View");
    }

    function Refresh_Expense() {
        debugger;
        $("#kendogrid_expense").data("kendoGrid").dataSource.read();
    }

    function Delete_Claim() {
        debugger;
        Fn_Deleteclaim_Details('0');
    }

    function Delete_Expense() {
        debugger;
        Fn_Deleteclaim_Details('1');
    }

    function Delete_Payment() {
        debugger;
        Fn_Deleteclaim_Details('2');
    }

    function Debitlin_Upload(uploadmethodname) {
        debugger;
        var window = $("#kwindow_debitlineupload").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        $("#UploadMethod").val(uploadmethodname);
    }

    function onClose_KendoWindow() {
        debugger;
        $("#kendogrid_expense").data("kendoGrid").dataSource.read();
    }

    function onDataBound_Type() {
        debugger;
        $("#HDR_Type_Gid").data("kendoDropDownList").select(1);
        //$("#HDR_Type_Gid").data("kendoDropDownList").trigger("change");
    }

    function onDataBound_SubType() {
        debugger;
        if ($("#HDR_SubType_Gid").val() != '0') {
            $("#HDR_SubType_Gid").data("kendoDropDownList").enable(false);
        }
        else {
            $("#HDR_SubType_Gid").data("kendoDropDownList").enable(true);
        }
    }

    function onclick_SubmitApproval() {
        debugger;
        var Ecfids = $("#HDR_EcfGId").val();
        var App_Status = $("input[name='rblstatus']:checked").val();
        var AppRemarks = $("#Approver_Remarks").val();

        if (App_Status == undefined || App_Status == null) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Please select Approve or Reject.!',
                type: 'blue',
            });
            return false;
        }

        if (AppRemarks == "" || AppRemarks == undefined || AppRemarks == null) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Please fill the remarks field.!',
                type: 'blue',
            });
            return false;
        }

        var data = { "Refid": Ecfids, "Status": App_Status, "Remarks": AppRemarks }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("ApproveInvoice", "SupplierInvoice")',
            data: JSON.stringify(data),
            success: function (data) {
                var data = JSON.parse(data);
                if (data[0]["Clear"] == 1) {
                    debugger;
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: data[0]["Message"],
                        type: 'green',
                        animationSpeed: 700,
                    });
                    window.location.href = '@Url.Action("Workbench", "../Workbench")'
                }
                else {
                    debugger;

                    if (data[0]["Clear"] == 0 && data[0]["Message"] == "AmountMismatch") {
                        $.confirm({
                            icon: 'fa fa-warning',
                            title: 'IEM Product',
                            autoClose: 'cancel|10000',
                            theme: 'dark',
                            animationSpeed: 700,
                            content: 'Are you sure do you want to delete this record!',
                            type: 'orange',
                            buttons: {
                                confirm: function () {
                                    onclick_Submit();
                                },
                                cancel: function () {
                                    $.alert({
                                        icon: 'fa fa-success',
                                        title: 'IEM Product',
                                        theme: 'dark',
                                        content: 'Invoice Submit Canceled.!',
                                        type: 'blue',
                                        animationSpeed: 700,
                                    });
                                },
                            }
                        });
                    }
                    else {
                        $.alert({
                            icon: 'fa fa-success',
                            title: 'IEM Product',
                            theme: 'dark',
                            content: data[0]["Message"],
                            type: 'red',
                            animationSpeed: 700,
                        });
                    }

                }
            },
            error: function (data) {
                debugger;
                $.alert({
                    icon: 'fa fa-success',
                    title: 'IEM Product',
                    theme: 'dark',
                    content: 'Error',
                    type: 'red',
                    animationSpeed: 700,
                });
            }
        });
    }

    function onChange_ClaimDate() {
        debugger;
        var userDate = $("#CLM_Claim_Date").val();
        var ClaimDate = moment(userDate, "DD-MM-YYYY").format("MMM-YYYY");
        $("#CLM_Claim_Month").val(ClaimDate);
    }

    function onclick_Draft() {
        debugger;
        if ($("#HDR_Batch_Gid").val() == "0" || $("#HDR_Batch_Gid").val() == null || $("#HDR_Batch_Gid").val() == "" || $("#HDR_Batch_Gid").val() == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Create atleast one claim to Draft the batch.!',
                type: 'blue',
            });
            return false;
        }
        else {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Draft Successfully.!',
                type: 'green',
            });
            setTimeout(function () {
                debugger;
                window.location.href = '@Url.Action("Workbench", "../Workbench")'
            }, 2000);
        }
    }

    function onclick_Submit() {
        debugger;

        var dataSource = $("#kendogrid_remarks").data("kendoGrid").dataSource;// Gets the data source from the grid.
        var filters = dataSource.filter(); // Gets the filter from the dataSource
        var allData = dataSource.data();// Gets the full set of data from the data source
        var query = new kendo.data.Query(allData);// Applies the filter to the data
        var filteredData = query.filter(filters).data;
        var refno = "";
        var remarks_empty_flag = false;
        for (var i = 0; i < filteredData.length; i++) {
            if (filteredData[i].Rem_remarks == "" || filteredData[i].Rem_remarks == null || filteredData[i].Rem_remarks == undefined) { // check pan no duplication.
                if (refno == "") {
                    refno = filteredData[i].Rem_ecfno
                }
                else {
                    refno = refno + "," + filteredData[i].Rem_ecfno
                }
                remarks_empty_flag = true;
            }
        }

        if (remarks_empty_flag == true) {
            $.dialog({
                title: 'IEM Product',
                content: refno + ' - This Ref Nos are requireds Remarks.!',
                type: 'blue',
            });
            return false;
        }

        if ($("#HDR_Batch_Gid").val() == "0" || $("#HDR_Batch_Gid").val() == null || $("#HDR_Batch_Gid").val() == "" || $("#HDR_Batch_Gid").val() == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Create atleast one claim to Submit the batch.!',
                type: 'blue',
            });
            return false;
        }
        //var grid = $("#kendgrid_claim").data("kendoGrid");
        //grid.dataSource.read();
        //var count = grid.dataSource.total();
        //return false;


        var modelobj = {};
        modelobj.Button_Action = 'Submit';
        modelobj.HDR_Batch_Gid = $("#HDR_Batch_Gid").val();
        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("Claim_DraftSubmit", "Claim")',
            data: '{objModel: ' + JSON.stringify(modelobj) + '}',
            success: function (result) {
                debugger;
                var message = JSON.parse(result);
                if (message[0].clear == 1) {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.href = '@Url.Action("Workbench", "../Workbench")'
                    }, 2000);
                }
                else {
                    if (message[0].Msg == 'errortable') {
                        $.dialog({
                            icon: 'fa fa-success',
                            title: 'IEM',
                            content: message[0].Error_ecfno + '-' + message[0].Error_description,
                            type: 'blue',
                        });
                    }
                    else {
                        $.dialog({
                            icon: 'fa fa-success',
                            title: 'IEM',
                            content: message[0].Msg,
                            type: 'blue',
                        });
                    }
                }
            }
        });
    }

    function Show_COA_PartialView() {
        debugger;
        $("#PageFor").val($("#HDR_Status").val());
        var window = $("#kwindow_coa").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        var dbl_grid = $("#kendogrid_expense").data("kendoGrid");
        var dbl_model = dbl_grid.dataItem($(event.target).closest("tr"));
        $("#Expenseid").val(dbl_model.Exp_gid);
        $("#KendGrid_ExpenseCOA").data("kendoGrid").dataSource.read();
    }

    function Show_Tax_PartialView() {
        debugger;
        var Debitlinegids = [];
        var grid = $("#kendogrid_expense").data("kendoGrid");
        var checkedrows = $("#chktaxtype:checked", grid.tbody).closest("tr");
        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one Invoice to add Tax.!',
                type: 'blue',
            });
            return false;
        }

        // compare the taxtype/invoice/ecf wheather the same or not.
        var item = grid.dataItem(checkedrows[0]);
        var Taxtype = item.Exp_taxtype;
        var Invoiceno = item.Exp_invoiceno;
        var Ecfgid = item.Exp_ecfgid;
        var debitamount = item.Exp_debitamount;
        Debitlinegids.push(item.Exp_gid);
        for (var i = 1; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);

            var Taxtypecompare = itemcompare.Exp_taxtype;
            var Invoicenopecompare = itemcompare.Exp_invoiceno;
            var Ecfgidmpare = itemcompare.Exp_ecfgid;
            debitamount = debitamount + itemcompare.Exp_debitamount
            Debitlinegids.push(itemcompare.Exp_gid);
            if (Taxtype != Taxtypecompare) {
                $.dialog({
                    title: 'IEM',
                    content: 'Mismatching Taxtype, Please select the same Taxtype to add Tax.!',
                    type: 'blue',
                });
                return false;
            }
            if (Invoiceno != Invoicenopecompare) {
                $.dialog({
                    title: 'IEM',
                    content: 'Mismatching Invoice, Please select the same Invoice to add Tax.!',
                    type: 'blue',
                });
                return false;
            }
            if (Ecfgid != Ecfgidmpare) {
                $.dialog({
                    title: 'IEM',
                    content: 'Mismatching Ref No, Please select the same Ref No to add Tax.!',
                    type: 'blue',
                });
                return false;
            }
        }

        if (Taxtype == 'N') {
            $.dialog({
                title: 'IEM',
                content: 'There is no tax for None .!',
                type: 'blue',
            });
            return false;
        }
        else if (Taxtype == 'G') {
            var window = $("#kwindow_tax").data("kendoWindow"); //get the Window widget's instance
            window.open();  //and call its open method
            window.center();
            $("#kwindow_tax").prev().find(".k-window-title").text('GST');
            $("#Tax_invoiceno").val(Invoiceno).trigger("change");
            //$("#Tax_invoiceno").prop("disabled", true);
            //$('#Tax_invoiceno').css('background-color', '#eee');
        }
        else {
            var window = $("#kwindow_tax").data("kendoWindow"); //get the Window widget's instance
            window.open();  //and call its open method
            window.center();
            $("#kwindow_tax").prev().find(".k-window-title").text('RCM');
            $("#Tax_invoiceno").val(Invoiceno).trigger("change");
            //$("#Tax_invoiceno").prop("disabled", false);
            //$('#Tax_invoiceno').css('background-color', '#fff');
        }
        if ($("#HDR_Status").val() == "Draft" || $("#HDR_Status").val() == "Audit Maker") {
            $("#button_Tax").show();
        }
        else {
            $("#button_Tax").hide();
        }
        $("#Hidden_debitlinegids").val(Debitlinegids.join(',')).trigger("change");
        $("#Hidden_ecfgid").val(Ecfgid).trigger("change");
        $("#Hidden_taxtype").val(Taxtype).trigger("change");
        $("#Tax_invoiceamount").val("").trigger("change");
        $("#Tax_invoiceamount").val(debitamount).trigger("change");
        Get_TaxDetails();
        $("#kendogrid_taxable").data("kendoGrid").dataSource.read();

    }

    function Get_TaxDetails() {
        var Taxv = {};
        Taxv.Hidden_taxtype = $("#Hidden_taxtype").val();
        Taxv.Hidden_ecfgid = $("#Hidden_ecfgid").val();
        Taxv.Hidden_debitlinegids = $("#Hidden_debitlinegids").val();
        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("Get_TaxDetails", "Claim")',
            data: '{objModel: ' + JSON.stringify(Taxv) + '}',
            success: function (result) {
                debugger;
                message = JSON.parse(result);
                if (message.length > 0) {
                    $("#Tax_suppliergid").data('kendoDropDownList').value(message[0].invoice_supplier_gid);
                    $("#Tax_providergstin").val(message[0].invoice_gstin_vendor).trigger("change");
                    $("#Tax_providerlocationgid").data('kendoDropDownList').value(message[0].invoice_provider_location);
                    $("#Tax_receiverlocationgid").data('kendoDropDownList').value(message[0].invoice_receiver_location);
                    $("#Tax_receivergstin").val(message[0].invoice_gstin_ficcl).trigger("change");
                    $("#Tax_invoiceno").val(message[0].invoice_no).trigger("change");
                    $("#Tax_invoicedate").val(message[0].invoice_date).trigger("change");
                    if (message[0].invoice_supplier_gid != 0) {
                        $("#Tax_invoiceamount").val(message[0].invoice_amount).trigger("change");
                    }
                    //$("#Tax_providerlocationgid").data("kendoDropDownList").dataSource.read();
                    //$("#Tax_providerlocationgid").data("kendoDropDownList").refresh();
                    //setTimeout(function () {
                    //    debugger;
                    //    $("#Tax_providerlocationgid").data('kendoDropDownList').value(message[0].invoice_provider_location);
                    //}, 1500);
                }
            }
        });
    }

    function Show_Attachment_PartialView() {
        debugger;
        var window = $("#kwindow_attachment").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        $("#sumsg").text("");
        var refgid = 1;
        var invoiceid = 0;
        var grid = $("#kendogrid_expense").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        $("#attachment_ref_gid").val(model.Exp_gid);
        var moduleflag = '@(System.Configuration.ConfigurationManager.AppSettings["EOWModeuleFlag"].ToString())';
        $("#attachment_module_flag").val(moduleflag);
        $("#attachment_ref_flag").val(refgid);
        $("#attachment_invoice_gid").val(invoiceid);
        $("#debitline_gid").val(model.Exp_gid);
        $("#KgridAttachmentdml").data("kendoGrid").dataSource.read();

        if ($("#HDR_Status").val() != "Draft") {
            $("#button_Attachment").hide();
        }
    }

    function Show_Details_PartialView() {
        debugger;
        var window = $("#kwindow_details").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        var grid = $("#kendogrid_expense").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        $("#Det_debilnegid").val(model.Exp_gid).trigger("change");
        $("#Det_ecfgid").val(model.Exp_ecfgid).trigger("change");
        //$("#Det_gridtypegid").val(1).trigger("change");
        $('#Det_gridtypegid').data('kendoDropDownList').value(-1);
        $("#Det_gridtypegid").data("kendoDropDownList").value(model.Det_gridtypegid);
        $("#Det_gridtypegid").data("kendoDropDownList").trigger("change");

    }

    function Fn_Get_EcfDebitelineGid() {
        debugger;
        return { Debitelinegid: $("#Det_debilnegid").val(), Ecfgid: $("#Det_ecfgid").val(), DetailTypeId: $("#Det_gridtypegid").val() }
    }

    function error_handler(e) {
        debugger;
        e.preventDefault();
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM',
                content: message,
                type: 'blue',
            });
        }
    }

    function Get_Type_Gid() {
        debugger;
        var Type_GID = $("#HDR_Type_Gid").val();
        return { Master: 'SubType', Master_Code: 'QCD_SubType', Master_Gid: Type_GID }
    }

    function Get_Login_User(ev) {
        debugger;
        var Login_User = $("#HDR_Raiser_Gid").val();
        try {
            var empname = "";
            var emp_val = ev.filter;
            if (emp_val != undefined) {
                empname = ev.filter.filters[0].value;
            }
            else {
                empname = "";
            }
        }
        catch (e) {
            empname = "";
        }
        return { Master: 'ECFRaiser', Master_Code: '0', Master_Gid: Login_User, EmployeeName: empname }
    }

    function onDataBound_ECFRaiser() {
        debugger;
        if (this.select() === -1) { //check whether any item is selected
            this.select(0);
            this.trigger("change");
        }
    }

    function onChange_Type() {
        debugger;
        $("#HDR_SubType_Gid").data("kendoDropDownList").dataSource.read();
        $("#HDR_SubType_Gid").data("kendoDropDownList").refresh();
        $("#HDR_SubType_Gid").data("kendoDropDownList").enable(true);
    }

    function Fn_Get_BatchGid() {
        debugger;
        var batchgid = $("#HDR_Batch_Gid").val();
        return { Master: 'ECF', Master_Code: '0', Master_Gid: batchgid }
    }

    function Fn_Get_BatchGidForPayment() {
        debugger;
        var batchgid = $("#HDR_Batch_Gid").val();
        return { Master: 'PayECF', Master_Code: '0', Master_Gid: batchgid }
    }

    function Get_Claim() {
        debugger;
        var batchgid = $("#HDR_Batch_Gid").val();
        var ecf_gid = $("#HDR_EcfGId").val();
        return { GirdName: 'Claim', BatchGid: batchgid, EcfGid: ecf_gid }
    }

    function Get_Expense() {
        debugger;
        var batchgid = $("#HDR_Batch_Gid").val();
        var ecf_gid = $("#HDR_EcfGId").val();
        return { GirdName: 'Expense', BatchGid: batchgid, EcfGid: ecf_gid }
    }

    function Get_Payment() {
        debugger;
        var batchgid = $("#HDR_Batch_Gid").val();
        var ecf_gid = $("#HDR_EcfGId").val();
        return { GirdName: 'Payment', BatchGid: batchgid, EcfGid: ecf_gid }
    }

    function Get_Remarks() {
        debugger;
        var batchgid = $("#HDR_Batch_Gid").val();
        var ecf_gid = $("#HDR_EcfGId").val();
        return { GirdName: 'Remarks', BatchGid: batchgid, EcfGid: ecf_gid }
    }

    //function Fn_Read_Claim(gridname) {
    //    debugger;
    //    var batchgid = $("#HDR_Batch_Gid").val();
    //    return { GirdName: gridname, BatchGid: batchgid }
    //}

    function Fn_Get_NOEGid() {
        debugger;
        var Natureofexpensegid = $("#Exp_natureexpgid").val();
        return { Master: 'CTG', Master_Code: 'QCD_ExpenseCategory', Master_Gid: Natureofexpensegid }
    }

    function Fn_Get_CategoryGid() {
        debugger;
        var Categorygid = $("#Exp_catggid").val();
        return { Master: 'SCTG', Master_Code: '', Master_Gid: Categorygid }
    }

    function Fn_Get_GlGid() {
        debugger;
        var Glgid = $("#Exp_subcatggid").val();
        return { Master: 'HSN', Master_Code: '', Master_Gid: Glgid }
    }

    function Fn_Get_EcfGid() {
        debugger;
        var Ecfgid = $("#Exp_ecfgid").val();
        return { Master: 'Invoice', Master_Code: '', Master_Gid: Ecfgid }
    }

    function Fn_Get_PaymodeGLcode() {
        debugger;
        var paymode = $("#Pay_paymodemode").val();
        var glcode = $("#Pay_glcode").val();
        return { Paymode: paymode, Glcode: glcode }
    }

    function fn_claimSave() {
        debugger;
        var typeGid = $("#HDR_Type_Gid").val();
        var subtypeGid = $("#HDR_SubType_Gid").val();
        var raiserGid = $("#HDR_Raiser_Gid").val();
        var batchGid = $("#HDR_Batch_Gid").val();
        var createMode = $("#CLM_Create_Mode").val();
        var ecfraiser = $("#CLM_Emp_Gid").val();
        var employeeids = "";
        var emp = $("#CLM_Add_EmpGid").data("kendoMultiSelect").value();
        var employeeids = emp.join(",")
        return { BatchGid: batchGid, RaiserGid: raiserGid, TypeGid: typeGid, SubtypeGid: subtypeGid, Employee_Ids: employeeids, Employee_Role: createMode, EcfRaiser: ecfraiser }
    }

    function onChange_Natureofexpense() {
        debugger;
        $("#Exp_catggid").data("kendoDropDownList").dataSource.read();
        $("#Exp_catggid").data("kendoDropDownList").refresh();
    }

    function onChange_Category() {
        debugger;
        $("#Exp_subcatggid").data("kendoDropDownList").dataSource.read();
        $("#Exp_subcatggid").data("kendoDropDownList").refresh();
    }

    function onChange_Subcategory() {
        debugger;
        var Subcategorygid = $("#Exp_subcatggid").val();
        //return { Master: 'GL', Master_Code: '', Master_Gid: Subcategorygid }
        $.getJSON("Get_GL_Code/Claim?Master=" + 'GL' + "&Master_Gid=" + Subcategorygid, function (data) {
            debugger;
            $("#Exp_glcode").val(data).trigger("change");
        });
        //$("#Exp_glgid").data("kendoDropDownList").dataSource.read();
        //$("#Exp_glgid").data("kendoDropDownList").refresh();
        $("#Exp_hsngid").data("kendoDropDownList").dataSource.read();
        $("#Exp_hsngid").data("kendoDropDownList").refresh();
    }

    function onChange_Ecf() {
        debugger;
        $("#Exp_invoiceno").data("kendoAutoComplete").dataSource.read();
        $("#Exp_invoiceno").data("kendoAutoComplete").refresh();
    }

    function onChange_Paymode() {
        debugger;
        if ($("#Pay_paymodemode").val() == "SUS") {
            $("#Pay_glcode").data("kendoDropDownList").enable(true);
        }
        else if ($("#Pay_paymodemode").val() == "RRP") {
            var Refno = '@(System.Configuration.ConfigurationManager.AppSettings["RRPPayMode"].ToString())';
            $("#Pay_referenceno").val(Refno).trigger("change");
        }
        else if ($("#Pay_paymodemode").val() == "PPX") {
            var window = $("#kwindow_ppx").data("kendoWindow"); //get the Window widget's instance
            window.open();  //and call its open method
            window.center();
            $("#kendogrid_paymodeppx").data("kendoGrid").dataSource.read();
        }
        else {
            $("#Pay_glcode").data("kendoDropDownList").enable(false);
            $("#Pay_glcode").data("kendoDropDownList").select(0);
            $("#Pay_glcode").data("kendoDropDownList").trigger("change");
            $("#Pay_referenceno").val("").trigger("change");
        }
    }

    function onChange_PaymentGLCode() {
        debugger;
        $("#Pay_referenceno").val($("#Pay_glcode").val()).trigger("change");
    }

    $('.k-grid-add').click(function (e) {
        debugger;
        var Typegid = $("#HDR_Type_Gid").val()
        if (Typegid == "0" || Typegid == null || Typegid == "" || Typegid == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the Type.!',
                type: 'blue',
            });
            return false;
        }
        var Subtypegid = $("#HDR_SubType_Gid").val()
        if (Subtypegid == "0" || Subtypegid == null || Subtypegid == "" || Subtypegid == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the SubType.!',
                type: 'blue',
            });
            return false;
        }
    });

    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }

    function onRequestEnd(e) { //runs once the server operations is end.
        debugger;
        var message = "";
        //Check request type
        if (e.type == "create") {
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });

                    $("#HDR_Batch_Gid").val(message[0].batch_gid).trigger("change");
                    $("#HDR_Batch_No").val(message[0].batch_no).trigger("change"); // set batch no.
                    $("#HDR_Batch_Amount").val(message[0].batch_amount).trigger("change"); //rebind the batch amount.

                    setTimeout(function () {
                        debugger;
                        $("#kendgrid_claim").data("kendoGrid").dataSource.read();
                        $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                        $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendgrid_claim").data("kendoGrid").dataSource.read();
                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                }
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    $("#HDR_Batch_Amount").val(message[0].batch_amount).trigger("change"); // rebind the batch amount.
                    $("#HDR_Batch_No").val(message[0].batch_no).trigger("change");
                    setTimeout(function () {
                        debugger;
                        $("#kendgrid_claim").data("kendoGrid").dataSource.read();
                        $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                        $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendgrid_claim").data("kendoGrid").dataSource.read();
                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function onRequestEnd_Expense(e)//runs once the server operations is end.
    {
        debugger;
        var message = "";
        //Check request type
        if (e.type == "create") {
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_expense").data("kendoGrid").dataSource.read();
                       // $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    preventCloseOnSave = true;
                    // $("#kendogrid_expense").data("kendoGrid").dataSource.read();
                }
            }
        }
        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_expense").data("kendoGrid").dataSource.read();
                        //$("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    preventCloseOnSave = true;
                    //$("#kendogrid_expense").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function onRequestEnd_Remarks(e) {
        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function onRequestEnd_Payment(e) {
        debugger;
        if (e.type == "create") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    preventCloseOnSave = true;
                    //$("#kendogrid_payment").data("kendoGrid").dataSource.read();
                }
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                        position: 'center',
                    });
                    preventCloseOnSave = true;
                    //$("#kendogrid_payment").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function Fn_Deleteclaim_Details(kendoid) {
        debugger;
        var grid;
        var model;
        var gridgid
        var GridName;
        if (kendoid == '0') {
            GridName = 'Claim';
            grid = $("#kendgrid_claim").data("kendoGrid");
            model = grid.dataItem($(event.target).closest("tr"));
            gridgid = (model.CLM_Ecf_Gid);
        }
        else if (kendoid == '1') {
            GridName = 'Expense';
            grid = $("#kendogrid_expense").data("kendoGrid");
            model = grid.dataItem($(event.target).closest("tr"));
            gridgid = (model.Exp_gid);
        }
        else if (kendoid == '2') {
            GridName = 'Payment';
            grid = $("#kendogrid_payment").data("kendoGrid");
            model = grid.dataItem($(event.target).closest("tr"));
            gridgid = (model.Pay_gid);
            if (model.Pay_paymodemode == 'ERA') {
                $.dialog({
                    icon: 'fa fa-success',
                    title: 'IEM',
                    content: 'Could not be Delete the ERA Payment.!',
                    type: 'blue',
                });
                return false;
            }
        }
        else if (kendoid == '3') {
            GridName = 'Travel';
            grid = $("#kendogrid_travel").data("kendoGrid");
            model = grid.dataItem($(event.target).closest("tr"));
            gridgid = (model.Det_gid);
        }
        else if (kendoid == '4') {
            GridName = 'BoardingLodging';
            grid = $("#kendogrid_boardinglodging").data("kendoGrid");
            model = grid.dataItem($(event.target).closest("tr"));
            gridgid = (model.Det_gid);
        }
        else if (kendoid == '5') {
            GridName = 'Conveyance';
            grid = $("#kendogrid_conveyance").data("kendoGrid");
            model = grid.dataItem($(event.target).closest("tr"));
            gridgid = (model.Det_gid);
        }
        var batchgid = $("#HDR_Raiser_Gid").val()

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record.!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    debugger;
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Delete_Claim_Datails", "Claim")',
                        data: "{ GridGid:'" + gridgid + "', Batch_Gid:'" + batchgid + "',GridName:'" + GridName + "' }",
                        success: function (data) {
                            debugger;
                            var message = JSON.parse(data);
                            if (message[0].clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: message[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                if (GridName == 'Claim') {
                                    $("#HDR_Batch_Amount").val(message[0].batch_amount).trigger("change"); // rebind the batch amount.
                                    $("#HDR_Batch_No").val(message[0].batch_no).trigger("change");
                                    $("#kendogrid_expense").data("kendoGrid").dataSource.read();
                                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                                    $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                                }
                                grid.dataSource.read();
                            }, 1000);
                        },
                    });
                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

    // To click Cancel Tranction  redirect  to transaction cancellation delete method
    function onclick_Cancel() {
        debugger;
        var ecf = [];
        var claim = "";
        var data = $("#kendgrid_claim").data("kendoGrid").dataSource._data;
        for (i = 0; i < data.length; i++) {
            ecf.push(data[i].CLM_Ecf_Gid);
        }
        //var  claim = "'" + ecf + "'"
        var claim = ecf;
        $.ajax({
            type: "POST",
            // type: "GET",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("DeleteGrid", "Transactioncancellation")',
            data: "{ claim:'" + claim + "'}",

            success: function (data) {
                debugger;
                var Result = JSON.parse(data);
                if (Result[0]["Clear"] == 1) {

                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0]["Msg"],
                        type: 'green',
                        animationSpeed: 700,
                    });
                }

                setTimeout(function () {
                    //window.location.reload("ReadGrid", "Transactioncancellation");
                    window.location.href = '@Url.Action("Transactioncancellation", "Transactioncancellation")'
                }, 2500);
            },

        });

    }
</script>