﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model

<style>
     div#kwindow_tax {
        overflow: hidden;
    }
</style>
<div class="container">

    @Html.HiddenFor(mode => Model.Det_debilnegid)
    @Html.HiddenFor(mode => Model.Det_ecfgid)
    <div class="row">
        <div class="col-md-4">
            @Html.Label("Type", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                .Name("Det_gridtypegid")
                .DataTextField("Det_gridtypename")
                .DataValueField("Det_gridtypegid")
                .Events(e => e.Change("onChange_GirdType"))
                .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("Get_DropDown_List", "Claim", new { Master = "DetailType", Master_Code = "0", Master_Gid = "0" }); });
                }))
        </div>
    </div>
    <div class="row" id="div_travel">
        <div class="col-md-12 table-responsive">
            @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_travel")
                  .HtmlAttributes(new { @style = "width:90%;line-height:2em;font-weight:normal;height: 200px;margin-top:5px;" })
                  .ToolBar(toolbar => toolbar.Create().Text("Travel"))
                  .Columns(columns =>
                    {
                        columns.Bound(m => m.Det_gid).Title("Details Gid").Hidden();
                        columns.Bound(m => m.Det_debilnegid).Hidden();
                        columns.Bound(m => m.Det_ecfgid).Hidden();
                        columns.Bound(m => m.Det_typename).Title("Type").Width(100);
                        columns.Bound(m => m.Det_travelclassname).Title("Travel Class").Width(100);
                        columns.Bound(m => m.Det_datefrom).Title("Date").Width(80);
                        columns.Bound(m => m.Det_placefrom).Title("Place From").Width(100);
                        columns.Bound(m => m.Det_placeto).Title("Place To").Width(100);
                        columns.Bound(m => m.Det_amount).Title("Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                        columns.Command(cmd =>
                        {
                            cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                            cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Delete_Travel");
                        }).Title("Action").Width(50).Visible(Model.HDR_Status == "Draft" || Model.HDR_Status == "Audit Maker");
                        columns.Command(cmd =>
                        {
                            cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                        }).Title("Action").Width(40).Visible(Model.HDR_Status != "Draft" && Model.HDR_Status != "Audit Maker");
                        //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Edit").Width(30);
                        //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Fn_Deleteclaim_Details(3)' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(30).Hidden(ViewBag.IsApprover);
                    })
                  .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Travel_PopUp"); })
                  .Filterable()
                  .Sortable()
                  .Scrollable(s => s.Enabled(true).Height("auto"))
                  .Resizable(resize => resize.Columns(true))
                  .DataSource(dataSource => dataSource
                  .Ajax()
                  .ServerOperation(false)
                      // .Model(model => model.Id(p => p.Det_gid))
                  .Model(model =>
                    {
                        model.Id(p => p.Det_gid);
                        model.Field(f => f.Det_type).DefaultValue("T");
                    })
                  .PageSize(50)
                  .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd_Travel"))
                      //.Read(read => read.Action("Read_Claim", "Claim", new { GirdName = "BoargingLodging", BatchGid = Model.Det_debilnegid }))
                  .Read(read => read.Action("Read_Claim", "Claim").Data("Fn_Get_Debitelinegid_forTravel"))
                  .Create(Create => Create.Action("Update_TravelBoardingConveyance_Details", "Claim").Data("Fn_Get_EcfDebitelineGid"))
                  .Update(update => update.Action("Update_TravelBoardingConveyance_Details", "Claim").Data("Fn_Get_EcfDebitelineGid"))
                  ))
        </div>
    </div>

    <div class="row" id="div_boarding">
        <div class="col-md-12 table-responsive">
            @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_boardinglodging")
                  .HtmlAttributes(new { @style = "width:90%;line-height:2em;font-weight:normal;height: 200px;margin-top:5px;" })
                  .ToolBar(toolbar => toolbar.Create().Text("Boarding & Lodging"))
                  .Columns(columns =>
                    {
                        columns.Bound(m => m.Det_gid).Title("Details Gid").Hidden();
                        columns.Bound(m => m.Det_debilnegid).Hidden();
                        columns.Bound(m => m.Det_ecfgid).Hidden();
                        columns.Bound(m => m.Det_typename).Title("Type").Width(100);
                        columns.Bound(m => m.Det_hotel).Title("Hotel").Width(100);
                        columns.Bound(m => m.Det_placefrom).Title("Place").Width(100);
                        columns.Bound(m => m.Det_datefrom).Title("Date From").Width(80);
                        columns.Bound(m => m.Det_dateto).Title("Date To").Width(80);
                        columns.Bound(m => m.Det_amount).Title("Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                        columns.Command(cmd =>
                        {
                            cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                            cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Delete_BoardingLodging");
                        }).Title("Action").Width(50).Visible(Model.HDR_Status == "Draft" || Model.HDR_Status == "Audit Maker");
                        columns.Command(cmd =>
                        {
                            cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                        }).Title("Action").Width(40).Visible(Model.HDR_Status != "Draft" && Model.HDR_Status != "Audit Maker");
                        //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Edit").Width(30);
                        //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Fn_Deleteclaim_Details(4)' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(30).Hidden(ViewBag.IsApprover);
                    })
                  .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("BoardingLodging_PopUp"); })
                  .Filterable()
                  .Sortable()
                  .Scrollable(s => s.Enabled(true).Height("auto"))
                  .Resizable(resize => resize.Columns(true))
                  .DataSource(dataSource => dataSource
                  .Ajax()
                  .ServerOperation(false)
                      // .Model(model => model.Id(p => p.Det_gid))
                  .Model(model =>
                    {
                        model.Id(p => p.Det_gid);
                        model.Field(f => f.Det_type).DefaultValue("B");
                    })
                  .PageSize(50)
                  .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd_BoardingLodging"))
                      //.Read(read => read.Action("Read_Claim", "Claim", new { GirdName = "BoargingLodging", BatchGid = Model.Det_debilnegid }))
                  .Read(read => read.Action("Read_Claim", "Claim").Data("Fn_Get_Debitelinegid"))
                  .Create(Create => Create.Action("Update_TravelBoardingConveyance_Details", "Claim").Data("Fn_Get_EcfDebitelineGid"))
                  .Update(update => update.Action("Update_TravelBoardingConveyance_Details", "Claim").Data("Fn_Get_EcfDebitelineGid"))
                  ))
        </div>
    </div>

    <div class="row" id="div_conveyance">
        <div class="col-md-12 table-responsive">
            @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_conveyance")
                  .HtmlAttributes(new { @style = "width:90%;line-height:2em;font-weight:normal;height: 200px;margin-top:5px;" })
                  //.ToolBar(toolbar => toolbar.Create().Text("Conveyance"))
                           .ToolBar(toolBar =>
                    {
                        toolBar.Create().Text("Conveyance");
                        toolBar.Custom().Name("Conveyance").Text(" ").Url("#").HtmlAttributes(new { onclick = "return Debitlin_Upload('EmployeeConveyance')", @style = "margin-left: 85%;margin-top: -18px !important;font-size: 18px;", @class = "fa fa-upload" });
                    })
                  .Columns(columns =>
                    {
                        columns.Bound(m => m.Det_gid).Title("Details Gid").Hidden();
                        columns.Bound(m => m.Det_debilnegid).Hidden();
                        columns.Bound(m => m.Det_ecfgid).Hidden();
                        columns.Bound(m => m.Det_typename).Title("Type").Width(100);
                        columns.Bound(m => m.Det_datefrom).Title("Date").Width(80);
                        columns.Bound(m => m.Det_placefrom).Title("Location From").Width(100);
                        columns.Bound(m => m.Det_placeto).Title("Location To").Width(100);
                        columns.Bound(m => m.Det_km).Title("Km").Width(80);
                        columns.Bound(m => m.Det_rate).Title("Rate").Width(80);
                        columns.Bound(m => m.Det_amount).Title("Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                        columns.Command(cmd =>
                        {
                            cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                            cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Delete_Conveyance");
                        }).Title("Action").Width(50).Visible(Model.HDR_Status == "Draft" || Model.HDR_Status == "Audit Maker");
                        columns.Command(cmd =>
                        {
                            cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                        }).Title("Action").Width(40).Visible(Model.HDR_Status != "Draft" && Model.HDR_Status != "Audit Maker");
                        //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Edit").Width(30);
                        //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Fn_Deleteclaim_Details(5)' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(30).Hidden(ViewBag.IsApprover);
                    })
                  .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Conveyance_PopUp"); })
                  .Filterable()
                  .Sortable()
                  .Scrollable(s => s.Enabled(true).Height("auto"))
                  .Resizable(resize => resize.Columns(true))
                  .DataSource(dataSource => dataSource
                  .Ajax()
                  .ServerOperation(false)
                  .Model(model =>
                    {
                        model.Id(p => p.Det_gid);
                        model.Field(f => f.Det_type).DefaultValue("L");
                    })
                  .PageSize(50)
                  .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd_Conveyance"))
                  .Read(read => read.Action("Read_Claim", "Claim").Data("Fn_Get_Debitelinegid_forConveyance"))
                  .Create(Create => Create.Action("Update_TravelBoardingConveyance_Details", "Claim").Data("Fn_Get_EcfDebitelineGid"))
                  .Update(update => update.Action("Update_TravelBoardingConveyance_Details", "Claim").Data("Fn_Get_EcfDebitelineGid"))
                  ))
        </div>
    </div>

</div>

<script>

    function Delete_Travel()
    {
        debugger;
        Fn_Deleteclaim_Details('3');
    }

    function Delete_BoardingLodging() {
        debugger;
        Fn_Deleteclaim_Details('4');
    }

    function Delete_Conveyance() {
        debugger;
        Fn_Deleteclaim_Details('5');
    }

    $(document).ready(function () {
        debugger;
        var gridtravel = $("#kendogrid_travel").data("kendoGrid");
        gridtravel.bind("edit", function (event) {//function for changing kendo popup title.
            debugger;
            if (event.model.isNew() == true) {
                $("#Det_travelclassgid").data("kendoDropDownList").enable(false);
            }
            else {
                //$("#Det_travelclassgid").data("kendoDropDownList").dataSource.read();
                //$("#Det_travelclassgid").data("kendoDropDownList").refresh();
            }
        });
    });

    function onChange_GirdType()
    {
        debugger;
        var DetailType = $("#Det_gridtypegid").val();
        if (DetailType == 0)
        {
            $("#div_travel").hide();
            $("#div_boarding").hide();
            $("#div_conveyance").hide();
        }
        else if (DetailType == 1) {
            $("#kendogrid_travel").data("kendoGrid").dataSource.read();
            $("#div_travel").show();
            $("#div_boarding").hide();
            $("#div_conveyance").hide();
        }
        else if (DetailType == 2) {
            $("#kendogrid_boardinglodging").data("kendoGrid").dataSource.read();
            $("#div_travel").hide();
            $("#div_boarding").show();
            $("#div_conveyance").hide();
        }
        else if (DetailType == 3) {
            $("#kendogrid_conveyance").data("kendoGrid").dataSource.read();
            $("#div_travel").hide();
            $("#div_boarding").hide();
            $("#div_conveyance").show();
        }
    }

    function Fn_Get_TravelType() {
        debugger;
        var TravelType_GID = $("#Det_typegid").val();
        return { Master: 'TravelClass', Master_Code: '', Master_Gid: TravelType_GID }
    }

    function onChange_TravelType() {
        debugger;
        if ($("#Det_typegid").val() != '0') {
            $("#Det_travelclassgid").data("kendoDropDownList").dataSource.read();
            $("#Det_travelclassgid").data("kendoDropDownList").refresh();
            $("#Det_travelclassgid").data("kendoDropDownList").enable(true);
        }
        else {
            $("#Det_travelclassgid").data("kendoDropDownList").enable(false);
        }
        
    }

    function Fn_Get_Debitelinegid() {
        debugger;
        return { GirdName: 'BoardingLodging', BatchGid: $("#Det_debilnegid").val(), EcfGid: 0 };
    }

    function Fn_Get_Debitelinegid_forTravel() {
        debugger;
        return { GirdName: 'Travel', BatchGid: $("#Det_debilnegid").val(), EcfGid: 0 };
    }

    function Fn_Get_Debitelinegid_forConveyance() {
        debugger;
        return { GirdName: 'Conveyance', BatchGid: $("#Det_debilnegid").val(), EcfGid: 0 };
    }

    function onChange_PlaceFrom()
    {
        debugger;
        var PlaceFrom = $("#Det_placefrom").data("kendoDropDownList").text().trim().toUpperCase();
        var PlaceTo = $("#Det_placeto").data("kendoDropDownList").text().trim().toUpperCase();
        if (PlaceFrom == PlaceTo)
        {
            $("#Det_placefrom").data("kendoDropDownList").select(0);
            $("#Det_placefrom").data("kendoDropDownList").trigger("change");
        }
    }

    function onChange_PlaceTo() {
        debugger;
        var PlaceFrom = $("#Det_placefrom").data("kendoDropDownList").text().trim().toUpperCase();
        var PlaceTo = $("#Det_placeto").data("kendoDropDownList").text().trim().toUpperCase();
        if (PlaceFrom == PlaceTo) {
            $("#Det_placeto").data("kendoDropDownList").select(0);
            $("#Det_placeto").data("kendoDropDownList").trigger("change");
        }
    }

    function onRequestEnd_BoardingLodging(e) {
        debugger;
        if (e.type == "create") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_boardinglodging").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_boardinglodging").data("kendoGrid").dataSource.read();
                }
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_boardinglodging").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_boardinglodging").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function onRequestEnd_Travel(e) {
        debugger;
        if (e.type == "create") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_travel").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_travel").data("kendoGrid").dataSource.read();
                }
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_travel").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_travel").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function onRequestEnd_Conveyance(e) {
        debugger;
        if (e.type == "create") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_conveyance").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_conveyance").data("kendoGrid").dataSource.read();
                }
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_conveyance").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_conveyance").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

</script>