﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model

<style>
    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    div#kwindow_ppx {
        overflow: hidden;
    }

</style>

<div class="row" style="margin-top:10px;">
    <div class="col-sm-11  table-responsive">
        @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_paymodeppx")
                .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 150px;margin-top:5px;" })
                .Columns(columns =>
                    {
                        columns.Bound(m => m.ppx_ecfgid).Title("Ecf Gid").Hidden();
                        //columns.Bound(m => m.ppx_ecfno).Title("Ref No").Width(90);
                        columns.Bound(m => m.ppx_ecfno).ClientTemplate("<a style = 'color:blue;cursor:pointer' onclick=\"LoadValues()\">#=ppx_ecfno#</a>").Title("Ref No").Width(80);
                        columns.Bound(m => m.ppx_ecfarfgid).Hidden();
                        columns.Bound(m => m.ppx_beneficiary).Title("Benificiary").Width(100);
                        columns.Bound(m => m.ppx_beneficiaryaccount).Title("Benificiary Account No").Width(100);
                        columns.Bound(m => m.ppx_arfglno).Title("ARF GLNo").Width(90);
                        columns.Bound(m => m.ppx_arfamount).Title("ARF Amount").Width(70).HtmlAttributes(new { @style = "text-align: right;" });
                        columns.Bound(m => m.ppx_arfexception).Width(75).Title("Exception Amount").HtmlAttributes(new { @style = "text-align: right;" });
                        //columns.Bound(m => m.ppx_ecfno).ClientTemplate("<a style = 'color:blue;cursor:pointer' onclick=\"LoadValues()\">#=ppx_ecfno#</a>").Title("select").Width(50);
                    })
                .Filterable()
                .Sortable()
                .Scrollable(s => s.Enabled(true).Height("auto"))
                .Resizable(resize => resize.Columns(true))
                .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .Model(model => model.Id(p => p.ppx_ecfgid))
                .PageSize(50)
                .Read(read => read.Action("Read_Claim", "Claim").Data("Get_PPX"))
                ))
    </div>
</div>

<script>
    function Get_PPX() {
        debugger;
        var batchgid = $("#HDR_Batch_Gid").val();
        return { GirdName: 'PPXADJUSTMENT', BatchGid: batchgid, EcfGid: 0 }
    }

    function LoadValues()
    {
        debugger;

        var gridppx = $("#kendogrid_paymodeppx").data("kendoGrid");
        var gridppx = gridppx.dataItem($(event.target).closest("tr"));
        $("#Pay_glcode").data("kendoDropDownList").value(gridppx.ppx_arfglno);
        $("#Pay_glcode").data("kendoDropDownList").trigger("change")
       // $("#Pay_glcode").val(gridppx.ppx_arfglno).trigger("change");
        $("#Pay_beneficiary").val(gridppx.ppx_beneficiary).trigger("change");
        $("#Pay_creditamount").val(gridppx.ppx_arfexception).trigger("change");
        $("#Pay_referenceno").val(gridppx.ppx_ecfno).trigger("change");
        var window = $("#kwindow_ppx").data("kendoWindow"); //get the Window widget's instance
        window.close();  //and call its close method

    }
</script>