﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model

<style>
    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }

    div#kwindow_details {
        overflow: hidden;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Supplier Code & Name", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Tax_suppliergid")
                  .DataTextField("Tax_suppliername")
                  .DataValueField("Tax_suppliergid")
                  .Events(e => e.DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource(source =>
                   {
                       source.Read(read => { read.Action("Get_DropDown_List", "Claim", new { Master = "Supplier", Master_Code = "", Master_Gid = "0" }); });
                   }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Provider GSTIN", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Tax_providergstin, null, new { @class = "form-controls", @style = "width: 91% !important;", @maxlength = "15" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Provider Location", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Tax_providerlocationgid")
                  .DataTextField("Tax_providerlocationname")
                  .DataValueField("Tax_providerlocationgid")
                  .Events(e => e.DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource(source =>
                   {
                       source.Read(read => { read.Action("Get_DropDown_List", "Claim").Data("Fn_Get_ProviderLocation"); });
                   }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Receiver Location", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                  .Name("Tax_receiverlocationgid")
                  .DataTextField("Tax_receiverlocationname")
                  .DataValueField("Tax_receiverlocationgid")
                  .Events(e => e.Change("onChange_Receiver").DataBound("onDataBound_Common"))
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource(source =>
                   {
                       source.Read(read => { read.Action("Get_DropDown_List", "Claim", new { Master = "ReceiverLocation", Master_Code = "", Master_Gid = "0" }); });
                   }))
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-sm-2">
            @Html.Label("Receiver GSTIN", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Tax_receivergstin, null, new { @class = "form-controls", @style = "width: 91% !important;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Invoice No", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Tax_invoiceno, null, new { @class = "form-controls", @style = "width: 91% !important;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Invoice Date", new { @class = "lbl-font" })
            @(Html.Kendo().DatePicker()
                  .Name("Tax_invoicedate")
                  .Value(Model.Tax_invoicedate)
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 100%;", onkeypress = "return IsDateKey(event)" }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Invoice Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Tax_invoiceamount, null, new { @class = "form-controls", @type = "number", @style = "width: 91%;background-color: #eee;", @readonly = "readonly" })
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"> <button class="btn btn-success" id="button_Tax" type="button" style="margin-left: 40%;width: 50%;" onclick="return Update_TaxDetails();"> <i class="fa fa-save"></i> Update </button></div>
    </div>
    @Html.HiddenFor(model => model.Hidden_debitlinegids)
    @Html.HiddenFor(model => model.Hidden_ecfgid)
    @Html.HiddenFor(model => model.Hidden_taxtype)
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-9  table-responsive">
            @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_taxable")
                .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 150px;margin-top:5px;" })
                .Columns(columns =>
                    {
                        columns.Bound(m => m.Taxable_debitlinegid).Title("Debitline GID").Hidden();
                        columns.Bound(m => m.Taxable_glcodedesc).Title("GL Code & Desc").Width(90);
                        columns.Bound(m => m.Taxable_hsncode).Title("HSN Code").Width(80);
                        columns.Bound(m => m.Taxable_hsndesc).Title("HSN Description").Width(100);
                        columns.Bound(m => m.Taxable_subtype).Title("Tax Sub-Type").Width(80);
                        columns.Bound(m => m.Taxable_amount).Title("Taxable Amount").Width(90).HtmlAttributes(new { style = "text-align:right;" });
                        columns.Bound(m => m.Taxable_rate).Title("Tax Rate").Width(60).HtmlAttributes(new { style = "text-align:right;" });
                        columns.Bound(m => m.Taxable_gsttaxamount).Title("GST").Width(50).HtmlAttributes(new { style = "text-align:right;" });
                    })
                .Filterable()
                .Sortable()
                .Scrollable(s => s.Enabled(true).Height("auto"))
                .Resizable(resize => resize.Columns(true))
                .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .Model(model => model.Id(p => p.Taxable_debitlinegid))
                .PageSize(50)
                .Read(read => read.Action("Read_Taxable", "Claim").Data("Get_TaxableRecords"))
                ))
        </div>
    </div>
</div>

<script>
    function Get_TaxableRecords()
    {
        debugger;
        var taxecfgid = $("#Hidden_ecfgid").val();
        var taxdebitgid = $("#Hidden_debitlinegids").val();
        if (taxdebitgid == "" || taxdebitgid == null || taxdebitgid == undefined)
        {
            taxdebitgid = '0';
        }
        return { GirdName: 'Taxable', BatchGid: taxecfgid, DebitLineGid: taxdebitgid }
    }

    function Update_TaxDetails() {
        debugger;
        var supplier = $("#Tax_suppliergid").val();
        var provgstin = $("#Tax_providergstin").val();
        var provgid = $("#Tax_providerlocationgid").val();
        var recgid = $("#Tax_receiverlocationgid").val();
        var recgstin = $("#Tax_receivergstin").val();
        var invno = $("#Tax_invoiceno").val();
        var invdate = $("#Tax_invoicedate").val();
        var invamount = $("#Tax_invoiceamount").val();
        var debitline = $("#Hidden_debitlinegids").val();
        var ecfgid = $("#Hidden_ecfgid").val();
        var taxtype = $("#Hidden_taxtype").val();

        if ($("#Hidden_taxtype").val() == 'G') {
            if (supplier == 0 || supplier == "" || supplier == null || supplier == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please select the Supplier.!',
                    type: 'blue',
                });
                return false;
            }
            if (provgstin == 0 || provgstin == "" || provgstin == null || provgstin == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please enter the Provide GSTIN.!',
                    type: 'blue',
                });
                return false;
            }
            if (provgid == 0 || provgid == "" || provgid == null || provgid == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please select the Provider Location.!',
                    type: 'blue',
                });
                return false;
            }
            if (recgid == 0 || recgid == "" || recgid == null || recgid == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please select the Receiver Location.!',
                    type: 'blue',
                });
                return false;
            }
            if (invdate == 0 || invdate == "" || invdate == null || invdate == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please select the Invoice Date.!',
                    type: 'blue',
                });
                return false;
            }
            if (invamount == 0 || invamount == "" || invamount == null || invamount == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please Enter the Invoice Amount.!',
                    type: 'blue',
                });
                return false;
            }          
        }
        else {
            if (supplier == 0 || supplier == "" || supplier == null || supplier == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please select the Supplier.!',
                    type: 'blue',
                });
                return false;
            }
            if (invno == "0" || invno == "" || invno == null || invno == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please Enter the Invoice No.!',
                    type: 'blue',
                });
                return false;
            }
            if (invdate == 0 || invdate == "" || invdate == null || invdate == undefined) {
                $.dialog({
                    title: 'IEM',
                    content: 'Please select the Invoice Date.!',
                    type: 'blue',
                });
                return false;
            }
        }

        var Tax = {};
        Tax.Hidden_taxtype = taxtype;
        Tax.Hidden_ecfgid = ecfgid;
        Tax.Hidden_debitlinegids = debitline;
        Tax.Tax_suppliergid = supplier;
        Tax.Tax_providergstin = provgstin;
        Tax.Tax_providerlocationgid = provgid;
        Tax.Tax_receiverlocationgid = recgid;
        Tax.Tax_receivergstin = recgstin;
        Tax.Tax_invoiceno = invno;
        Tax.Tax_invoicedate = invdate;
        Tax.Tax_invoiceamount = invamount;
        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("Update_TaxDetails", "Claim")',
            data: '{objModel: ' + JSON.stringify(Tax) + '}',
            success: function (result) {
                debugger;
                message = JSON.parse(result);
                if (message[0].clear == 1) {
                    $.dialog({
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        $("#kendogrid_taxable").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_taxable").data("kendoGrid").dataSource.read();
                }
            }
        });
    }

    function onChange_Receiver() {
        debugger;
        var Receivergid = $("#Tax_receiverlocationgid").val();
        //return { Master: 'GL', Master_Code: '', Master_Gid: Subcategorygid }
        $.getJSON("Get_GL_Code/Claim?Master=" + 'ReceiverGSTIN' + "&Master_Gid=" + Receivergid, function (data) {
            debugger;
            $("#Tax_receivergstin").val(data).trigger("change");
        });
    }

    function Fn_Get_ProviderLocation() {
        debugger;
        var gstin = $('#Tax_providergstin').val();
        if (gstin != "" && gstin != null && gstin != undefined) {
            gstin = gstin.substring(0, 2);
        }
        else {
            gstin = 0;
        }
        return { Master: 'ProviderLocation', Master_Code: '', Master_Gid: gstin }
    }

    $("#Tax_providergstin").keydown(function (e) {
        debugger
        if (e.which == 9) {
            if ($('#Tax_providergstin').val() != "" && $('#Tax_providergstin').val() != null
                && $('#Tax_providergstin').val() != undefined && $('#Tax_providergstin').val().length == 15) {
                var gstin = $('#Tax_providergstin').val();
                gstin = gstin.substring(0, 2);
                var numberRegex = /^[+-]?\d+(\.\d+)?([eE][+-]?\d+)?$/;
                if (numberRegex.test(gstin)) {
                    $("#Tax_providerlocationgid").data("kendoDropDownList").dataSource.read();
                    $("#Tax_providerlocationgid").data("kendoDropDownList").refresh();
                }
                else {
                    $.dialog({
                        title: 'IEM',
                        content: 'Please enter the valid GSTIN.!',
                        type: 'blue',
                    });
                    return false;
                }
            }
            else {
                $.dialog({
                    title: 'IEM',
                    content: 'Please enter the valid GSTIN.!',
                    type: 'blue',
                });
                return false;
            }

        }
    });
</script>