﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.APCheker_Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        a.k-grid-View {
            background: transparent !important;
            border: transparent !important;
        }
    </style>
</head>
<body>

    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:#fff;">AP Checker</p>
        </div>
    </div>

    <div class="container-fluid" id="APChecker">
        <div class="row mt-1">
            <div class="col-md-12  table-responsive">
                @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.APCheker_Model>().Name("kendgrid_apauthorizer")
                    .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 400px;margin-top:5px;" })
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.Ref_Gid).Title("ECF Gid").Hidden();
                        columns.Bound(m => m.Ref_No).Title("Ref No.").Width(70);
                        columns.Bound(m => m.Ref_Date).Title("Date").Width(70).Format("{0:dd-MM-yyyy}");
                        columns.Bound(m => m.Type_SubType).Title("Type / Sub Type").Width(100);
                        columns.Bound(m => m.Status).Title("Status").Width(70);
                        columns.Bound(m => m.Amount).Title("Amount").Width(70).HtmlAttributes(new { style = "text-align:right;" });
                        columns.Bound(m => m.Raiser_Id_Name).Title("Raiser ID / Name").Width(100);
                        columns.Bound(m => m.Supplier_Code_Name).Title("Supplier Code / Name").Width(100);
                        columns.Bound(m => m.Type_Gid).Title("Type Gid").Hidden();
                        columns.Bound(m => m.Type).Title("Type").Hidden();
                        columns.Bound(m => m.SubType_Gid).Title("Sub Type Gid").Hidden();
                        columns.Bound(m => m.SubType).Title("Sub Type").Hidden();
                        columns.Bound(m => m.Raiser).Title("Raiser").Hidden();
                        columns.Bound(m => m.Batch_Gid).Hidden();
                        columns.Bound(m => m.Ref_Gid).Title("Select").Template(@<text></text>).ClientTemplate("<input type='checkbox' class='chkbx' />").Width(40);
                        columns.Command(cmd =>
                        {
                            cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;font-size: 12px;'>").Click("ViewCheckList");
                        }).Title("Action").Width(40);
                    })
                            .Filterable()
                            .Sortable()
                            .Scrollable(s => s.Enabled(true).Height("auto"))
                            .Resizable(resize => resize.Columns(true))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Model(model => model.Id(p => p.Ref_Gid))
                            .PageSize(50)
                            .Events(events => events.Error("error_handler"))
                            .Read(read => read.Action("Get_APCheckerList", "APChecker", new { GridAction = "AUTHORIZER" }))
                        ))
            </div>

            <div class="row table-responsive" style="margin-top:1%;">
                <div class="col-sm-6">
                    @*@Html.Label("Remarks", new { @class = "lbl-font" })*@
                    @Html.TextAreaFor(model => model.Auth_Remarks, new { @placeholder = "Remarks", @class = "form-controls", @style = "height:35% !important;min-width: 100% !important;margin-left: 2%;" })
                </div>
                <div class="col-md-2" style="margin-top: 1%;">
                    @*@Html.Label("Authorizer Status", new { @class = "lbl-font" }) &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;*@
                    &nbsp;&nbsp;   <input type="radio" class="rdo-apprej" name="rblstatus" id="rblstatus" value="Approve" >&nbsp;<span style="color: green;font-size: 15px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Approve
                    &nbsp;&nbsp; <input type="radio" class="rdo-apprej" name="rblstatus" id="rblstatus" value="Reject" >&nbsp;<span style="color: red;font-size: 15px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;Reject
                </div>
                <div class="col-md-2" style="margin-top: 1%;" id="div_gldate">
                    @*@Html.Label("Gl Value Date", new { @class = "lbl-font" })*@
                    @(Html.Kendo().DatePicker()
                      .Name("GLValue_Date")
                      .Format("dd-MM-yyyy")
                      .HtmlAttributes(new { @placeholder = "GL Value Date", @style = "width: 100%;", onkeypress = "return IsDateKey(event)" }))
                </div>
                <div class="col-md-2" style="margin-top: 0.5%;">
                    <button type="button" style="width: 70%;margin-top: 2%;" class="btn btn-success" onclick="return AuthoriseSubmit()"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;Authorise</button>
                </div>
            </div>

        </div>
    </div>

</body>
</html>

<script type="text/javascript">
    function ViewCheckList() {
        debugger;
        var grid = $("#kendgrid_apauthorizer").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.Type.toLowerCase();
        var BatchGID = model.Batch_Gid;
        var EcfGID = model.Ref_Gid;
        var RaiserGID = model.Raiser;
        var ClaimStatus = model.Status;
        if (ClaimType == 'claim') {
            var url = '@Url.Action("Claim", "Claim", new { Area = "EOW", BatchGID = "REPLACEBATCH", EcfGID = "REPLACEECFGID", ClaimStatus = "REPLACESTATUS" })';
            url = url.replace('REPLACEBATCH', BatchGID).replace('REPLACEECFGID', EcfGID).replace('REPLACESTATUS', ClaimStatus);
            window.open(url.replace(/amp;/g, ''), '_blank');
        }
        else if (ClaimType == 'invoice') {
            var url = '@Url.Action("SupplierinvoiceDetails", "SupplierInvoice", new { Area = "EOW", BatchGID = "REPLACEBATCH", EcfGID = "REPLACEECFGID", RaiserGID = "RAISERGID", ClaimStatus = "REPLACESTATUS" })';
            url = url.replace('REPLACEBATCH', BatchGID).replace('REPLACEECFGID', EcfGID).replace('RAISERGID', RaiserGID).replace('REPLACESTATUS', ClaimStatus);
            window.open(url.replace(/amp;/g, ''), '_blank');
        }
        else if (ClaimType == 'advance') {
            var url = '@Url.Action("AdvanceRequisition", "AdvanceRequisition", new { Area = "EOW", BatchGID = "REPLACEBATCH", EcfGID = "REPLACEECFGID", PageStatus = "REPLACESTATUS" })';
            url = url.replace('REPLACEBATCH', BatchGID).replace('REPLACEECFGID', EcfGID).replace('REPLACESTATUS', ClaimStatus);
            window.open(url.replace(/amp;/g, ''), '_blank');
        }
    }

    function showhide_gldate(status)
    {
        debugger;
        if (status == "Approve") {
            $("#div_gldate").show();
        }
        else {
            $("#div_gldate").hide();
        }

    }

    function error_handler(e) {
        debugger;
        e.preventDefault();
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM',
                content: message,
                type: 'blue',
            });
        }
    }

    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }

    function AuthoriseSubmit() {
        debugger;
        var grid = $("#kendgrid_apauthorizer").data("kendoGrid");
        var checkedrows = $(".chkbx:checked", grid.tbody).closest("tr");
        if (checkedrows.length == 0) {
            $.alert({
                title: 'IEM Product',
                content: 'Select atleast one record to Authorise.!',
                type: 'blue',
            });
            return false;
        }

        if ($("#GLValue_Date").val() == "" || $("#GLValue_Date").val() == null || $("#GLValue_Date").val() == undefined ||
            $("#Auth_Remarks").val() == "" || $("#Auth_Remarks").val() == null || $("#Auth_Remarks").val() == undefined ||
            $("#rblstatus").val() == "" || $("#rblstatus").val() == null || $("#rblstatus").val() == undefined) {
            $.alert({
                title: 'IEM Product',
                content: 'Ensure GL Value Date  and \n Remarks and \n Authoriser Status are Filled.!',
                type: 'blue',
            });
            return false;
        }

        var arr_ecfgid = [];
        var ecfgids;
        for (var i = 0; i < checkedrows.length; i++) {
            var item = grid.dataItem(checkedrows[i]);
            arr_ecfgid.push(item.Ref_Gid);
        }
        ecfgids = arr_ecfgid.join(",");

        var apmodelObj = {};
        apmodelObj.AP_Action = "AUTHORIZER";
        apmodelObj.CheckList_ecf_gid = 0;
        apmodelObj.CheckList_status = $("input[name='rblstatus']:checked").val();
        apmodelObj.AP_Remarks = $("#Auth_Remarks").val();
        apmodelObj.ecfgids = ecfgids;
        apmodelObj.gldate = $("#GLValue_Date").val();   //.data("kendoDatePicker").text().trim();

        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("APChecklist_Submit", "Claim", new { Area = "EOW"})',
            data: '{APobjModel: ' + JSON.stringify(apmodelObj) + '}',
            success: function (result) {
                var message = JSON.parse(result);
                if (message[0].clear == 1) {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendgrid_apauthorizer").data("kendoGrid").dataSource.read();
                        $("#GLValue_Date").val("");
                        $("#Auth_Remarks").val("");
                        $('.rdo-apprej').prop('checked', false);
                    }, 500);
                }
                else {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                }
            }
        });

    }
</script>