﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;

@model DataAccessHandler.Models.FlexiBuy.POUpload_Model

<!DOCTYPE html>

<html>


<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:white;">PO Upload</p>
        </div>
    </div>
    <div class="container-fluid">


        <div class="row" style="margin-top:10px;">

           
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("File Name", new { @class = "lbl-font" })
                    <input type="file" class="form-control input-lg browse btn btn-primary input-lg" name="File_Import" id="File_Import" style="width: 100%;height: 30px;">
                    <label class="col-md-6 control-label" id="FileName"></label>
                </div>
            </div>
            <div class="col-md-2" style=" margin-top: 20px;">
                <button type="submit" value="Upload" style="width:70%" onclick="FileImport()" class=" btn btn-primary ">
                    Upload
                </button>
            </div>
            <div class="col-md-2" style=" margin-top: 20px;">
                <button type="submit" value="Upload" style="width:70%" onclick="OnClear()" class="btn btn-primary">
                    Clear
                </button>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class=" col-md-12">
                @using (Html.BeginForm("POUpload", "POUpload", FormMethod.Post, new { @id = "Form_POUpload" }))
                {
                    @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiBuy.POUpload_Model>().Name("KendGrid_POUpload")
                                       .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })

                                    .Columns(columns =>
                                    {

                                        columns.Bound(m => m.poupload_gid).Title("Ref id").Hidden();
                                        columns.Bound(m => m.SlNo).Title("Sl No").Width(80);
                                        columns.Bound(m => m.poupload_status).Title("Status").Width(90);
                                        columns.Bound(m => m.poupload_remarks).Title("Remarks").Width(120);
                                        columns.Bound(m => m.File_Gid).Title("File_Gid").Hidden();
                                        columns.Bound(m => m.Poheader_pono).Title("PO No").Width(120);
                                        columns.Bound(m => m.poheader_desc).Title("PO Desc").Width(135);
                                        columns.Bound(m => m.poheader_period_from).Title("Period From").Width(90).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.poheader_period_to).Title("Period To").Width(90).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.poheader_vendor_code).Title("Vendor Code").Width(160);
                                        columns.Bound(m => m.poheader_vendor_contact_code).Title("Vendor Contact Code").Width(160);
                                        columns.Bound(m => m.poheader_type).Title("PO Type").Width(150);
                                        columns.Bound(m => m.poheader_request).Title("PO Request Type").Width(95);
                                        columns.Bound(m => m.poheader_raiser_code).Title("PO Raiser Code").Width(130);
                                        columns.Bound(m => m.podts_item_desc).Title("Item Desc").Width(100);
                                        columns.Bound(m => m.podts_item_Qty).Title("Item Qty").Width(130);
                                        columns.Bound(m => m.podts_unit_price).Title("Unit Price").Width(130);

                                    })


                                      .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(5))
                                            .Filterable()
                                            .Events(events => events
                                            .DataBound("onDataBound"))
                                            .Sortable()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .ServerOperation(false)
                                                .Model(model => model.Id(p => p.poupload_gid))
                                            .PageSize(20)
                                                //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                                    .Read(read => read.Action("Read_PoUpload", "POUpload").Data("GetAction"))
                                    ))
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:0.3%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-sm-2">
            </div>           
            <div class="col-md-2" style=" margin-top: 21px;">
                <button type="submit" id="Upload" value="Upload" style="width:70%" onclick="Update()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-saved" style="color:white; font-size:12px;"></span> Confirm
                </button>

            </div>
        </div>
    </div>





</body>
</html>

<script>
    function GetAction() {

        var modelobj = {};
        modelobj.Action = "GetData";
    
        return { "Obj_Model": modelobj }
    }

    $(document).ready(function () {
        debugger;
        var grid = $("#KendGrid_POUpload").data("kendoGrid");
        var dataSource = grid.dataSource;
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
        });     
    })

    function onDataBound(e) {
        debugger;
        var count = $("#KendGrid_POUpload").data("kendoGrid").dataSource.data().length;
        if (count == 0) {
            $('#Upload').attr("disabled", true);
        }
        else {
            $('#Upload').attr("disabled", false);
        }
    }

    function FileImport() {
        debugger;
        var filesize = $('#File_Import').val();

        if (filesize == "" || filesize == null) {
            $.alert({
                title: 'IEM',
                content: 'Choose corresponding file.!',
                type: 'blue',
            });
            return false;
        }

        var Filsize = $('#File_Import')[0].files[0].size;
        if (Filsize > 5242880) {
            $.alert({
                title: 'IEM',
                content: 'File size should be below in 5 MB.!',
                type: 'blue',
            });
            return false;
        }

        var fileData = new FormData();
        var fileUpload = $("#File_Import").get(0);


        var files = fileUpload.files;
        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        //fileData.append('TemplateType_desc', TemplateType_desc);


        $.ajax({
            url: '@Url.Action("Upload_FileImport", "POUpload")',
            type: "POST",
            contentType: false,
            processData: false,

            data: fileData,
            success: function (result) {
                debugger;
                if (result == 'failed') {
                    $.alert({
                        title: 'IEM',
                        content: 'Upload failed.!',
                        type: 'blue',
                    });
                    return false;
                }
                else if (result == 'invalid file') {
                    $.alert({
                        title: 'IEM',
                        content: 'Invaild file.!',
                        type: 'blue',
                    });
                    return false;
                }

                else if (result == 'mandatory fields empty') {
                    $.alert({
                        title: 'IEM',
                        content: 'Mandatory fields are empty.!',
                        type: 'blue',
                    });
                    return false;
                }
                else if (result == 'failed') {
                    $.alert({
                        title: 'IEM',
                        content: 'Upload failed.!',
                        type: 'blue',
                    });
                    return false;
                }
                else if (result == 'invalid header name') {
                    $.alert({
                        title: 'IEM',
                        content: 'Invalid header name.!',
                        type: 'blue',
                    });
                    return false;
                }
                else if (result == 'inserted') {

                    $.dialog({
                        title: 'IEM',
                        content: 'Uploaded Successfully.!',
                        type: 'green',
                    });

                    setTimeout(function () {

                        $("#KendGrid_POUpload").data("kendoGrid").dataSource.read();
                       
                    }, 2000);
                }
                else
                    $.alert({
                        title: 'IEM',
                        content: result,
                        type: 'blue',
                    });
                setTimeout(function () {

                    $("#KendGrid_POUpload").data("kendoGrid").dataSource.read();

                }, 2000);
                return false;

            },
            error: function (error) {
                $.alert({
                    title: 'IEM',
                    content: 'Error.!',
                    type: 'red',
                });
            }
        });

    }



    function OnClear() {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("Upload_FileClear", "POUpload")',
            //data: '{Obj_Model: ' + JSON.stringify(PulloutData) + '}',
            success: function (response) {
                if (response == '1') {
                    setTimeout(function () {
                        $("#KendGrid_POUpload").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
            },
            error: function (response) {
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });
       
        $('#File_Import').val("");
    }

    function Update() {
        debugger;
        var grid = $("#KendGrid_POUpload").data("kendoGrid");
        var dataSource = grid.dataSource;
        var totalRecords = dataSource.total();
        if (totalRecords == "0") {
            $.alert({
                title: 'IEM',
                content: 'No Records to found.!',
                type: 'red',
            });
            return false;
        }
       

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("Upload_FileConfirm", "POUpload")',
            //data: '{Obj_Model: ' + JSON.stringify(PulloutData) + '}',
            success: function (response) {
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            $("#KendGrid_POUpload").data("kendoGrid").dataSource.read();
                           

                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'red',
                        });
                        $("#KendGrid_POUpload").data("kendoGrid").dataSource.read();
                    

                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                    $("#KendGrid_POUpload").data("kendoGrid").dataSource.read();
                  

                }
            },
            error: function (response) {
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });
    }


</script>

