﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.AdvanceRequisition_Model

@{
    DBHelper.Attachment_Model objModel_attach = new DBHelper.Attachment_Model();
    DataAccessHandler.Models.EOW.SupplierInvoice_Model objModel_Invoice = new DataAccessHandler.Models.EOW.SupplierInvoice_Model();
    objModel_Invoice.PageFor = Model.PageStatus;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .lbl-font {
            font-weight: normal;
        }

        .form-control {
            height: 30px !important;
        }

        .k-state-disabled {
            background: #efefef;
        }

        a.k-button.k-button-icontext.k-grid-Tax {
            height: 10px;
            margin-top: -28px;
            margin-left: 25px;
        }

        a.k-grid-Delete {
            background: transparent !important;
            border: transparent !important;
        }

        a.k-grid-View {
            background: transparent !important;
            border: transparent !important;
        }

        .well {
            min-height: 20px;
            padding: 10px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        }
    </style>
</head>
<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:#fff;">Advance Requisition</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-1">
            <div class="col-md-12">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#raise">Advance Requisition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#attach2" onclick="return Show_BatchWise_Attachments();">Attachments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#audit">Audit Trail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#auditcheck">Audit Check List</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane containers active" id="raise">
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-sm">Header</button>
                            </div>
                        </div>

                        @(Html.Kendo().Window()
                            .Name("kwindow_attachment")
                            .Title("Attachment")
                            .Content(@<text> @Html.Partial("Attachment", objModel_attach) </text>)
                            .Draggable()
                            .Resizable()
                            .Width(1000)
                            .Height(450)
                            .Modal(true)
                            .Visible(false))


                        @(Html.Kendo().Window()
                            .Name("kwindow_coa")
                            .Title("Details") //set the title of the window
                            .Content(@<text>@Html.Partial("COA_Partial_View", objModel_Invoice)</text>)
                            .Draggable()
                            .Resizable()
                            .Width(1100)
                            .Height(300)
                            .Modal(true)
                            .Scrollable(false)
                            .Visible(false))

                        @(Html.Kendo().Window()
                        .Name("TDS")
                        .Title("TDS") //set the title of the window
                        .Content(@<text> @Html.Partial("TDS", objModel_Invoice) </text>)
                        .Draggable()
                        .Resizable()
                        .Width(1200)
                        .Height(450)
                        .Modal(true)
                        .Visible(false))

                        @Html.HiddenFor(m => m.Batch_Gid)
                        @Html.HiddenFor(m => m.Ecf_Gid)
                        @Html.HiddenFor(m => m.PageStatus)
                        @Html.HiddenFor(m => m.Sup_Emp_Type)
                        @Html.HiddenFor(model => model.Ecf_Gid, new { @id = "HDR_EcfGId" })
                        <div class="row">
                            <div class="col-md-2">
                                @Html.Label("Type", new { @class = "lbl-font" })
                                @(Html.Kendo().DropDownList()
                                      .Name("Type_Gid")
                                      .DataTextField("Type_Name")
                                      .DataValueField("Type_Gid")
                                      .Events(e => e.DataBound("onDataBound_Type"))
                                      .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                                      .DataSource(source =>
                                      {
                                          source.Read(read => { read.Action("Get_dropdownlist_records", "AdvanceRequisition", new { Master = "Type", Master_Code = "QCD_Type", Master_Gid = "0" }); });
                                      }))
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Sub Type", new { @class = "lbl-font" })
                                @(Html.Kendo().DropDownList()
                                      .Name("SubType_Gid")
                                      .DataTextField("SubType_Name")
                                      .DataValueField("SubType_Gid")
                                      .Filter("contains")
                                      .Events(e => e.DataBound("onDataBound_SubType"))
                                      .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                                      .DataSource(source =>
                                      {
                                          source.Read(read => { read.Action("Get_dropdownlist_records", "AdvanceRequisition").Data("Get_Type"); });
                                      }))
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Raiser ID & Name", new { @class = "lbl-font" })
                                @Html.TextBoxFor(model => model.Employee_Name, new { @class = "form-control", @readonly = "readonly" })
                                @Html.HiddenFor(model => model.Employee_Gid)
                            </div>
                            @*<div class="col-md-2" id="div_supplier">
                                    @Html.Label("Raiser ID & Name", new { @class = "lbl-font" })
                                    @(Html.Kendo().DropDownList()
                                          .Name("Supplier_Gid")
                                          .DataTextField("Supplier_Name")
                                          .DataValueField("Supplier_Gid")
                                          .Filter("contains")
                                          .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("Get_dropdownlist_records", "AdvanceRequisition", new { Master = "Supplier", Master_Code = "0", Master_Gid = "0" }); });
                                          }))
                                </div>*@
                            <div class="col-md-2">
                                @Html.Label("Batch No", new { @class = "lbl-font" })
                                @Html.TextBoxFor(model => model.Batch_No, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Batch Amount", new { @class = "lbl-font" })
                                @Html.TextBoxFor(model => model.Batch_Amount, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Batch Status", new { @class = "lbl-font" })
                                @Html.TextBoxFor(model => model.Display_Batch_Status, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.AdvanceRequisition_Model>().Name("kendgrid_debitline")
                                          .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 150px;margin-top:5px;" })
                                          .ToolBar(toolbar => toolbar.Create().Text("Debit Line"))
                                          .Columns(columns =>
                                            {
                                                columns.Bound(m => m.Ref_Gid).Title("Ref Gid").Hidden();
                                                columns.Bound(m => m.Ref_No).Title("Ref No.").Width(80);
                                                columns.Bound(m => m.Emp_Supl_Code).Title("Emp/Supp Code & Name").Width(115);
                                                columns.Bound(m => m.AdvanceType_Name).Title("Advance Type").Width(80);
                                                columns.Bound(m => m.GL_CodeDesc).Title("GL Code & Desc").Width(85);
                                                columns.Bound(m => m.Description).Title("Description").Width(140);
                                                columns.Bound(m => m.Advance_Amount).Title("Advance Amount").Width(90).HtmlAttributes(new { @style = "text-align: right;" });
                                                columns.Bound(m => m.Liquidation_Date).Title("Liquidation Date").Width(90);
                                                columns.Bound(m => m.Debitline_Gid).Title("DebitLine Gid").Hidden();
                                                columns.Bound(m => m.Invoice_Gid).Title("DebitLine Gid").Hidden();
                                                columns.Bound(m => m.Supplier_Gid).Title("Supplier Gid").Hidden();
                                                columns.Bound(m => m.Supplier_Name).Title("Supplier").Hidden();
                                                columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Show_COA_PartialView()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("COA").Width(30);
                                                columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return GetTDS()' class='deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("TDS").Width(30);
                                                columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return Show_Attachment_PartialView()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Attach").Width(30);
                                                //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Edit").Width(30);
                                                //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return deleteadvance()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(30);
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                                    cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("deleteadvance");
                                                }).Title("Action").Width(40).Visible(Model.PageStatus == "Draft");
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                                                }).Title("Action").Width(40).Visible(Model.PageStatus != "Draft");
                                            })
                                            .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("ARF_PopUp"); })
                                            .Filterable()
                                            .Sortable()
                                            .Selectable(sl => sl.Enabled(true))
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .ServerOperation(false)
                                            .Model(model => model.Id(p => p.Ref_Gid))
                                            .PageSize(50)
                                            .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                            .Read(read => read.Action("Read_ARF", "AdvanceRequisition").Data("Get_Batch_Records"))
                                            .Create(Create => Create.Action("Save_AdvanceRequisition", "AdvanceRequisition").Data("Get_header_details"))
                                            .Update(update => update.Action("Update_AdvanceRequisition", "AdvanceRequisition").Data("Get_header_details"))
                                        ))
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_payment")
                                      .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 150px;margin-top:5px;" })
                                        //.ToolBar(toolbar => toolbar.Create().Text("Payment"))
                                      .Columns(columns =>
                                            {
                                                columns.Bound(m => m.Pay_gid).Title("Payment Gid").Hidden();
                                                columns.Bound(m => m.Pay_ecfgid).Title("Ecf Gid").Hidden();
                                                columns.Bound(m => m.Pay_ecfno).Title("Ref No.").Width(50);
                                                columns.Bound(m => m.Pay_paymodemode).Title("Paymode").Width(50);
                                                columns.Bound(m => m.Pay_beneficiary).Title("Beneficiary").Width(100);
                                                columns.Bound(m => m.Pay_creditamount).Title("Credit Amount").Width(100).HtmlAttributes(new { @style = "text-align: right;" });
                                                columns.Bound(m => m.Pay_referenceno).Title("Pay Ref No.").Width(100);
                                                columns.Bound(m => m.Pay_paymentdate).Title("Payment Date").Width(100);
                                                columns.Bound(m => m.Pay_paymentstatus).Title("Payment Status").Width(100);
                                                //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(30);
                                                //columns.Command(cmd =>
                                                //{
                                                //    cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                                //}).Title("Action").Width(40).Visible(Model.PageStatus == "Draft");
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                                                }).Title("Action").Width(40);
                                            })
                                      .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Payment_PopUp"); })
                                      .Filterable()
                                      .Sortable()
                                      .Selectable(sl => sl.Enabled(true))
                                      .Scrollable(s => s.Enabled(true).Height("auto"))
                                      .Resizable(resize => resize.Columns(true))
                                      .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .ServerOperation(false)
                                      .Model(model => model.Id(p => p.Pay_gid))
                                      .PageSize(50)
                                      .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd_Payment"))
                                      .Read(read => read.Action("Read_Claim", "Claim").Data("Get_Payment"))
                                      .Create(Create => Create.Action("Update_Payment", "Claim"))
                                      .Update(update => update.Action("Update_Payment", "Claim"))
                                      ))
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 table-responsive">
                                @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.Claim_Model>().Name("kendogrid_remarks")
                                      .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 140px;margin-top:5px;" })
                                      .Columns(columns =>
                                            {
                                                columns.Bound(m => m.Rem_gid).Title("Ecf Gid").Hidden();
                                                columns.Bound(m => m.Rem_ecfno).Title("Ref No").Width(50);
                                                columns.Bound(m => m.Rem_status).Title("Status").Width(50);
                                                columns.Bound(m => m.Rem_remarks).Title("Remarks").Width(200);
                                                //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(30);
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                                }).Title("Action").Width(40).Visible(Model.PageStatus == "Draft");
                                                columns.Command(cmd =>
                                                {
                                                    cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("ViewMode");
                                                }).Title("Action").Width(40).Visible(Model.PageStatus != "Draft");
                                            })
                                      .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Remarks_PopUp"); })
                                      .Filterable()
                                      .Sortable()
                                      .Selectable(sl => sl.Enabled(true))
                                      .Scrollable(s => s.Enabled(true).Height("auto"))
                                      .Resizable(resize => resize.Columns(true))
                                      .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .ServerOperation(false)
                                      .Model(model => model.Id(p => p.Rem_gid))
                                      .PageSize(50)
                                      .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd_Remarks"))
                                      .Read(read => read.Action("Read_Claim", "Claim").Data("Get_Remarks"))
                                      .Update(update => update.Action("Update_Remarks", "Claim"))
                                      ))
                            </div>

                            <div class="col-md-4" id="divSubmit">
                                <button type="button" class="btn btn-info" onclick="return onclick_Draft()" style="width: 20%;margin-top: 10%;"><i class="fa fa-inbox" aria-hidden="true"></i>&nbsp;Draft</button>&nbsp;&nbsp;
                                <button type="button" style="width: 20%;margin-top: 10%;" class="btn btn-success" onclick="return onclick_Submit()"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Submit</button>
                                <button type="button" style="width: 30%;margin-top: 10%;background-color:#dc3545" class="btn btn-success" onclick="return onclick_Cancel()"></>Cancel Transaction</button>
                            </div>

                            <div class="col-md-6" id="divApproval" style="margin-top:1%;">
                                @Html.TextAreaFor(m => m.Approver_Remarks, new { @class = "form-control", @style = "min-width: 100%;min-height: 40%;", placeholder = "Approver Remarks..", })
                                <input type="radio" name="rblstatus" id="rblstatus" value="Approve">&nbsp;<span style="color: green;font-size: 15px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Approve
                                &nbsp;&nbsp; <input type="radio" name="rblstatus" id="rblstatus" value="Reject">&nbsp;<span style="color: red;font-size: 15px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;Reject
                                &nbsp;&nbsp; &nbsp;&nbsp;<button type="button" style="width: 20%;margin-top: 2%;" class="btn btn-success" onclick="return onclick_SubmitApproval()"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Submit</button>
                            </div>

                            <div class="col-md-6" id="div_audit">
                                <div class="col-md-6">
                                    @Html.Label("Reason", new { @class = "lbl-font" })
                                    @Html.TextArea("txtReason", new { @style = "width:100%;min-width: 100%;min-height: 50px !important;", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-6" style="margin-top:5%;">
                                    @Html.Label("Status Updation :", new { @class = "lbl-font" }) &nbsp;&nbsp;&nbsp;
                                    @Html.RadioButton("chkStatus", "Approve", new { @id = "rdo_appr" })
                                    @Html.Label("Approve", new { @class = "lbl-font" })&nbsp;&nbsp;
                                    @Html.RadioButton("chkStatus", "Inex", new { @id = "rdo_inex" })
                                    @Html.Label("Inex", new { @class = "lbl-font" })&nbsp;&nbsp;
                                    @Html.RadioButton("chkStatus", "Hold", new { @id = "rdo_hold" })
                                    @Html.Label("Hold", new { @class = "lbl-font" })
                                </div>
                                <div class="col-md-12" style="margin-left:-2%;margin-top:1%;">
                                    <div class="col-md-6">
                                        @Html.TextArea("APCheckerRemarks", new { @style = "width:100%;min-width: 105%;min-height: 35px !important;", @class = "form-control", @placeholder = "Remarks" })
                                    </div>
                                    <div class="col-md-6" style="margin-top:0%;">
                                        <button type="button" class="btn btn-info" value="Audit" onclick="return Audit_Check_List();">
                                            <span class="fa fa-check-square-o" style="color:white;"></span>
                                            Audit Check
                                        </button>
                                        <button id="btnSubmitAudit" type="button" class="btn btn-success" onclick="return APChecker_Submit();">
                                            <span class="glyphicon glyphicon-save" style="color:white;"></span>
                                            Submit
                                        </button>
                                        <button type="button" class="btn btn-primary" value="Cancel" onclick="return Redirect_to_CheckerQueue();">
                                            <span class="glyphicon glyphicon-refresh" style="color:white;"></span>
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        @*<div class="well" style="width: 100% !important;height: 300px !important;margin-top:0.5%;" id="div_audit">
                            <span class="lbl-font" style="color:red;">Audit Check List</span>
                            <div id="APCheckList"></div>
                            <input type="hidden" id="hdn_checklist_ecf_gid" />
                            <input type="hidden" id="hdn_checkerauthoriser_flag" />
                        </div>*@
                        @(Html.Kendo().Window()
                      .Name("kwindow_auditchecklist")
                      .Title("Audit Check List") //set the title of the window
                      .Content(@<text>
                        <div class="well" style="width: 98% !important;height: 600px !important;margin-top:0.5%;">
                            <div id="APCheckList"></div>
                            <input type="hidden" id="hdn_checklist_ecf_gid" />
                            <input type="hidden" id="hdn_checkerauthoriser_flag" />
                        </div>
                    </text>)
                    .Events(ev => ev.Close("close_checkauditchecklist"))
                    .Draggable()
                    .Resizable()
                    .Width(1300)
                    .Height(400)
                    .Modal(true)
                    .Scrollable(false)
                    .Visible(false))

                    </div>

                    <div class="tab-pane containers fade" id="attach2">
                        <div class="container-fluid ml-0">
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    @Html.Partial("BatchAttachments", objModel_attach)
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12 table-responsive">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane containers fade" id="audit">
                        <div class="row">
                            <div class="row mt-2">
                                <div class="col-md-10">
                                    <button class="btn btn-primary btn-sm">Audit Trail</button>
                                    @Html.Partial("AuditTrail", objModel_attach)
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 table-responsive">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane containers fade" id="auditcheck">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well" style="width: 98% !important;height: 600px !important;margin-top:0.5%;" id="div_auditauthorizer">
                                    <span class="lbl-font" style="color:red;">Audit Check List</span>
                                    <div id="APCheckList_authorizer" style="overflow:auto;height: 500px !important"></div>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 table-responsive">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    var checklist_run_flag = false;
    $(document).ready(function () {
        debugger;

        if ($("#PageStatus").val().trim().toLowerCase() == "draft" || $("#PageStatus").val().trim().toLowerCase() == "rejected") {
            $("#div_audit").hide();
            $("#divSubmit").show();
            $("#divApproval").hide();
            $('[href="#auditcheck"]').closest('li').hide();
        }
        else if ($("#PageStatus").val().trim().toLowerCase() == "inprocess" || $("#PageStatus").val().trim().toLowerCase() == "approved" || $("#PageStatus").val().trim().toLowerCase() == "paid") {
            $("#div_audit").hide();
            $("#divSubmit").hide();
            $("#divApproval").hide();
            $(".k-grid-toolbar").hide();
            $('[href="#auditcheck"]').closest('li').hide();
        }
        else if ($("#PageStatus").val().trim().toLowerCase() == "formyapproval") {
            $("#div_audit").hide();
            $("#divSubmit").hide();
            $("#divApproval").show();
            $(".k-grid-toolbar").hide();
            $('[href="#auditcheck"]').closest('li').hide();
        }
        else if ($("#PageStatus").val().trim().toLowerCase() == "audit maker") {
            $("#div_audit").show();
            $("#div_auditauthorizer").hide();
            $("#kendgrid_debitline .k-grid-toolbar").hide();
            $("#divSubmit").hide();
            $("#divApproval").hide();
            $("#hdn_checklist_ecf_gid").val($("#Ecf_Gid").val());
            $("#hdn_checkerauthoriser_flag").val($("#PageStatus").val());
            $('[href="#auditcheck"]').closest('li').hide();
           // $("#APCheckList").load("../Claim/Show_APCheckList_PartialView", { 'SubType_Gid': $("#SubType_Gid").val() });
        }
        else if ($("#PageStatus").val().trim().toLowerCase() == "audit checker") {
            $("#div_audit").hide();
            $("#hdn_checklist_ecf_gid").val($("#Ecf_Gid").val());
            $("#hdn_checkerauthoriser_flag").val($("#PageStatus").val());
            $("#APCheckList_authorizer").load("../Claim/Show_APCheckList_PartialView", { 'SubType_Gid': $("#SubType_Gid").val() });
            $("#divSubmit").hide();
            $("#divApproval").hide();
            $(".k-grid-toolbar").hide();
            $('[href="#auditcheck"]').closest('li').show();
        }

        var grid = $("#kendgrid_debitline").data("kendoGrid");
        grid.bind("edit", function (event) {
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "Add Debit Line" : "Edit Debit Line");
            if ($("#SubType_Gid").data("kendoDropDownList").text().trim().toLowerCase() == 'supplier') {
                $("#div_employee").hide()
                $("#div_supplier").show()
            }
            else {
                $("#div_employee").show()
                $("#div_supplier").hide()
                $("#Emp_Supl_Code").val($("#Employee_Name").val()).trigger("change");
            }

            //if (event.model.isNew() == true) {
            //    if ($("#SubType_Gid").data("kendoDropDownList").text().trim().toLowerCase() == 'supplier') {
            //        $("#Emp_Supl_Code").val($("#Supplier_Gid").data("kendoDropDownList").text().trim()).trigger("change");
            //    }
            //    else {
            //        $("#Emp_Supl_Code").val($("#Employee_Name").val()).trigger("change");
            //    }
            //}
        });

        var gridpayment = $("#kendogrid_payment").data("kendoGrid");
        gridpayment.bind("edit", function (event) { //function for changing kendo popup title.
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "Add Payment" : "Edit Payment");
            $("#Pay_beneficiary").val($("#Employee_Name").val()).trigger("change");
            //if (event.model.isNew() == true) {
            //    $("#Pay_ecfgid").data("kendoDropDownList").enable(true);
            //    $("#Pay_glcode").data("kendoDropDownList").enable(false);
            //}
            //else {
            //    $("#Pay_ecfgid").data("kendoDropDownList").enable(false);
            //    $("#Pay_glcode").data("kendoDropDownList").enable(false);
            //}
            //if ($("#HDR_Status").val() != "Draft") {
            //    $('.k-grid-update').css('display', 'none');
            //}
        });
    });

    function close_checkauditchecklist() {
        debugger;
        var checked_rdobtn_values = $('.rdo-cls:radio:checked').map(function () {
            return this.value;
        }).get();
        var str = checked_rdobtn_values.join(',');
        if (str.includes('2')) {
            $('input[id="rdo_appr"]').attr('disabled', true);
            $('input[id="rdo_inex"]').attr('disabled', false);
            $("#rdo_inex").attr('checked', 'checked');
        }
        else {
            $('input[id="rdo_appr"]').attr('disabled', false);
            $('input[id="rdo_inex"]').attr('disabled', true);
            $("#rdo_appr").attr('checked', 'checked');
        }
    }

    function Audit_Check_List() {
        debugger;
        $("#hdn_checklist_ecf_gid").val($("#Ecf_Gid").val());
        $("#hdn_checkerauthoriser_flag").val($("#PageStatus").val());
        $("#APCheckList").load("../Claim/Show_APCheckList_PartialView", { 'SubType_Gid': $("#SubType_Gid").val() });
        var window = $("#kwindow_auditchecklist").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        checklist_run_flag = true;
    }

    function APChecker_Submit() {
        debugger;
        if (checklist_run_flag == false) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Please Verify Checklist.!',
                type: 'blue',
            });
            return false;
        }
        var status = $("input[name='chkStatus']:checked").val();
        if (status == "" || status == null || status == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Please select the status.!',
                type: 'blue',
            });
            return false;
        }
        var remark = $("#APCheckerRemarks").val();
        if (remark == "" || remark == null || remark == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Remarks should not be blank.!',
                type: 'blue',
            });
            return false;
        }
        var apmodelObj = {};
        if ($("#hdn_checkerauthoriser_flag").val() == "Audit Maker") {
            apmodelObj.AP_Action = "CHECKER";
        }
        else {
            apmodelObj.AP_Action = "AUTHORIZER";
        }
        apmodelObj.CheckList_ecf_gid = $("#hdn_checklist_ecf_gid").val();
        apmodelObj.CheckList_status = $("input[name='chkStatus']:checked").val();
        apmodelObj.AP_Remarks = $("#APCheckerRemarks").val();
        apmodelObj.ecfgids = "0";
        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("APChecklist_Submit", "Claim")',
            data: '{APobjModel: ' + JSON.stringify(apmodelObj) + '}',
            success: function (result) {
                var message = JSON.parse(result);
                if (message[0].clear == 1) {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.href = '@Url.Action("APChecker", "APChecker", new { Area = "FlexiSpend" })'
                    }, 2000);
                }
                else {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                }
            }

        });
    }

    function Redirect_to_CheckerQueue() {
        window.location.href = '@Url.Action("APChecker", "APChecker", new { Area = "FlexiSpend" })'
    }

    function Show_BatchWise_Attachments() {
        debugger;
        $("#attach_batch_gid").val($("#Batch_Gid").val());
        $("#attach_ecf_gid").val($("#Ecf_Gid").val());
        $("#attach_module").val("EOW");
        $("#attach_debitinvoice_flag").val("Debit");
        $("#kgrid_attachments").data("kendoGrid").dataSource.read();
    }
    function ViewMode(e) {
        debugger;
        var grid = this,
         selectedRow = $(e.target).closest("tr")[0];
        grid.editRow(selectedRow);
        $(".k-grid-update").hide();
        // $(".k-grid-cancel").hide();
        $(".k-window-title").text("View");
    }

    function onChange_SubTax() {
        debugger
        var Invoiceid = $("#txtTdsinvid").val();
        var Refid = $("#txtTdsRefid").val();
        var Taxid = $("#Taxid").val();
        var SubTaxid = $("#SubTaxid").val();
        //var SubTaxid = $("#SubTaxid").val();
        var _data = { "Refid": Refid, "Invoiceid": Invoiceid, "_Action": "Tax", "Taxid": Taxid, "SubTaxid": SubTaxid }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetTaxDetails", "SupplierInvoice")',
            data: JSON.stringify({ _data: _data }),
            success: function (response) {
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    if (Result[0]["Clear"] == 0) {
                        $.alert({
                            icon: 'fa fa-success',
                            title: 'IEM Product',
                            theme: 'dark',
                            content: Result[0]["Message"],
                            type: 'green',
                            animationSpeed: 700,
                        });
                    }
                    else {

                        $("#txtTaxrate").val(Result[0]["Taxgst_Rate"]);
                        $("#txtInvno").val($("#txtTdsinvno").val());
                        $("#txtInvamt").val($("#txtTdsinvAmt").val());
                        $("#txtInvid").val($("#txtTdsinvid").val());
                        $("#txtRefid").val($("#txtTdsRefid").val());

                        var grid = $("#KendGrid_InvsupplierTDS").data("kendoGrid");
                        grid.dataSource.data()[0].Invoiceid = $("#txtTdsinvid").val();
                        grid.dataSource.data()[0].InvoiceNo = $("#txtTdsinvno").val();
                        grid.dataSource.data()[0].InvoiceAmt = $("#txtTdsinvAmt").val();
                        grid.dataSource.data()[0].Refid = $("#txtTdsRefid").val();
                        grid.dataSource.data()[0].TaxRate = Result[0]["Taxgst_Rate"];
                        // alert(Result[0]["Taxgst_Rate"]);
                    }
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: "Error",
                        type: 'green',
                        animationSpeed: 700,
                    });
                }

            },
            error: function (response) {
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0]["Message"],
                        type: 'green',
                        animationSpeed: 700,
                    });
                }

                var Result = JSON.parse(response);
                $.alert({
                    icon: 'fa fa-success',
                    title: 'IEM Product',
                    theme: 'dark',
                    content: "Error",
                    type: 'green',
                    animationSpeed: 700,
                });

            }
        });
    }

    function onChange_Tax() {
        //debugger;
        var multiselect = $("#SubTaxid").data("kendoDropDownList");
        multiselect.dataSource.read();
        multiselect.enable(true);
    }


    function GetSubTaxCode() {
        //debugger;
        var Taxid = $("#Taxid").val();
        return { "Taxid": Taxid, "MasterCode": "SubTax" }
    }

    function GetTaxCode() {
        //debugger;
        var Taxid = 0;
        return { "Taxid": Taxid, "MasterCode": "Tax" }
    }

    function Get_SubType() {
        debugger;
        return { Master: 'AdvanceType', Master_Code: '0', Master_Gid: $("#SubType_Gid").val() }
    }

    function Get_header_details() {
        debugger;
        var typeGid = $("#Type_Gid").val();
        var subtypeGid = $("#SubType_Gid").val();
        var raiserGid = $("#Employee_Gid").val();
        var batchGid = $("#Batch_Gid").val();
        var type = $("#SubType_Gid").data("kendoDropDownList").text().trim().toUpperCase();
        type = type.substring(0, 1);
        var supplier = 0;
        if (type == 'S') {
            supplier = $("#Supplier_Gid").val();
            //raiserGid = 0;
        }
        return { BatchGid: batchGid, RaiserGid: raiserGid, TypeGid: typeGid, SubtypeGid: subtypeGid, SupplierGid: supplier, SupplierEmployeeType: type }
    }

    function TDS() {
        //debugger;
        var Refid = $("#txtTdsRefid").val();
        var Invoiceid = $("#txtTdsinvid").val();
        var InvoiceNo = $("#txtTdsinvno").val();
        var InvoiceAmt = $("#txtTdsinvAmt").val();
        var params = {};
        params.Refid = $("#txtTdsRefid").val();
        params.Invoiceid = $("#txtTdsinvid").val();
        params.InvoiceNo = $("#txtTdsinvno").val();
        params.InvoiceAmt = $("#txtTdsinvAmt").val();
        return { ObjModel: params, "Refid": Refid, "Invoiceid": Invoiceid, "InvoiceNo": InvoiceNo, "InvoiceAmt": InvoiceAmt, "Gridtype": "Tax" }
    }

    function GetTDS() {
        debugger;
        if ($("#SubType_Gid").data("kendoDropDownList").text().trim().toLowerCase() == 'supplier') {
            var grid = $("#kendgrid_debitline").data("kendoGrid");
            var model = grid.dataItem($(event.target).closest("tr"));
            $("#txtTdsinvid").val(model.Invoice_Gid);
            $("#txtTdsRefid").val(model.Ref_Gid);
            $("#txtTdsinvAmt").val(model.Advance_Amount);
            $("#PageFor").val($("#PageStatus").val());
            var window = $("#TDS").data("kendoWindow"); //get the Window widget's instance
            window.open();  //and call its open method
            window.center();
            $("#KendGrid_InvsupplierTDS").data("kendoGrid").dataSource.read({ Invoiceid: model.Invoice_Gid, Refid: model.Ref_Gid, GridType: "Tax", _Action: "TDS" });
        }
        else {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'TDS only applicable for supplier.!',
                type: 'blue',
            });
            return false;
        }
    }

    function onclick_Draft() {
        debugger;
        if ($("#Batch_Gid").val() == "0" || $("#Batch_Gid").val() == null || $("#Batch_Gid").val() == "" || $("#Batch_Gid").val() == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Create atleast one advance requisition to draft the batch.!',
                type: 'blue',
            });
            return false;
        }
        else {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Draft Successfully.!',
                type: 'green',
            });
            setTimeout(function () {
                debugger;
                window.location.href = '@Url.Action("Workbench", "../Workbench")'
            }, 2000);
        }
    }

    function onclick_SubmitApproval() {
        debugger;
        var Ecfids = $("#Ecf_Gid").val();
        var App_Status = $("input[name='rblstatus']:checked").val();
        var AppRemarks = $("#Approver_Remarks").val();

        if (App_Status == undefined || App_Status == null) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Please select Approve or Reject.!',
                type: 'blue',
            });
            return false;
        }

        if (AppRemarks == "" || AppRemarks == undefined || AppRemarks == null) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Please fill the approver remarks field.!',
                type: 'blue',
            });
            return false;
        }

        var data = { "Refid": Ecfids, "Status": App_Status, "Remarks": AppRemarks }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("ApproveInvoice", "SupplierInvoice")',
            data: JSON.stringify(data),
            success: function (data) {
                var data = JSON.parse(data);
                if (data[0]["Clear"] == 1) {
                    debugger;
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: data[0]["Message"],
                        type: 'green',
                        animationSpeed: 700,
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.href = '@Url.Action("Workbench", "../Workbench")'
                    }, 2000);
                }
                else {
                    debugger;

                    if (data[0]["Clear"] == 0 && data[0]["Message"] == "AmountMismatch") {
                        $.confirm({
                            icon: 'fa fa-warning',
                            title: 'IEM Product',
                            autoClose: 'cancel|10000',
                            theme: 'dark',
                            animationSpeed: 700,
                            content: 'Are you sure do you want to delete this record!',
                            type: 'orange',
                            buttons: {
                                confirm: function () {
                                    onclick_Submit();
                                },
                                cancel: function () {
                                    $.alert({
                                        icon: 'fa fa-success',
                                        title: 'IEM Product',
                                        theme: 'dark',
                                        content: 'Invoice Submit Canceled.!',
                                        type: 'blue',
                                        animationSpeed: 700,
                                    });
                                },
                            }
                        });
                    }
                    else {
                        $.alert({
                            icon: 'fa fa-success',
                            title: 'IEM Product',
                            theme: 'dark',
                            content: data[0]["Message"],
                            type: 'red',
                            animationSpeed: 700,
                        });
                    }

                }
            },
            error: function (data) {
                debugger;
                $.alert({
                    icon: 'fa fa-success',
                    title: 'IEM Product',
                    theme: 'dark',
                    content: 'Error',
                    type: 'red',
                    animationSpeed: 700,
                });
            }
        });
    }


    function onclick_Submit() {
        debugger;

        var dataSource = $("#kendogrid_remarks").data("kendoGrid").dataSource;// Gets the data source from the grid.
        var filters = dataSource.filter(); // Gets the filter from the dataSource
        var allData = dataSource.data();// Gets the full set of data from the data source
        var query = new kendo.data.Query(allData);// Applies the filter to the data
        var filteredData = query.filter(filters).data;
        var refno = "";
        var remarks_empty_flag = false;
        for (var i = 0; i < filteredData.length; i++) {
            if (filteredData[i].Rem_remarks == "" || filteredData[i].Rem_remarks == null || filteredData[i].Rem_remarks == undefined) { // check pan no duplication.
                if (refno == "") {
                    refno = filteredData[i].Rem_ecfno
                }
                else {
                    refno = refno + "," + filteredData[i].Rem_ecfno
                }
                remarks_empty_flag = true;
            }
        }

        if (remarks_empty_flag == true) {
            $.dialog({
                title: 'IEM Product',
                content: refno + ' - This Ref Nos are requireds Remarks.!',
                type: 'blue',
            });
            return false;
        }

        if ($("#Batch_Gid").val() == "0" || $("#Batch_Gid").val() == null || $("#Batch_Gid").val() == "" || $("#Batch_Gid").val() == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Create atleast one advance requisition to Submit the batch.!',
                type: 'blue',
            });
            return false;
        }

        var modelobj = {};
        modelobj.Button_Action = 'Submit';
        modelobj.HDR_Batch_Gid = $("#Batch_Gid").val();
        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("Claim_DraftSubmit", "Claim")',
            data: '{objModel: ' + JSON.stringify(modelobj) + '}',
            success: function (result) {
                debugger;
                var message = JSON.parse(result);
                if (message[0].clear == 1) {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.href = '@Url.Action("Workbench", "../Workbench")'
                    }, 2000);
                }
                else {
                    if (message[0].Msg == 'errortable') {
                        $.dialog({
                            icon: 'fa fa-success',
                            title: 'IEM',
                            content: message[0].Error_ecfno + '-' + message[0].Error_description,
                            type: 'blue',
                        });
                    }
                    else {
                        $.dialog({
                            icon: 'fa fa-success',
                            title: 'IEM',
                            content: message[0].Msg,
                            type: 'blue',
                        });
                    }
                }
            }
        });
    }

    function Get_Remarks() {
        debugger;
        return { GirdName: 'Remarks', BatchGid: $("#Batch_Gid").val(), EcfGid: $("#Ecf_Gid").val() }
    }

    function Get_Payment() {
        debugger;
        return { GirdName: 'Payment', BatchGid: $("#Batch_Gid").val(), EcfGid: $("#Ecf_Gid").val() }
    }

    function Fn_Get_PaymodeGLcode() {
        debugger;
        var paymode = $("#Pay_paymodemode").val();
        var glcode = $("#Pay_glcode").val();
        return { Paymode: paymode, Glcode: glcode }
    }

    function onChange_Paymode() {
        debugger;
        if ($("#Pay_paymodemode").val() == "SUS") {
            $("#Pay_glcode").data("kendoDropDownList").enable(true);
        }
        else if ($("#Pay_paymodemode").val() == "RRP") {
            var Refno = '@(System.Configuration.ConfigurationManager.AppSettings["RRPPayMode"].ToString())';
            $("#Pay_referenceno").val(Refno).trigger("change");
        }
        else {
            $("#Pay_glcode").data("kendoDropDownList").enable(false);
            $("#Pay_glcode").data("kendoDropDownList").select(0);
            $("#Pay_glcode").data("kendoDropDownList").trigger("change");
            $("#Pay_referenceno").val("").trigger("change");
        }
    }

    function Fn_Get_BatchGidForPayment() {
        debugger;
        return { Master: 'PayECF', Master_Code: '0', Master_Gid: $("#Batch_Gid").val() }
    }

    function onChange_PaymentGLCode() {
        debugger;
        $("#Pay_referenceno").val($("#Pay_glcode").val()).trigger("change");
    }

    function onRequestEnd_Payment(e) {
        debugger;
        if (e.type == "create") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                }
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function onRequestEnd_Remarks(e) {
        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function Get_Batch_Records() {
        debugger;
        return { GridName: 'AdvanceRequest', BatchGid: $("#Batch_Gid").val(), EcfGid: $("#Ecf_Gid").val() }
    }

    function Get_Type() {
        debugger;
        var Type_GID = $("#Type_Gid").val();
        return { Master: 'SubType', Master_Code: 'QCD_SubType', Master_Gid: Type_GID }
    }

    function onDataBound_Type() {
        debugger;
        $("#Type_Gid").data("kendoDropDownList").select(1);
        $("#Type_Gid").data("kendoDropDownList").enable(false);
    }

    function onDataBound_SubType() {
        debugger;
        if ($("#SubType_Gid").val() != '0') {
            $("#SubType_Gid").data("kendoDropDownList").enable(false);
        }
        else {
            $("#SubType_Gid").data("kendoDropDownList").enable(true);
        }
        if ($("#SubType_Gid").data("kendoDropDownList").text().trim().toLowerCase() == 'supplier') {
            $("#div_supplier").show();
            $("#div_employee").hide();
        }
        else {
            $("#div_supplier").hide();
            $("#div_employee").show();
        }
    }

    function onChange_SubType() {
        debugger;
        if ($("#SubType_Gid").data("kendoDropDownList").text().trim().toLowerCase() == 'supplier') {
            $("#div_supplier").show();
            $("#div_employee").hide();
        }
        else {
            $("#div_supplier").hide();
            $("#div_employee").show();
        }
    }

    function error_handler(e) {
        debugger;
        e.preventDefault();
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM',
                content: message,
                type: 'blue',
            });
        }
    }

    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }

    function onChange_AdvanceType() {
        debugger;
        var advancetype_gid = $("#AdvanceType_Gid").val();
        $.getJSON("Get_GL_Code/AdvanceRequisition?Master=" + 'GL' + "&Master_Gid=" + advancetype_gid, function (data) {
            debugger;
            $("#GL_CodeDesc").val(data).trigger("change");
        });
    }

    function onRequestEnd(e) { //runs once the server operations is end.
        debugger;
        var message = "";
        //Check request type
        if (e.type == "create") {
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });

                    $("#Batch_Gid").val(message[0].batch_gid).trigger("change");
                    $("#Batch_No").val(message[0].batch_no).trigger("change"); // set batch no.
                    $("#Batch_Amount").val(message[0].batch_amount).trigger("change"); //rebind the batch amount.

                    setTimeout(function () {
                        debugger;
                        $("#kendgrid_debitline").data("kendoGrid").dataSource.read();
                        $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                        $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendgrid_debitline").data("kendoGrid").dataSource.read();
                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                }
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                debugger;
                message = JSON.parse(e.response);
                if (message[0].clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    $("#Batch_Amount").val(message[0].batch_amount).trigger("change"); // rebind the batch amount.
                    //$("#Batch_No").val(message[0].batch_no).trigger("change");
                    setTimeout(function () {
                        debugger;
                        $("#kendgrid_debitline").data("kendoGrid").dataSource.read();
                        $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                        $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#kendgrid_debitline").data("kendoGrid").dataSource.read();
                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                    $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                }
            }
        }
    }

    function onDataBound_Common(e) {
        debugger;
        if (this.dataSource.data().length == 2) {
            this.select(1);
            this.trigger("change");
        }
        //var id = this.element.attr("id");
    }   

    function Show_Attachment_PartialView() {
        debugger;
        var window = $("#kwindow_attachment").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        $("#sumsg").text("");
        var refgid = 1;
        var invoiceid = 0;
        var grid = $("#kendgrid_debitline").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        $("#attachment_ref_gid").val(model.Debitline_Gid);
        var moduleflag = '@(System.Configuration.ConfigurationManager.AppSettings["EOWModeuleFlag"].ToString())';
        $("#attachment_module_flag").val(moduleflag);
        $("#attachment_ref_flag").val(refgid);
        $("#attachment_invoice_gid").val(invoiceid);
        $("#debitline_gid").val(model.Debitline_Gid);
        $("#KgridAttachmentdml").data("kendoGrid").dataSource.read();

        //if ($("#HDR_Status").val() != "Draft") {
        //    $("#button_Attachment").hide();
        //}
    }

    function Show_COA_PartialView() {
        debugger;
        var window = $("#kwindow_coa").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        var dbl_grid = $("#kendgrid_debitline").data("kendoGrid");
        var dbl_model = dbl_grid.dataItem($(event.target).closest("tr"));
        $("#Expenseid").val(dbl_model.Debitline_Gid);
        $("#PageFor").val($("#PageStatus").val());
        $("#KendGrid_ExpenseCOA").data("kendoGrid").dataSource.read();
    }

    function deleteadvance() {
        debugger;
        var GridName = 'AdvanceRequest';
        var grid = $("#kendgrid_debitline").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var gridgid = (model.Ref_Gid);
        var batchgid = $("#Batch_Gid").val()
        if (model.Pay_paymodemode == 'ERA') {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: 'Could not be Delete the ERA Payment.!',
                type: 'blue',
            });
            return false;
        }
        Deleteadvance_Details(GridName, batchgid, gridgid);
    }

    function deletepayment() {
        debugger;
        var GridName = 'Payment';
        var grid = $("#kendogrid_payment").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var gridgid = (model.Pay_gid);
        var batchgid = $("#Batch_Gid").val()
        Deleteadvance_Details(GridName, batchgid, gridgid);
    }

    function Deleteadvance_Details(GridName, batchgid, gridgid) {
        debugger;
        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record.!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    debugger;
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Delete_Claim_Datails", "Claim")',
                        data: "{ GridGid:'" + gridgid + "', Batch_Gid:'" + batchgid + "',GridName:'" + GridName + "' }",
                        success: function (data) {
                            debugger;
                            var message = JSON.parse(data);
                            if (message[0].clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: message[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                if (GridName == 'AdvanceRequest') {
                                    $("#Batch_Amount").val(message[0].batch_amount).trigger("change"); // rebind the batch amount.
                                    $("#Batch_No").val(message[0].batch_no).trigger("change");
                                    $("#kendgrid_debitline").data("kendoGrid").dataSource.read();
                                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                                    $("#kendogrid_remarks").data("kendoGrid").dataSource.read();
                                }
                                else {
                                    $("#kendogrid_payment").data("kendoGrid").dataSource.read();
                                }
                            }, 1000);
                        },
                    });
                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }



    // To click Cancel Tranction  redirect  to transaction cancellation delete method
    function onclick_Cancel() {
        debugger;
        var ecf = [];
        var claim = "";
        var data = $("#kendgrid_debitline").data("kendoGrid").dataSource._data;
        for (i = 0; i < data.length; i++) {
            ecf.push(data[i].Ref_Gid);
        }

        claim = ecf.join(",");
        $.ajax({
            type: "POST",
            // type: "GET",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("DeleteGrid", "Transactioncancellation")',
            data: "{ claim:'" + claim + "'}",

            success: function (data) {
                debugger;
                var Result = JSON.parse(data);
                if (Result[0]["Clear"] == 1) {

                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0]["Msg"],
                        type: 'green',
                        animationSpeed: 700,
                    });
                }

                setTimeout(function () {
                    //window.location.reload("ReadGrid", "Transactioncancellation");
                    window.location.href = '@Url.Action("Transactioncancellation", "Transactioncancellation")'
                }, 2500);
            },

        });

    }
</script>