﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.IEMProduct.FlowAssignment_Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FlowAssignment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .form-control {
            height: 30px !important;
        }

        .k-state-disabled {
            background: #efefef;
        }

        a.k-button.k-button-icontext.k-grid-Tax {
            height: 10px;
            margin-top: -28px;
            margin-left: 25px;
        }

        .class-amount {
            text-align: right;
        }

        .well {
            min-height: 20px;
            padding: 10px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        }
    </style>



</head>
<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:#fff;">Flow Assignment</p>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row" style="margin-top: 1%;">
            <div class="col-sm-2">
                @Html.Label("Assignment Type", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                            .Name("assignTypeID")
                            .DataTextField("assignTypeName")
                            .DataValueField("assignTypeID")
                            .Filter("contains")
                            .Events(e => e.Change("onChange_AssignType"))
                            .HtmlAttributes(new { @style = "width:100%;", @class = "form-control" })
                            .DataSource(
                            source => { source.Read(read => { read.Action("GetAssignmentTypeList", "FlowAssignment"); }); })

                )
            </div>
            <div class="col-sm-2">
                @Html.Label("Ref No / User Name", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                    .Name("assignRefUserID")
                    .DataTextField("assignRefUserName")
                    .DataValueField("assignRefUserID")
                    .Filter("contains")
                    .MinLength(3)
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource
                  (
                       source => { source.Read(read => { read.Action("GetAssignmentRefNoUserList", "FlowAssignment").Data("Fn_Get_AssignTypeID"); }).ServerFiltering(true); }
                  ))
            </div>

            <div class="col-sm-1">
                <br />
                <button type="button" name="AddFlowAssignment" id="btnAdd" style="width:100%;" class="btn btn-primary" onclick="return AddFlowAssignmentList()"> &nbsp; Add </button>

            </div>
            <div class="col-sm-1">
                <br />

                <button type="button" name="AddFlowAssignment" id="btnClear" style="width:100%;" class="btn btn-primary" onclick="return ClearFlowAssignmentList()"> &nbsp; Clear </button>
            </div>
            <input type="hidden" name="hdnRef" id="hdnRefID">
            <input type="hidden" name="hdnUser" id="hdnUserID">
        </div>


        <div class="row" style="margin-top: 1%;">
            <div class="col-md-12 table-responsive">

                @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.FlowAssignment_Model>().Name("KgridFlowAssignmentList")
                                    .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(m => m.assignRefID).Title("ID").Width(50).Hidden();
                                        columns.Bound(m => m.assignRefNumber).Title("Ref No.").Width(80);
                                        columns.Bound(m => m.assignRefType).Title("Type / Sub Type").Width(80);
                                        columns.Bound(m => m.assignRaiserName).Title("Raiser ID / Name").Width(80);
                                        columns.Bound(m => m.assignRefStatus).Title("Status").Width(80);
                                        columns.Bound(m => m.assignQueueFrom).Title("Q ID / Name").Width(80);
                                        columns.Bound(m => m.assignRefID).Filterable(false).Sortable(false).Title("Select").Template(@<text></text>).HeaderTemplate("<input name='header-chb' id='header-chb' type='checkbox' 'unchecked' class='header-chb' />").ClientTemplate("<input name='Status' type='checkbox' #= assignRefID ? checked='unchecked':'' # class='chkbx' />").Width(50);
                                        //// columns.Bound(m => m.assignRefID).Title("Select").Template(@<text></text>).ClientTemplate("<input type='checkbox' #= assignRefID ? checked='unchecked':'' # class='chkbx' />").Width(40);
                                        columns.Bound(m => m.flowassignTo).Title("Assign To ID / Name").Width(80);
                                        columns.Bound(m => m.assignRemarks).Title("Remarks").Width(80);
                                        columns.Command(cmd => { cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'> <button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>"); }).Title("Action").Width(40);
                                    })
                                    .Editable(editable =>
                                    { editable.Mode(GridEditMode.InLine); })
                                    .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
                                    .Filterable()
                                    .Sortable()
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(resize => resize.Columns(true))

                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {

                                        model.Id(p => p.assignRefID);
                                        model.Field(p => p.assignRefID).Editable(false);
                                        model.Field(p => p.assignRefNumber).Editable(false);
                                        model.Field(p => p.assignRefType).Editable(false);
                                        model.Field(p => p.assignRaiserName).Editable(false);
                                        model.Field(p => p.assignQueueFrom).Editable(false);
                                        model.Field(p => p.assignRefStatus).Editable(false);

                                    })
                                    .Model(model => model.Id(p => p.assignRefID))
                                    .Events(events => events.RequestEnd("onRequestEnd"))
                                    .Read(read => read.Action("ReadFlowAssignment", "FlowAssignment").Data("GetFlowAssignment"))
                                    .Update(update => update.Action("Save_FlowAssignmentList", "FlowAssignment").Data("SetUpdateActionType"))

                            ))

            </div>
        </div>

        <div class="row" style="margin-top:1%">

            <div class="col-sm-2">
                @Html.Label("Assign To Employee Code / Name", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                        .Name("assignToID")
                        .DataTextField("assignTo")
                        .DataValueField("assignToID")
                        .Filter("contains")
                                .AutoBind(false)
                .MinLength(3)
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource
                         (source =>
                          {
                              source.Read(read =>
                              {
                                  //read.Action("Get_DropDown_List", "Claim", new { Master = "Employee", Master_Code = "0", Master_Gid = "0" });
                                  read.Action("GetAssignToList", "FlowAssignment").Data("basicFilter");
                              }).ServerFiltering(true);
                          }))
            </div>
            <div class="col-sm-3" style="text-align: left;">
                @Html.Label("Remarks", new { @class = "lbl-font" })

                @Html.TextAreaFor(model => model.assignRemarks, new { @class = "form-control", @style = "width :100%;min-height:35px !important;" })
                @*<input type="text" id="txtRemarks" value="" class="form-control" />*@
            </div>

            <div class="col-sm-1">
                <br />
                <button type="button" name="SaveFlowAssignment" id="btnSave" style="margin-top: 2.1%;width: 100%;" class="btn btn-primary" onclick="return SaveFlowAssignmentList()">
                    &nbsp; Update
                </button>

            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    function basicFilter(ev) {
        debugger;
            try {
                var empname = "";
                var emp_val = ev.filter;
                if (emp_val != undefined) {
                    empname = ev.filter.filters[0].value;
                }
                else {
                    empname = "";
                }
            }
            catch (e) {
                empname = "";
            }
        return {
            //Master: "Employee_Search", Master_Code: "0", Master_Gid: "0",
            EmployeeName: empname
        }
    }

    //$(document).ready(function () {
    //    debugger;

    //    $("#KgridFlowAssignmentList").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
    //    var grid = $("#KgridFlowAssignmentList").data("kendoGrid");

    //    //function for changing kendo popup title.
    //    grid.bind("edit", function (event) {
    //        debugger;
    //        var index = event.container.context.cellIndex;
    //        //if (index == "12") {
    //            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");

    //            Emp_Sup_Type = event.model.ECF_Supplier_Employee_Type;
    //            ECF_Gid = event.model.Ecf_Gid;
    //            GetDropdownlistvalues();
    //        //}

    //    });

    //})





    var listRefID = [];
    var listUserID = [];

    function Fn_Get_AssignTypeID(ev) {
        debugger;

        try {
            var assignID = $("#assignTypeID").val();
            var assignRefUserID = $("#assignRefUserID").val();
            var empname = "";
            var emp_val = ev.filter;
            if (emp_val != undefined) {
                empname = ev.filter.filters[0].value;
            }
            else {
                empname = "";
            }
        }
        catch (e) {
            empname = "";
        }


        return { AssignType: assignID, FindSearch: empname }
    }


    function GetFlowAssignment() {
        debugger;
        var assignID = $("#assignTypeID").val();
        var assignRefUserID = $("#hdnRefID").val();

        if (assignID == "" && assignRefUserID == "") {
            assignID = 0;
            assignRefUserID = 0;
        }


        return { AssignType: assignID, AssignRefType: assignRefUserID }
        //hdnRefID
        //hdnUserID
    }

    function onChange_AssignType() {
        debugger;
        $("#assignRefUserID").data("kendoDropDownList").dataSource.read();
        $("#assignRefUserID").data("kendoDropDownList").refresh();
    }

    function AddFlowAssignmentList() {
        debugger;

        if ($("#assignTypeID").val() == 0 || $("#assignRefUserID").val() == 0) {

            $.alert({
                title: 'IEM Product',
                content: 'Ensure Assign Type  and \n Ref No/User Name.!',
                type: 'blue',
            });
            return false;
        }
        if ($("#assignTypeID").data("kendoDropDownList").text() == "By ID") {
            $("#hdnRefID").val($("#assignRefUserID").val());
            //listUserID.push($("#assignRefUserID").val());
            //$("#hdnUserID").val(listRefID.join(","));
        }
        else {
            listRefID.push($("#assignRefUserID").val());

            $("#hdnRefID").val(listRefID.join(","));

            //alert($("#hdnRefID").val());
        }


        $("#KgridFlowAssignmentList").data("kendoGrid").dataSource.read();
    }


    function ClearFlowAssignmentList() {
        $("#assignTypeID").val(0);
        $("#assignRefUserID").val(0);
        $("#assignTypeID").data('kendoDropDownList').value(0);
        $("#assignRefUserID").data('kendoDropDownList').value(0);
        $("#KgridFlowAssignmentList").data("kendoGrid").dataSource.read();
    }



    function SaveFlowAssignmentList() {
        debugger;

        var grid = $("#KgridFlowAssignmentList").data("kendoGrid");
        var checkedrows = $(".chkbx:checked", grid.tbody).closest("tr");
        if (checkedrows.length == 0) {
            $.alert({
                title: 'IEM Product',
                content: 'Select atleast one record!',
                type: 'blue',
            });
            return false;
        }

        if ($("#assignToID").val() == 0 || $("#assignRemarks").val() == '') {

            $.alert({
                title: 'IEM Product',
                content: 'Ensure Assign To  and \n Remarks .!',
                type: 'blue',
            });
            return false;

        }

        var Attribid = [];
        var Attribid1;
        for (var i = 0; i < checkedrows.length; i++) {
            var item = grid.dataItem(checkedrows[i]);
            //alert(item.ecfID);
            var GridID = item.assignRefID;
            Attribid.push(GridID);
        }
        Attribid1 = Attribid.join(",");

        var modelobj = {};
        modelobj.actionType = 'Save';
        modelobj.assignSelectedID = Attribid1;
        modelobj.assignToID = $("#assignToID").val();
        modelobj.assignRemarks = $("#assignRemarks").val();

        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("Save_FlowAssignmentList", "FlowAssignment")',
            data: '{objModel: ' + JSON.stringify(modelobj) + '}',
            success: function (result) {
                debugger;
                var message = JSON.parse(result);
                if (message[0].Clear == 1) {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',


                    });
                    setTimeout(function () {

                        referesh();
                        @*window.location.href = '@Url.Action("PhysicalDespatch", "../PhysicalDespatch")'*@
                    }, 1500);

                    $("#hdnRefID").val("");
                }
                else {
                    if (message[0].Msg == 'errortable') {
                        $.dialog({
                            icon: 'fa fa-success',
                            title: 'IEM',
                            content: message[0].Error_ecfno + '-' + message[0].Error_description,
                            type: 'blue',
                        });
                    }
                    else {
                        $.dialog({
                            icon: 'fa fa-success',
                            title: 'IEM',
                            content: message[0].Msg,
                            type: 'blue',
                        });
                    }
                    $("#hdnRefID").val("");
                }
            }
        });

    }


    function referesh() {
        debugger;


        $("#assignTypeID").data("kendoDropDownList").select(0);
        $("#assignRefUserID").data("kendoDropDownList").select(0);
        $("#assignToID").data("kendoDropDownList").select(0);
        $("#assignRemarks").val('');
        $("#KgridFlowAssignmentList").data("kendoGrid").dataSource.read();
    }

    function SetUpdateActionType() {
        debugger;
        var grid = $("#KgridFlowAssignmentList").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var modelobj = {};
        modelobj.actionType = 'Save';
        modelobj.assignRefID = model.assignRefID;
        modelobj.assignSelectedID = model.assignRefID;
        modelobj.assignToID = $("#flowassignToID").val();
        modelobj.assignRemarks = $("#assignRemarks").val();
        //alert(modelobj.assignRefID);
        //alert($("#flowassignToID").val())

        //var delmat_gid = "1";
        //  var delmat_gid = $("#hdDelmat_gid").val();
        //var delmat_gid = $("#Delmat_Gid").val();
        return { objModel: modelobj }
    }

    function myDeleteJs() {
        debugger;
        var grid = $("#KgridFlowAssignmentList").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var assignRefID = (model.assignRefID);

        var modelobj = {};
        modelobj.actionType = 'D';
        modelobj.assignRefID = assignRefID;
        modelobj.assignSelectedID = assignRefID;
        //modelobj.assignToID = $("#assignTo").val();
        //modelobj.assignRemarks = $("#txtRemarks").val();


        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Save_FlowAssignmentList", "FlowAssignment")',
                        data: '{objModel: ' + JSON.stringify(modelobj) + '}',
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].Clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                referesh();
                                //grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

    function onRequestEnd(e) { //run once the server operations is end.
        debugger;
        var message = "";
        //Check request type
        //if (e.type == "create") {

        //    debugger;

        //    //check for errors in the response

        //    if (e.response.Errors == null) {
        //        var Result = JSON.parse(e.response);
        //        if (Result[0]["Clear"] == 1) {
        //            $.dialog({
        //                title: 'IEM Product',
        //                content: Result[0]["Msg"],
        //                type: 'green',
        //            });
        //            setTimeout(function () {
        //                debugger;
        //                window.location.reload(1);
        //            }, 1500);
        //        }
        //        else {
        //            $.dialog({
        //                title: 'IEM Product',
        //                content: Result[0]["Msg"],
        //                type: 'red',
        //            });
        //            //keep the grid in edit-mode
        //            var grid = $("#KgridFlowAssignmentList").data("kendoGrid");
        //            grid.one("dataBinding", function (e) {
        //                e.preventDefault();
        //            });
        //        }

        //    }
        //    else {
        //        $.dialog({
        //            title: 'IEM Product',
        //            content: Result[0]["Msg"],
        //            type: 'red',
        //        });
        //        $("#KgridFlowAssignmentList").data("kendoGrid").dataSource.read();
        //    }
        //}

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                message = JSON.parse(e.response);
                if (message[0].Clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#KgridFlowAssignmentList").data("kendoGrid").dataSource.read();
                        //window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    // $("#kendgrid_Proxy").data("kendoGrid").dataSource.read();
                    var grid = $("#KgridFlowAssignmentList").data("kendoGrid");
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });

                }
            }
        }
    }




    //$("#Grid").delegate("[name=Status]", "click", function () {
    //    var checkBox = this;
    //});


    $('#header-chb').change(function (ev) {
        debugger;
        var checked = ev.target.checked;
        $('.chkbx').each(function (idx, item) {
            if (checked) {
               if (!($(item).closest('tr').is('.k-state-selected'))) {
                    $(item).click();
               }
            } else {
                if ($(item).closest('tr').is('.k-state-selected')) {
                    $(item).click();
                }
                else
                {
                    $(item).click();
                }
            }
        });
    });


</script>