﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;

@model DataAccessHandler.Models.IEMProduct.ProfileUpload_Model

<!DOCTYPE html>

<html>


<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:white;">Employee Master Upload</p>
        </div>
    </div>
    <div class="container-fluid">


        <div class="row" style="margin-top:10px;">


            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("File Name", new { @class = "lbl-font" })
                    <input type="file" class="form-control input-lg browse btn btn-primary input-lg" name="File_Import" id="File_Import" style="width: 100%;height: 30px;">
                    <label class="col-md-6 control-label" id="FileName"></label>
                </div>
            </div>
            <div class="col-md-2" style=" margin-top: 20px;">
                <button type="submit" value="Upload" style="width:70%" onclick="FileImport()" class=" btn btn-primary ">
                    Upload
                </button>
            </div>
            <div class="col-md-2" style=" margin-top: 20px;">
                <button type="submit" value="Upload" style="width:70%" onclick="OnClear()" class="btn btn-primary">
                    Clear
                </button>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class=" col-md-12">
                @using (Html.BeginForm("ProfileUpload", "ProfileUpload", FormMethod.Post, new { @id = "Form_ProfileUpload" }))
                {
                    @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.ProfileUpload_Model>().Name("KendGrid_ProfileUpload")
                                       .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })

                                    .Columns(columns =>
                                    {

                                        columns.Bound(m => m.EmpUpload_Gid).Title("Ref id").Hidden();
                                        columns.Bound(m => m.File_Gid).Title("File_Gid").Hidden();
                                        columns.Bound(m => m.SlNo).Title("Sl No").Width(80);
                                        columns.Bound(m => m.Emp_Upload_Status).Title("Status").Width(90);
                                        columns.Bound(m => m.Emp_Upload_Remarks).Title("Remarks").Width(120);
                                        columns.Bound(m => m.Emp_Code).Title("Employee Code").Width(120);
                                        columns.Bound(m => m.Emp_Name).Title("Employee Name").Width(135);
                                        columns.Bound(m => m.Emp_Gender).Title("Employee Gender").Width(135);
                                        columns.Bound(m => m.Emp_Dob).Title("Employee DOB").Width(90).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.Emp_Doj).Title("Employee DOJ").Width(90).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.Designation_code).Title("Designation Code").Width(160);
                                        columns.Bound(m => m.Grade_code).Title("Grade Code").Width(160);
                                        columns.Bound(m => m.Dept_Code).Title("Dept Code").Width(150);
                                        columns.Bound(m => m.Emp_Branch_Code).Title("Branch Code").Width(95);
                                        columns.Bound(m => m.FC_Code).Title("FC Code").Width(130);
                                        columns.Bound(m => m.CC_Code).Title("CC Code").Width(100);
                                        columns.Bound(m => m.Product_Code).Title("Product Code").Width(130);
                                        columns.Bound(m => m.Addr1).Title("Addr1").Width(130);
                                        columns.Bound(m => m.Addr2).Title("Addr2").Width(130);
                                        columns.Bound(m => m.City_Code).Title("City Code").Width(130);
                                        columns.Bound(m => m.Pincode).Title("Pincode").Width(130);
                                        columns.Bound(m => m.Personal_email).Title("Personal Email").Width(130);
                                        columns.Bound(m => m.Office_Email).Title("Office Email").Width(130);
                                        columns.Bound(m => m.Mobil_No).Title("Mobile No").Width(130);
                                        columns.Bound(m => m.Bank_Code).Title("Bank Code").Width(130);
                                        columns.Bound(m => m.Bank_Branch_Code).Title("Bank Branch Code").Width(130);
                                        columns.Bound(m => m.Acc_No).Title("Acc No").Width(130);
                                        columns.Bound(m => m.Acc_Type).Title("Acc Type").Width(130);
                                        columns.Bound(m => m.Emp_Card_No).Title("Card No").Width(130);
                                        columns.Bound(m => m.Emp_Parmanent_Addr).Title("Permanent Addr").Width(130);
                                        columns.Bound(m => m.Supervisor_Code).Title("Supervisor Code").Width(130);
                                        columns.Bound(m => m.Employee_dor).Title("Employee DOR").Width(130).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.Last_Working_date).Title("Last Working Date").Width(130).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.Effictive_date).Title("Effictive Date").Width(130).Format("{0:dd-MM-yyyy}");


                                    })


                                      .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(5))
                                            .Filterable()
                                            .Events(events => events
                                            .DataBound("onDataBound"))
                                            .Sortable()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .ServerOperation(false)
                                                    .Model(model => model.Id(p => p.EmpUpload_Gid))
                                            .PageSize(20)
                                                //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                                    .Read(read => read.Action("Read_ProfileUpload", "ProfileUpload").Data("GetAction"))
                                    ))
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:0.3%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-md-2" style=" margin-top: 21px;">
                <button type="submit" id="Upload" value="Upload" style="width:70%" onclick="Update()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-saved" style="color:white; font-size:12px;"></span> Confirm
                </button>

            </div>
        </div>
    </div>
</body>
</html>

<script>
    function GetAction() {

        var modelobj = {};
        modelobj.Action = "GetData";

        return { "Obj_Model": modelobj }
    }

    $(document).ready(function () {
        debugger;
        var grid = $("#KendGrid_ProfileUpload").data("kendoGrid");
        var dataSource = grid.dataSource;
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
        });


    })
    function onDataBound(e) {
        debugger;
        var count = $("#KendGrid_ProfileUpload").data("kendoGrid").dataSource.data().length;
        if (count == 0) {
            $('#Upload').attr("disabled", true);
        }
        else {
            $('#Upload').attr("disabled", false);
        }
    }

    function FileImport() {
        debugger;
        var filesize = $('#File_Import').val();

        if (filesize == "" || filesize == null) {
            $.alert({
                title: 'IEM',
                content: 'Choose corresponding file.!',
                type: 'blue',
            });
            return false;
        }

        var Filsize = $('#File_Import')[0].files[0].size;
        if (Filsize > 5242880) {
            $.alert({
                title: 'IEM',
                content: 'File size should be below in 5 MB.!',
                type: 'blue',
            });
            return false;
        }

        var fileData = new FormData();
        var fileUpload = $("#File_Import").get(0);


        var files = fileUpload.files;
        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        //fileData.append('TemplateType_desc', TemplateType_desc);


        $.ajax({
            url: '@Url.Action("Upload_FileImport", "ProfileUpload")',
            type: "POST",
            contentType: false,
            processData: false,

            data: fileData,
            success: function (result) {
                debugger;
                if (result == 'failed') {
                    $.alert({
                        title: 'IEM',
                        content: 'Upload failed.!',
                        type: 'blue',
                    });
                    return false;
                }
                else if (result == 'invalid file') {
                    $.alert({
                        title: 'IEM',
                        content: 'Invaild file.!',
                        type: 'blue',
                    });
                    return false;
                }

                else if (result == 'mandatory fields empty') {
                    $.alert({
                        title: 'IEM',
                        content: 'Mandatory fields are empty.!',
                        type: 'blue',
                    });
                    return false;
                }
                else if (result == 'failed') {
                    $.alert({
                        title: 'IEM',
                        content: 'Upload failed.!',
                        type: 'blue',
                    });
                    return false;
                }
                else if (result == 'invalid header name') {
                    $.alert({
                        title: 'IEM',
                        content: 'Invalid header name.!',
                        type: 'blue',
                    });
                    return false;
                }
                else if (result == 'inserted') {

                    $.dialog({
                        title: 'IEM',
                        content: 'Uploaded Successfully.!',
                        type: 'green',
                    });

                    setTimeout(function () {
                        $("#KendGrid_ProfileUpload").data("kendoGrid").dataSource.read();
                    }, 2000);
                }
                else
                    $.alert({
                        title: 'IEM',
                        content: result,
                        type: 'blue',
                    });

                setTimeout(function () {
                    $("#KendGrid_ProfileUpload").data("kendoGrid").dataSource.read();
                }, 2000);

                return false;

            },
            error: function (error) {
                $.alert({
                    title: 'IEM',
                    content: 'Error.!',
                    type: 'red',
                });
            }
        });

    }



    function OnClear() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("Upload_FileClear", "ProfileUpload")',
            //data: '{Obj_Model: ' + JSON.stringify(PulloutData) + '}',
            success: function (response) {
                if (response == '1') {
                    setTimeout(function () {
                        $("#KendGrid_ProfileUpload").data("kendoGrid").dataSource.read();
                    }, 1500);
                   
                }
               
            },
            error: function (response) {
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });

        $('#File_Import').val("");
    }

    function Update() {
        debugger;
        var grid = $("#KendGrid_ProfileUpload").data("kendoGrid");
        var dataSource = grid.dataSource;
        var totalRecords = dataSource.total();
        if (totalRecords == "0") {
            $.alert({
                title: 'IEM',
                content: 'No Records to found.!',
                type: 'red',
            });
            return false;
        }


        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("Upload_FileConfirm", "ProfileUpload")',
            //data: '{Obj_Model: ' + JSON.stringify(PulloutData) + '}',
            success: function (response) {
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            $("#KendGrid_ProfileUpload").data("kendoGrid").dataSource.read();


                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'red',
                        });
                        $("#KendGrid_ProfileUpload").data("kendoGrid").dataSource.read();


                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                    $("#KendGrid_ProfileUpload").data("kendoGrid").dataSource.read();
                }
            },
            error: function (response) {
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });
    }


</script>

