﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DBHelper.Attachment_Model


<html>

    <style>
        div.k-window {
            display: inline-block;
            position: absolute;
            z-index: 10001;
            border-style: solid;
            border-width: 1px;
            padding-top: 1em;
            width: 57%;
            font-weight: normal;
        }

        .k-edit-form-container {
            position: relative;
            width: 100%;
            /*height:25%;*/
        }

            .k-edit-form-container .k-edit-buttons {
                visibility: hidden !important;
            }
    </style>


<body>

    <div class="container-fluid">
@using (Html.BeginForm("AttachmentGrid_Save", "Attachment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-3">
                @Html.Label("Browse File", new { style = "" })                
                    @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
                
                </div>
            <div class="col-sm-3">
                @Html.Label("Document Group", new { })<br />

                @(Html.Kendo().DropDownList()
                                                                                    .Name("attachment_attachmenttype_gid")
                                                   .DataTextField("docgrpname")
                                                                                    .DataValueField("attachment_attachmenttype_gid")
        // .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "width:100%" })
                                                                    .DataSource(source => { source.Read(read => { read.Action("GetDocGroup", "Attachment", new { parentcode = "QCD_DocGroup" }); }).ServerFiltering(true); }))
                @Html.ValidationMessageFor(model => model.attachment_attachmenttype_gid, "", new { @class = "text-danger" })
                
            </div>
            <div class="col-sm-3">
                @Html.Label("Document Name", new { })<br />
                @Html.TextBoxFor(model => model.attachment_docname, new { style="width:100%"})
                @Html.ValidationMessageFor(model => model.attachment_docname, "", new { @class = "text-danger" })
                
            </div>
            <div class="col-sm-3">

            </div>

    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-3">
            @Html.Label("Description", new { style = "" })<br />

            @Html.TextAreaFor(model => model.attachment_desc, new { style = "width:129%" })
            @Html.ValidationMessageFor(model => model.attachment_desc, "", new { @class = "text-danger" })

            
          
        </div>
        <div class="col-sm-3" style="margin-top:28px;">            
            <button type="submit" value="Upload" style="width:70%" class="btn btn-primary" onclick="formSave()"> Upload</button>
        </div>
        
        <div class="col-sm-3">
            <div style="color:green">
                <table align="center" style="right:50px; top:20px; position:relative" id="msgtbl">
                    <tr>
                        <td>
                            @if (@ViewBag.result != "")
                            {
                                <span class="Success_show">@ViewBag.result</span>
                            }
                          
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
    
}
</div>
<div class="container-fluid">
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
@using (Html.BeginForm("Attachment", "Attachment", FormMethod.Post, new { @id = "form3" }))
                                    {
    
        @(Html.Kendo().Grid<DBHelper.Attachment_Model>().Name("KgridAttachmentdml")
                                .HtmlAttributes(new { style = "width:99%;line-height:2em;font-weight:normal" })
                                            // .ToolBar(toolbar => toolbar.Create().Text(""))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.attachment_gid).Width(20).Title("Master ID").Hidden();
                                    // columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action("Show_documents", "Attachment") + "/#= FormId #'" + ">#= attachment_filename #</a>").Title("File Name").Width(450);
                                  
                                    columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action("Show_documents", "Attachment") + "/#= attachment_gid #'" + ">#= attachment_filename #</a>").Title("File Name").Width(450);
                                  
                                  //  columns.Bound(m => m.attachment_filename).Width(80).Title("File Name").Width(160);
                                    columns.Bound(m => m.docgrpname).Width(80).Title("Doc Group Name").Width(160);
                                    columns.Bound(m => m.attachment_desc).Width(83).Title("Description").Width(160);
                                    columns.Bound(m => m.attachment_inserted_by).Width(120).Title("Attached By").Width(160);
                                    columns.Bound(m => m.attachment_inserted_date).Width(120).Title("Attached Date").Width(160);
                                    // columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(80);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                                })

                            .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                            .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(new List<object> { 5, 10, 20, 500 })
                            .ButtonCount(5))
                            .Filterable()
                            .Sortable()
                            .Scrollable(s => s.Enabled(true).Height("auto"))
                            .Resizable(resize => resize.Columns(true))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                                //.Model(model => { model.Id(m => m.MasterGid);})
                            .PageSize(5)
                            .Events(events => events.Error("error_handler"))
                            .Model(model => model.Id(p => p.attachment_gid))
                            .Create(Create => Create.Action("QcMasterGridSave", "Attachment"))
                            .Read(read => read.Action("ReadGrid", "Attachment"))
                           // .Update(update => update.Action("QcMasterGridUpdate", "Attachment"))
                             ))
        }
    </div>
    </div>
</div>
    
</body>

</html>

<script type="text/javascript">
  function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }
  function on_change_single_file() {
      debugger;
      var fp = $("#File");
      var lg = fp[0].files.length;
      // get length
      var items = fp[0].files;
      var fileSize = 0;
      var FileUpload = $('#File').val();

      var ext = $('#File').val().split('.').pop().toLowerCase();


      //Allowed file types
      if ($.inArray(ext, ['xlsx', 'xls', 'gif', 'png', 'jpg', 'jpeg', 'docx', 'doc', 'pdf', 'rtf', 'ppt', 'txt', 'odt']) == -1) {
          $.alert({
              title: 'HAWK EYE',
              content: 'The file type is invalid.!',
              type: 'blue',
          });
          $('#FileUpload').val("");
          $('#upload-file-info').html("");
          return false;
      }

      if (lg > 0) {
          for (var i = 0; i < lg; i++) {
              fileSize = fileSize + items[i].size; // get file size
          }
          if (fileSize > 314572800) {
              $.alert({
                  title: 'HAWK EYE',
                  content: 'File size must not be more than 300 MB.!',
                  type: 'blue',
              });
              $('#FileUpload').val('');
              return false;
          }
          else {
              debugger;
              // var files = $('#FileUpload').val();
              var files = $("#File").get(0).files;
              var fileData = new FormData();
              for (var i = 0; i < files.length; i++) {
                  fileData.append("File", files[i]);
              }
              $.ajax({
                  type: "POST",
                  url: '@Url.Action("SingleFile_onchange", "Attachment")',
                  dataType: "json",
                  contentType: false,  // Not to set any content header
                  processData: false, // Not to process data
                  data: fileData,
                  success: function (result) {

                  },
                  error: function (error) {
                      debugger;
                  }
              });
          }
      }
  }
    


    $(document).ready(function () {
        debugger;
    

        $("#KgridAttachmentdml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridAttachmentdml").data("kendoGrid");
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
            

        });

    })


    function onRequestEnd(e) {
        debugger;
        //Check request type


        if (e.type == "create") {

            debugger;
            //var Msg = e.response;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        

    }



     







    function myDeleteJs() {
        debugger;
        var grid = $("#KgridAttachmentdml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var attachment_gid = (model.attachment_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "Attachment")',
                        data: "{ attachment_gid:'" + attachment_gid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

     
    
</script>






