﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.Transaction_Model

<html lang="en">
 
<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Transaction Details</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">
            
            <div class="row mt-1">
                <div class="col-md-12 table-responsive">
                    
                    @using (Html.BeginForm("Transaction", "Transaction", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<DBHelper.Transaction_Model>().Name("Kgridtrandml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {

                                    columns.Bound(m => m.TranGId).Width(20).Title("Master ID").Hidden();
                                   // columns.Bound(m => m.Tran_Type).Width(80).Title("Type").Width(160).EditorTemplateName("GetTranTypeDropDown");
                                    columns.Bound(m => m.Tran_Type).Width(80).Title("Type").Width(160);
                                    columns.Bound(m => m.Tran_SubType).Width(80).Title("Sub Type").Width(160);
                                    columns.Bound(m => m.Tran_Attachement).Width(83).Title("Attachment").Width(160);
                                    columns.Bound(m => m.Tran_PhysicalReceipting).Width(120).Title("Physical Receipting").Width(160);

                                    columns.Command(cmd => { cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(90);
                                  
                                    //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(80);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()'><i class='fa fa-trash-o' aria-hidden='true'></i></button>").Width(80).Title("Delete");


                                })

                            .Editable(editable =>
                             { editable.Mode(GridEditMode.InLine); })


                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.TranGId);

                                })
                             .PageSize(5)

                                     .Events(events => events.Error("error_handler"))

                            .Model(model => model.Id(p => p.TranGId))
                             .Create(Create => Create.Action("SaveGrid", "Transaction"))
                               .Read(read => read.Action("ReadGrid", "Transaction"))
                             .Update(update => update.Action("UpdateGrid", "Transaction"))
                             ))
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
 
</body>
</html>



<script type="text/javascript">
     
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }
     
    $(document).ready(function () {
        debugger;
         
        $("#Kgridtrandml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#Kgridtrandml").data("kendoGrid");
    
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
        

        });

    })
   
    function onChangeTranType() {
        debugger;
         var TranId = this.value();
 
        var parentcode = "QCD_Type"
        if (TranId == "" || TranId == null || TranId == "undefined" || TranId == 0) {
            return false;
        }
        else {
            $.getJSON("GetSubType/Transaction?TranId=" + TranId + "&parentcode=" + parentcode, function (data) {
                debugger;
                var SubType = data;
                $("#TransubId").data("kendoDropDownList").dataSource.data(SubType);
               

            });
        }
    }

    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data) 

        if (e.type == "create") {

            debugger;
             
            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                    //keep the grid in edit-mode
                    var grid = $("#Kgridtrandml").data("kendoGrid");
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });

                }
              
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;
           
            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });
                    //keep the grid in edit-mode
                    var grid = $("#Kgridtrandml").data("kendoGrid");
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });

                }
               
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }


    function myDeleteJs() {
        debugger;
        var grid = $("#Kgridtrandml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var TranGId = (model.TranGId);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "Transaction")',
                        data: "{ TranGId:'" + TranGId + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
 
</script>
 


<script type="text/javascript">

    //register custom validation rules
    //register custom validation rules
    (function ($, kendo) {
        $.extend(true, kendo.ui.validator, {
            rules: { // custom rules
                productnamevalidation: function (input, params) {
                    //if (input.is("[name='Tran_Type']") && input.val() != "") {
                    //    input.attr("data-productnamevalidation-msg", "MasterCode should start with capital letter");
                    //    return /^[A-Z]/.test(input.val());
                    //}

                    if (input.is("[name='Tran_Type']") && input.val() == "" || input.val() == null) {
                        input.attr("data-productnamevalidation-msg", "Transaction Type Name should not be Empty..!");
                        return /^[A-Z]/.test(input.val());
                    }

                    if (input.is("[name='Tran_SubType']") && input.val() == "" || input.val() == null) {
                        input.attr("data-productnamevalidation-msg", "Transaction Sub Type should not be Empty..!");
                        return /^[A-Z]/.test(input.val());
                    }
                    if (input.is("[name='ParentCode']") && input.val() == "- Select -" || input.val() == null) {
                        input.attr("data-productnamevalidation-msg", "ParentCode should not be Empty..!");
                        return /^[A-Z]/.test(input.val());
                    }

                    return true;
                }
            },
            messages: { //custom rules messages
                productnamevalidation: function (input) {
                    // return the message text
                    return input.attr("data-val-productnamevalidation");
                }
            }
        });
    })(jQuery, kendo);




    ////show server errors if any
    //function error_handler(e) {
    //    if (e.errors) {
    //        var message = "Errors:\n";
    //        $.each(e.errors, function (key, value) {
    //            if ('errors' in value) {
    //                $.each(value.errors, function () {
    //                    message += this + "\n";
    //                });
    //            }
    //        });
    //        alert(message);
    //    }
    //}



    //$("#btnSubmit").click(function (event) {

    //    // Fetch form to apply custom Bootstrap validation
    //    var form = $("#form1")

    //    if (form[0].checkValidity() === false) {
    //        event.preventDefault()
    //        event.stopPropagation()
    //    }

    //    form.addClass('was-validated');
    //    // Perform ajax submit here...

    //});

</script>

