﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.Inward_Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-1 top">
            <div class="col-md-12">
                <p style="text-align:center;color:white;background-color:#225281">Inward Details</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm("Inward", "Inward", FormMethod.Post, new { @id = "Form_Inward" }))
        {
            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">

                            </div>
                        <div class="col-md-2">
                            <br>

                            @Html.RadioButtonFor(m => m.Receipt, "Without", new { id = "without", name = "WORcheck", Checked = "false", onchange = "checkinward()" })
                            @Html.Label("All", new { @class = "lbl-font" })
                            @Html.RadioButtonFor(m => m.Receipt, "With", new { id = "with", name = "WRCheck", Checked = "true", onchange = "checkinward()" })
                            @Html.Label("Receipt", new { @class = "lbl-font" })
                        </div>
                        @*<div id="divWR">*@ 
                        <div class="col-md-2" id="divRefid">
                            <label class="lbl-font">Ref No: </label>
                            @(Html.Kendo().DropDownList()
                                 .Name("Refid")
                                 .DataTextField("Refno")
                                 .DataValueField("Refid")
                                .HtmlAttributes(new { @style = "width: 100%;height:30px;", @class = "form-control" })
                //.Events(e => e.DataBound("onDataBound_SubType"))
                                .Filter("Contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("Read_EcfDropDownList", "Inward"); });
                                }))

                        </div>
                            <div class="col-md-0.5" style="margin-right:0.5%;margin-top:2.0%;" id="divBtnWR">
                                <button type='button' onclick='return GetEcfDetails()' class='deleteclass'><i class='fa fa-plus' aria-hidden='true'></i>Add</button>
                                <button type='button' onclick='return Refresh()' class='deleteclass'><i class='fa fa-refresh' aria-hidden='true'></i> Clear</button>
                            </div>
                            <div class="col-md-0.5" style="margin-right:0.5%;" id="divCount">
                                <label class="lbl-font">Inward Count:</label> @Html.TextBoxFor(m => m.InwardCount, new { @class = "form-control", oncopy = "return false", onpaste = "return false", @style = "border:none" })

                            </div>
                        @*</div>*@
                        @*<div id="divWoR">*@ 
                        <div class="col-md-2" style="display:none;" id="divRefids">
                            <label class="lbl-font">Approved Ref No: </label>
                            @(Html.Kendo().DropDownList()
                                 .Name("Refids")
                                 .DataTextField("Refno")
                                 .DataValueField("Refid")
                                .HtmlAttributes(new { @style = "width: 100%;height:30px;", @class = "form-control" })
                //.Events(e => e.DataBound("onDataBound_SubType"))
                                .Filter("Contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("ApprovedEcfDropdown", "Inward"); });
                                }))

                        </div>
                        <div class="col-md-0.5" style="margin-right:0.5%;margin-top:2.0%;display:none;" id="divBtnWOR">
                            <button type='button' id="btnWRAdd" onclick='return GetApprovedEcfDetails()' class='deleteclass'><i class='fa fa-plus' aria-hidden='true'></i>Add</button>
                            <button type='button' id="btnWRRefresh" onclick='return ApprovedRefresh()' class='deleteclass'><i class='fa fa-refresh' aria-hidden='true'></i> Clear</button>
                        </div>
                        @*</div>*@
                        <div class="col-md-2">
                            @Html.HiddenFor(m => m._Action, new { @id = "Inwstatus", value = "Inward" })
                        </div>
                    </div>
                    <div class="row" style="margin-top:0.3%;">
                        <div class=" col-md-12">

                            @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.Inward_Model>().Name("KendGrid_Inward")
                                    .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height:100px" })
                //@style = "width:100%;line-height:2em;font-weight:normal;"
                //.ToolBar(toolbar => toolbar.Create().Text("Inward"))
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.Refid).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#= Refid #'  /> <button type='button' onclick='return Show_Tax_PartialView()' class = 'deleteclass'></button>").Title("Select").Width(50).Sortable(false).Filterable(false);
                                        columns.Bound(m => m.Refid).Title("Ref id").Hidden();
                                        columns.Bound(m => m.Refno).ClientTemplate("<a style = 'color:blue;cursor:pointer' onclick=\"ViewECF()\">#=Refno#</a>").Title("Ref No").Width(130);

                                        //  columns.Bound(m => m.Refno).Title("Ref No").Width(90);
                                        columns.Bound(m => m.RefDate).Title("Date").Width(90).Format("{0:dd/MM/yyyy}");
                                        columns.Bound(m => m.Type_Gid).Title("Type id").Width(30).Hidden();
                                        columns.Bound(m => m.Type_Name).Title("Type Name").Width(130);
                                        columns.Bound(m => m.SubType_Gid).Title("SubType id").Width(30).Hidden();
                                        columns.Bound(m => m.SubType_Name).Title("SubType Name").Width(130);
                                        columns.Bound(m => m.StatusId).Title("Status Id").Width(30).Hidden();
                                        columns.Bound(m => m.Status).Title("Status Name").Width(130);
                                        columns.Bound(m => m.EcfAmt).Title("Amount").Width(130).HtmlAttributes(new { @Style = "text-align: right;" });
                                        columns.Bound(m => m.Raiserid).Title("Raiser Id").Width(130).Hidden();
                                        columns.Bound(m => m.RaiserName).Title("Raiser Code & Name").Width(130);
                                        columns.Bound(m => m.SupEmpId).Title("Supplier/Employee Id").Width(130).Hidden();
                                        columns.Bound(m => m.SupEmpName).Title("Supplier/Employee Code & Name").Width(130);
                                        columns.Bound(m => m.AttributeDet).Title("Attributes").Width(130);
                                        columns.Bound(m => m.PhysicalReceipt).Title("Physical").Width(130);
                                        columns.Bound(m => m.ReciverDate).Title("Received Date").Width(130).Format("{0:dd/MM/yyyy}");
                                        columns.Bound(m => m.CourierId).Title("Courier Id").Width(30).Hidden();
                                        columns.Bound(m => m.CourierName).Title("Courier Name").Width(130);
                                        columns.Bound(m => m.AwbNo).Title("AWB #").Width(130);
                                        columns.Bound(m => m.BatchId).Title("Batch Id").Width(30).Hidden();
                                        columns.Bound(m => m.BatchNo).Title("Batch No").Width(130);
                                        columns.Bound(m => m.Pouchids).Title("Poutch Id").Width(5).Hidden();
                                    })
                                    .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName(""); })
                                    .Filterable()
                                    .Sortable()
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(resize => resize.Columns(true))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .ServerOperation(false)
                                    .Model(model => model.Id(p => p.Refid))
                                    .PageSize(5)
                                        //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                    .Read(read => read.Action("Read_Inward", "Inward").Data("GetAction"))
                                    ))
                        </div>
                    </div>
                    <div class="row" style="margin-top:0.3%;">
                        <div class="col-md-2" >

                        </div>
                        <div class="col-md-2" style="display:none;">
                            <label class="lbl-font">Courier Name: </label>
                            @(Html.Kendo().DropDownList()
                             .Name("CourierId")
                             .DataTextField("CourierName")
                             .DataValueField("CourierId")
                            .HtmlAttributes(new { @style = "width: 100%;height:30px;", @class = "form-control" })
                                .Filter("Contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("GetCourier", "Inward"); });
                                }))

                        </div>
                        <div class="col-md-2" style="display:none;">
                            <label class="lbl-font">AWB #: </label>
                            @Html.TextBoxFor(m => m.AwbNo, new { @class = "form-control", oncopy = "return false", onpaste = "return false", maxlength = "50" })
                        </div>
                        <div class="col-md-2">
                            <label class="lbl-font">Received Date</label>
                            @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                        .Name("ReciverDate")
                        .Max(DateTime.Today)
                    .HtmlAttributes(new { placeholder = "DD-MM-YYYY", oncopy = "return false", onpaste = "return false", onkeydown = "return false;", @style = "width: 113%;" }))

                        </div>
                        <div class="col-md-4" style="margin-top:1.5%;">
                            <button type='button' id="btnWRSubmit" onclick='return SetReceive()' class='btn btn-success'><i class='fa fa-save' aria-hidden='true'></i> Submit</button>
                            <button type='button' id="btnWoRSubmit" onclick='return SetInward()' style="display:none;" class='btn btn-success'><i class='fa fa-save' aria-hidden='true'></i> Submit</button>
                            <button type='button' onclick='return SetBatch()' class='btn btn-success'><i class='fa fa-save' aria-hidden='true'></i> Batch</button>

                        </div>
                    </div>
                    <div class="row" style="margin-right:25%;margin-left:25%;margin-top:0.3%;">
                        @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.Inward_Model>().Name("KendGrid_InwardBatch")
                                            .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height:100px" })
                                            .Columns(columns =>
                                            {

                                                columns.Bound(m => m.BatchId).Title("Batch id").Hidden();
                                                columns.Bound(m => m.BatchNo).Title("Batch No").Width(50);
                                                columns.Bound(m => m.ReciverDate).Title("Received Date").Width(50).Format("{0:dd/MM/yyyy}");
                                                columns.Bound(m => m.BatchCount).Title("Count").Width(50);
                                                /*  columns.Command(cmd =>
                                                  {
                                                      cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#225281;'>").Click("viewbatch)");
                                                  }).Title("Action").Width(40);*/
                                                columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return viewbatch()' class='deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Action").Width(20);
                                            })
                                            .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName(""); })
                                            .Filterable()
                                            .Sortable()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .ServerOperation(false)
                                            .Model(model => model.Id(p => p.Refid))
                                            .PageSize(5)
                                                //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                            .Read(read => read.Action("Read_Inward", "Inward").Data("GetActionBatch"))
                                            ))
                    </div>


                    <div class="row">
                        @(Html.Kendo().Window()
                        .Name("InwBatchWindow") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
                        .Title("Batch")
                        .Height(250)
                        .Width(1000)
                        .Visible(false)
                        .Resizable()
                        .Iframe(true)
                        .Content(@<text>
                            @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.Inward_Model>().Name("KendGrid_InwBatch")
                                    .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height:100px" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(m => m.Refid).Title("Ref id").Hidden();
                                        columns.Bound(m => m.Refno).Title("Ref No");
                                        columns.Bound(m => m.RefDate).Title("Date").Width(90).Format("{0:dd/MM/yyyy}");
                                        columns.Bound(m => m.Type_Gid).Title("Type id").Width(30).Hidden();
                                        columns.Bound(m => m.Type_Name).Title("Type Name").Width(130);
                                        columns.Bound(m => m.SubType_Gid).Title("SubType id").Width(30).Hidden();
                                        columns.Bound(m => m.SubType_Name).Title("SubType Name").Width(130);
                                        columns.Bound(m => m.StatusId).Title("Status Id").Width(30).Hidden();
                                        columns.Bound(m => m.Status).Title("Status Name").Width(130);
                                        columns.Bound(m => m.EcfAmt).Title("Amount").Width(130).HtmlAttributes(new { @Style = "text-align: right;" });
                                        columns.Bound(m => m.Raiserid).Title("Raiser Id").Width(130);
                                        columns.Bound(m => m.RaiserName).Title("Raiser Code & Name").Width(130);
                                        columns.Bound(m => m.SupEmpId).Title("Supplier/Employee Id").Width(130).Hidden();
                                        columns.Bound(m => m.SupEmpName).Title("Supplier/Employee Code & Name").Width(130);
                                        columns.Bound(m => m.AttributeDet).Title("Attributes").Width(130);
                                        columns.Bound(m => m.PhysicalReceipt).Title("Physical").Width(130);
                                        columns.Bound(m => m.ReciverDate).Title("Received Date").Width(130).Format("{0:dd/MM/yyyy}");
                                        columns.Bound(m => m.CourierId).Title("Courier Id").Width(30).Hidden();
                                        columns.Bound(m => m.CourierName).Title("Courier Name").Width(130);
                                        columns.Bound(m => m.AwbNo).Title("AWB #").Width(130);
                                        columns.Bound(m => m.BatchId).Title("Batch Id").Width(30).Hidden();
                                        columns.Bound(m => m.BatchNo).Title("Batch No").Width(130);
                                        columns.Bound(m => m.Pouchids).Title("Poutch Id").Width(5).Hidden();
                                    })
                                        .Filterable()
                                        .Sortable()
                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                        .Resizable(resize => resize.Columns(true))
                                        .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .ServerOperation(false)
                                        .Model(model => model.Id(p => p.Refid))
                                        .PageSize(5)
                                            .Read(read => read.Action("Read_Inward", "Inward").Data("GetInwardBatch"))
                                        ))
                        </text>)
                        )
                    </div>

                    @Html.HiddenFor(m => m.BatchId, new { @id = "hdbatchid" })
                </div>
            </div>
        }
    </div>
</body>
</html>

<script>


    var ecfids = [];
    function GetEcfDetails() {
        /*$.ajax({
            type: "Post",
            Url: 'Url.Action("","")',
            data: {},
            success: function (response) {

            },
            error: function () {

            }

        });*/
        debugger;
        var id = $("#Refid").val();
        $("#Inwstatus").val("Inward");
        if (id == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Please Select Valid ECF..!',
                type: 'blue',
            });
            return false;
        }

        var ecfcheck = 0;
        ecfcheck = $.inArray(id, ecfids);
        if (ecfcheck == -1) {
            ecfids.push(id);
        }

        else {
            $.dialog({
                title: 'IEM',
                content: 'Selected ECF already in inward List..!',
                type: 'blue',
            });
            return false;
        }

        $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
    }

    function GetApprovedEcfDetails() {
        debugger;
        var id = $("#Refids").val();
        $("#Inwstatus").val("InwardWithoutReceipt");
        if (id == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Please Select Valid ECF..!',
                type: 'blue',
            });
            return false;
        }

        var ecfcheck = 0;
        ecfcheck = $.inArray(id, ecfids);
        if (ecfcheck == -1) {
            ecfids.push(id);
        }

        else {
            $.dialog({
                title: 'IEM',
                content: 'Selected ECF already in inward List..!',
                type: 'blue',
            });
            return false;
        }

        $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
        $("#Inwstatus").val("Inward");
    }


    function GetAction() {
        debugger;
        //alert(Batchid);

        var _Action = $("#Inwstatus").val();

        if (_Action == "Inward") {
            var Refid = $("#Refid").val();
        }
        else {
            var Refid = $("#Refids").val();
        }

        var _Refid = [];
        var grid = $("#KendGrid_Inward").data("kendoGrid");
        if (ecfids.length > 1) {
            for (var i = 0; i < grid._data.length; i++) {
                //var itemcompare = grid.dataItem(checkedrows[i]);
                var id = grid._data[i].Refid; // grid.dataItem(checkedrows[i]).Refid; //grid._data[i].Refid;
                _Refid.push(id);
            }
        }

        _Refid.push(Refid);
        var Refids = _Refid.join(",");


        $("#InwardCount").val(ecfids.length);

        return { "Refids": Refids, "Gridtype": _Action, "_Action": _Action }
    }

    function GetInwardBatch() {
        debugger;
        var batchid = $("#hdbatchid").val();
        return { "BatchId": batchid, "Gridtype": "InwardBatch", "_Action": "InwardBatch" }
    }

    function GetActionBatch() {
        //alert(Batchid);
        debugger;
        var _Refid = [];
        var grid = $("#KendGrid_Inward").data("kendoGrid");
        if (ecfids.length >= 1) {
            for (var i = 0; i < grid._data.length; i++) {
                //var itemcompare = grid.dataItem(checkedrows[i]);
                var id = grid._data[i].Refid;
                _Refid.push(id);
            }
        }
        var Refids = _Refid.join(",");
        return { "Refids": Refids, "Gridtype": "Batch", "_Action": "Batch" }
    }

    function SetBatch() {
        debugger;
        var _Refid = [];
        var grid = $("#KendGrid_Inward").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");

        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one ECF for Batch.!',
                type: 'blue',
            });
            return false;
        }

        for (var i = 0; i < checkedrows.length; i++) {
            //var itemcompare = grid.dataItem(checkedrows[i]);
            var id = grid.dataItem(checkedrows[i]).Refid;//grid._data[i].Refid;
            _Refid.push(id);
        }

        var Refids = _Refid.join(",");

        var _data = { "Refids": Refids, "_Action": "Batch" };



        $.ajax({
            type: "Post",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("SetBatchDetails", "Inward")",
            data: JSON.stringify({ _data: _data }),
            success: function (response) {
                debugger;
                if (response.length > 0) {
                    var InwardCount = $("#KendGrid_Inward").data("kendoGrid")._data.length;
                    $("#InwardCount").val(InwardCount);

                    var Result = JSON.parse(response);
                    if (Result[0]["Clear"] = 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();
                            $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
                        }, 1500);
                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'red',
                        });
                        setTimeout(function () {
                            debugger;
                            $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();
                            $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
                        }, 1500);
                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                }
            },
            error: function (response) {
                var InwardCount = $("#KendGrid_Inward").data("kendoGrid")._data.length;
                $("#InwardCount").val(InwardCount);
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });
    }

    function SetReceive() {

        debugger;
        var ReciverDate = $("#ReciverDate").val();
        var _Refid = [];
        var grid = $("#KendGrid_Inward").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");

        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one ECF for Inward.!',
                type: 'blue',
            });
            return false;
        }

        for (var i = 0; i < checkedrows.length; i++) {
            //var itemcompare = grid.dataItem(checkedrows[i]);
            var id = grid.dataItem(checkedrows[i]).Refid;//grid._data[i].Refid;
            _Refid.push(id);
        }

        var Refids = _Refid.join(",");

        var _data = { "Refids": Refids, "RecvDate": ReciverDate, "_Action": "U" };

        $.ajax({
            type: "Post",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("SetInwardDetails", "Inward")",
            data: JSON.stringify({ _data: _data }),
            success: function (response) {
                debugger;
                if (response.length > 0) {
                    var InwardCount = $("#KendGrid_Inward").data("kendoGrid")._data.length;
                    $("#InwardCount").val(InwardCount);

                    var Result = JSON.parse(response);
                    if (Result[0]["Clear"] = 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();

                            debugger;
                            $("#KendGrid_Inward").data("kendoGrid").dataSource.read();

                        }, 1500);
                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'red',
                        });
                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                }
            },
            error: function (response) {
                var InwardCount = $("#KendGrid_Inward").data("kendoGrid")._data.length;
                $("#InwardCount").val(InwardCount);
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });
    }

    function SetInward() {

        debugger;
        var ReciverDate = $("#ReciverDate").val();
        var CourierId = $("#CourierId").val();
        var AwbNo = $("#AwbNo").val();
        var _Refid = [];
        var grid = $("#KendGrid_Inward").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");

        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one ECF for Inward.!',
                type: 'blue',
            });
            return false;
        }

        /*if (CourierId == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Please Select Valid Courier Name.!',
                type: 'blue',
            });
            return false;
        }
        else if (AwbNo == "" || AwbNo == "undefined" || AwbNo == null) {
            $.dialog({
                title: 'IEM',
                content: 'AWB No Should not be empty or NULL.!',
                type: 'blue',
            });
            return false;
        } */

        for (var i = 0; i < checkedrows.length; i++) {
            //var itemcompare = grid.dataItem(checkedrows[i]);
            var id = grid._data[i].Refid;
            _Refid.push(id);
        }

        var Refids = _Refid.join(",");

        var _data = { "Refids": Refids, "RecvDate": ReciverDate, "CourierId": CourierId, "AwbNo": AwbNo, "_Action": "I" };

        $.ajax({
            type: "Post",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("SetInwardDetails", "Inward")",
            data: JSON.stringify({ _data: _data }),
            success: function (response) {
                debugger;
                if (response.length > 0) {
                    var InwardCount = $("#KendGrid_Inward").data("kendoGrid")._data.length;
                    $("#InwardCount").val(InwardCount);

                    var Result = JSON.parse(response);
                    if (Result[0]["Clear"] = 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();

                            debugger;
                            $("#KendGrid_Inward").data("kendoGrid").dataSource.read();

                        }, 1500);
                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'red',
                        });
                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                }
            },
            error: function (response) {
                var InwardCount = $("#KendGrid_Inward").data("kendoGrid")._data.length;
                $("#InwardCount").val(InwardCount);
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });

    }


    function onRequestEnd(e) {
        if (e.type == "create") {
            //check for errors in the response

            if (e.response.Errors == null) {

                if (e.response.length > 0) {
                    var Result = JSON.parse(e.response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });

                        setTimeout(function () {
                            $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
                            $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();

                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'red',
                        });

                        setTimeout(function () {
                            $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
                            $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();
                        }, 1500);

                        return false;
                    }
                }

                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Records in the List!",
                        type: 'red',
                    });

                    setTimeout(function () {
                        ////debugger;
                        $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
                        $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();
                    }, 1500);

                    //return false;
                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: e.response.Errors,
                    type: 'red',
                });
                return false;
            }
        }

        if (e.type == "update") {

            //check for errors in the response

            if (e.response.Errors == null) {

                if (e.response.length > 0) {
                    var Result = JSON.parse(e.response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            //debugger;
                            $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
                            $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();
                        }, 1500);
                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'blue',
                        });

                        setTimeout(function () {
                            //debugger;
                            $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
                            $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();
                        }, 1500);
                        return false;
                    }

                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: "No Records Found!",
                    type: 'red',
                });

                setTimeout(function () {
                    //debugger;
                    $("#KendGrid_Inward").data("kendoGrid").dataSource.read();
                    $("#KendGrid_InwardBatch").data("kendoGrid").dataSource.read();
                }, 1500);
            }

            return false;
        }
    }

    function viewbatch() {
        var grid = $("#KendGrid_InwardBatch").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var batchid = (model.BatchId);

        var wdw = $("#InwBatchWindow").data("kendoWindow"); //get the Window widget's instance

        wdw.open();
        wdw.center();
        $("#hdbatchid").val(batchid);
        $("#KendGrid_InwBatch").data("kendoGrid").dataSource.read();

        return false;
    }

    function ViewECF() {
        debugger;
        var grid = $("#KendGrid_Inward").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.Type_Name.toLowerCase();
        var EcfGID = model.Refid;
        var RaiserGID = model.Raiserid;
        var BatchGID = model.BatchId;
        var ClaimStatus = "Inprocess";
        if (ClaimType == 'claim') {
            window.open(
            '../../EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus,
              '_blank'
            );
            // window.location.href = '../EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'invoice') {
            // window.location.href = '../EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
            window.open(
            '../../EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus,
            '_blank'
            );
        }
        else if (ClaimType == 'advance') {
            //window.location.href = '../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
            window.open(
            '../../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus,
           '_blank'
           );
        }

        /*if (ClaimType == 'claim') {
            //window.location.href = '../../EOW/Claim/Claim?EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
            var url = '../EOW/Claim/Claim?EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
            window.open(url, '_blank');
        }
        else if (ClaimType == 'invoice') {
           // window.location.href = '../EOW/SupplierInvoice/SupplierinvoiceDetails?EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
            var url = '../../EOW/SupplierInvoice/SupplierinvoiceDetails?EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
            window.open(url, '_blank');
        }
        else if (ClaimType == 'advance') {
            //window.location.href = '../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
            var url = '../../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
            window.open(url, '_blank');
        }*/
    }

    function Refresh() {
        debugger;
        $("#Refid").data("kendoDropDownList").value(0);
    }
    function ApprovedRefresh() {
        debugger;
        $("#Refids").data("kendoDropDownList").value(0);
        $("#Refids").data("kendoDropDownList").dataSource.read();
    }

    function checkinward() {
        debugger;
        var Rececipt = $("input[id='with']:checked").val();
        var NoReceipt = $("input[id='without']:checked").val();
        if (Rececipt == "With") {
            $("#btnWoRSubmit").css("display", "none");
            $("#btnWRSubmit").css("display", "block");
            $("#divRefids").css("display", "none");
            $("#divRefid").css("display", "block");
            $("#divBtnWOR").css("display", "none");
            $("#divBtnWR").css("display", "block");
            $("#divCount").css("display", "block");
        }
        else if (NoReceipt == "Without") {
            $("#btnWoRSubmit").css("display", "block");
            $("#btnWRSubmit").css("display", "none");
            $("#divRefids").css("display", "block");
            $("#divRefid").css("display", "none");
            $("#divBtnWOR").css("display", "block");
            $("#divBtnWR").css("display", "none");
            $("#divCount").css("display", "none");
           
        }
    }

</script>