﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DataAccessHandler.Models.IEMProduct.PeriodClose_Model
<style>
    a.k-button.k-button-icontext.k-grid-add {
        background: transparent;
        border-color: transparent;
    }
</style>
<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Period Close</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("PeriodClose", "PeriodClose", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.PeriodClose_Model>().Name("Kgridperioddml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {

                                    columns.Bound(m => m.PeriodCloseGid).Width(20).Title("ID").Hidden();
                                    columns.Bound(m => m.PeriodCloseFromDate).Width(40).Title("Period From Date");
                                    columns.Bound(m => m.PeriodCloseToDate).Width(40 ).Title("Period To Date");
                                    columns.Bound(m => m.PeriodCloseStatus).Width(40).Title("Status");
                                    

                                       columns.Command(cmd =>
                                    {
                                        cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                        //cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("myDeleteJs");
                                    }).Title("Action").Width(35);

                                })

                             .Editable(editable => { editable.Mode(GridEditMode.InLine); })


                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.PeriodCloseGid);

                                })
                             .PageSize(5)

                                                                              .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))

                            .Model(model => model.Id(p => p.PeriodCloseGid))
                             .Create(Create => Create.Action("SaveGrid", "PeriodClose"))
                               .Read(read => read.Action("ReadGrid", "PeriodClose"))
                             .Update(update => update.Action("UpdateGrid", "PeriodClose"))
                             ))
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</body>
</html>



<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;

        $("#Kgridperioddml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#Kgridperioddml").data("kendoGrid");

        //$("#PeriodCloseToDate").datepicker({
        //    dateFormat: "dd-mm-yy",
        //   // minDate: -0,
        //    maxDate: "+0M +now()D"

        //});

        //$("#PeriodCloseToDate").datepicker({
        //    dateFormat: "dd-mm-yy",
        //    minDate: -0,
        //    maxDate: "+0M +4D"

        //});

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
            
        });

    })




    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                    //keep the grid in edit-mode
                    var grid = $("#Kgridperioddml").data("kendoGrid");
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });
                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });
                    //keep the grid in edit-mode
                    var grid = $("#Kgridperioddml").data("kendoGrid");
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });
                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }
    


    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }

</script>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;

        return true;
    }

</script>
 

@* To click from date -to date to visible, from date to future date *@ 
<script type="text/javascript">

    function StartDateChanged() {
       // alert('test');
        var startDate = this.value();
        var endPicker = $("#PeriodCloseToDate").data("kendoDatePicker");

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            endPicker.min(startDate);
        }
        else {

        }
    }

    function EndDateChanged() {
        var endDate = this.value();
        var startPicker = $("#PeriodCloseFromDate").data("kendoDatePicker");

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate());
            startPicker.max(endDate);
        }
        //$("#PeriodCloseToDate").datepicker({
        //    dateFormat: "dd-mm-yy",
        //   minDate: -0,
        //    maxDate: "+0M +10D"

        //});
    }
</script>


@*<script>
    $(function () {
        var changeDate = function () {
            if ($(this.element).is("#PeriodCloseFromDate")) {
                $("#PeriodCloseToDate").data("kendoDatePicker").setOptions({ min: this.value() });
            }
            else {
                $("#PeriodCloseFromDate").data("kendoDatePicker").setOptions({ max: this.value() });
            }
        },
            widgetOptions = {
                change: changeDate,
                start: (new Date())
            };

        $("#PeriodCloseFromDate").kendoDatePicker(widgetOptions),
          $("#PeriodCloseToDate").kendoDatePicker(widgetOptions);
    });
</script>*@