﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DataAccessHandler.Models.IEMProduct.RoleEmployee_Model
<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Role Vs Employee</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">

                <div class="col-md-12 table-responsive">
                    @using (Html.BeginForm("RoleEmployee", "RoleEmployee", FormMethod.Post, new { @id = "Form_Role" }))
                    {
                        @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.RoleEmployee_Model>().Name("KendGrid_Role")
                     .HtmlAttributes(new { @style = "width:99%;line-height:2em;font-weight:normal;height: 347px" })
                      .Columns(columns =>
                        {
                            columns.Bound(m => m.Role_Gid).Title("Role Gid").Hidden();
                            columns.Bound(m => m.Role).Title("Role").Width(150);
                            columns.Bound(m => m.RoleGroup).Title("Role Group").Width(150);
                            //columns.Command(cmd => { cmd.Edit().CancelText(" ").UpdateText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(110);
                            columns.Template(p => { }).ClientTemplate("<a onclick='return MapEmployee()' style='cursor:pointer; text-decoration: underline;color:blue;'>Map Employee</a>").Title("Action").Width(50);
                        })
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                            .Model(model => model.Id(p => p.Role_Gid))
                        .PageSize(10)
                                .Read(read => read.Action("Read_Role", "RoleEmployee"))
                        ))
                    }
                </div>

                @*<div class="container-fluid">
                        @Html.Partial("DebitlineBulkUpload", objmdl)
                    </div>*@
            </div>
        </div>

    </div>

    @*<input type="hidden" id="hdDelmat_gid" value="0" />*@
    @Html.HiddenFor(m => m.Role_Gid)
</body>
</html>
@(Html.Kendo().Window()
.Name("WinRoleEmployee") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
        .Title("Map Employee to Role") //set the title of the window
.Visible(false)
.Content(@<text>
        @Html.Partial("RoleVsEmployee")
</text>)
)

<script type="text/javascript">
    function MapEmployee() {
        debugger;
        var grid = $("#KendGrid_Role").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Role_Desc = (model.Role);
        var Role_Gid = model.Role_Gid;
        $("#Role_Gid").val(Role_Gid);
        $("#Role").val(Role_Desc);
        var wdw = $("#WinRoleEmployee").data("kendoWindow"); //get the Window widget's instance
        wdw.open();
        wdw.center();
        $("#KendGrid_RoleEmployee").data("kendoGrid").dataSource.read();
    }
    function Get_RoleName() {
        debugger;
        var Role_Desc = $("#Role").val();
        return { Role_Desc: Role_Desc }
    }
    function Save_EmployeeRole() {
        debugger;
        var Role_Id = $("#Role_Gid").val();
        var Emp_Gid = $("#Employee_Gid").val();
        if (Emp_Gid == 0 || Emp_Gid == "" || Emp_Gid == undefined)
        {
            $.alert({
                title: 'IEM Product',
                content: 'Please Select Employee Code/Name!',
                type: 'red',
            });
            return false;
        }
        var RoleEmployee = {
            "Role_Gid": Role_Id,
            "Employee_Gid": Emp_Gid.join(',')
        }
        $.ajax({
            url: '@Url.Action("Save_EmployeeRole","RoleEmployee")',
            data: JSON.stringify(RoleEmployee),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                var Result = JSON.parse(data);

                if (Result[0]["clear"] == 1) {
                    //$("#btnSubmitDelmat").attr("disabled", "disabled");                    
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0].Msg,
                        type: 'green',
                        animationSpeed: 700,
                    });                   
                    $("#KendGrid_RoleEmployee").data("kendoGrid").dataSource.read();
                    Clear();
                }
                else {
                    $.alert({
                        title: 'IEM Product',
                        content: Result[0].Msg,
                        type: 'red',
                    });
                }

            },
        });
    }

    function Delete_EmployeeFromRole() {
        debugger;
        var grid = $("#KendGrid_RoleEmployee").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var roleemployee_gid = (model.roleemployee_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Remove_EmployeeRole", "RoleEmployee")',
                        data: "{ roleemployee_gid:'" + roleemployee_gid + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].clear == 1) {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                $("#KendGrid_RoleEmployee").data("kendoGrid").dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
    function Clear() {
        debugger;
        var multiSelect = $('#Employee_Gid').data("kendoMultiSelect");
        multiSelect.value([]);
    }
    function basicFilter(ev) {
        debugger;
        try{
            var empname = "";
            var emp_val = ev.filter;
            if (emp_val != undefined) {
                empname = ev.filter.filters[0].value;
            }
            else {
                empname = "";
            }
        }
        catch(e)
        {
            empname = "";
        }
    return {
        //Master: "Employee_Search", Master_Code: "0", Master_Gid: "0",
        EmployeeName: empname
    } 

    }

</script>

