﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model DataAccessHandler.Models.IEMProduct.RoleEmployee_Model

@{
    DataAccessHandler.Models.EOW.Claim_Model objModel_Claim = new DataAccessHandler.Models.EOW.Claim_Model();
}

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 57%;
        font-weight: normal;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        /*height:25%;*/
    }

        .k-edit-form-container .k-edit-buttons {
            visibility: hidden !important;
        }
</style>

<html>

<body>
    <div class="container-fluid">
        
        <div class="row" style="margin-top:10px;">

            <div class="col-sm-3">
                @Html.Label("Role", new { })<br />
                @Html.TextBoxFor(model => model.Role, new { disabled="disabled", @readonly = "readonly", style = "width:100%" })
                @Html.HiddenFor(model => model.Role_Gid)
            </div>
            <div class="col-sm-3">
                @Html.Label("Employee Code/Name", new { })<br />
                @(Html.Kendo().MultiSelectFor(m => m.Employee_Gid)
                          .Name("Employee_Gid")
                          .DataTextField("EmployeeName")
                          .DataValueField("Employee_Gid")
                  .Placeholder("Select...")
                  .AutoBind(false)
                  .MinLength(3)
                  .Delay(0)
                  .Height(300)
                  .AutoClose(true)
                  .Filter("contains")
                  .HtmlAttributes(new { style = "width:112%;height: 60% !important;", @class = "form-control", @maxlength = "255" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          //read.Action("Get_DropDown_List", "Claim", new { Master = "Employee", Master_Code = "0", Master_Gid = "0" });
                          read.Action("Get_Employee_List", "RoleEmployee").Data("basicFilter");
                      }).ServerFiltering(true);
                  }))
                @Html.HiddenFor(m => m.HD_Employee_Gid)
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" id="button_Submit" type="button" style="margin-left: 40%;width: 100%;" onclick="return Save_EmployeeRole();">
                    <i class="fa fa-save"></i> Submit
                </button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" id="button_Clear" type="button" style="margin-left: 40%;width: 100%;" onclick="return Clear();">
                    <i class="fa fa-save"></i> Clear
                </button>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-11 table-responsive">
                @using (Html.BeginForm("RoleEmployee", "RoleEmployee", FormMethod.Post, new { @id = "Form_RoleEmployee" }))
                {
                    @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.RoleEmployee_Model>().Name("KendGrid_RoleEmployee")
                     .HtmlAttributes(new { @style = "width:99%;line-height:2em;font-weight:normal;height: 347px" })
                      .Columns(columns =>
                        {
                            columns.Bound(m => m.roleemployee_gid).Title("Role Gid").Hidden();
                            columns.Bound(m => m.EmployeeCode).Title("Employee Code").Width(150);
                            columns.Bound(m => m.EmployeeName).Title("Employee Name").Width(150);
                            columns.Bound(m => m.Department).Title("Department").Width(150);
                            columns.Bound(m => m.Designation).Title("Designation").Width(150);
                            columns.Command(cmd =>
                            {
                                cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Delete_EmployeeFromRole");
                            }).Title("Action").Width(110);
                        })
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                            .Model(model => model.Id(p => p.Role_Gid))
                        .PageSize(10)
                                    .Read(read => read.Action("Read_EmployeeRole", "RoleEmployee").Data("Get_RoleName"))
                        ))
                }
            </div>

        </div>
        </div>
</body>
</html>
