﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@*@using Kendo.Mvc.UI.Fluent.DataSourceEventBuilder;*@
@model DataAccessHandler.Models.FlexiSpend.PaymentConversion_Model

<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Payment Conversion - Maker</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">


                    <div>
                        @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.PaymentConversion_Model>().Name("KendGrid_PaymentConversion")
                                               .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .Columns(columns =>
                                {

                                    columns.Bound(m => m.PV_Gid).Width(20).Title("PV ID").Hidden();
                                    // columns.Bound(m => m.Tran_Type).Width(80).Title("Type").Width(160).EditorTemplateName("GetTranTypeDropDown");
                                    columns.Bound(m => m.Payment_Bank).Width(80).Title("Payment Bank").Width(130);
                                    columns.Bound(m => m.Ecf_Gid).Width(80).Title("ECF Gid").Hidden();
                                    columns.Bound(m => m.PVGL_Gid).Width(80).Title("PVGL Gid").Hidden();
                                    columns.Bound(m => m.GLValue_Date).Width(83).Title("GL Value Date").Width(125).Format("{0:dd-MM-yyyy}");
                                    columns.Bound(m => m.PV_No).Width(120).Title("PV No").Width(100);
                                    columns.Bound(m => m.PV_Amount).Width(120).Title("PV Amount").Width(100).HtmlAttributes(new { @Style = "text-align: right;" });
                                    columns.Bound(m => m.PV_Beneficiary).Width(120).Title("Beneficiary").Width(130);
                                    columns.Bound(m => m.PV_Paymode).Width(120).Title("Paymode").Width(90);
                                    columns.Bound(m => m.PV_Status).Width(120).Title("Payment Status").Width(130);
                                    columns.Bound(m => m.PV_Reason).Width(120).Title("Reason").Width(140);
                                    columns.Bound(c => c.PV_Gid).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#= PV_Gid #'   /> ").Title("<span style='color:cornsilk;'> Select").Width(60).Sortable(false).Filterable(false);
                                    columns.Bound(m => m.PV_Change_Paymode).Width(120).Title("<span class='fa fa-pencil' style='color:cornsilk;'> Change Paymode").Width(130);
                                    columns.Bound(m => m.Change_GLValue_Date).Width(120).Title("<span class='fa fa-pencil' style='color:cornsilk;'> New GL Value Date").Width(130).Format("{0:dd-MM-yyyy}");

                                    columns.Bound(m => m.ECF_Supplier_Employee_Type).Width(120).Hidden();
                                    columns.Bound(m => m.ECF_Supplier_Employee_Gid).Width(120).Hidden();


                                })

                            .Editable(editable =>
                             { editable.Mode(GridEditMode.InCell); })
                              .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(true)
                              .ButtonCount(5))
                              .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.PV_Gid);
                                    model.Field(p => p.PV_Gid).Editable(false);
                                    model.Field(p => p.Payment_Bank).Editable(false);
                                    model.Field(p => p.Ecf_Gid).Editable(false);
                                    model.Field(p => p.GLValue_Date).Editable(false);
                                    model.Field(p => p.PV_No).Editable(false);
                                    model.Field(p => p.PV_Amount).Editable(false);
                                    model.Field(p => p.PV_Beneficiary).Editable(false);
                                    model.Field(p => p.PV_Paymode).Editable(false);
                                    model.Field(p => p.PV_Status).Editable(false);
                                    model.Field(p => p.PV_Reason).Editable(false);


                                })
                             .PageSize(50)

                             .Events(events => events.Error("error_handler"))
                            .Model(model => model.Id(p => p.PV_Gid))
                                    .Read(read => read.Action("Read_PaymentConversion", "PaymentConversion").Data("GetPaymentConversion"))

                             ))
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:0.3%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style=" margin-top: 43px;">
                <button type="submit" value="Upload" style="width:70%" onclick="Update()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-saved" style="color:white; font-size:12px;"></span> Update
                </button>

            </div>

        </div>
    </div>

</body>
</html>



<script type="text/javascript">
    var Emp_Sup_Type = "";
    var ECF_Gid = "0";
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }


    $(document).ready(function () {
        debugger;

        $("#KendGrid_PaymentConversion").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KendGrid_PaymentConversion").data("kendoGrid");

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            var index = event.container.context.cellIndex;
            if (index == "12") {
                event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");

                Emp_Sup_Type = event.model.ECF_Supplier_Employee_Type;
                ECF_Gid = event.model.Ecf_Gid;
                GetDropdownlistvalues();
            }

        });

    })

    function getFormated_StringDate(date) {
        debugger;
        var date = new Date(date),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [day, mnth, date.getFullYear()].join("-");
    }

    function onChange_GLValueDate() {
        debugger;
        var GLValue_Date = this.value();
        var date_values = getFormated_StringDate(GLValue_Date);
        $("#Change_GLValue_Date").val(date_values).change();
    }


    function GetDropdownlistvalues() {
        var DropDownData = {};

        DropDownData.EMP_SUP_Type = Emp_Sup_Type;
        DropDownData.ECFGid = ECF_Gid;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("GetDropDownList", "PaymentConversion")",
            //data: { "UrgentECF_Gid": Refids, "Maker_Reason": Reason },
            data: '{Obj_Model: ' + JSON.stringify(DropDownData) + '}',
            success: function (response) {
                debugger;
                var datas = response;
                $("#PV_Change_Paymode").data("kendoDropDownList").dataSource.data(datas);
            },
            error: function (response) {
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });
    }


    function onChangePaymode() {
        debugger;
        var TranId = this.value();
        $("#PV_Change_Paymode").val(TranId);
    }

    function GetPaymentConversion() {

        var modelobj = {};
        modelobj.Action = "GetPayrunVoucher-Maker";

        return { "Obj_Model": modelobj }
    }

    function Update() {
        debugger;
        var PVGid = [];
        var PVPaymode = [];
        var PVGLDate = [];
        var list_tranrecon_gid = '';
        var grid = $("#KendGrid_PaymentConversion").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");
        var item = grid.dataItem(checkedrows);
        var PaymentConv = {};

        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one record to payment conversion.!',
                type: 'blue',
            });
            return false;
        }

        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);

            // PVGid.push(itemcompare.PV_Gid, itemcompare.PV_Change_Paymode, getFormated_StringDate(itemcompare.Change_GLValue_Date),"^");
            var PVGid = itemcompare.PV_Gid;
            var PVPaymode = itemcompare.PV_Change_Paymode;
            var PVGLDate = getFormated_StringDate(itemcompare.Change_GLValue_Date);
            var PVGLGid = itemcompare.PVGL_Gid;

            if (list_tranrecon_gid == '') {
                list_tranrecon_gid = PVGid + ',' + PVPaymode + ',' + PVGLGid + ',' + PVGLDate;

            }
            else {
                list_tranrecon_gid += ',' + '^' + PVGid + ',' + PVPaymode + ',' + PVGLGid + ',' + PVGLDate;
            }
        }
        list_tranrecon_gid += ',' + '^';
        // var PVGids = PVGid.join(",");
        var PVGids = list_tranrecon_gid;


        PaymentConv.SelectedValues = list_tranrecon_gid;


        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("SetPaymentConvMaker", "PaymentConversion")",
            data: '{Obj_Model: ' + JSON.stringify(PaymentConv) + '}',
            success: function (response) {
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    if (Result[0]["clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            $("#KendGrid_PaymentConversion").data("kendoGrid").dataSource.read();

                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'red',
                        });
                        $("#KendGrid_PaymentConversion").data("kendoGrid").dataSource.read();

                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                    $("#KendGrid_PaymentConversion").data("kendoGrid").dataSource.read();

                }
            },
            error: function (response) {
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });


    }


    function onChangeTranType() {
        debugger;
        var TranId = this.value();

        var parentcode = "QCD_Type"
        if (TranId == "" || TranId == null || TranId == "undefined" || TranId == 0) {
            return false;
        }
        else {
            $.getJSON("GetSubType/Transaction?TranId=" + TranId + "&parentcode=" + parentcode, function (data) {
                debugger;
                var SubType = data;
                $("#TransubId").data("kendoDropDownList").dataSource.data(SubType);


            });
        }
    }

    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }


    function myDeleteJs() {
        debugger;
        var grid = $("#KendGrid_PaymentConversion").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var TranGId = (model.TranGId);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "Transaction")',
                        data: "{ TranGId:'" + TranGId + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
    function IsDateKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }

</script>
