﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  IEMProduct.Service.MasterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}



 <!DOCTYPE html>

<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../Content/images/icons/favicon.ico" />
    @*<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrapv4.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content//css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content//animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content//select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content//daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->*@

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    @*// Fall back to a local copy of jQuery if the CDN fails*@
    <script>
        window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>');
    </script>

    <script src="kendo/js/jquery.min.js"> </script>

</head>
<body>
    <!-- Menu Section -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Maintenance</a>
                <a href="#" class="nav-item nav-link">ASMS</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Flexibuy</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Dashboard</a>
                        <a href="#" class="dropdown-item">CBF Utilization</a>
                        <a href="#" class="dropdown-item">PR</a>
                    </div>
                </div>
                <a href="#" class="nav-item nav-link">EOW</a>
                <a href="#" class="nav-item nav-link">Flexispend</a>
                <a href="#" class="nav-item nav-link">iFams</a>
                <a href="#" class="nav-item nav-link">Help</a>
            </div>
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></a>
                <a href="#" class="nav-item nav-link">Charles Arokiaraj</a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>
    <!-- Ends -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mt-3">

                <div class="box box-orange" style="height:650px">
                    @*<div class="box-header text-center with-border">
                <h3 class="box-title" style="font-size: 22px;font-weight: 400;">
                    Insider Type Listing
                </h3>
            </div>*@
                    @using (Html.BeginForm("QCMaster", "QCMaster", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<IEMProduct.Service.MasterModel>().Name("KgridMaster")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                            //  .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.MasterCode).Width(20).Title("Master Code");
                                    columns.Bound(m => m.MasterDesc).Width(60).Title("Master Description");
                                    // columns.Command(cmd => { cmd.Edit(); }).Title("Edit").Width(50);
                                    // columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()'><i class='fa fa-trash-o' aria-hidden='true'></i>Delete</button>").Width(80).Title("Delete");
                                })



                           //.Editable(editable =>{ editable.Mode(GridEditMode.InLine); })



                       .Editable(editable =>

                             { editable.Mode(GridEditMode.InLine); })


                             //.Pageable(pageable => pageable
                            //           .Refresh(true)
                            //           .PageSizes(true)
                            //           .ButtonCount(5))
                            .Filterable()
                             .Sortable()
                             .Resizable(resize => resize.Columns(true))
                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.MasterCode);
                                    model.Field(m => m.MasterCode).DefaultValue(ViewBag.MasterCode);
                                })
                             .PageSize(5)
                                 //  .Events(events => events.Error("error_handler").RequestStart("onRequestStart"))
                                 // .Events(events => events.Error("error_handler"))

                            .Model(model => model.Id(p => p.MasterCode))
                            .Create(Create => Create.Action("QcMasterGridSave", "QCMaster"))
                                 .Read(read => read.Action("QCGridRead", "QCMaster"))
                            .Update(update => update.Action("QcMasterGridUpdate", "QCMaster"))
                             ))
                        </div>
                    }
                </div>



                @*<table class="table table-striped table-bordered table-hover table-sm scroll">
                    <thead class="thead-dark">
                        <tr>
                            <th>Master Code</th>
                            <th>Master Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ACTIV1</td>
                            <td>actv</td>
                        </tr>
                        <tr>
                            <td>ACTIVITY</td>
                            <td>Activity</td>
                        </tr>
                        <tr>
                            <td>AGGR_INTER_TYPE</td>
                            <td>Intermediate Aggregator Type</td>
                        </tr>
                        <tr>
                            <td>AGGR_LOC_TYPE</td>
                            <td>Location Type</td>
                        </tr>
                        <tr>
                            <td>ATTCH_GRP</td>
                            <td>Attachment Group</td>
                        </tr>
                        <tr>
                            <td>AGGR_ORG_TYPE</td>
                            <td>Aggr. Org Type</td>
                        </tr>
                        <tr>
                            <td>CTRL_TYPE</td>
                            <td>Control Type</td>
                        </tr>
                        <tr>
                            <td>DIST</td>
                            <td>District.</td>
                        </tr>
                        <tr>
                            <td>ACTIV1</td>
                            <td>actv</td>
                        </tr>
                        <tr>
                            <td>ACTIVITY</td>
                            <td>Activity</td>
                        </tr>
                        <tr>
                            <td>AGGR_INTER_TYPE</td>
                            <td>Intermediate Aggregator Type</td>
                        </tr>
                        <tr>
                            <td>AGGR_LOC_TYPE</td>
                            <td>Location Type</td>
                        </tr>
                        <tr>
                            <td>ATTCH_GRP</td>
                            <td>Attachment Group</td>
                        </tr>
                        <tr>
                            <td>AGGR_ORG_TYPE</td>
                            <td>Aggr. Org Type</td>
                        </tr>
                        <tr>
                            <td>CTRL_TYPE</td>
                            <td>Control Type</td>
                        </tr>
                        <tr>
                            <td>DIST</td>
                            <td>District.</td>
                        </tr>
                    </tbody>
                </table>*@
            </div>
            <div class="col-md-8">
                <div class="row mt-3 title">
                    <div class="col-md-12">
                        <h4 style="text-align:center;font-size: 14px;">Master Definition</h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label>Code : <span style="color:red;">*</span></label>
                        <input type="text" class="form-control" name="code" id="code">
                    </div>
                    <div class="col-md-3">
                        <label>Description : <span style="color:red;">*</span></label>
                        <input type="text" class="form-control" name="des" id="des">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="plus">
                            <i class="fa fa-plus" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </div>


                        <div class="box box-orange" style="height:650px">
                            <div class="box-header text-center with-border">
                                <h3 class="box-title" style="font-size: 22px;font-weight: 400;">
                                    Insider Type Listing
                                </h3>
                            </div>
                            @using (Html.BeginForm("GroupMaster", "GroupMaster", FormMethod.Post, new { @id = "form1" }))
                        {
                                <div>
                                    @(Html.Kendo().Grid<IEMProduct.Service.MasterModel>().Name("Kgrid_Group")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.MasterCode).Width(20).Title("Master Code").EditorTemplateName("MasterPopUp");
                                    columns.Bound(m => m.DependCode).Width(80).Title("Depend Code").EditorTemplateName("MasterPopUp");
                                    columns.Bound(m => m.ParentCode).Width(80).Title("Parent Code").EditorTemplateName("MasterPopUp");
                                   columns.Command(cmd => { cmd.Edit(); }).Title("Edit").Width(50);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()'><i class='fa fa-trash-o' aria-hidden='true'></i>Delete</button>").Width(80).Title("Delete");
                                })

                         

                           .Editable(editable =>
                                   { editable.Mode(GridEditMode.InLine); })
                   
                             //.Pageable(pageable => pageable
                             //           .Refresh(true)
                             //           .PageSizes(true)
                             //           .ButtonCount(5))
                            .Filterable()
                             .Sortable()
                             .Resizable(resize => resize.Columns(true))
                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m =>m.MasterCode );
                                    model.Field(m => m.MasterCode).DefaultValue(ViewBag.MasterCode);
                                })
                             .PageSize(5)
                                         .Events(events => events.Error("error_handler").RequestStart("onRequestStart"))
                                     .Events(events => events.Error("error_handler"))

                            .Model(model => model.Id(p => p.MasterCode))
                     .Create(Create => Create.Action("QcMasterGridSave", "Master"))
                    .Read(read => read.Action("QCGridReadDetails", "Master"))
                     .Update(update => update.Action("QcMasterGridUpdate", "Master"))
                             ))
                                </div>
                        }
                        </div>
                        @*<table class="table table-striped table-bordered table-hover table-sm scroll">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Value Code</th>
                                    <th>Value In English</th>
                                    <th>Value In Local Lang.</th>
                                    <th>Depend Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row footers mt-3">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <p style="text-align:center;">Copyright © 2019 Flexicode Technologies Pvt Ltd.</p>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

    @*<!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>*@

</body>
</html>





<script type="text/javascript">


    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'DMS',
                content: message,
                type: 'red',
            });
        }
    }










    $(document).ready(function () {
        debugger;
        $("#KgridMaster").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridMaster").data("kendoGrid");
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
        });
    })

    //function error_handler(e) {
    //    if (e.errors) {
    //        var message = "Errors:\n";
    //        $.each(e.errors, function (key, value) {
    //            if ('errors' in value) {
    //                $.each(value.errors, function () {
    //                    message += this + "\n";
    //                });
    //            }
    //        });
    //        $.alert({
    //            title: 'IEM Product',
    //            content: message,
    //            type: 'blue',
    //        });
    //    }
    //}



    function onRequestEnd(e) {
        debugger;
        //Check request type

        if (e.type == "create") {
            var Msg = e.response;
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                $.dialog({
                    title: 'IEM Product',
                    content: Msg,
                    type: 'green',
                });
                setTimeout(function () {
                    debugger;
                    window.location.reload(1);
                }, 1500);
            }
        }

        if (e.type == "update") {
            var Msg = e.response;
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                $.dialog({
                    title: 'IEM Product',
                    content: Msg,
                    type: 'green',
                });
                setTimeout(function () {
                    debugger;
                    window.location.reload(1);
                }, 1500);
            }
        }

    }

    function myDeleteJs() {
        debugger;
        var grid = $("#KgridMaster").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Type_Id = (model.Type_Id);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'blue',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("GroupGrid_Delete", "GroupMaster")',
                        data: "{ Type_Id:'" + Type_Id + "'}",
                        success: function (data) {
                            debugger;
                            if (data == 'Record deleted successfully') {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: 'Record deleted successfully',
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
</script>



@*<script>

        function MasterPopUp() {

            @Html.TextBoxFor(model => model.MasterCode, new {style = "height:25px;width:250px;font-weight:normal;" })


            @Html.TextBoxFor(model => model.DependCode, new {style = "height:25px;width:250px;font-weight: normal;" })
        }
    </script>*@