﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DBHelper.Attachment_Model


<html>
<head>
    <style>
        div.k-window {
            display: inline-block;
            position: absolute;
            z-index: 10001;
            border-style: solid;
            border-width: 1px;
            padding-top: 1em;
            width: 57%;
            font-weight: normal;
        }

        .k-edit-form-container {
            position: relative;
            width: 100%;
            /*height:25%;*/
        }

            .k-edit-form-container .k-edit-buttons {
                visibility: hidden !important;
            }
    </style>

</head>
<body>

    <div class="container-fluid">
        <div class="box-body">
            <div style="height:-207%">
                <div class="col-md-8">

                    <div class="row mt-3 title">
                        <div class="col-md-12">
                            <h4 class="heading">Attachment</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.Label("Document Name", new { })
                            @Html.TextBoxFor(model => model.attachment_docname, new { })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Document Group", new { })<br />

                            @(Html.Kendo().DropDownList()
                                                                                    .Name("attachment_attachmenttype_gid")
                                                   .DataTextField("docgrpname")
                                                                                    .DataValueField("attachment_attachmenttype_gid")
                                    // .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height:25px;width: 175px;font-weight:normal;margin-left: 40%;" })
                                                                    .DataSource(source => { source.Read(read => { read.Action("GetDocGroup", "Attachment", new { parentcode = "QCD_DocGroup" }); }).ServerFiltering(true); }))

                        </div>

                        @*<div class="col-sm-2">

                                @Html.Label("IFSC Code", new { })
                                @Html.TextBoxFor(model => model.paybank_ifsc_code, new { @maxlength = "200", style = "" })
                            </div>*@
                        <div class="col-sm-2">

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-2">
                            @Html.Label("Browse File", new { style = "" })
                            <div class="form-group">

                                <input type="file" class="form-control input-lg browse btn btn-primary input-lg " name="File" id="File" style="width :363%">

                            </div>
                        </div>


                        <div class="col-sm-2">
                            @Html.Label("Description", new { style = "margin-left: 250%;" })

                            @Html.TextAreaFor(model => model.attachment_desc, new { style = "width:400%;margin-left: 247%;" })
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-sm-2">
                            <input type="button" value="Save" id="btn_submit" onclick="formSave()" class="btn btn-orange pull-left" style="width:72%;margin-left:7%;" />
                            @*<input type="button" value="Save" id="btn_submit" onclick="formSave()" class="btn btn-orange" style="margin-left :13%;width: 121%;" />*@

                        </div>
                        <div class="col-sm-2">
                            <input type="button" value="Cancel" id="btn_onboarding" class="btn btn-orange pull-left" style="width:72%;margin-left:7%;" onclick="return Onboarding_Insider()" />

                        </div>



                    </div>


                    <div class="row mt-2">
                        <div class="col-md-12">
                            @*<div class="plus">
                                    <i   aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o" aria-hidden="false"></i>
                                </div>*@
                            <div class="box box-orange" style="height:650px">
                                @using (Html.BeginForm("Attachment", "Attachment", FormMethod.Post, new { @id = "form3" }))
                                {
                                    <div>
                                        @(Html.Kendo().Grid<DBHelper.Attachment_Model>().Name("KgridAttachmentdml")
                                .HtmlAttributes(new { style = "width:99%;line-height:2em;font-weight:normal" })
                                        // .ToolBar(toolbar => toolbar.Create().Text(""))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.attachment_gid).Width(20).Title("Master ID").Hidden();
                                    columns.Bound(m => m.attachment_filename).Width(80).Title("File Name").Width(160);
                                    columns.Bound(m => m.docgrpname).Width(80).Title("Doc Group Name").Width(160);
                                    columns.Bound(m => m.attachment_desc).Width(83).Title("Description").Width(160);
                                    columns.Bound(m => m.attachment_inserted_by).Width(120).Title("Attached By").Width(160);
                                    columns.Bound(m => m.attachment_inserted_date).Width(120).Title("Attached Date").Width(160);
                                    // columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(80);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                                })

                            .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                            .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(new List<object> { 5, 10, 20, 500 })
                            .ButtonCount(5))
                            .Filterable()
                            .Sortable()
                            .Scrollable(s => s.Enabled(true).Height("auto"))
                            .Resizable(resize => resize.Columns(true))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                                //.Model(model => { model.Id(m => m.MasterGid);})
                            .PageSize(5)
                            .Events(events => events.Error("error_handler"))
                            .Model(model => model.Id(p => p.attachment_gid))
                            .Create(Create => Create.Action("QcMasterGridSave", "Attachment"))
                            .Read(read => read.Action("ReadGrid", "Attachment"))
                            .Update(update => update.Action("QcMasterGridUpdate", "Attachment"))
                             ))
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }
    function on_change_single_file() {
        debugger;
        var fp = $("#File");
        var lg = fp[0].files.length;
        // get length
        var items = fp[0].files;
        var fileSize = 0;
        var FileUpload = $('#File').val();

        var ext = $('#File').val().split('.').pop().toLowerCase();


        //Allowed file types
        if ($.inArray(ext, ['xlsx', 'xls', 'gif', 'png', 'jpg', 'jpeg', 'docx', 'doc', 'pdf', 'rtf', 'ppt', 'txt', 'odt']) == -1) {
            $.alert({
                title: 'HAWK EYE',
                content: 'The file type is invalid.!',
                type: 'blue',
            });
            $('#FileUpload').val("");
            $('#upload-file-info').html("");
            return false;
        }

        if (lg > 0) {
            for (var i = 0; i < lg; i++) {
                fileSize = fileSize + items[i].size; // get file size
            }
            if (fileSize > 314572800) {
                $.alert({
                    title: 'HAWK EYE',
                    content: 'File size must not be more than 300 MB.!',
                    type: 'blue',
                });
                $('#FileUpload').val('');
                return false;
            }
            else {
                debugger;
                // var files = $('#FileUpload').val();
                var files = $("#File").get(0).files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append("File", files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SingleFile_onchange", "Attachment")',
                    dataType: "json",
                    contentType: false,  // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                    },
                    error: function (error) {
                        debugger;
                    }
                });
            }
        }
    }



    $(document).ready(function () {
        debugger;


        $("#KgridAttachmentdml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridAttachmentdml").data("kendoGrid");
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })


    function onRequestEnd(e) {
        debugger;
        //Check request type


        if (e.type == "create") {

            debugger;
            //var Msg = e.response;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }



    }





    function formSave() {
        debugger;
        var frm = {}
        var attachment_gid = $("#attachment_gid").val();
        var attachment_docname = $("#attachment_docname").val();

        var docgrpname = $("#docgrpname").data("kendoDropDownList").value();
        var Filename = $("#File").val();
        // var oldfilename = $("#formattach").val();
        if (attachment_docname == "" || attachment_docname == null) {
            $.alert({
                title: 'IEM Product',
                content: 'Please Enter The Document Name',
                type: 'blue',
            });
            return false;
        }


        if (Filename == "" && oldfilename == "") {
            $.alert({
                title: 'IEM Product',
                content: 'Please Choose the file',
                type: 'blue',
            });
            return false;
        }

        if (docgrpname == "-Select-") {
            $.alert({
                title: 'IEM Product',
                content: 'Select docgrpname',
                type: 'blue',
            });
            return false;
        }



        var frm = {
            'attachment_gid': attachment_gid, 'attachment_docname': attachment_docname, 'docgrpname': docgrpname, 'frequency': frequency, 'versionno': versionno,
            'oldfilename': oldfilename, 'frequency': frequency, 'effectivedate': effectivedte, 'status': status, 'form_submitedby': form_submitedby
        };

        // alert(frm.efftectivedate);

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("AttachmentGrid_Save", "Attachment")',
            data: '{Modelobj: ' + JSON.stringify(frm) + '}',
            success: function (data) {
                debugger;
                sessionStorage.clear();
                if (data == "Record inserted successfully") {
                    $.alert({
                        title: 'HAWK EYE',
                        content: 'Record inserted successfully..!',
                        type: 'green',
                    });
                }
                else if (data == "Record updated successfully") {
                    $.alert({
                        title: 'HAWK EYE',
                        content: 'Record updated successfully..!',
                        type: 'green',
                    });
                }
                else if (data == "PROCESS FAILD") {
                    $.alert({
                        title: 'HAWK EYE',
                        content: 'PROCESS FAILD',
                        type: 'blue',
                    });
                }
                setTimeout(function () {
                    // $("#FormsMasterDropdown").data("kendoGrid").dataSource.read();
                    window.location.reload(1);
                }, 2500);

            }
        });






    }









    function myDeleteJs() {
        debugger;
        var grid = $("#KgridAttachmentdml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var attachment_gid = (model.attachment_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "Attachment")',
                        data: "{ attachment_gid:'" + attachment_gid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }


</script>
