﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.IEMProduct.AccessPrivileges_Model
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessPrivileges</title>
    <style>
        .k-grid .k-button {
            background: #ffffff;
        }

        .modal-dialog {
            width: 450px !important;
            margin: 190px auto !important;
        }
    </style>
</head>
<body>
    <div class="row mt-1 top" style="margin-top:2px;">

        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:#fff;">Access Privileges</p>
        </div>

        <div class="container-fluid" id="mail">
            <div class="row mt-1">
                <div class="col-md-12">
                    @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.AccessPrivileges_Model>().Name("Kgrid_RoleMap")
                        .HtmlAttributes(new { @style = "width:99%;line-height:2em;font-weight:normal;height: 550px !important;" })
                        .Columns(columns =>
                        {
                            columns.Bound(m => m.Role_SLNo).Title("SL No").Width(20);
                            columns.Bound(m => m.Role_Gid).Title("Role Gid.").Hidden();
                            columns.Bound(m => m.Role_Code).Title("Role Code").Width(80);
                            columns.Bound(m => m.Role_Name).Title("Role Name").Width(130);
                            columns.Bound(m => m.Role_GroupName).Title("Role Group").Width(130);
                            columns.Command(cmd =>
                            {
                                cmd.Custom("Edit").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>").Click("View");
                            }).Title("Action").Width(40);
                        })
                        .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5).PageSizes(new List<object> { 20, 25, 50, 100 }))
                        .Filterable()
                        .Sortable()
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                        .Model(model => model.Id(p => p.Role_Gid))
                        .PageSize(25)
                        .Events(events => events.Error("error_handler"))
                        .Read(read => read.Action("AccessPrivileges_Read", "AccessPrivileges"))
                    ))
                </div>
            </div>
        </div>

        @(Html.Kendo().Window()
            .Name("kwindow_Treeview")
            .Title("Access Privileges") //set the title of the window
            .Content(@<text> <div id="user-modal"></div> </text>)
                    .Draggable()
                    .Resizable()
                    .Width(400)
                    .Height(510)
                    .Modal(true)
                    .Scrollable(false)
                    .Visible(false))

    </div>
    @Html.HiddenFor(m => m.Role_Gid)
    @Html.HiddenFor(m => m.Role_Code)
    @Html.HiddenFor(m => m.Role_Name)
    @Html.HiddenFor(m => m.Role_GroupName)
</body>
</html>

<script>
    var modal;
    $(document).ready(function () {
        debugger;
        modal = $("[id$='user-modal']");
    });

    function View() {
        debugger;
        var grid = $("#Kgrid_RoleMap").data("kendoGrid");
        var model1 = grid.dataItem($(event.target).closest("tr"));
        var role_gid = model1.Role_Gid;

        modal.load('../AccessPrivileges/TreeViewPartial?Role_Gid=' + role_gid);
        modal.show();

        var window = $("#kwindow_Treeview").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();

        $("#Role_Code").val(model1.Role_Code);
        $("#Role_Code").val(model1.Role_Code);
        $("#Role_Name").val(model1.Role_Name);
        $("#Role_GroupName").val(model1.Role_GroupName);
        $("#Role_Gid").val(model1.Role_Gid);
    }

    function Update_AccessPrivileges() {
        debugger;
        var Role_Gid = $("#Role_Gid").val();
        var menuchecked = sessionStorage.getItem("checkedmenu");
        var menunotchecked = sessionStorage.getItem("notcheckedmenu");

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("SetAccessPrivileges", "AccessPrivileges")',
            data: "{ role_gid:'" + Role_Gid + "',menuchecked:'" + menuchecked + "',menunotchecked:'" + menunotchecked + "'}",
            success: function (data) {
                debugger;
                var message = JSON.parse(data);
                if (message[0].clear == 1) {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        var window = $("#kwindow_Treeview").data("kendoWindow");
                        window.close();
                    }, 1500);
                }
                else {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                }
                return false;
            },
            error: function (data) {
                $.alert({
                    icon: 'fa fa-success',
                    title: 'IEM',
                    content: 'Failed to set Access Privileges.!',
                    type: 'red',
                });

            }
        });
    }

    function Close() {
        debugger;
        var window = $("#kwindow_Treeview").data("kendoWindow");
        window.close();
    }

    function error_handler(e) {
        debugger;
        e.preventDefault();
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM',
                content: message,
                type: 'blue',
            });
        }
    }
</script>