﻿@model DataAccessHandler.Models.IEMProduct.AccessPrivileges_Model.UserGroups

<style>
    .myTableStyleTabNew td span {
        font-weight: normal;
        font-size: 12px;
        color: #333;
        font-family: Verdana;
    }

    .collapse1 {
        width: 15px;
        background-image: url('../Content/Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -18px -128px;
        display: inline-block;
        cursor: pointer;
    }

    .expand1 {
        width: 15px;
        background-image: url('../Content/Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -50px -128px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview ul {
        list-style: none;
    }

    .modal-dialog {
        width: 450px !important;
        margin: 90px auto !important;
    }

    label {
        font-weight: 400;
    }

    div#kwindow_Treeview {
        overflow: hidden;
    }
</style>

<div class="container-fluid" style="width:85%;">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="hdn_role_gid" />
            @Html.Label("Role Code", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Txtrole_code, new { @id = "Txtrole_code", @class = "form-controls", @readonly = "readonly", style = "min-width: 84%;background-color: #eee;" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("Role Name", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Txtrole_name, new { @id = "Txtrole_name", @class = "form-controls", @readonly = "readonly", style = "min-width: 84%;background-color: #eee;" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("Role Group Name", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Txtrole_groupname, new { @id = "Txtrole_groupname", @class = "form-controls", @readonly = "readonly", style = "min-width: 84%;background-color: #eee;" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="myTableStyleTabNew" style="width:100%; ">
                <tr>
                    <td>
                        <div style="border:solid 1px black; margin-top:10px; padding:10px; background-color:#FAFAFA; width:85%; ">
                            <div id="divtreeview" class="treeview" style="overflow:scroll;overflow-x: hidden; height:250px;">
                                @if (Model != null)
                                {
                                    if (Model.menu != null && Model.menu.Count() > 0)
                                    {
                                        @Treeview.GetTreeView(Model.menu, Model.menu.FirstOrDefault().parent_menu_gid);
                                    }
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="margin:1%;">
        <div class="col-md-3" style="margin-left:30%;">
            <button type="button" id="btn_submit" class="btn btn-primary pull-right" onclick="return Update_AccessPrivileges();" ><span style="color:white;" class="glyphicon glyphicon-floppy-disk"></span>Submit</button>
        </div>
        <div class="col-md-3">
            <button type="button" id="btn_cancel" class="btn btn-warning pull-left" onclick="return Close();" style="margin-left: -35%;"><span style="color:white;" class="glyphicon glyphicon-remove-sign"></span>Cancel</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        $(".treeview li>ul").css('display', 'none');
        $(".collapsible1").click(function (e) {
            e.preventDefault();
            $(this).toggleClass("collapse1 expand1");
            $(this).closest('li').children('ul').slideToggle();
        });
        //$("#txtusergroup").val($("#hdn_grpname").val());
        $("#Txtrole_code").val($("#Role_Code").val());
        $("#Txtrole_name").val($("#Role_Name").val());
        $("#Txtrole_groupname").val($("#Role_GroupName").val());
        $("#hdn_role_gid").val($("#Role_Gid").val());
    });

</script>