﻿@if (ViewBag.MailFields != null)
{
    <table style=" width:100%;">
        @foreach (var item in ViewBag.MailFields)
        {
            <tr>
                <td width="20px">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  
                    <input onchange="changeFunction(this)" type="checkbox" id="chk_@item.mailfield_id" class="chkclass" value="@item.mailfield_id" name="chk_@item.mailfield_id" />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><b style="font-weight:normal;">@item.mailfield_name</b>
                </td>
            </tr>
        }
    </table>
}
