﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.IEMProduct.MailTemplate_Model
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MailTemplate</title>
    <style>
        .k-grid .k-button {
            background: #ffffff;
            border-color: snow;
        }
    </style>
</head>
<body>
    <div class="row mt-1 top" style="margin-top:2px;">

        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:#fff;">Mail Template</p>
        </div>

        <div class="container-fluid" id="mail">
            <div class="row mt-1">
                <div class="col-md-12">
                    <button type="button" onclick="return Show_MailTemplate()" class="btn  btn-primary"> Create</button>
                    @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.MailTemplate_Model>().Name("Kgrid_MailTemplate")
                        .HtmlAttributes(new { @style = "width:99%;line-height:2em;font-weight:normal;height: 550px !important;" })
                            //.ToolBar(toolBar => { toolBar.Custom().Name("Add").Text("+ Add").Url("#").HtmlAttributes(new { onclick = "return Create_MialTemplate()" }); })
                        .Columns(columns =>
                        {
                            columns.Bound(m => m.mailtemplate_id).Title("Gid").Width(20);
                            columns.Bound(m => m.mailtemplate_type_name).Title("Type").Width(50);
                            columns.Bound(m => m.mailtemplate_subtype_name).Title("SubType").Width(100);
                            columns.Bound(m => m.mailtemplate_status_name).Title("Status").Width(100);
                            columns.Bound(m => m.subtype_ids).Hidden();
                            columns.Bound(m => m.status_ids).Hidden();
                            columns.Bound(m => m.torole_ids).Hidden();
                            columns.Bound(m => m.ccrole_ids).Hidden();
                            columns.Bound(m => m.mailtemplate_subject).Hidden();
                            columns.Bound(m => m.mailtemplate_template).Hidden();
                            columns.Bound(m => m.mailtemplate_attachment).Hidden();
                            columns.Bound(m => m.mailfields_ids).Hidden();
                            columns.Bound(m => m.mailtemplate_content).Hidden();
                            columns.Bound(m => m.mailtemplate_signature).Hidden();
                            columns.Bound(m => m.supplier_flag).Hidden();
                            columns.Bound(m => m.mailtemplate_additionalcc).Hidden();
                            columns.Command(cmd =>
                            {
                                cmd.Custom("Edit").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>").Click("Edit_MailTemplate");
                                cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Delete_MailTemplate");
                            }).Title("Action").Width(30);
                        })
                        .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5).PageSizes(new List<object> { 20, 25, 50, 100 }))
                        .Filterable()
                        .Sortable()
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                        .Model(model => model.Id(p => p.mailtemplate_id))
                        .PageSize(25)
                        .Read(read => read.Action("MailTemplate_Read", "MailTemplate", new { Master = "MailGridSummery", Depend_Id = "0" }))
                    ))
                </div>
            </div>
        </div>
        @(Html.Kendo().Window()
            .Name("kwindow_templatepopup")
            .Title("Mail Template") //set the title of the window
            .Events(ev => ev.Close("Close_Popou"))
            .Content(@<text> @Html.Partial("MailTemplate_Partial") </text>)
                                    .Draggable()
                                    .Resizable(re => re.Enabled(false))
                                    .Width(1000)
                                    .Height(700)
                                    .Modal(true)
                                    .Scrollable(false)
                                    .Visible(false))
    </div>

</body>
</html>

<script>
    $(document).ready(function () {
        debugger;
        var multiselect = $("#mailtemplate_subtype_id").data("kendoMultiSelect");
        multiselect.enable(false);
    });

    function Get_TypeId() {
        debugger;
        return { Master: 'SubType', Depend_Id: $("#mailtemplate_type_id").val() }
    }

    function Delete_MailTemplate() {
        debugger;
        var grid = $("#Kgrid_MailTemplate").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record.!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    debugger;
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Delete_MailTemplate", "MailTemplate")',

                        data: "{ Master:'" + 'DeleteTemplate' + "', Depend_Id:'" + model.mailtemplate_id + "' }",
                        success: function (data) {
                            debugger;
                            var message = JSON.parse(data);
                            if (message[0].clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: message[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 1500);
                        },
                    });
                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

    function Show_MailTemplate() {
        debugger;
        var window = $("#kwindow_templatepopup").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        $("#supplier_IsChecked").attr("disabled", true);
        $("input[type=radio]").attr('disabled', true);
        $("#mailtemplate_id").val('0');
        $("#divTablescollist").load("../MailTemplate/Show_MailFieds", { 'Type_Id': $("#mailtemplate_type_id").val() });
        // $("#mailtemplate_attachment").attr("disabled", true);
        // $("input.group1").removeAttr("disabled");
    }

    function Edit_MailTemplate() {
        debugger;
        var window = $("#kwindow_templatepopup").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        var grid = $("#Kgrid_MailTemplate").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        $("#divTablescollist").load("../MailTemplate/Show_MailFieds", { 'Type_Id': $("#mailtemplate_type_id").val() });
        $("#mailtemplate_id").val(model.mailtemplate_id);

        var ddtype = $("#mailtemplate_type_id").data("kendoDropDownList");
        ddtype.value(model.mailtemplate_type_id);
        //ddtype.trigger("change");

        var dmsubtype = $("#mailtemplate_subtype_id").data("kendoMultiSelect");
        var arrtype = model.subtype_ids;
        dmsubtype.value(arrtype.split(','));
        dmsubtype.trigger("change");
        dmsubtype.enable(true);

        var dmstatus = $("#mailtemplate_status_id").data("kendoMultiSelect");
        var arrsubtype = model.status_ids;
        dmstatus.value(arrsubtype.split(','));
        dmstatus.trigger("change");

        var dmto = $("#mailtemplate_torole_id").data("kendoMultiSelect");
        var arrto = model.torole_ids;
        dmto.value(arrto.split(','));
        dmto.trigger("change");

        var dmcc = $("#mailtemplate_ccrole_id").data("kendoMultiSelect");
        var arrcc = model.ccrole_ids;
        dmcc.value(arrcc.split(','));
        dmcc.trigger("change");

        if (model.supplier_flag == "Y") {
            $("#supplier_IsChecked").prop('checked', true);
        }
        else {
            $("#supplier_IsChecked").prop('checked', false);
        }

        $('input[name="mailtemplate_attachment"]').val([model.mailtemplate_attachment]);

        $("#mailtemplate_subject").val(model.mailtemplate_subject);
        $("#mailtemplate_template").val(model.mailtemplate_template);
        tinymce.activeEditor.execCommand('mceInsertContent', false, model.mailtemplate_content);
        $("#mailtemplate_signature").val(model.mailtemplate_signature);
        $("#mailtemplate_additionalcc").val(model.mailtemplate_additionalcc);
        setTimeout(function () {
            debugger;
            var filedsarray = model.mailfields_ids.split(',');
            var arrayValues = filedsarray;
            $.each(arrayValues, function (i, val) {
                $("input[value='" + val + "']").prop('checked', true);
                //$("#chk_" + val).prop('checked', true);
            });

            if ($("#mailtemplate_type_id").data("kendoDropDownList").text().trim() == "Invoice") {
                $("#supplier_IsChecked").attr("disabled", false);
                $("input[type=radio]").attr('disabled', false);
            }
            else {
                $("#supplier_IsChecked").attr("disabled", true);
                $("input[type=radio]").attr('disabled', true);
            }

        }, 2000);
    }

    function changeFunction(id) {
        debugger;
        if (id.checked) {
            var row = $(id).closest('tr');
            var tds = row.find('b');
            var tdsappend = "<b>[" + tds.text() + "]</b>";
            $('#txtContent').focus();
            tinymce.activeEditor.execCommand('mceInsertContent', false, tdsappend);
            $('#txtContent').focus();
            var text = id.value;
            var data = $("#txtcontentts").val();
            var newdata = data;
            if (newdata == "") {
                $("#txtcontentts").val(text);
            }
            else {
                var str = newdata + "," + text;
                $("#txtcontentts").val(str);
            }
            $('#txtContent').focusin();
        }
        else {
            tinyMCE.triggerSave();
            var content = $('#txtContent').val();
            var row = $(id).closest('tr');
            var tds = row.find('b');
            var withoutbold = "<strong>[" + tds.text() + "]</strong>";
            var tdsappend = "<b>[" + tds.text() + "]</b>";
            content = content.replace(withoutbold, '');
            $('#txtContent').focus();
            tinyMCE.activeEditor.setContent(content);
            $('#txtContent').focus();

            var newval;
            var str = $("#txtcontentts").val();
            var splitString = str.split(',');
            var valu = id.value;
            for (var i = 0; i < splitString.length; i++) {
                var stringPart = splitString[i];
                if (stringPart != valu) {
                    continue;
                }
                else {
                    if (splitString.length == 1) {
                        newval = "";
                    }
                    else if (i == 0) {
                        var removableval = valu + ",";
                        newval = str.replace(removableval, '');
                    }
                    else {
                        var removableval = "," + valu
                        newval = str.replace(removableval, '');
                    }

                    $("#txtcontentts").val(newval);
                }
                break;
            }
            $('#txtContent').focusin();
        }
    }

    function Close_Popou() {
        debugger;
        window.location.reload(1);
    }
</script>