﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.IEMProduct.MailTemplate_Model

<link href="~/Content/RMchosen/chosen.css" rel="stylesheet" />
<script src="~/Scripts/RMScript/chosen.jquery.js"></script>
<style>
    div#tinymce-19 {
        width: 94%;
        margin-top: 1%;
        margin-left: 0.5%;
    }
</style>

<div class="container-fluid">
    <div class="row" style="margin-left: 8%;">
        <div class="col-md-2">
            @Html.Label("Type", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                .Name("mailtemplate_type_id")
                .DataTextField("mailtemplate_type_name")
                .DataValueField("mailtemplate_type_id")
                .Events(e => e.Change("onChange_Type"))
                .HtmlAttributes(new { @style = "width: 130%;" })
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("DropDown_Read", "MailTemplate", new { Master = "Type", Depend_Id = 0 }); }).ServerFiltering(true);
                }))
        </div>
        <div class="col-md-4">
            @Html.Label("Sub Type", new { @class = "lbl-font", @style = "margin-left: 10%;" })
            @(Html.Kendo().MultiSelectFor(m => m.mailtemplate_torole_id)
                .Name("mailtemplate_subtype_id")
                .DataTextField("mailtemplate_subtype_name")
                .DataValueField("mailtemplate_subtype_id")
                .Placeholder("Select...")
                .Events(e => e.Change("onChange_SubType"))
                .AutoBind(false)
                .Height(500)
                .AutoClose(false)
                .Filter("contains")
                .HtmlAttributes(new { style = "width:100%;height: 60% !important;margin-left: 10%;", @class = "form-control", @maxlength = "255" })
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("DropDown_Read", "MailTemplate").Data("Get_TypeId");
                    }).ServerFiltering(true);
                }))
        </div>
        <div class="col-md-4">
            @Html.Label("Status", new { @class = "lbl-font", @style = "margin-left: 7%;" })
            @(Html.Kendo().MultiSelectFor(m => m.mailtemplate_torole_id)
                .Name("mailtemplate_status_id")
                .DataTextField("mailtemplate_status_name")
                .DataValueField("mailtemplate_status_id")
                .Placeholder("Select...")
                .Events(e => e.Change("onChange_Status"))
                .AutoBind(false)
                .Height(500)
                .AutoClose(false)
                .Filter("contains")
                .HtmlAttributes(new { style = "width:100%;height: 60% !important;margin-left: 7%;", @class = "form-control", @maxlength = "255" })
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("DropDown_Read", "MailTemplate", new { Master = "Status", Depend_Id = 0 });
                    }).ServerFiltering(true);
                }))
        </div>
    </div>

    <div class="row" style="margin-left: 0.5%;">
        <table style="width:100%">
            <tr style="height:50px;">
                <td style="width:8%">@Html.Label("To", new { @class = "lbl-font" })</td>
                <td style="width:60%">
                    @(Html.Kendo().MultiSelectFor(m => m.mailtemplate_torole_id)
                        .Name("mailtemplate_torole_id")
                        .DataTextField("mailtemplate_torole_name")
                        .DataValueField("mailtemplate_torole_id")
                        .Placeholder("Select...")
                        .AutoBind(false)
                        .Height(500)
                        .AutoClose(false)
                        .Filter("contains")
                        .HtmlAttributes(new { style = "width:86%;height: 60% !important;", @class = "form-control", @maxlength = "255" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("DropDown_Read", "MailTemplate", new { Master = "ToRole", Depend_Id = 0 });
                            }).ServerFiltering(true);
                        }))
                </td>
                <td style="width:10%">@Html.Label("Supplier", new { @class = "lbl-font", @style = "margin-left: -55%;" })</td>
                <td style="width:10%">
                    <input type="checkbox" data-val="true" style="margin-left: -70%;" data-val-required="The IsChecked field is required." id="supplier_IsChecked" name="supplier_IsChecked" value="false">
                </td>
            </tr>
        </table>
    </div>

    <div class="row" style="margin-left: 0.5%;">
        <table style="width:100%;">
            <tr style="height:50px;">
                <td style="width:8%;">@Html.Label("CC", new { @class = "lbl-font" })</td>
                <td style="width:80%;">
                    @(Html.Kendo().MultiSelectFor(m => m.mailtemplate_ccrole_id)
                        .Name("mailtemplate_ccrole_id")
                        .DataTextField("mailtemplate_ccrole_name")
                        .DataValueField("mailtemplate_ccrole_id")
                        .Placeholder("Select...")
                        .AutoBind(false)
                        .Height(500)
                        .AutoClose(false)
                        .Filter("contains")
                        .HtmlAttributes(new { style = "width:64.5%;height: 60% !important;", @class = "form-control" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("DropDown_Read", "MailTemplate", new { Master = "CCRole", Depend_Id = 0 });
                            }).ServerFiltering(true);
                        }))
                </td>
            </tr>
        </table>
    </div>

    <div class="row" style="margin-left: 0.5%;">
        <table style="width:100%;">
            <tr style="height:50px;">
                <td style="width:8%;">@Html.Label("Additional CC", new { @class = "lbl-font" })</td>
                <td style="width:80%;">@Html.TextBoxFor(model => model.mailtemplate_additionalcc, null, new { @class = "form-controls", @style = "min-width: 62%;" })</td>
            </tr>
        </table>
    </div>

    <div class="row" style="margin-left: 0.5%;">
        <table style="width:100%;">
            <tr style="height:50px;">
                <td style="width:8%;">@Html.Label("Subject", new { @class = "lbl-font" })</td>
                <td style="width:80%;">@Html.TextBoxFor(model => model.mailtemplate_subject, null, new { @class = "form-controls", @style = "min-width: 62%;" })</td>
            </tr>
        </table>
    </div>

    <div class="row" style="margin-left: 0.5%;">
        <table style="width:100%;">
            <tr style="height:50px;">
                <td style="width:7%;">@Html.Label("Template", new { @class = "lbl-font" })</td>
                <td style="width:50%;">
                    @Html.TextBoxFor(model => model.mailtemplate_template, null, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;min-width: 90%;margin-left: 0.5%" })
                </td>
                <td style="width:8%;">@Html.Label("Attachment:", new { @class = "lbl-font", @style = "width:100%;" })</td>
                <td style="width:15%;">
                    @Html.RadioButtonFor(m => m.mailtemplate_attachment, "Y", new { @style = "width: 15%; height: 15px !important" }) Yes
                    @Html.RadioButtonFor(m => m.mailtemplate_attachment, "N", new { @style = "width: 15%; height: 15px !important", @checked = "checked" }) No
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Feilds", new { @class = "lbl-font", @style = "width:100%;" })</td>
                <td>
                    <div id="divTablescollist" style="height: 100px; overflow: auto;border:solid; width:136.5%;margin-left:0.5%;"> </div>
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Content", new { @class = "lbl-font", @style = "width:100%;" })</td>
                <td colspan="6">
                    <textarea class="textboxStyle" id="txtContent" name="txtContent" style=" resize:none ;width:100%;height:200px"> </textarea>
                </td>
            </tr>
        </table>
    </div>

    <div class="row" style="margin-left: 0.5%;">
        <table style="width:100%;">
            <tr style="height:50px;">
                <td style="width:8%;">@Html.Label("Signature", new { @class = "lbl-font" })</td>
                <td style="width:80%;">
                    @Html.TextBoxFor(model => model.mailtemplate_signature, null, new { @class = "form-controls", @style = "min-width: 90%;" })
                </td>
            </tr>
        </table>
    </div>

    <input type="hidden" id="txtcontentts" />
    @Html.HiddenFor(model => model.mailtemplate_id )
    <div class="row">
        <div class="col-md-3" style="margin-left: 40%;"><button type="button" class="btn btn-primary pull-right" onclick="return Create_MailTemplate();">Save Template</button></div>
        <div class="col-md-3"><button type="button" class="btn btn-warning pull-left" style="width: 35%;margin-left:-10%;" onclick="return Close();">Cancel</button></div>
    </div>
</div>

<script src="~/Scripts/tinymce/tinymce.min.js"></script>

<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        plugins: [
            "advlist autolink lists link  charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime  nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern imagetools"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview  | forecolor backcolor media image emoticons",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages",
        image_advtab: true,

        file_browser_callback: "openmanager",
        open_manager_upload_path: 'uploads/',
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ]
    });

</script>

<script>
    
    function onChange_Type() {
        debugger;
        var multiselect = $("#mailtemplate_subtype_id").data("kendoMultiSelect");
        multiselect.dataSource.data([]);
        multiselect.dataSource.read();
        multiselect.enable(true);
        if ($("#mailtemplate_type_id").data("kendoDropDownList").text().trim() == "Invoice") {
            $("#supplier_IsChecked").attr("disabled", false);
            $("input[type=radio]").attr('disabled', false);
        }
        else {
            $("#supplier_IsChecked").attr("disabled", true);
            $("input[type=radio]").attr('disabled', true);
        }
    }

    function onChange_SubType() {
        debugger;
        var multi = $("#mailtemplate_subtype_id").getKendoMultiSelect(),
          multiDataItems = multi.dataItems(),
          selectedProducts_subtype = [];

        for (var i = 0; i < multiDataItems.length; i += 1) {
            var currentProduct = multiDataItems[i];

            selectedProducts_subtype.push(currentProduct.mailtemplate_subtype_name)
        }

        $("#mailtemplate_subject").val("");
        $("#mailtemplate_subject").val($("#mailtemplate_type_id").data("kendoDropDownList").text() + "," + selectedProducts_subtype.join('-'));
    }

    function onChange_Status() {
        debugger;
        var multi = $("#mailtemplate_subtype_id").getKendoMultiSelect(),
           multiDataItems = multi.dataItems(),
           selectedProducts_subtype = [];

        for (var i = 0; i < multiDataItems.length; i += 1) {
            var currentProduct = multiDataItems[i];

            selectedProducts_subtype.push(currentProduct.mailtemplate_subtype_name)
        }

        var multi = $("#mailtemplate_status_id").getKendoMultiSelect(),
           multiDataItems = multi.dataItems(),
           selectedProducts_status = [];

        for (var i = 0; i < multiDataItems.length; i += 1) {
            var currentProduct = multiDataItems[i];

            selectedProducts_status.push(currentProduct.mailtemplate_status_name)
        }

        $("#mailtemplate_template").val("");
        $("#mailtemplate_template").val($("#mailtemplate_type_id").data("kendoDropDownList").text() + "," + selectedProducts_subtype.join('-') + "," + selectedProducts_status.join('-'));
    }

    function Create_MailTemplate() {
        debugger;

        var subtype = $("#mailtemplate_subtype_id").data("kendoMultiSelect").value();
        var status = $("#mailtemplate_status_id").data("kendoMultiSelect").value();
        var torole = $("#mailtemplate_torole_id").data("kendoMultiSelect").value();
        var ccrole = $("#mailtemplate_ccrole_id").data("kendoMultiSelect").value();

        if ($("#mailtemplate_type_id").val() == 0 || $("#mailtemplate_type_id").val() == "" || $("#mailtemplate_type_id").val() == null || $("#mailtemplate_type_id").val() == undefined)
        {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: "Type should not be blank.!",
                type: 'blue',
            });
            return false;
        }
        if (subtype.length == 0 || subtype == undefined || subtype == null)
        {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: "SubType should not be blank.!",
                type: 'blue',
            });
            return false;
        }
        if (status.length == 0 || status == undefined || status == null) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: "Status should not be blank.!",
                type: 'blue',
            });
            return false;
        }
        if (torole.length == 0 || torole == undefined || torole == null) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: "To should not be blank.!",
                type: 'blue',
            });
            return false;
        }
        if ($("#mailtemplate_subject").val() == 0 || $("#mailtemplate_subject").val() == "" || $("#mailtemplate_subject").val() == null || $("#mailtemplate_subject").val() == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: "Subject should not be blank.!",
                type: 'blue',
            });
            return false;
        }

        var mailfields = $('.chkclass:checkbox:checked').map(function () {
            return this.value;
        }).get();

        if ($('#supplier_IsChecked').is(":checked")) {
            supplier_flag = 'Y';
        }
        else {
            supplier_flag = 'N';
        }

        if (mailfields.length == 0 || mailfields == undefined || mailfields == null) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: "Select the fields.!",
                type: 'blue',
            });
            return false;
        }
        var content = tinyMCE.activeEditor.getContent({ format: 'raw' });
        if (content == 0 || content == "" || content == null || content == undefined) {
            $.dialog({
                icon: 'fa fa-success',
                title: 'IEM',
                content: "Content should not be blank.!",
                type: 'blue',
            });
            return false;
        }

        var objmailtemplate = {};
        objmailtemplate.mailtemplate_id = $("#mailtemplate_id").val();
        objmailtemplate.mailtemplate_type_id = $("#mailtemplate_type_id").val();
        objmailtemplate.subtype_ids = subtype.join(',');
        objmailtemplate.status_ids = status.join(',');
        objmailtemplate.torole_ids = torole.join(',');
        objmailtemplate.ccrole_ids = ccrole.join(',');
        objmailtemplate.mailtemplate_subject = $("#mailtemplate_subject").val();
        objmailtemplate.mailtemplate_template = $("#mailtemplate_template").val();
        objmailtemplate.mailtemplate_attachment = $('input[name="mailtemplate_attachment"]:checked').val(); 
        objmailtemplate.mailtemplate_content = tinyMCE.activeEditor.getContent({ format: 'raw' });
        objmailtemplate.mailtemplate_signature = $("#mailtemplate_signature").val();
        objmailtemplate.mailfields_ids = mailfields.join(',');
        objmailtemplate.supplier_flag = supplier_flag;
        objmailtemplate.mailtemplate_additionalcc = $("#mailtemplate_additionalcc").val();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("Save_MailTemplate", "Mailtemplate")',
            data: '{objmail: ' + JSON.stringify(objmailtemplate) + '}',
            success: function (data) {
                debugger;
                message = JSON.parse(data);
                if (message[0].clear == "1") {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        var window = $("#kwindow_templatepopup").data("kendoWindow");
                        window.close();
                    }, 1500);
                }
                else {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    return false;
                }
            },
            error: function (data) {
                $.dialog({
                    icon: 'fa fa-success',
                    title: 'IEM',
                    content: 'Failed to Create.!',
                    type: 'red',
                });
                return false;
            }
        })
    }

    function Close() {
        debugger;
        var window = $("#kwindow_templatepopup").data("kendoWindow");
        window.close();
    }
</script>