﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.SupplierInvoice_Model


<style>
    .k-grid td {
        white-space: nowrap;
        height: 17px;
    }

    .k-state-disabled {
        background: none;
    }

    a.k-grid-Delete {
        background: transparent !important;
        border: transparent !important;
    }

    .lbl-font {
        font-weight: normal;
    }

    a.k-grid-View {
        background: transparent !important;
        border: transparent !important;
    }

    .well {
        min-height: 20px;
        padding: 10px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }
</style>
<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row" style="margin-top:0.3%;">
            <div class="col-md-11">
                @Html.HiddenFor(model => model.Refid, new { id = "Ref_id", Value = "0" })
                <button type='button' id="btnPoMap" onclick='return GetPOHeader()' class='btn btn-success'><i class='fa fa-save' aria-hidden='true'></i> Add New PO</button>
                @using (Html.BeginForm("SupplierInvoice", "SupplierInvoice", FormMethod.Post, new { @id = "Form_Invoice" }))
                {
                    @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.SupplierInvoice_Model>().Name("KendGrid_PoSummary")
                                    .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height:100px" })
                        //@style = "width:100%;line-height:2em;font-weight:normal;"
                        // .ToolBar(toolbar => toolbar.Create().Text("Map PO"))
                                    .Columns(columns =>
                                    {

                                        columns.Bound(m => m.Poid).Title("PO id").Hidden();
                                        columns.Bound(m => m.Podetid).Title("PO Detid").Hidden();
                                        columns.Bound(m => m.Invoicepoitemid).Title("Invpoitem id").Hidden();
                                        columns.Bound(m => m.Grndetid).Title("Grn Detid").Hidden();
                                        columns.Bound(m => m.PoNo).Title("PO No").Width(100);
                                        columns.Bound(m => m.GrnRefno).Title("GRN No").Width(100);
                                        columns.Bound(m => m.PoDesc).Title("PO Description").Width(60);
                                        columns.Bound(m => m.ProdServName).Title("Product/Service").Width(70);
                                        columns.Bound(m => m.PodetOrdQty).Title("Ordered Qty").Width(70);
                                        columns.Bound(m => m.PodetUnit).Title("Rate").Width(70);
                                        columns.Bound(m => m.Pototalamt).Title("Amount").Width(70);
                                        columns.Bound(m => m.SubTaxid).Title("subtaxid").Hidden();
                                        columns.Bound(m => m.SubTaxName).Title("Subtax Name").Width(70);
                                        columns.Bound(m => m.TaxRate).Title("Tax Rate").Width(70);
                                        columns.Bound(m => m.TaxAmt).Title("Tax Amount").Width(70);
                                        columns.Bound(m => m.TaxableAmt).Title("Taxable Amount").Width(70);
                                        columns.Bound(m => m.PodetTotamt).Title("Total Amount").Width(70);
                                        columns.Bound(m => m.MappedQty).Title("Mapped Qty").Width(70);
                                        //columns.Bound(c => c.Grndetid).ClientTemplate("<input type='checkbox' id ='chkGrndetid' value = '#= Grndetid #'  />").Title("Select").Width(50).Sortable(false).Filterable(false);
                                        columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return DeleteMapping()' class='deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Action").Width(30);
                                    })
                                    .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName("Pomapping"); })
                                    .Filterable()
                                    .Sortable()
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(resize => resize.Columns(true))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .ServerOperation(false)
                                    .Model(model => model.Id(p => p.Refid))
                                    .PageSize(5)
                                    .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                    .Read(read => read.Action("Read_Invoice", "SupplierInvoice").Data("GetPOsummary"))
                        // .Create(Create => Create.Action("Save_Update_COA", "SupplierInvoice").Data("GetPOsummary"))
                                    )
                    )

                    @*@(Html.Kendo().Window()
                        .Name("kwindow_pomap")
                        .Title("Details") //set the title of the window
                        .Content(@<text>@Html.Partial("Pomapping")</text>)
                                                 .Draggable()
                                                 .Resizable()
                                                 .Width(1300)
                                                 .Height(500)
                                                 .Modal(true)
                                                 .Scrollable(false)
                                                 .Visible(false))*@
                    <div id="divPOmapping" style="display:none">
                        @Html.Partial("Pomapping")
                    </div>
                }


            </div>


        </div>
    </div>

</body>
</html>
<script>

    var Po_id = 0;
    function GetPOsummary() {
        debugger;
        var Refid = $("#Ref_id").val();
        return { "Gridtype": "POSummary", "_Action": "POSummary", "Refid": Refid }
    }

    function GetPOHeader() {
        debugger
        //var window = $("#kwindow_pomap").data("kendoWindow"); //get the Window widget's instance
        //window.open();  //and call its open method
        //window.center();

        $("#PO_Ecfid").val($("#Ref_id").val());
        $("#KendGrid_PoHeader").data("kendoGrid").dataSource.read();
        $("#divPOmapping").css("display", "block");
    }
    function DeleteMapping() {
        debugger;
        var grid = $("#KendGrid_PoSummary").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Invoicepoitemid = model.Invoicepoitemid;
        var data = { "Invoicepoitemid": Invoicepoitemid }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("PoMappingDeletion","SupplierInvoice")',
            data: JSON.stringify({ _data: data }),
            success: function (response) {
                debugger
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    if (Result[0]["Clear"] == 1) {
                        $.alert({
                            icon: 'fa fa-success',
                            title: 'IEM Product',
                            theme: 'dark',
                            content: Result[0]["Message"],
                            type: 'green',
                            animationSpeed: 700,
                        });
                        $("#KendGrid_PoHeader").data("kendoGrid").dataSource.read();
                        $("#KendGrid_PoDetails").data("kendoGrid").dataSource.read();
                        $("#KendGrid_PoSummary").data("kendoGrid").dataSource.read();
                        $("#KendGrid_InvoiceExp").data("kendoGrid").dataSource.read();
                        $("#KendGrid_Invoice").data("kendoGrid").dataSource.read();
                    }
                    else {

                        $.alert({
                            icon: 'fa fa-success',
                            title: 'IEM Product',
                            theme: 'dark',
                            content: Result[0]["Message"],
                            type: 'res',
                            animationSpeed: 700,
                        });

                        $("#KendGrid_PoHeader").data("kendoGrid").dataSource.read();
                        $("#KendGrid_PoDetails").data("kendoGrid").dataSource.read();
                        $("#KendGrid_PoSummary").data("kendoGrid").dataSource.read();
                        $("#KendGrid_InvoiceExp").data("kendoGrid").dataSource.read();
                        $("#KendGrid_Invoice").data("kendoGrid").dataSource.read();
                    }
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: "Error",
                        type: 'green',
                        animationSpeed: 700,
                    });
                }
            },
            error: function () {
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: Result[0]["Message"],
                        type: 'green',
                        animationSpeed: 700,
                    });
                }

                var Result = JSON.parse(response);
                $.alert({
                    icon: 'fa fa-success',
                    title: 'IEM Product',
                    theme: 'dark',
                    content: "Error",
                    type: 'green',
                    animationSpeed: 700,
                });
            }
        });
    }

</script>
