﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.SupplierInvoice_Model


<style>
    .k-grid td {
        white-space: nowrap;
        height: 17px;
    }

    .k-state-disabled {
        background: none;
    }

    a.k-grid-Delete {
        background: transparent !important;
        border: transparent !important;
    }

    .lbl-font {
        font-weight: normal;
    }

    a.k-grid-View {
        background: transparent !important;
        border: transparent !important;
    }

    .well {
        min-height: 20px;
        padding: 10px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }
</style>
<!DOCTYPE html>
<html lang="en">

<body>
 <div class="container-fluid">
        <div class="row mt-1 top">
            <div class="col-md-12">
                <p style="text-align:center;color:#fff;">Map PO</p>
            </div>
        </div>
</div>
    <div class="container-fluid">
        <div class="row" style="margin-top:0.3%;">
            <div class="col-md-11">
                @Html.HiddenFor(model => model.Refid, new { id = "PO_Ecfid", Value = "0" })
                @using (Html.BeginForm("SupplierInvoice", "SupplierInvoice", FormMethod.Post, new { @id = "Form_Invoice" }))
                {
                    @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.SupplierInvoice_Model>().Name("KendGrid_PoHeader")
                                    .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height:100px" })
                        //@style = "width:100%;line-height:2em;font-weight:normal;"
                                    //.ToolBar(toolbar => toolbar.Create().Text("Map PO"))
                                    .Columns(columns =>
                                    {

                                        columns.Bound(m => m.Poid).Title("Ref id").Hidden();
                                        columns.Bound(m => m.PoNo).Title("PO No").Width(60);
                                        // columns.Bound(m => m.SupplierName).Title("PO Date").Width(100);
                                        columns.Bound(m => m.PoDesc).Title("PO Description").Width(60);
                                        columns.Bound(m => m.Pototalamt).Title("Amount").Width(70);
                                        columns.Bound(m => m.Poid).ClientTemplate("<a style = 'color:blue;cursor:pointer' onclick=\"GetPOdetail()\">Select</a>").Title("Action").Width(70);
                                    })
                                    .Editable(editable => { editable.Mode(GridEditMode.PopUp).TemplateName(""); })
                                    .Filterable()
                                    .Sortable()
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(resize => resize.Columns(true))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .ServerOperation(false)
                                    .Model(model => model.Id(p => p.Refid))
                                    .PageSize(500)
                                    .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                    .Read(read => read.Action("Read_Invoice", "SupplierInvoice").Data("GetPO"))
                                    ))
                }
            </div>
        </div>
        <div class="row" style="margin-top:0.3%;">
            <div class="col-md-4" style="margin-top:1.5%;">
                <button type='button' id="btnPoMap" onclick='return SetPOMap()' class='btn btn-success'><i class='fa fa-save' aria-hidden='true'></i> Submit</button>

            </div>
            <div class="col-md-11">
                @using (Html.BeginForm("SupplierInvoice", "SupplierInvoice", FormMethod.Post, new { @id = "Form_Invoice" }))
                {
                    @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.SupplierInvoice_Model>().Name("KendGrid_PoDetails")
                                    .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height:100px" })
                        //@style = "width:100%;line-height:2em;font-weight:normal;"
                                   // .ToolBar(toolbar => toolbar.Create().Text("Map PO"))
                                    .Columns(columns =>
                                    {

                                        columns.Bound(m => m.Poid).Title("PO id").Hidden();
                                        columns.Bound(m => m.Podetid).Title("PO Detid").Hidden();
                                        columns.Bound(m => m.Grndetid).Title("Grn Detid").Hidden();
                                        columns.Bound(m => m.PoNo).Title("PO No").Width(100);
                                        columns.Bound(m => m.GrnRefno).Title("GRN No").Width(100);
                                        columns.Bound(m => m.PoDesc).Title("PO Description").Width(60);
                                        columns.Bound(m => m.ProdServName).Title("Product/Service").Width(70);
                                        columns.Bound(m => m.PodetOrdQty).Title("Ordered Qty").Width(70);
                                        columns.Bound(m => m.PodetUnit).Title("Rate").Width(70);
                                        columns.Bound(m => m.Pototalamt).Title("Amount").Width(70);
                                        columns.Bound(m => m.GrndetRecQty).Title("Received Qty").Width(70);
                                        columns.Bound(m => m.BalanceQty).Title("Balance Qty").Width(70);
                                        columns.Bound(m => m.CurrentQty).Title("Current Qty").Width(70);
                                        columns.Bound(c => c.Grndetid).ClientTemplate("<input type='checkbox' id ='chkGrndetid' value = '#= Grndetid #'  />").Title("Select").Width(50).Sortable(false).Filterable(false);
                                    })
                                    .Editable(editable => editable.Mode(GridEditMode.InCell))
                                    .Filterable()
                                    .Sortable()
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(resize => resize.Columns(true))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                        .Model(model =>
                                            {
                                                model.Id(m => m.Poid);
                                                model.Field(field => field.CurrentQty).Editable(true);
                                            })
                                    .ServerOperation(false)
                                    .Model(model => model.Id(p => p.Refid))
                                    .PageSize(500)
                                    .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                    .Read(read => read.Action("Read_Invoice", "SupplierInvoice").Data("GetPOdetails"))
                                    ))
                }
            </div>
        </div>



    </div>
</body>
</html>

<script>

    var Po_id = 0;
    function GetPO() {
        debugger;
        var Refid = $("#PO_Ecfid").val();
        return { "Gridtype": "POHeader", "_Action": "POHeader", "Refid": Refid }
    }

    function GetPOdetail() {
        debugger;
        
        var grid = $("#KendGrid_PoHeader").data("kendoGrid");
        if (grid.dataSource._data.length > 0) {
            var model = grid.dataItem($(event.target).closest("tr"));
            Po_id = model.Poid;

        }
        $("#KendGrid_PoDetails").data("kendoGrid").dataSource.read();
        
    }

    function GetPOdetails() {
        
        return { "Gridtype": "PODetails", "_Action": "PODetails", "Poid": Po_id }
    }

    function onRequestEnd(e) {
        if (e.type == "create") {
            //check for errors in the response

            if (e.response.Errors == null) {

                if (e.response.length > 0) {
                    var Result = JSON.parse(e.response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });
                        preventCloseOnSave = true;
                        setTimeout(function () {
                            $("#KendGrid_PoHeader").data("kendoGrid").dataSource.read();
                            $("#KendGrid_PoDetails").data("kendoGrid").dataSource.read();
                            $("#KendGrid_PoSummary").data("kendoGrid").dataSource.read();
                            $("#KendGrid_InvoiceExp").data("kendoGrid").dataSource.read();
                            $("#KendGrid_Invoice").data("kendoGrid").dataSource.read();

                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'red',
                        });
                        setTimeout(function () {
                        }, 2000);
                        preventCloseOnSave = true;
                        return false;
                    }
                }

                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Records in the List!",
                        type: 'red',
                    });

                    setTimeout(function () {
                        ////debugger;
                        $("#KendGrid_PoHeader").data("kendoGrid").dataSource.read();
                        $("#KendGrid_PoDetails").data("kendoGrid").dataSource.read();
                    }, 1500);

                    //return false;
                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: e.response.Errors,
                    type: 'red',
                });
                return false;
            }
        }

        if (e.type == "update") {

            //check for errors in the response

            if (e.response.Errors == null) {

                if (e.response.length > 0) {
                    var Result = JSON.parse(e.response);
                    if (Result[0]["Clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            $("#KendGrid_PoHeader").data("kendoGrid").dataSource.read();
                            $("#KendGrid_PoDetails").data("kendoGrid").dataSource.read();
                        }, 1500);
                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Message"],
                            type: 'blue',
                        });
                        preventCloseOnSave = true;
                    }

                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: "No Records Found!",
                    type: 'red',
                });

                setTimeout(function () {
                    $("#KendGrid_PoHeader").data("kendoGrid").dataSource.read();
                    $("#KendGrid_PoDetails").data("kendoGrid").dataSource.read();
                }, 1500);
            }

            return false;
        }
    }

    function SetPOMap() {
        debugger;
        var _Grndetid = [];
        var grid = $("#KendGrid_PoDetails").data("kendoGrid");
        var checkedrows = $("#chkGrndetid:checked", grid.tbody).closest("tr");

        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one GRN for Mapping.!',
                type: 'blue',
            });
            return false;
        }

        for (var i = 0; i < checkedrows.length; i++) {
            //var itemcompare = grid.dataItem(checkedrows[i]);
            var id = grid._data[i].Grndetid+"&"+grid._data[i].CurrentQty;
            _Grndetid.push(id);
        }
        
        var Refid = $("#PO_Ecfid").val();
        var Grndetids = _Grndetid.join(",");
        var _data = { "Grndetids": Grndetids, "Refid": Refid };
        $.ajax({
            type: "Post",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("SetPODetails", "SupplierInvoice")",
            data: JSON.stringify({ _data: _data }),
            success: function (response) {
            debugger;
            if (response.length > 0) {

                var Result = JSON.parse(response);
                if (Result[0]["Clear"] = 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Message"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#KendGrid_PoHeader").data("kendoGrid").dataSource.read();
                        $("#KendGrid_PoDetails").data("kendoGrid").dataSource.read();
                        $("#KendGrid_PoSummary").data("kendoGrid").dataSource.read();
                        $("#KendGrid_InvoiceExp").data("kendoGrid").dataSource.read();
                        $("#KendGrid_Invoice").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Message"],
                        type: 'red',
                    });
                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: "No Record Update",
                    type: 'red',
                });
            }
        },
        error: function (response) {
            $.dialog({
                title: 'IEM Product',
                content: "Error..",
                type: 'red',
            });
        }
    });
    }

</script>