﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DBHelper.MasterModel
    <style>
        div.k-window {
            display: inline-block;
            position: absolute;
            z-index: 10001;
            border-style: solid;
            border-width: 2px;
            padding-top: 1em;
            width: 35%;
            font-weight: normal;
        }
    </style>

    <div>
        <table>
            <tr style="height:20px"></tr>
            <tr>
                <td>@Html.Label("MasterCode", new { style = "width:120px;font-weight: normal;margin-left:10%" })</td>
                <td>
                    @Html.TextBoxFor(model => model.MasterCode, new { @onchange = "onchange_grouptype()", style = "height:25px;width:250px;font-weight: normal;" })
                    @Html.ValidationMessageFor(model => model.MasterCode)
                </td>
            </tr>

            <tr>
                <td>@Html.Label("ParentCode", new { style = "width:120px;font-weight: normal;margin-left:10%" })</td>
                <td>
                    @Html.TextBoxFor(model => model.ParentCode, new { @onchange = "onchange_grouptype()", style = "height:25px;width:250px;font-weight: normal;" })
                    @Html.ValidationMessageFor(model => model.ParentCode)
                </td>
            </tr>
            <tr>
                <td>@Html.Label("DependCode", new { style = "width:120px;font-weight: normal;margin-left:10%" })</td>
                <td>
                    @Html.TextBoxFor(model => model.DependCode, new { @onchange = "onchange_grouptype()", style = "height:25px;width:250px;font-weight: normal;" })
                    @Html.ValidationMessageFor(model => model.DependCode)
                </td>
            </tr>
        </table>
    </div>
