﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model   DataAccessHandler.Models.EOW.TransactionCancellation_Model

<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Transaction Cancellation</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("Transactioncancellation", "Transactioncancellation", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.TransactionCancellation_Model>().Name("Kgridtransactiondml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                         
                                .Columns(columns =>
                                {

                                    columns.Bound(m => m.id).Width(20).Title("Master ID").Hidden();
                                    // columns.Bound(m => m.Tran_Type).Width(80).Title("Type").Width(160).EditorTemplateName("GetTranTypeDropDown");
                                    columns.Bound(m => m.ecf_no).Width(80).Title("Ref No").Width(160);
                                    columns.Bound(m => m.ClaimType).Width(80).Title("Type/Sub Type").Width(160);
                                    columns.Bound(m => m.raiser).Width(83).Title("Raiser Id/Name").Width(160);
                                    columns.Bound(m => m.suppliername).Width(120).Title("Supplier Code/Name").Width(160);
                                    columns.Bound(m => m.ecf_amount).Width(120).Title("Amount").Width(160);
                                    columns.Bound(m => m.ecf_status).Width(120).Title("Status").Width(160);
                                    columns.Bound(m => m.claim).Hidden();

                                    //columns.Command(cmd => { cmd.Edit(); }).Title("Edit").Width(80);
                                    //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()'><i class='fa fa-trash-o' aria-hidden='true'></i>Delete</button>").Width(80).Title("Delete");
                                    columns.Template(p => { }).ClientTemplate("<button type='button'  onclick='return View_ECF()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Action").Width(50);
                                })


 

                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 20, 25, 50, 100 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.id);

                                })
                             .PageSize(20)

                                     .Events(events => events.Error("error_handler"))

                            .Model(model => model.Id(p => p.id))
                             .Create(Create => Create.Action("SaveGrid", "Transaction"))
                               .Read(read => read.Action("ReadGrid", "Transactioncancellation"))
                             .Update(update => update.Action("UpdateGrid", "Transaction"))
                             ))
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</body>
</html>



<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;

        var grid = $("#Kgridtransactiondml").data("kendoGrid");


        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })



    //redirection ECF
    function View_ECF() {
        debugger;
        var grid = $("#Kgridtransactiondml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.ClaimType.toLowerCase();
        var BatchGID = model.Batch_Gid;
        var EcfGID = model.Ecf_Gid;
        var RaiserGID = model.Raiser_Gid;
        var ClaimStatus = model.Approver_Status;
       // var Claimtype = "Transaction";


        if (ClaimType == 'claim') {
            window.location.href = '/eow/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'invoice') {
            window.location.href = '/eow/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'advance') {
            window.location.href = '/eow/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
        }
    }







    @*function myDeleteJs() {
    //    debugger;
    //    var grid = $("#Kgridtransactiondml").data("kendoGrid");
    //    var model = grid.dataItem($(event.target).closest("tr"));
        var claim = (model.claim);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "Transactioncancellation")',
                        data: "{ claim:'" + claim + "'}",

                        success: function (data) {
                            debugger;



                           // alert("Cancelled Successfully");

                             //Perform redirect
                           // window.location.replace("@Url.Action("ReadGrid", "Transactioncancellation")");
                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload("ReadGrid","Transactioncancellation");
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }*@

 














      


</script>


