#cssmenu {
    z-index: 1000;
}

    #cssmenu,
    #cssmenu ul,
    #cssmenu ul li,
    #cssmenu ul li a,
    #cssmenu #menu-button {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 2;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        #cssmenu:after,
        #cssmenu > ul:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        #cssmenu #menu-button {
            display: none;
        }

#menu-button.a:hover {
    z-index: 2001;
}

#cssmenu {
    width: auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    background-color: #245988;
   /*border: 1px solid #e3e3e3;*/ 
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    /*background: -moz-linear-gradient(center top , #F2FAFC, #C8CDCF 20%, #F2FAFC 50%, #FFF 70%) repeat scroll 0% 0% rgba(242, 250, 252, 0.6);*/ /*thiru*/
}

#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #E36F1E;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#cssmenu > ul > li {
    float: left;
}

#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}

    #cssmenu.align-center > ul > li {
        display: inline-block;
        float: none;
    }

#cssmenu.align-center ul ul {
    text-align: left;
    border: 3px;
    border-style: solid;
    border-color: #337AB7;
    border-radius: 15px;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu ul li separator,
#cssmenu > ul > li > a {
    padding: 11px;
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    /*   text-transform: uppercase; */
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    color: #F7F7F7;
    font-weight: bold;
    background-color: #245988;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 25px;
}

    #cssmenu > ul > li.has-sub > a::after {
        font-weight: bold;
        font-size: 13px;
        font-family: Verdana, sans-serif;
        color: #fff;
        position: absolute;
        top: 25px;
        right: 10px;
        width: 4px;
        height: 4px;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        content: "";
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: border-color 0.2s ease;
        -moz-transition: border-color 0.2s ease;
        -ms-transition: border-color 0.2s ease;
        -o-transition: border-color 0.2s ease;
        transition: border-color 0.2s ease;
    }

#cssmenu > ul > li.has-sub:hover > a::after {
    border-color: #ffffff;
    /*   background-color: #337AB7; */
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    white-space: nowrap;
}

#cssmenu li:hover > ul {
    left: auto;
}

#cssmenu.align-right li:hover > ul {
    right: 0;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li {
    height: 0;
    padding: 0px 0px 0px 0;
    /*   min-width: 200px; */
    /*   width: auto; */
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -ms-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

#cssmenu ul li:hover > ul > li {
    height: 32px;
}

#cssmenu ul ul li a {
    padding: 04px 20px 04px 20px;
    /*   width: 160px; */
    /*   min-width: 160px; */
    /*   width: auto; */
    font-weight: bold;
    font-size: 13px;
    font-family: Verdana, sans-serif;
    color: #F7F7F7;
    /*   background-color: rgb(5, 5, 99); */
    /*background-color: #F7F7F7;*/
    background-color: #245988;
    opacity: 0.95;
    z-index: 5; /*must have*/
    /*filter: mask(); */
    /*  background: #333333;
  color: #dddddd;*/
    text-decoration: none;
    /*  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;*/
}
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #f7f7f7;
        font-weight: bold;
        font-size: 13px;
        font-family: Verdana, sans-serif;
        background-color: #4887be;
        /*border: 1px ridge #337AB7;*/
        opacity: 0.95;
        z-index: 5; /*must have*/
       /* filter: mask(); */
    }

#cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #F7F7F7;
    border-right: 1px solid #F7F7F7;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

#cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

#cssmenu ul ul li.has-sub:hover > a::after {
    border-color: #E36F1E;
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #337AB7;
    border-right: 1px solid #337AB7;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

@media screen and (max-width: 955px) {
    #cssmenu {
        width: 100%;
    }

        #cssmenu ul {
            width: 100%;
            display: none;
        }

        #cssmenu.align-center > ul,
        #cssmenu.align-right ul ul {
            text-align: left;
        }

        #cssmenu ul li,
        #cssmenu ul ul li,
        #cssmenu ul li:hover > ul > li {
            width: 100%;
            height: auto;
            border-top: 1px solid rgba(120, 120, 120, 0.15);
        }

            #cssmenu ul li a,
            #cssmenu ul ul li a {
                width: 100%;
            }

        #cssmenu > ul > li,
        #cssmenu.align-center > ul > li,
        #cssmenu.align-right > ul > li {
            float: none;
            display: block;
        }

        #cssmenu ul ul li a {
            padding: 10px 10px 10px 40px;
            font-size: 12px;
            color: #f7f7f7;
            background: #E36F1E;
        }

            #cssmenu ul ul li:hover > a,
            #cssmenu ul ul li a:hover {
                color: #337AB7;
            }

        #cssmenu ul ul ul li a {
            padding-left: 40px;
        }

        #cssmenu ul ul,
        #cssmenu ul ul ul {
            position: relative;
            left: 0;
            right: auto;
            width: 100%;
            margin: 0;
        }

            #cssmenu > ul > li.has-sub > a::after,
            #cssmenu ul ul li.has-sub > a::after {
                display: none;
            }

    #menu-line {
        display: none;
    }

    #cssmenu #menu-button {
        display: block;
        padding: 10px;
        color: #337AB7;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 14px;
    }

        #cssmenu #menu-button::after {
            content: '';
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            width: 15px;
            height: 2px;
            background: #000000;
        }

        #cssmenu #menu-button::before {
            content: '';
            position: absolute;
            top: 25px;
            right: 20px;
            display: block;
            width: 15px;
            height: 3px;
            border-top: 2px solid #E36F1E;
            border-bottom: 2px solid #E36F1E;
        }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        height: 52px;
        width: 52px;
        cursor: pointer;
    }

        #cssmenu .submenu-button::after {
            content: '';
            position: absolute;
            top: 21px;
            left: 26px;
            display: block;
            width: 1px;
            height: 11px;
            background: #000000;
            z-index: 99;
        }

        #cssmenu .submenu-button::before {
            content: '';
            position: absolute;
            left: 21px;
            top: 26px;
            display: block;
            width: 11px;
            height: 1px;
            background: #000000;
            z-index: 99;
        }

        #cssmenu .submenu-button.submenu-opened:after {
            display: none;
        }
}
