﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DataAccessHandler.Models.IEMProduct.Delegation_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 55%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }

    .k-multiselect-wrap {
        max-height: 30px !important;
        overflow: auto !important;
    }
</style>

<div class="container">

    <div class="row">
        @Html.HiddenFor(model => model.delegate_by)
        @Html.HiddenFor(m => m.delegate_workflow_Role)
        <div class="col-sm-2">
            @Html.Label("Module", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                .Name("delegate_delmattypeid")
                .DataTextField("delegate_delmattype")
                .DataValueField("delegate_delmattypeid")
                .HtmlAttributes(new { style = "width: 100%;" })
                .DataSource(source => { source.Read(read => { read.Action("GetDelmatType", "Delegation", new { parentcode = "QCD_Module" }); }).ServerFiltering(true); }))
        </div>
        <div class="col-sm-6">
            @Html.Label("Role", new { @class = "lbl-font" })
            @(Html.Kendo().MultiSelectFor(m => m.Roleid)
                  .Name("Roleid")
                  .DataTextField("Rolename")
                  .DataValueField("Roleid")
                  .Placeholder("Select...")
                  .AutoBind(false)
                  .Height(500)
                  .AutoClose(false)
                  .Filter("contains")
                  .HtmlAttributes(new { style = "width:90%;height:30px !important;border: groove;" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("GetRoleType", "Delegation", new { parentcode = "QCD_WorkFlowRole" });
                      }).ServerFiltering(false);
                  }))
        </div>
        
    </div>

    <div class="row" style="margin-top:0.5%;">
        @*<div class="col-sm-2">
            @Html.Label("Assign To Name/ID", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                .Name("empid")
                .DataTextField("empname")
                .DataValueField("empid")
                .HtmlAttributes(new { style = "width:100%;" })
                .DataSource(source => { source.Read(read => { read.Action("GetEmpCodeName", "Delegation", new { flag = "Employee" }); }).ServerFiltering(true); }))
        </div>*@

        @*<div class="col-sm-2">
            @Html.Label("Assign To Name/ID", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                                .Name("empid")
                                .DataTextField("empname")
                                .DataValueField("empid")
                        .Filter("contains")
                                .AutoBind(false)
                .MinLength(3)
                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                  .DataSource
                         (source =>
                          {
                              source.Read(read =>
                              {
                                  //read.Action("Get_DropDown_List", "Claim", new { Master = "Employee", Master_Code = "0", Master_Gid = "0" });
                                  read.Action("GetEmpCodeName", "Delegation", new { flag = "Employee" }).Data("basicFilter");
                              }).ServerFiltering(true);
                          }))
        </div>*@


        <div class="col-sm-2">
            @Html.Label("Assign To Name/ID", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                                        .Name("empid")
                                        .DataTextField("empname")
                                        .DataValueField("empid")
                        .Filter("contains")
                                .AutoBind(false)
                .MinLength(3)
                  .HtmlAttributes(new { @style = "width: 100%;" })
                    .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetEmpCodeName", "Delegation").Data("basicFilter"); }).ServerFiltering(true);
               }))

            @Html.HiddenFor(model => model.Selected_supervisor_gid)

        </div>
        <div class="col-sm-2">
            @Html.Label("Date From", new { @class = "lbl-font" })
            @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                  .Name("delegate_period_from")
                  .Value(Model.delegate_period_from)
                            //.Min(DateTime.Today)
                             .Events(e => e.Change("StartDateChanged"))

                                        //  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @id = "PeriodCloseFromDate", onkeypress = "return IsDateKey(event)", style = "height:25px;width:150px;font-weight: normal" }))


                                  .HtmlAttributes(new { style = "width:100%;", placeholder = "DD-MM-YYYY", @id = "delegate_period_from", onkeypress = "return isNumberKey(event)", onkeydown = "javascript:return false;", required = "required" })     @*//onkeypress = "return ESTOnkeypress();"*@
            .Events(e => e.Change("startChange"))) 
        </div>
        <div class="col-sm-2">
            @Html.Label("Date To", new { @class = "lbl-font" })
            @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                  .Name("delegate_period_to")
                  .Value(Model.delegate_period_to)
                            .Min(DateTime.Today)
                            
                             .Events(e => e.Change("EndDateChanged"))
                                      //.HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY",  onkeypress = "return IsDateKey(event)",style = "height:25px;width:150px;font-weight: normal" }))
                                                  .HtmlAttributes(new { style = "width: 100%;", placeholder = "DD-MM-YYYY", @id = "delegate_period_to", onkeypress = "return isNumberKey(event)", onkeydown = "javascript:return false;" })
            .Events(e => e.Change("endChange")))
         </div>
        <div class="col-sm-2">
            @Html.Label("Active", new { @class = "lbl-font" })<br />

            @Html.RadioButtonFor(m => m.delegate_active, "Y")
            @*<label for="Ongoing" style="font-weight: normal;">Yes</label>*@
            @Html.Label("Yes", new { @class = "lbl-font" })

            @Html.RadioButtonFor(m => m.delegate_active, "N")
            @Html.Label("No", new { @class = "lbl-font" })
            @*<label for="One_Time" style="font-weight: normal;">No</label>*@

            @Html.ValidationMessageFor(m => m.delegate_active, "", new { @class = "error" })
        </div>
    </div>

</div>
