﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.PaymentStatus_Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .lbl-font {
            font-weight: normal;
        }

        .form-control {
            height: 30px !important;
        }

        .k-state-disabled {
            background: #efefef;
        }

        a.k-button.k-button-icontext.k-grid-Tax {
            height: 30px;
            margin-top: 15px;
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;height:35px;">
                <p style="text-align:center;color:#fff;">Payment Status</p>
            </div>
            <div class="row mt-1">

                <div class="col-md-12 table-responsive">
                                        @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.PaymentStatus_Model>().Name("kendgridPaymentStatus")
                                .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;" })

                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.paymentPayrunVoucherID).Width(50).Title("PVID").Hidden();
                                    columns.Bound(m => m.paymentBankID).Width(50).Title("PaymentBankID").Hidden();
                                    columns.Bound(m => m.paymentBank).Width(50).Title("Payment Bank");
                                    columns.Bound(m => m.paymentGLValDate).Title("GL Value Date").Width(80);
                                    columns.Bound(m => m.paymentPVNumber).Title("PV No.").Width(80);
                                    columns.Bound(m => m.paymentAmount).Title("PV Amount").Width(80);
                                    columns.Bound(m => m.paymentBeneficiary).Title("Beneficiary").Width(80);
                                    columns.Bound(m => m.paymentMode).Title("Paymode").Width(80);
                                    //columns.Bound(m => m.paymentStatusName).Title("Payment Status").Width(80);
                                    columns.Bound(p => p.paymentStatusName)
                             .ClientTemplate("-Select-")
                             .Title("Payment Status")
                             .EditorTemplateName("Payment_Status").Width(80);

                             columns.Bound(m => m.paymentPayrunVoucherID).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#= paymentPayrunVoucherID #' onchange='SelectedValue()'  /> ").Title("Select").Width(60).Sortable(false).Filterable(false);      
                                })
                                .Editable(editable => editable.Mode(GridEditMode.InCell))
                              .Pageable(pageable => pageable
                              .Refresh(true)
                                  //.PageSizes(new List<object> { 5, 10, 20, 500 })
                              .ButtonCount(2))
                              .Filterable()
                              .Sortable()
                              .Scrollable(s => s.Enabled(true).Height("auto"))
                              .Resizable(resize => resize.Columns(true))
                              .Selectable()
                              .DataSource(dataSource => dataSource
                              .Ajax()
                             .PageSize(10)
                                     .Model(model =>
                                         {
                                             model.Id(p => p.paymentPayrunVoucherID);
                                             model.Field(p => p.paymentBank).Editable(false);

                                             model.Field(p => p.paymentGLValDate).Editable(false);
                                             model.Field(p => p.paymentPVNumber).Editable(false);
                                             model.Field(p => p.paymentAmount).Editable(false);
                                             model.Field(p => p.paymentBeneficiary).Editable(false);
                                             model.Field(p => p.paymentMode).Editable(false);
                                             model.Field(p => p.paymentStatusName).Editable(true);


                                            
                                             
                                         })
                                  //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                     .Read(read => read.Action("ReadPaymentStatus", "PaymentStatus"))

                             ))
                </div>

            </div>
    </div>

    </div>
</body>
</html>
<script type="text/javascript">
    function onSelect(e) {
        debugger;
        var selectedValue =$("#paymentStatusID").val();         
        $("#paymentStatusID").selectedValue = selectedValue;
        }
 
</script>
 
