﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
 @model  DataAccessHandler.Models.IEMProduct.Delegation_Model
<style>
    a.k-button.k-button-icontext.k-grid-add {
        background: transparent;
        border-color: transparent;
    }
</style>
<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Delegation</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("Transaction", "Transaction", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Delegation_Model>().Name("Kgriddelegatedml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {

                                    columns.Bound(m => m.delegate_gid).Width(20).Title("ID").Hidden();
                                    columns.Bound(m => m.delegate_delmattype).Width(120).Title("Module").Width(160);
                                      columns.Bound(m => m.Rolename).Width(120).Title("Role").Width(160);
                                      columns.Bound(m => m.empname).Width(80).Title("Assign To Name/ ID").Width(160);
                                      columns.Bound(m => m.delegate_period_from).Width(120).Title("Date From").Width(160);
                                      columns.Bound(m => m.delegate_period_to).Width(120).Title("Date To").Width(160);
                                      columns.Bound(m => m.delegate_active).Width(120).Title("Status").Width(160);
                                      columns.Bound(m => m.empid).Title("employee_supervisor_gid").Hidden();
                                    // columns.Bound(m => m.Tran_Type).Width(80).Title("Type").Width(160).EditorTemplateName("GetTranTypeDropDown");
                                      columns.Bound(m => m.delegate_workflow_Role).Width(80).Title("Delegate By").Width(160).Hidden();
                                    columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(110);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                                     // columns.Command(cmd =>
                                      //{
                                      //    cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                      //    cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("myDeleteJs");
                                      //}).Title("Action").Width(70);

                                })

                              .Editable(editable =>
                             { editable.Mode(GridEditMode.PopUp).TemplateName("DelegationPopUp"); })

                               

                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.delegate_gid);

                                })
                             .PageSize(5)

                                                                              .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))

                            .Model(model => model.Id(p => p.delegate_gid))
                             .Create(Create => Create.Action("SaveGrid", "Delegation").Data("fn_claimSave"))
                               .Read(read => read.Action("ReadGrid", "Delegation"))
                             .Update(update => update.Action("UpdateGrid", "Delegation").Data("fn_claimSave"))
                             ))
                        </div>
                    }
                </div>
            </div>
        </div>
       
    </div>

</body>
</html>



<script type="text/javascript">



   

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;

        $("#Kgriddelegatedml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#Kgriddelegatedml").data("kendoGrid");

        //$("#delegate_period_from").datepicker({
        //    minDate: 0
        //});
      //  $("#datepicker").datepicker({ minDate: 0 });


        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
            //$("#delegate_by").val();
            var multiEmployee = $('#Roleid').data("kendoMultiSelect");
            if (event.model.isNew() == true) {
                $("#delegate_active").val('Y').trigger("change");

               
            }
            else {
                
                var emp_ids = $("#delegate_workflow_Role").val();
                multiEmployee.value(emp_ids.split(','));
                multiEmployee.trigger("change");

                var emp_id = $("#Selected_supervisor_gid").val();
                
                setTimeout(function () {
                    $.getJSON("GetEmpCodeName/Delegation?Master=Employee_ByID&EmployeeName=" + emp_id, function (result) {
                        debugger;
                        //var employeelist = data.employee; 
                        var SupervisorDropDown = $("#empid").data("kendoDropDownList");
                        SupervisorDropDown.dataSource.data(result);
                        SupervisorDropDown.value(emp_id);
                    });
                }, 1000);
            }
        });

    })
   

    

    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }
    function fn_claimSave() {
        debugger;
        var employeeids = "";
        var emp = $("#Roleid").data("kendoMultiSelect").value();
        var employeeids = emp.join(",")
        return { Employee_Ids: employeeids }
    }

    function myDeleteJs() {
        debugger;
        var grid = $("#Kgriddelegatedml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var delegate_gid = (model.delegate_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "Delegation")',
                        data: "{ delegate_gid:'" + delegate_gid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }


    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }

</script>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;

        return true;
    }

</script>
<script>
    function startChange() {
        debugger;
    var endPicker = $("#delegate_period_to").data("kendoDatePicker"),
          delegate_period_from = this.value();
    if (delegate_period_from) {
        delegate_period_from = new Date(delegate_period_from);
        delegate_period_from.setDate(delegate_period_from.getDate() + 1);
        endPicker.min(delegate_period_from);
      }
  }

    function endChange() {
        debugger;
      var startPicker = $("#delegate_period_from").data("kendoDatePicker"),
          delegate_period_to = this.value();
      if (delegate_period_to) {
          delegate_period_to = new Date(delegate_period_to);
          delegate_period_to.setDate(delegate_period_to.getDate() - 1);
          startPicker.max(delegate_period_to);
      }
  }
    </script>

@* To click from date -to date to visible, from date to future date *@
<script type="text/javascript">

    function StartDateChanged() {
        // alert('test');
        var startDate = this.value();
        var endPicker = $("#delegate_period_to").data("kendoDatePicker");

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            endPicker.min(startDate);
        }

        //$("#PeriodCloseToDate").datepicker({
        //    maxDate: 0
        //});
        //else {

        //}
    }

    function EndDateChanged() {
        var endDate = this.value();

        var startPicker = $("#delegate_period_from").data("kendoDatePicker");


        // maxDate: "+1w"
        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate());
            startPicker.max(endDate);
            min: presentDate;
            maxDate: new Date(currentYear, currentMonth, currentDate)
        }

    }
</script>
<script>
    function basicFilter(ev) {
        debugger;
        try {
            var empname = "";
            var emp_val = ev.filter;
            if (emp_val != undefined) {
                empname = ev.filter.filters[0].value;
            }
            else {
                empname = "";
            }
        }
        catch (e) {
            empname = "";
        }
        return {
            //Master: "Employee_Search", Master_Code: "0", Master_Gid: "0",
            EmployeeName: empname, flag: "Employee", Master: "Employee_Search"
        }
    }
</script>