﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.MasterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html lang="en">
<head>
    <style>
        .title {
            background: #255987;
            color: #fff;
            padding: -2px;
            height: 22px;
            margin-top: 24px !important;
            margin-bottom: 8px;
        }

        .heading {
            text-align: center;
            font-size: 14px;
            margin: 3px;
        }

        .k-selectable {
            height: 100px;
        }

        a.k-button.k-button-icontext.k-grid-add {
            background: transparent;
            border-color: transparent;
        }
    </style>
    @*<link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.default.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />*@


    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../Content/images/icons/favicon.ico" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="margin-top: 25px;">

                @using (Html.BeginForm("QCMaster", "QCMaster", FormMethod.Post, new { @id = "form1" }))
                {
                    <div>
                        @(Html.Kendo().Grid<DBHelper.MasterModel>().Name("KgridMaster")
                                .HtmlAttributes(new { style = "width:100%;font-weight: normal;" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.MasterTranGid).Width(20).Title("Master Code").Hidden();
                                    columns.Bound(m => m.MasterCode).Width(40).Title("Master Code");
                                    columns.Bound(m => m.MasterDesc).Width(40).Title("Master Description");
                                })
                                .Editable(editable =>

                             { editable.Mode(GridEditMode.InLine); })
                              .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(new List<object> { 5, 10, 20, 30, 40, 50, 100 })
                              .ButtonCount(5))
                              .Filterable()
                              .Sortable()
                              .Scrollable(s => s.Enabled(true).Height("auto"))
                              .Resizable(resize => resize.Columns(true))
                              .Selectable()
                              .DataSource(dataSource => dataSource
                              .Ajax()
                                  //.Model(model =>{model.Id(m => m.MasterGid);})
                             .PageSize(30)
                             .Model(model => model.Id(p => p.MasterCode))
                             .Read(read => read.Action("QCGridRead", "QCMaster"))

                             ))
                    </div>
                }

            </div>
            <div class="col-md-8">
                <div class="row mt-3 title">
                    <div class="col-md-12">
                        <h4 class="heading">Master Definition</h4>
                    </div>
                </div>
                @using (Html.BeginForm("QCMaster", "QCMaster", FormMethod.Post, new { @id = "form2" }))
                {
                    <table>
                        <tr>
                            <td>@Html.Label("Code", new { style = "width:53px;font-weight: normal;" })</td>
                            <td>@Html.TextBoxFor(model => model.code, new { disabled = "true", style = "height:25px;font-weight:normal;" })</td>
                            <td>@Html.Label("Description", new { style = "width:100px;font-weight: normal;margin-left:25%;" })</td>
                            <td>
                                @Html.TextBoxFor(model => model.Description, new { disabled = "true", style = "height:25px;width:150px;font-weight: normal;margin-left:13%;" })

                            </td>
                        </tr>
                    </table>
                }

                <div class="row mt-2">
                    <div class="col-md-12">
                        @*<div class="plus">
                                <i   aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o" aria-hidden="false"></i>
                            </div>*@
                        <div class="box box-orange" style="height:650px">
                            @using (Html.BeginForm("QCMaster", "QCMaster", FormMethod.Post, new { @id = "form3" }))
                            {
                                <div>
                                    @(Html.Kendo().Grid<DBHelper.MasterModel>().Name("KgridMasterdml")
                                .HtmlAttributes(new { style = "width:99%;line-height:2em;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text(""))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.MasterGid).Width(20).Title("Master ID").Hidden();
                                    columns.Bound(m => m.MasterCode).Width(80).Title("Master Code").Width(160);
                                    columns.Bound(m => m.ParentCode).Width(80).Title("Parent Code").Width(160);
                                    columns.Bound(m => m.DependCode).Width(83).Title("Depend Code").Width(160);
                                    columns.Bound(m => m.MasterDesc).Width(120).Title("Master Description").Width(160);
                                    columns.Command(cmd =>
                                    {
                                        cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                        cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("myDeleteJs");
                                    }).Title("Action").Width(70);
                                    //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(80);
                                    //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                                })

                            .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                            .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(new List<object> { 5, 10, 20, 30, 40, 50, 100 })
                            .ButtonCount(5))
                            .Filterable()
                            .Sortable()
                            .Scrollable(s => s.Enabled(true).Height("auto"))
                            .Resizable(resize => resize.Columns(true))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                                //.Model(model => { model.Id(m => m.MasterGid);})
                            .PageSize(20)
                            .Events(events => events.Error("error_handler"))
                            .Model(model => model.Id(p => p.MasterCode))
                            .Create(Create => Create.Action("QcMasterGridSave", "QCMaster"))
                            .Read(read => read.Action("QCGridReadDetails", "QCMaster").Data("Getdata"))
                            .Update(update => update.Action("QcMasterGridUpdate", "QCMaster"))
                             ))
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>


<script type="text/javascript">

    var masterCode = "";
    var masterDescription = "";

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    //to click master name to load relavent data

    $("#KgridMaster").on("click", function () {
        debugger;
        var grid = $("#KgridMaster").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        masterCode = selectedItem.MasterCode;
        masterDescription = selectedItem.MasterDesc
        $("#KgridMasterdml").data("kendoGrid").dataSource.read();
        $("#code").val(masterCode);
        $("#Description").val(masterDescription);

    });


    $(document).ready(function () {
        debugger;
        $("#KgridMaster").data("kendoGrid").dataSource.bind();
        // var grid = $("#KgridMaster").data("kendoGrid");

        $("#KgridMasterdml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridMasterdml").data("kendoGrid");
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
            $("#code").val(masterCode);
            $("#Description").val(masterDescription);

        });

    })


    function onRequestEnd(e) {
        debugger;
        //Check request type


        if (e.type == "create") {

            debugger;
            //var Msg = e.response;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#KgridMaster").data("kendoGrid").dataSource.read();
                        $("#KgridMasterdml").data("kendoGrid").dataSource.read();
                       // window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                    //keep the grid in edit-mode
                    //var grid = $("#KgridMaster").data("kendoGrid");
                    //var grid = $("#KgridMasterdml").data("kendoGrid");
                    
                    //grid.one("dataBinding", function (e) {
                    //    e.preventDefault();
                    //});
                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;
            // var Msg = e.response;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#KgridMaster").data("kendoGrid").dataSource.read();
                        $("#KgridMasterdml").data("kendoGrid").dataSource.read();
                        //  window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });
                    //keep the grid in edit-mode
                    //var grid = $("#KgridMasterdml").data("kendoGrid");
                    //var grid = $("#KgridMaster").data("kendoGrid");
                    //grid.one("dataBinding", function (e) {
                    //    e.preventDefault();
                    //});
                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }


    function myDeleteJs() {
        debugger;
        var grid = $("#KgridMasterdml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var masterGid = (model.MasterGid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("QcMasterGriddelete", "QCMaster")',
                        data: "{ masterGid:'" + masterGid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

    function Getdata() {
        debugger;

        return {
            getMastercode: masterCode
        }
    }
</script>






@*<script type="text/javascript">

        //register custom validation rules
        (function ($, kendo) {
            $.extend(true, kendo.ui.validator, {
                rules: { // custom rules
                    productnamevalidation: function (input, params) {
                        if (input.is("[name='MasterCode']") && input.val() != "") {
                            input.attr("data-productnamevalidation-msg", "MasterCode should start with capital letter");
                            return /^[A-Z]/.test(input.val());
                        }

                        if (input.is("[name='MasterCode']") && input.val() == "" || input.val() == null) {
                            input.attr("data-productnamevalidation-msg", "MasterCode Name should not be Empty..!");
                            return /^[A-Z]/.test(input.val());
                        }

                        if (input.is("[name='MasterDesc']") && input.val() == "" || input.val() == null) {
                            input.attr("data-productnamevalidation-msg", "Master Description should not be Empty..!");
                            return /^[A-Z]/.test(input.val());
                        }
                        if (input.is("[name='ParentCode']") && input.val() == "- Select -" || input.val() == null) {
                            input.attr("data-productnamevalidation-msg", "ParentCode should not be Empty..!");
                            return /^[A-Z]/.test(input.val());
                        }

                        return true;
                    }
                },
                messages: { //custom rules messages
                    productnamevalidation: function (input) {
                        // return the message text
                        return input.attr("data-val-productnamevalidation");
                    }
                }
            });
        })(jQuery, kendo);

        //show server errors if any
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }



        $("#btnSubmit").click(function (event) {

            // Fetch form to apply custom Bootstrap validation
            var form = $("#form1")

            if (form[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.addClass('was-validated');
            // Perform ajax submit here...

        });

    </script>*@

