﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DBHelper.Workbench_Model
<style>
    a.k-button.k-button-icontext.k-grid-add {
        background: transparent;
        border-color: transparent;
    }
    /*
            grid row height to increase
            .k-grid td {
        white-space: nowrap;
        height:14px;
    }*/
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RaiserHistory</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;height:32px;">
                <p style="text-align:center;color:#fff;font:bold;padding-top:3px"> Approved - ECF </p>
            </div>  
            <div class="row mt-1">
                
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("ApproverHistory", "Workbench", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<DBHelper.Workbench_Model>().Name("Kgridworkbenchaprhist")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.id).Title("ID").Width(50).Hidden();
                                    columns.Bound(m => m.ecf_date).Title("Date").Width(80);
                                    columns.Bound(m => m.ecf_no).Title("Ref No.").Width(80);
                                    columns.Bound(m => m.ClaimType).Title("Type / Sub Type").Width(80);
                                    columns.Bound(m => m.employee_name).Title("Raiser ID / Name").Width(80);
                                    columns.Bound(m => m.supplierheader_name).Title("Supplier ID / Name").Width(80);
                                    columns.Bound(m => m.ecfDescription).Title("Description").Width(80);
                                    columns.Bound(m => m.ecf_amount).Title("Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });

                                    //columns.Bound(m => m.ecf_status).Title("Status").Width(80);
                                    columns.Bound(m => m.Approver_Status).Title("Status").Width(80);
                                    columns.Bound(m => m.SupplierEmployee_Type).Title("Type").Hidden();
                                    columns.Bound(m => m.Batch_Gid).Title("Batch Gid").Hidden();
                                    columns.Bound(m => m.Ecf_Gid).Title("ECF Gid").Hidden();
                                    columns.Bound(m => m.Raiser_Gid).Title("Raiser Gid").Hidden();

                                    //columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action(" ", " ") + "/#= id #'" + ">#= Action #</a>").Title("Action").Width(50);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return View_ECF()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Action").Width(50);
                                })
                                 .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(new List<object> { 10, 15, 20, 25, 50, 100 })
                                            .ButtonCount(5))
                                 .Filterable()
                                 .Sortable()
                                 .Scrollable(s => s.Enabled(true).Height("auto"))
                                 .Resizable(resize => resize.Columns(true))
                                 .DataSource(dataSource => dataSource
                                 .Ajax()
                                 .PageSize(10)
                                 //.Events(events => events.Error("error_handler"))
                                 .Model(model => model.Id(p => p.id))
                                 .Read(read => read.Action("ReadActionHistory", "Workbench").Data("GetUserType"))
                                 ))
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

</body>
</html>

<script type="text/javascript">

    function GetUserType() {
        var LoginID = '@Html.Raw(Json.Encode(Model.Login_UserID))';

        return { "loginId": LoginID, "actionType": "A" }
    }


    function View_ECF() {
        debugger;
        var grid = $("#Kgridworkbenchaprhist").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.ClaimType.toLowerCase();
        var BatchGID = model.Batch_Gid;
        var EcfGID = model.Ecf_Gid;
        var RaiserGID = model.Raiser_Gid;
        var ClaimStatus = model.Approver_Status;
        if (ClaimType == 'claim') {
            window.location.href = '../EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'invoice') {
            window.location.href = '../EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'advance') {
            window.location.href = '../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
        }
    }


</script>