﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.IEMProduct.Dashboard_Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .lbl-font {
            font-weight: normal;
        }

        .form-control {
            height: 30px !important;
        }

        .k-state-disabled {
            background: #efefef;
        }

        a.k-button.k-button-icontext.k-grid-Tax {
            height: 30px;
            margin-top: 15px;
            margin-left: 25px;
        }

        .k-grid-header th.k-header > .k-link {
            padding: 14px !important;
            margin: -7px 0px 0px 10px !important;
        }

        .borders {
            border: 1px solid #e4e4e4;
            border-radius: 10px;
            padding: 9px 0px 0px 11px;
            margin-left: 30px;
            box-shadow: 2px 4px #e4e4e4;
        }

        .labels {
            margin-left: 17px;
            background: #225483;
            margin-bottom: 0px;
            color: #fff;
            padding: 0px 0px 5px 5px;
            border-radius: 5px;
        }

        .k-calendar .k-footer .k-nav-today {
            background-color: #245988 !important;
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="padding-top:3%;height:50%">
        <div class="row">
            <div class="col-sm-2">
                <p class="labels">Raiser Dashboard</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 borders">
                @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Dashboard_Model>().Name("kendgrid_Raiser")
                                .HtmlAttributes(new { @style = "width:96%;line-height:auto;font-weight:normal;" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.dashTypeID).Width(50).Title("TypeID").Hidden();
                                    columns.Bound(m => m.dashType).Width(80).Title("Type");
                                    columns.Bound(m => m.dashRaiserDraftCount).Title("Draft").Width(80);
                                    columns.Bound(m => m.dashRaiserInProcessCount).Title("In Process").Width(80);
                                    columns.Bound(m => m.dashRaiserRejectedCount).Title("Rejected").Width(80);
                                    columns.Bound(m => m.dashRaiserMyApprovalCount).Title("My Approvals").Width(80);
                                })

                              .Scrollable(s => s.Enabled(true).Height("auto"))
                              .Resizable(resize => resize.Columns(true))
                              .Selectable()
                              .DataSource(dataSource => dataSource
                              .Ajax()
                                   .Model(model => model.Id(p => p.dashTypeID))
                                  //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                             .Read(read => read.Action("GetRaiserCountList", "Dashboard"))
                             ))
            </div>
            <div class="col-sm-5 borders">
                <div class="row">
                    <div class="col-sm-3">
                        @Html.Label("Date From", new { @class = "lbl-font" })
                        @(Html.Kendo().DatePicker()
                          .Name("dashDateFrom")
                                //.Value(Model.dashDateFrom)
                                //.Events(e => e.Change("onChange_DateFrom"))
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 110%;", onkeypress = "return IsDateKey(event)" }))
                    </div>

                    <div class="col-sm-3">
                        @Html.Label("Date To", new { @class = "lbl-font" })
                        @(Html.Kendo().DatePicker()
                          .Name("dashDateTo")
                                // .Value(Model.dashDateTo)
                                //.Events(e => e.Change("onChange_DateTo"))
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 110%;", onkeypress = "return IsDateKey(event)" }))
                    </div>
                    <div class="col-sm-3">
                        <br />
                        @(Html.Kendo().DropDownList()
                   .Name("grpType")
                                //.DataTextField("proxyActive")
                                //.DataValueField("proxyActive")
          .HtmlAttributes(new { @class = "form-control", @Style = "margin-top:5px" })
          .BindTo(new List<SelectListItem>()
          {
              new SelectListItem() {
                Text = "Amount", Value ="1"
              },
              new SelectListItem() {
                Text = "Count", Value ="2"
              }
          })
                        )
                    </div>
                    <div class="col-sm-3">
                        <button id="btnSubmit" type="button" class="btn btn-primary" onclick="return RaiserChartListSubmit();" style="margin-top:15%">
                            Show Chart
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top:15px">
                    <div class="col-sm-12">
                        <div class="table-responsive" id="chart" style="height:100%"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="divAPChart" class="container-fluid" style="padding-top:2%; height:50%;display:none">
        <div class="row">
            <div class="col-sm-3">
                <p class="labels">AP Checker / Authoriser / Payment Dashboard</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 borders">
                @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Dashboard_Model>().Name("kendgrid_AP")
                                .HtmlAttributes(new { @style = "width:96%;line-height:2em;font-weight:normal;" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.dashTypeID).Width(50).Title("TypeID").Hidden();
                                    columns.Bound(m => m.dashType).Width(80).Title("Activity");
                                    columns.Bound(m => m.dashAPCheckerCount).Title("Checker").Width(80);
                                    columns.Bound(m => m.dashAPAuthoriserCount).Title("Authoriser").Width(80);
                                    columns.Bound(m => m.dashAPPaymentCount).Title("Payment").Width(80);
                                })

                              .Scrollable(s => s.Enabled(true).Height("auto"))
                              .Resizable(resize => resize.Columns(true))
                              .Selectable()
                              .DataSource(dataSource => dataSource
                              .Ajax()
                                   .Model(model => model.Id(p => p.dashTypeID))
                                  //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                             .Read(read => read.Action("GetAPCountList", "Dashboard"))
                             ))

            </div>
            <div class="col-sm-5 borders">
                <div class="row">
                    <div class="col-sm-3">
                        @Html.Label("Date From", new { @class = "lbl-font" })
                        @(Html.Kendo().DatePicker()
                              .Name("dashDateFrom1")
                                // .Value(Model.dashDateFrom1)
                                //.Events(e => e.Change("onChange_DateFrom"))
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 110%;", onkeypress = "return IsDateKey(event)" }))
                    </div>

                    <div class="col-sm-3">
                        @Html.Label("Date To", new { @class = "lbl-font" })
                        @(Html.Kendo().DatePicker()
                          .Name("dashDateTo1")
                                // .Value(Model.dashDateFrom1)
                                //.Events(e => e.Change("onChange_DateTo"))
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "width: 110%;", onkeypress = "return IsDateKey(event)" }))
                    </div>

                    <div class="col-sm-3">
                        <br />
                        @(Html.Kendo().DropDownList()
                   .Name("grpType1")
                                //.DataTextField("proxyActive")
                                //.DataValueField("proxyActive")
                 .HtmlAttributes(new { @class = "form-control", @Style = "margin-top:5px" })
                 .BindTo(new List<SelectListItem>()
                  {
                      new SelectListItem() {
                        Text = "Amount", Value ="1"
                      },
                      new SelectListItem() {
                        Text = "Count", Value ="2"
                      }
                  })
                        )
                    </div>

                    <div class="col-sm-3">
                        <button id="btnSubmit1" type="button" class="btn btn-primary" onclick="return APChartListSubmit();" style="margin-top:15%">
                            Show Chart
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-sm-12">
                        <div class="table-responsive" id="Apchart" style="height:100%"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
</html>

<script>
    //function onChange_DateFrom() {
    //    debugger;
    //    var userDate = $("#CLM_Claim_Date").val();
    //    var ClaimDate = moment(userDate, "DD-MM-YYYY").format("MMM-YYYY");
    //    //$("#CLM_Claim_Month").val(ClaimDate);
    //}
    //function onChange_DateTo() {
    //    debugger;
    //    var userDate = $("#CLM_Claim_Date").val();
    //    var ClaimDate = moment(userDate, "DD-MM-YYYY").format("MMM-YYYY");
    //    //$("#CLM_Claim_Month").val(ClaimDate);
    //}
    //function onChange_DateFrom() {
    //    debugger;
    //    var userDate = $("#CLM_Claim_Date").val();
    //    var ClaimDate = moment(userDate, "DD-MM-YYYY").format("MMM-YYYY");
    //    //$("#CLM_Claim_Month").val(ClaimDate);
    //}
    //function onChange_DateTo() {
    //    debugger;
    //    var userDate = $("#CLM_Claim_Date").val();
    //    var ClaimDate = moment(userDate, "DD-MM-YYYY").format("MMM-YYYY");
    //    //$("#CLM_Claim_Month").val(ClaimDate);
    //}

    $(document).ready(function () {

        var ddl = $("#grpType").data("kendoDropDownList");
        ddl.select(0);
        var ddl1 = $("#grpType1").data("kendoDropDownList");
        ddl1.select(0);
        debugger;
        var FromDate = new Date();
        FromDate.setDate(FromDate.getDate() - 30);
        $("#dashDateFrom").data("kendoDatePicker").value(FromDate);
        $("#dashDateTo").data("kendoDatePicker").value(new Date());
        $("#dashDateFrom1").data("kendoDatePicker").value(FromDate);
        $("#dashDateTo1").data("kendoDatePicker").value(new Date());
        IsCheckApFlag();
        RaiserChartListSubmit();

    });

    function IsCheckApFlag() {
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("IsCheckApFlag", "Dashboard")',
            contentType: "application/json; charset=utf-8",
            data: {},
            dataType: "json",
            success: function (data) {
                if (data[0].IsApCheckFlag == "Y") {
                    $('#divAPChart').css('display', 'block');
                    APChartListSubmit();
                }
                else {
                    $('#divAPChart').css('display', 'none');
                }
            },
            error: function () { alert('A error'); }
        });
    }

    function RaiserChartListSubmit() {
        debugger;
        var dashDateFrom = $("#dashDateFrom").val();
        var dashDateTo = $("#dashDateTo").val();
        var FilterType1 = $("#grpType").data("kendoDropDownList").value();

        $.ajax({
            type: "POST",
            url: '@Url.Action("ReadRaiserChartList", "Dashboard")',
            data: { dashDateFrom: dashDateFrom, dashDateTo: dashDateTo },
            success: function (data) {
                debugger;
                var seriesData = JSON.parse(data);
                if (FilterType1 == 1) {
                    $("#chart").kendoChart({
                        dataSource: {
                            data: seriesData
                            //dataSource: stocksDataSource
                        },
                        series: [{
                            type: "column",
                            field: "Amount",
                            categoryField: "ClaimType",
                            name: "Amount"
                        }
                        ],
                        legend: {
                            position: "bottom"
                        },
                        valueAxis: {
                            labels: {
                                format: "{0}",
                                //skip: 2,
                                //step: 2
                            }
                        },
                        categoryAxis: {
                            labels: {
                                //format: "MMM"
                            }
                        }
                    });
                }
                else {
                    $("#chart").kendoChart({
                        dataSource: {
                            data: seriesData
                            //dataSource: stocksDataSource
                        },
                        series: [
                        {
                            type: "column",
                            field: "Count",
                            categoryField: "ClaimType",
                            name: "Count",
                            color: "#3CB371"

                        }

                        ],
                        legend: {
                            position: "bottom"
                        },
                        valueAxis: {
                            labels: {
                                format: "{0}",
                                //skip: 2,
                                //step: 2
                            }
                        },
                        categoryAxis: {
                            labels: {
                                //format: "MMM"
                            }
                        }
                    });
                }

            }
        })
    }
    function APChartListSubmit() {
        debugger;
        var dashDateFrom = $("#dashDateFrom1").val();
        var dashDateTo = $("#dashDateTo1").val();
        var FilterType = $("#grpType1").data("kendoDropDownList").value();
        $.ajax({
            type: "Post",
            url: '@Url.Action("ReadAPChartList", "Dashboard")',
            data: { dashDateFrom: dashDateFrom, dashDateTo: dashDateTo },
            success: function (data) {
                debugger;
                var seriesData = JSON.parse(data);
                if (FilterType == 1) {
                    $("#Apchart").kendoChart({
                        dataSource: {
                            data: seriesData
                        },

                        series:

                            [{
                                type: "column",
                                field: "Amount",
                                categoryField: "ClaimType",
                                name: "Amount"
                            }
                        //{
                        //    type: "column",
                        //    field: "Count",
                        //    categoryField: "ClaimType",
                        //    name: "Count"
                        //}

                            ],
                        legend: {
                            position: "bottom"
                        },
                        valueAxis: {
                            labels: {
                                format: "{0}",
                                //skip: 2,
                                //step: 2
                            }
                        },
                        categoryAxis: {
                            labels: {
                                //format: "MMM"
                            }
                        }
                    });
                }
                else {
                    $("#Apchart").kendoChart({
                        dataSource: {
                            data: seriesData
                        },

                        series:

                            [
                        {
                            type: "column",
                            field: "Count",
                            categoryField: "ClaimType",
                            name: "Count",
                            color: "#3CB371"
                        }

                            ],
                        legend: {
                            position: "bottom"
                        },
                        valueAxis: {
                            labels: {
                                format: "{0}",
                                //skip: 2,
                                //step: 2
                            }
                        },
                        categoryAxis: {
                            labels: {
                                //format: "MMM"
                            }
                        }
                    });
                }

            }
        })
    }
    $(document).ready(RaiserChartListSubmit);
    $(document).bind("kendo:skinChange", RaiserChartListSubmit);

    $(document).ready(APChartListSubmit);
    $(document).bind("kendo:skinChange", APChartListSubmit);

    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }
</script>