﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DBHelper.Workbench_Model
@{
    DataAccessHandler.Models.IEMProduct.Dashboard_Model dashboard_model = new DataAccessHandler.Models.IEMProduct.Dashboard_Model();

}
<style>
    a.k-button.k-button-icontext.k-grid-add {
        background: transparent;
        border-color: transparent;
    }
    /*
            grid row height to increase
            .k-grid td {
        white-space: nowrap;
        height:14px;
    }*/
</style>


<html lang="en">

<body>
    <div class="container-fluid" id="dialog">
        @*<div class="row mt-1 top">
                <div class="col-md-12">
                    <p style="text-align:center;color:black;">Dashboard</p>
                </div>
            </div>*@
        <div class="container-fluid">
            <div class="row mt-1">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#workbench">WorkBench</a>
                        </li>

                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane containers active" id="dashboard">
                            <div class="container-fluid ml-0">
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        @Html.Partial("Dashboard", dashboard_model)
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane containers fade" id="workbench">
                            <div class="container-fluid">
                                <div class="row mt-1 top" style="margin-top:2px;">
                                    <div class="col-md-12" style="background-color:#245988;height:32px;">
                                        <p style="text-align:center;color:#fff;font:bold;padding-top:3px"> Work Bench - Raiser </p>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-md-12 table-responsive" style="text-align:right;padding-left:8px">
                                            <button type="button" class="btn btn-primary" onclick="ProcessedRaiserLevel()" style="text-align:right;padding-left:25px;"> <i class="fa fa-eye"></i>  Processed </button>
                                            @*<button class="btn btn-primary" id="button_ProcessedbyRaiser" type="button" style="margin-left: 80%;width: 50%;" onclick="return ProcessedRaiserLevel();"> <i class="fa fa-save"></i> Processed </button>*@
                                        </div>
                                        <div class="col-md-12 table-responsive">

                                            @using (Html.BeginForm("Workbench", "Workbench", FormMethod.Post, new { @id = "form1" }))
                                            {
                                                <div>
                                                    @(Html.Kendo().Grid<DBHelper.Workbench_Model>().Name("Kgridworkbenchdml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.id).Title("ID").Width(50).Hidden();
                                    columns.Bound(m => m.ecf_date).Title("Date").Width(80);
                                    columns.Bound(m => m.ecf_no).Title("Ref No.").Width(80);
                                    columns.Bound(m => m.ClaimType).Title("Type / Sub Type").Width(80);
                                    columns.Bound(m => m.employee_name).Title("Raiser ID / Name").Width(80);
                                    columns.Bound(m => m.supplierheader_name).Title("Supplier ID / Name").Width(80);
                                    columns.Bound(m => m.ecfDescription).Title("Description").Width(80);
                                    columns.Bound(m => m.ecf_amount).Title("Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });
                                    //columns.Bound(m => m.ecf_status).Title("Status").Width(80);
                                    columns.Bound(m => m.Approver_Status).Title("Status").Width(80);
                                    columns.Bound(m => m.SupplierEmployee_Type).Title("Type").Hidden();
                                    columns.Bound(m => m.Batch_Gid).Title("Batch Gid").Hidden();
                                    columns.Bound(m => m.Ecf_Gid).Title("ECF Gid").Hidden();
                                    columns.Bound(m => m.Raiser_Gid).Title("Raiser Gid").Hidden();
                                    columns.Bound(m => m.displaying_status).Title("Display Status").Hidden();
                                    //columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action(" ", " ") + "/#= id #'" + ">#= Action #</a>").Title("Action").Width(50);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return View_ECF()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Action").Width(50);
                                })
                                 .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(new List<object> { 10, 15, 20, 25, 50, 100 })
                                            .ButtonCount(5))
                                 .Filterable()
                                 .Sortable()
                                 .Scrollable(s => s.Enabled(true).Height("auto"))
                                 .Resizable(resize => resize.Columns(true))
                                 .DataSource(dataSource => dataSource
                                 .Ajax()
                                 .PageSize(10)
                                     //.Events(events => events.Error("error_handler"))
                                 .Model(model => model.Id(p => p.id))
                                 .Read(read => read.Action("ReadGrid", "Workbench"))
                                 ))
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="container-fluid">
                                <div class="row mt-1 top" style="margin-top:2px;">
                                    <div class="col-md-12" style="background-color:#245988;height:32px;">

                                        <p style="text-align:center;color:#fff;font:bold;padding-top:3px"> Work Bench - Approver </p>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-md-12 table-responsive" style="text-align:right;padding-left:8px">
                                            <button type="button" class="btn btn-primary" onclick="ProcessedApproverLevel()" style="text-align:right;padding-left:25px;"> <i class="fa fa-eye"></i>  Processed </button>
                                        </div>
                                        <div class="col-md-12 table-responsive">

                                            @using (Html.BeginForm("Workbench", "Workbench", FormMethod.Post, new { @id = "form1" }))
                                            {
                                                <div>
                                                    @(Html.Kendo().Grid<DBHelper.Workbench_Model>().Name("Kgridworkbenchapprover")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.id).Title("ID").Width(50).Hidden();
                                    columns.Bound(m => m.ecf_date).Title("Date").Width(80);
                                    columns.Bound(m => m.ecf_no).Title("Ref No.").Width(80);
                                    columns.Bound(m => m.ClaimType).Title("Type / Sub Type").Width(80);
                                    columns.Bound(m => m.employee_name).Title("Raiser ID / Name").Width(80);
                                    columns.Bound(m => m.supplierheader_name).Title("Supplier ID / Name").Width(80);
                                    columns.Bound(m => m.ecfDescription).Title("Description").Width(80);
                                    columns.Bound(m => m.ecf_amount).Title("Amount").Width(80).HtmlAttributes(new { style = "text-align:right;" });

                                    //columns.Bound(m => m.ecf_status).Title("Status").Width(80);
                                    columns.Bound(m => m.Approver_Status).Title("Status").Width(80);
                                    columns.Bound(m => m.SupplierEmployee_Type).Title("Type").Hidden();
                                    columns.Bound(m => m.Batch_Gid).Title("Batch Gid").Hidden();
                                    columns.Bound(m => m.Ecf_Gid).Title("ECF Gid").Hidden();
                                    columns.Bound(m => m.Raiser_Gid).Title("Raiser Gid").Hidden();
                                    columns.Bound(m => m.displaying_status).Title("Display Status").Hidden();
                                    //columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action(" ", " ") + "/#= id #'" + ">#= Action #</a>").Title("Action").Width(50);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return View_ECFApprover()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Action").Width(50);
                                })
                                 .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(new List<object> { 10, 15, 20, 25, 50, 100 })
                                            .ButtonCount(5))
                                 .Filterable()
                                 .Sortable()
                                 .Scrollable(s => s.Enabled(true).Height("auto"))
                                 .Resizable(resize => resize.Columns(true))
                                 .DataSource(dataSource => dataSource
                                 .Ajax()
                                 .PageSize(10)
                                     //.Events(events => events.Error("error_handler"))
                                 .Model(model => model.Id(p => p.id))
                                 .Read(read => read.Action("ReadGridApprover", "Workbench"))
                                 ))
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</body>
</html>



<script type="text/javascript">
    var LoginID = '@Html.Raw(Json.Encode(Model.Login_UserID))';
    function View_ECF() {
        debugger;
        var grid = $("#Kgridworkbenchdml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.ClaimType.toLowerCase();
        var BatchGID = model.Batch_Gid;
        var EcfGID = model.Ecf_Gid;
        var RaiserGID = model.Raiser_Gid;
        var ClaimStatus = model.Approver_Status;
        var DisplayStatus = model.displaying_status;
        if (ClaimStatus == 'Audit Maker' || ClaimStatus == 'Audit Checker') {
            ClaimStatus = "Inprocess";
        }

        if (ClaimType == 'claim') {
            @*$.ajax({
                url: '@Url.Action("Claim", "Claim")',
                data: { BatchGID: BatchGID, EcfGID: EcfGID, ClaimStatus: ClaimStatus, Display_Status: DisplayStatus },
                type: 'POST',
                success: function (data) {
                    $("body").html(data);
                }
            });*@

            @*$.post('@Url.Action("ClaimPost", "Claim")', { BatchGID: BatchGID, EcfGID: EcfGID, ClaimStatus: ClaimStatus, Display_Status: DisplayStatus },
                  function (data) {});*@

            window.location.href = '../EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus + '&Display_Status=' + DisplayStatus;
            window.location = '0';
            //window.location.href = '../EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus + '&Display_Status=' + DisplayStatus;
        }
        else if (ClaimType == 'invoice') {
            window.location.href = '../EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus + '&Display_Status=' + DisplayStatus;
        }
        else if (ClaimType == 'advance') {
            window.location.href = '../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus + '&Display_Status=' + DisplayStatus;
        }
    }


    function View_ECFApprover() {
        debugger;
        var grid = $("#Kgridworkbenchapprover").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.ClaimType.toLowerCase();
        var BatchGID = model.Batch_Gid;
        var EcfGID = model.Ecf_Gid;
        var RaiserGID = model.Raiser_Gid;
        var ClaimStatus = model.Approver_Status;
        var DisplayStatus = model.displaying_status;
        if (ClaimType == 'claim') {
            window.location.href = '../EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus + '&Display_Status=' + DisplayStatus;
        }
        else if (ClaimType == 'invoice') {
            window.location.href = '../EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus + '&Display_Status=' + DisplayStatus;
        }
        else if (ClaimType == 'advance') {
            window.location.href = '../EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus + '&Display_Status=' + DisplayStatus;
        }
    }



    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }


    function ProcessedRaiserLevel() {
        var url = '@Url.Action("RaiserHistory", "Workbench", new { Area = "", employeeGid = "REPLACEME" })';
        window.location.href = url.replace('REPLACEME', LoginID);

        //alert(LoginID);
        //window.location.href = 'Workbench/RaiserHistory?employeeGid=' + LoginID;
    }


    function ProcessedApproverLevel() {
        var url = '@Url.Action("ApproverHistory", "Workbench", new { Area = "", employeeGid = "REPLACEME" })';
        window.location.href = url.replace('REPLACEME', LoginID);
        //window.location.href = 'Workbench/ApproverHistory?employeeGid=' + LoginID;
    }



</script>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;

        return true;
    }

</script>

