﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.SupplierInvoice_Model

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 70%;
        height: auto;
        overflow:auto;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }

    /*.form-control {
        height: 20px !important;
    }*/
</style>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Ref No", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("Refid")
               .DataTextField("RefrenceNo")
               .DataValueField("Refid")
               .Filter("contains")
                        .Events(e => e.DataBound("onDataBound_Common"))
                    //.Events(e => e.Change("onChange_Provider"))
                                       .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false", @id = "Refid", @class = "form-control" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetRefno"); });
               }))
        </div>
        <div class="col-md-2" id="divNatExp">
            @Html.Label("Nature of Expense", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("ExpNatureid")
               .DataTextField("ExpNaturename")
               .DataValueField("ExpNatureid")
               .Filter("contains")
                       .Events(e => e.Change("onChange_ExpNat").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetNatExp"); });
               }))
        </div>

        <div class="col-md-2" id="divExpCat">
            @Html.Label("Expense Category", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("ExpCatid")
               .DataTextField("ExpCatname")
               .DataValueField("ExpCatid")
               .Filter("contains")
                       .Events(e => e.Change("onChange_ExpCat").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetExpCat"); });
               }))
        </div>

        <div class="col-md-2" id="divExpSubcat">
            @Html.Label("Expense SubCategory", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("ExpSubcatid")
               .DataTextField("ExpSubcatname")
               .DataValueField("ExpSubcatid")
               .Filter("contains")
                       .Events(e => e.Change("onChange_ExpSubcat").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetExpSubcat"); });
               }))
        </div>

        <div class="col-md-2" style="display:none;" id="divAssetCat">
            @Html.Label("Asset Category", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("AssetCatid")
               .DataTextField("AssetCatName")
               .DataValueField("AssetCatid")
               .Filter("contains")
               .Events(e => e.Change("onChange_AssetCat").DataBound("onDataBound_Common"))
                       .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false", @id = "AssetCatid", @class = "form-control" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetAssetCat"); });
               }))
        </div>
        <div class="col-md-2" style="display:none;" id="divAssetSubcat">
            @Html.Label("Asset SubCategory", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("AssetSubcatid")
               .DataTextField("AssetSubcatname")
               .DataValueField("AssetSubcatid")
               .Filter("contains")
               .Events(e => e.Change("onChange_AssetSubcat").DataBound("onDataBound_Common"))
                       .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetAssetSubcat"); });
               }))
        </div>

    </div>

    <div class="row" style="margin-top:0.5%;">
        <div class="col-md-2">
            @Html.Label("GL Code & Desc", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("Glid")
               .DataTextField("GlName")
               .DataValueField("Glid")
               .Filter("contains")
              // .MinLength(3)
               .Events(e => e.DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;",   oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetGlno"); }).ServerFiltering(true);
               }))
        </div>
        <div class="col-md-2">
            @Html.Label("Expense Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(m => m.ExpenseAmt, new { type = "number", min = "1", max = "999999999", @class = "form-controls", oncopy = "return false", onpaste = "return false" })
        </div>
        <div class="col-md-2">
            @Html.Label("HSN Code", new { style = "" })
            @(Html.Kendo().DropDownList()
               .Name("HsnId")
               .DataTextField("HsnName")
               .DataValueField("HsnId")
               .Filter("contains")
                       .Events(e => e.DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;",   oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetExpDropDown", "Supplierinvoice").Data("GetHsn"); });
               }))
        </div>
    </div>

    <div class="row" style="margin-top:0.5%;">
        <div class="col-md-9">
            @Html.Label("Debitline Description", new { @class = "lbl-font" })
            @Html.TextAreaFor(m => m.ExpDesc, new { @class = "form-controls", @style = "min-width: 73%;" })
        </div>
    </div>



</div>
