﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.SupplierInvoice_Model


<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 65%;
        height: auto;
        overflow: auto;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }

    .form-controls {
        height: 20px !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Invoice No", new { @class = "lbl-font" })
            @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-controls", oncopy = "return false", onpaste = "return false" })
        </div>
        <div class="col-md-2">
            @Html.Label("Supplier", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("Supplierid")
               .DataTextField("SupplierName")
               .DataValueField("Supplierid")
               .Filter("contains")
               .Events(e => e.Change("onChange_Supplier").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;" })
                    /* .Events(e => e
                              .DataBound("onDataBound")
                     )*/
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetSupplier", "Supplierinvoice").Data("GetSuppliers"); });
               }))
            @*@Html.TextBoxFor(m => m.SupplierName, new { @for = "form-autocomplete", @class = "form-control", oncopy = "return false", onpaste = "return false" })*@
        </div>
        <div class="col-md-2">
            @Html.Label("Invoice Date", new { @class = "lbl-font" })
            @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
               .Name("InvoiceDate")
                    //.Min(DateTime.Today)
               .Max(DateTime.Today)
               .Events(e => e.Change("onChange_ClaimDate"))
               .Value(Model.InvoiceDate)
               .HtmlAttributes(new { placeholder = "DD-MM-YYYY", oncopy = "return false", onpaste = "return false", onkeydown = "return false;", @style = "width: 113%;" }))
        </div>
        <div class="col-md-2">
            @Html.Label("Service Month", new { @class = "lbl-font" })
            @(Html.Kendo().DatePicker().Format("MMMM yyyy")
               .Start(CalendarView.Year)
               .Depth(CalendarView.Year)
               .Name("InvServiceMonth")
               .Max(DateTime.Today)
               .Value(Model.InvServiceMonth)
               .HtmlAttributes(new { placeholder = "MMMM yyyy", oncopy = "return false", onpaste = "return false", onkeydown = "return false;", @style = "width: 113%;" }))
        </div>

    </div>

    <div class="row" style="margin-top:0.5%;">
        <div class="col-md-2">
            @Html.Label("Provider Location", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("ProvLocid")
               .DataTextField("ProviderLoc")
               .DataValueField("ProvLocid")
               .Filter("contains")
               .Events(e => e.Change("onChange_Provider").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetGstnLoc", "Supplierinvoice").Data("GetProviderLoc"); });
               }))
            @*@Html.TextBoxFor(m => m.ProviderLoc, new { @class = "form-control",oncopy="return false", onpaste="return false" })*@
        </div>
        <div class="col-md-2">
            @Html.Label("Provider GSTN", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("ProviderGstn")
               .DataTextField("ProviderGstn")
               .DataValueField("ProviderGstn")
               .Filter("contains")
                       .Events(e => e.DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetGstnLoc", "Supplierinvoice").Data("GetProvGSTN"); });
               }))
            @*@Html.TextBoxFor(m => m.ProviderGstn, new { @class = "form-control", oncopy = "return false", onpaste = "return false" })*@
        </div>
        <div class="col-md-2">
            @Html.Label("Receiver Location", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("RecvLocid")
               .DataTextField("ReceiverLoc")
               .DataValueField("RecvLocid")
               .Filter("contains")
                       .Events(e => e.Change("onChange_Receiver").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetGstnLoc", "Supplierinvoice").Data("GetReceiverLoc"); });
               }))
            @*@Html.TextBoxFor(m => m.ReceiverLoc, new { @class = "form-control", oncopy = "return false", onpaste = "return false" })*@
        </div>
        <div class="col-md-2">
            @Html.Label("Receiver GSTN", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("ReceiverGstn")
               .DataTextField("ReceiverGstn")
               .DataValueField("ReceiverGstn")
               .Filter("contains")
                        .Events(e => e.DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetGstnLoc", "Supplierinvoice").Data("GetRecvGSTN"); });
               }))
        </div>
    </div>

    <div class="row" style="margin-top:0.5%;">
        <div class="col-md-2">
            @Html.Label("Currency", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("Currencyid")
               .DataTextField("CurrencyName")
               .DataValueField("Currencyid")
               .Filter("contains")
                       .Events(e => e.Change("onChange_Currency").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetCurrency", "Supplierinvoice").Data("GetCurrencies"); });
               }))
        </div>

        <div class="col-md-2">
            @Html.Label("Exchange Rate", new { @class = "lbl-font" })
            @Html.TextBoxFor(m => m.CurrencyRate, new { type = "number", min = "1", max = "999999999", @class = "form-controls", oncopy = "return false", onpaste = "return false", Readonly = "Readonly", @style = "background-color: #eee;" })
        </div>

        <div class="col-md-2">
            @Html.Label("Currency Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(m => m.InvoiceAmt, new { type = "number", min = "1", max = "999999999", @class = "form-controls", oncopy = "return false", onpaste = "return false" })
        </div>

        <div class="col-md-2">
            @Html.Label("Invoice Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(m => m.InvoiceAmt, new { type = "number", min = "1", max = "999999999", @class = "form-controls", oncopy = "return false", onpaste = "return false", Readonly = "Readonly", @style = "background-color: #eee;" })
        </div>

    </div>

    <div class="row" style="margin-top:0.5%;">
        <div class="col-md-2">
            @Html.Label("Default", new { @class = "lbl-font" })<br />

            @Html.RadioButtonFor(m => m.TaxStatus, "GST", new { id = "GST", Checked = "false" })
            @Html.Label("GST", new { @class = "lbl-font" })

            @Html.RadioButtonFor(m => m.TaxStatus, "RCM", new { id = "RCM", Checked = "false" })
            @Html.Label("RCM", new { @class = "lbl-font" })

            @Html.RadioButtonFor(m => m.TaxStatus, "None", new { id = "None", Checked = "true" })
            @Html.Label("None", new { @class = "lbl-font" })
        </div>
        <div class="col-md-2">
            @Html.Label("Amort", new { @class = "lbl-font" }) <br />

            @Html.RadioButtonFor(m => m.AmortFlag, "Yes", new { id = "btnAmrtY", Checked = "false", name = "AmortFlag", onchange = "GetAmort()" })
            @Html.Label("Yes", new { @class = "lbl-font" })

            @Html.RadioButtonFor(m => m.AmortFlag, "No", new { id = "btnAmrtN", Checked = "true", name = "AmortFlag", onchange = "GetAmort()" })
            @Html.Label("No", new { @class = "lbl-font" })
        </div>
        <div class="col-md-2">
            @Html.Label("Retention", new { @class = "lbl-font" })<br />

            @Html.RadioButtonFor(m => m.RetentionFlag, "Yes", new { id = "btnRetN", Checked = "false" })
            @Html.Label("Yes", new { @class = "lbl-font" })

            @Html.RadioButtonFor(m => m.RetentionFlag, "No", new { id = "btnRetN", Checked = "true" })
            @Html.Label("No", new { @class = "lbl-font" })
        </div>
        <div class="col-md-2">
            @Html.Label("Expense", new { @class = "lbl-font" })<br />

            @Html.RadioButtonFor(m => m.TypeFlag, "Capex", new { id = "btnCapex", Checked = "false", disabled = "disabled" })
            @Html.Label("Capex", new { @class = "lbl-font" })

            @Html.RadioButtonFor(m => m.TypeFlag, "Opex", new { id = "btnOpex", Checked = "true", disabled = "disabled" })
            @Html.Label("Opex", new { @class = "lbl-font" })
        </div>

    </div>

    <div class="row" style="margin-top:0.5%;">
        <div class="col-md-4">
            @Html.Label("Invoice Description", new { @class = "lbl-font" })
            @Html.TextAreaFor(m => m.InvDescription, new { @class = "form-controls", placeholder = "Invoice Description", @style = "min-width: 165%;" })
        </div>
    </div>

    <div class="row" id="divAmort" style='display:none;margin-top:0.3%;'>
        <div class="col-md-2">
            @Html.Label("Amort From", new { style = "" })
            @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
            .Name("AmortFrom")
            .Value(Model.InvoiceDate)
            .HtmlAttributes(new { placeholder = "DD-MM-YYYY", oncopy = "return false", onpaste = "return false", onkeydown = "return false;" }))
        </div>
        <div class="col-md-2">
            @Html.Label("Amort To", new { style = "" })
            @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
            .Name("AmortTo")
            .Value(Model.InvoiceDate)
            .HtmlAttributes(new { placeholder = "DD-MM-YYYY", oncopy = "return false", onpaste = "return false", onkeydown = "return false;" }))
        </div>
        <div class="col-md-4">
            @Html.Label("Amort Description", new { style = "" })
            @Html.TextAreaFor(m => m.AmortDesc, new { @class = "form-controls", placeholder = "Amort Description" })
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var dropdownlist = $("#SubType_Gid").data("kendoDropDownList");
        debugger;
        var data = dropdownlist.text();
        if (data == "Non PO Based") {
            $('#btnOpex').prop('checked', true);
            $('#btnCapex ').prop('checked', false);
        }
        else {
            $('#btnCapex ').prop('checked', true);
            $('#btnOpex').prop('checked', false);
        }
    });
</script>