﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.SupplierInvoice_Model

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 55%;
        height: auto;
        overflow: auto;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }
    /*.form-control {
        height: 20px !important;
    }*/
    .k-widget.k-window {
        overflow: hidden;
    }
</style>
<div class="container">

    <div class="row" id="divPaymode">
        @(Html.Kendo().Window()
                        .Name("SupPaymodeWindow") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
                        .Title("Edit Payment")
                        .Height(250)
                        .Width(1200)
                        .Visible(false)
                        .Resizable()
                        .Iframe(true)
                        .Content(@<text>
                            @using (Html.BeginForm("SupplierInvoice", "SupplierInvoice", FormMethod.Post, new { @id = "Form_supplierPaymode" }))
                            {
                                @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.SupplierInvoice_Model>().Name("KendGrid_InvsupplierPaymode")
                                            .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height:100px" })
                                    //.ToolBar(toolbar => toolbar.Create().Text("Remarks"))
                                    .Columns(columns =>
                                    {
                                        // columns.Bound(m => m.Expenseid).Title("Expense id").Hidden();
                                        //columns.Bound(m => m.Beneficiary).Title("Beneficiary Name");
                                        columns.Bound(m => m.Beneficiary).ClientTemplate("<a style = 'color:blue;cursor:pointer' onclick=\"GetPaymodeupdate('Supplier')\">#=Beneficiary#</a>").Title("Beneficiary Name").Width(100);
                                        columns.Bound(m => m.AccountNo).Title("Account No").Width(80);
                                        columns.Bound(m => m.IfscCode).Title("IFSC Code").Width(80);
                                        columns.Bound(m => m.BranchId).Title("Branch Id").Hidden();
                                        columns.Bound(m => m.BranchName).Title("Branch Name").Width(80);
                                        columns.Bound(m => m.BankName).Title("Bank Name").Width(100);
                                        columns.Bound(m => m.Supplierid).Title("Supplier id").Hidden();
                                        columns.Bound(m => m.Paymodeid).Title("Paymode id").Hidden();
                                        //columns.Template(p => { }).ClientTemplate("<a style = 'color:blue;cursor:pointer' onclick=\"GetPaymodeupdate('Supplier')\">#=Tax#</a>").Title("Action");
                                    })
                                        .Filterable()
                                        .Sortable()
                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                        .Resizable(resize => resize.Columns(true))
                                        .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .ServerOperation(false)
                                        .Model(model => model.Id(p => p.Refid))
                                        .PageSize(5)
                                        .Read(read => read.Action("GetPaymodeDetails", "SupplierInvoice").Data("GetPaymodeRefno"))
                                        ))
                            }
                        </text>)
        )
    </div>

    <div class="row">
        @(Html.Kendo().Window()
                        .Name("SupPPXPaymodeWindow") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
                        .Title("Edit Payment")
                        .Height(250)
                        .Width(1250)
                        .Visible(false)
                        .Resizable()
                        .Iframe(true)
                        .Content(@<text>
                            @using (Html.BeginForm("SupplierInvoice", "SupplierInvoice", FormMethod.Post, new { @id = "Form_supplierPPX" }))
                            {
                                @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.SupplierInvoice_Model>().Name("KendGrid_InvsupplierPPX")
                                            .HtmlAttributes(new { @class = "form-control", @style = "width:100%;line-height:2em;font-weight:normal;height:100px" })
                                    //.ToolBar(toolbar => toolbar.Create().Text("Remarks"))
                                    .Columns(columns =>
                                    {
                                        // columns.Bound(m => m.Expenseid).Title("Expense id").Hidden();
                                        //columns.Bound(m => m.RefrenceNo).Title("Ref No");
                                        columns.Bound(m => m.RefrenceNo).ClientTemplate("<a style = 'color:blue;cursor:pointer' onclick=\"GetPaymodeupdate('PPX')\">#=RefrenceNo#</a>").Title("Ref No").Width(70);
                                        columns.Bound(m => m.GlName).Title("ARF RefGl").Width(80);
                                        columns.Bound(m => m.ArfDesc).Title("ARF Description").Width(100);
                                        columns.Bound(m => m.LiqudatonDate).Title("ARF Liqudation Date").Format("{0: dd-MM-yyyy}").Width(80);
                                        columns.Bound(m => m.EcfarfAmt).Title("ARF Amount").Width(80);
                                        columns.Bound(m => m.ExceptionAmt).Title("ARF Exception").Width(80);
                                        columns.Bound(m => m.Supplierid).Title("Supplier id").Hidden();
                                        columns.Bound(m => m.Paymodeid).Title("Paymode id").Hidden();
                                        // columns.Template(p => { }).ClientTemplate("<a style = 'color:blue;cursor:pointer' onclick=\"GetPaymodeupdate('PPX')\">#=Tax#</a>").Title("Action");
                                    })
                                        .Filterable()
                                        .Sortable()
                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                        .Resizable(resize => resize.Columns(true))
                                        .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .ServerOperation(false)
                                        .Model(model => model.Id(p => p.Refid))
                                        .PageSize(5)
                                        .Read(read => read.Action("GetPaymodeDetails", "SupplierInvoice").Data("GetPaymodeRefno"))
                                        ))
                            }
                        </text>)
        )
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Refrence No", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("Refid")
               .DataTextField("RefrenceNo")
               .DataValueField("Refid")
               .Filter("contains")
                       .Events(e => e.DataBound("onDataBound_Common"))
                    //.Events(e => e.Change("onChange_Provider"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetCrDropDown", "Supplierinvoice").Data("GetCrRefno"); });
               }))
        </div>
        <div class="col-md-2">
            @Html.Label("Pay Mode", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("Paymodeid")
               .DataTextField("Paymode")
               .DataValueField("Paymodeid")
               .Filter("contains")
                       .Events(e => e.Change("onChange_Paymode").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 83%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetCrDropDown", "Supplierinvoice").Data("GetPaymode"); });
               }))

                <button type='button' onclick='return GetPaymodewindow()' class='deleteclass' id="btnPaymodeadjustment"><i class='fa fa-eye' aria-hidden='true'></i></button>
        </div>
        <div class="col-md-2">
            @Html.Label("Beneficiary Name", new { @class = "lbl-font" })
            @Html.TextBoxFor(m => m.Beneficiary, new { type = "text", @class = "form-controls", oncopy = "return false", onpaste = "return false", Readonly = "Readonly", @style = "background-color: #eee;" })
        </div>
        @*<div class="col-md-1" style="width:20%">
            @Html.Label("Details", new { @class = "lbl-font" }) <br />
            <button type='button' onclick='return GetPaymodewindow()' class='deleteclass' id="btnPaymodeadjustment"><i class='fa fa-eye' aria-hidden='true'></i></button>
        </div>*@
    </div>

    <div class="row" style="margin-top:0.5%;">
        <div class="col-md-2" id="CrAccountno">
            @Html.Label("Refrence No", new { @class = "lbl-font" })
            @Html.TextBoxFor(m => m.AccountNo, new { type = "text", @class = "form-controls", oncopy = "return false", onpaste = "return false", Readonly = "Readonly", @style = "background-color: #eee;" })
        </div>
        <div class="col-md-2" id="CrGL" style="display:none">
            @Html.Label("Refrence No", new { style = "" })
            @(Html.Kendo().DropDownList()
               .Name("Glid")
               .DataTextField("GlName")
               .DataValueField("Glid")
               .Filter("contains")
               .MinLength(3)
               .Events(e => e.Change("onChange_SusGL").DataBound("onDataBound_Common"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetCrDropDown", "Supplierinvoice").Data("GetGL_Sus_Filter"); }).ServerFiltering(true);
               }))

        </div>
        <div class="col-md-2">
            @Html.Label("Credit Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(m => m.CreditAmt, new { type = "number", min = "1", max = "999999999", @class = "form-controls", oncopy = "return false", onpaste = "return false" })
        </div>
        @*<div class="col-md-2">
            @Html.Label("Pay Bank", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
               .Name("Bankid")
               .DataTextField("BankName")
               .DataValueField("Bankid")
               .Filter("contains")
                    //.Events(e => e.Change("onChange_Paymode"))
               .HtmlAttributes(new { @style = "width: 113%;", oncopy = "return false", onpaste = "return false" })
               .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetCrDropDown", "Supplierinvoice").Data("GetPaybank"); });
               }))
        </div>*@
    </div>

    <div class="row" style="margin-top:0.5%;">
        <div class="col-md-10">
            @Html.Label("Credit Description", new { @class = "lbl-font" })
            @Html.TextAreaFor(m => m.CreditDesc, new { @class = "form-controls", @style = "min-width: 66%;" })
        </div>
    </div>
</div>