﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.PhysicalDespatch_Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .lbl-font {
            font-weight: normal;
        }

        .form-control {
            height: 30px !important;
        }

        .k-state-disabled {
            background: #efefef;
        }

        a.k-button.k-button-icontext.k-grid-Tax {
            height: 30px;
            margin-top: 15px;
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;height:32px;">
                <p style="text-align:center;color:#fff;font:bold;padding-top:3px"> Physical Despatch</p>
            </div>
            <div class="row mt-1">
                <div class="col-md-12 table-responsive" style="text-align:right;padding-left:8px">
                    <button type="button" class="btn-primary" onclick="Despatched_EcfDetails()" style="text-align:right;padding-left:25px;"> Despatched </button>
                </div>
                <div class="col-md-12 table-responsive">


                    <div>
                        @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.PhysicalDespatch_Model>().Name("KgridPhysicalDespatch1")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.ecfID).Title("ID").Width(50).Hidden();
                                    columns.Bound(m => m.ecfNumber).Title("Ref No.").Width(80);
                                    columns.Bound(m => m.ecfSubType).Title("Type / Sub Type").Width(80);
                                    columns.Bound(m => m.raiserName).Title("Raiser ID / Name").Width(80);
                                    columns.Bound(m => m.supplierName).Title("Supplier ID / Name").Width(80);
                                    columns.Bound(m => m.ecfStatus).Title("Status").Width(40);
                                    columns.Bound(m => m.ecfAmount).Title("Amount").Width(40).HtmlAttributes(new { style = "text-align:right;" });
                                    //columns.Bound(m => m.ecfSelectedId).ClientTemplate("<input type='checkbox' #= ecfSelectedId == true ? checked='checked' : '' # />").Width(40); ;
                                    columns.Bound(m => m.ecfSelectedId).Title("Select").Template(@<text></text>).ClientTemplate("<input type='checkbox' #= ecfSelectedId ? checked='checked':'' # class='chkbx' />").Width(40);
                                    columns.Bound(m => m.raiserID).Title("Raiser Gid").Hidden();


                                    columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action(" ", " ") + "/#= ecfID #'" + "> Print </a>").Title("Action").Width(50);
                                    // columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return View_ECF()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Action").Width(50);
                                })
                                         .Pageable(pageable => pageable
                                                    .Refresh(true)
                                                    .PageSizes(new List<object> { 10, 15, 20, 25, 50, 100 })
                                                    .ButtonCount(5))
                                         .Filterable()
                                         .Sortable()
                                         .Scrollable(s => s.Enabled(true).Height("auto"))
                                         .Resizable(resize => resize.Columns(true))
                                         .DataSource(dataSource => dataSource
                                         .Ajax()
                                         .PageSize(10)
                                             //.Events(events => events.Error("error_handler"))
                                         .Model(model => model.Id(p => p.id))
                                         .Read(read => read.Action("ReadPhysicalDespatch", "PhysicalDespatch"))
                                         ))
                    </div>

                </div>
            </div>

        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-md-2">
                @Html.Label("Despatch Mode", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()

                       .Name("ecfDespatchModeID")
                       .DataTextField("ecfDespatchModeName")
                      .DataValueField("ecfDespatchModeID")
                                      .Filter("contains")
                                      .Events(e => e.DataBound("onDataBound_Type"))
                                      .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                                      .DataSource(source =>
                                      {
                                          source.Read(read => { read.Action("Get_DespatchMode", "PhysicalDespatch"); });
                                      }))
                @*@Html.ValidationMessageFor(model => model.TranId)*@
            </div>
            <div class="col-sm-2">
                @Html.Label("Despatch Date", new { @class = "lbl-font" })
                @(Html.Kendo().DatePicker()
                    .Name("ecfDespatchDate")
                    .Min(DateTime.Today)
                    .Format("dd-MM-yyyy")

                  .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control", @placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(event)" }))
            </div>
            <div class="col-sm-2">

                @Html.Label("AWB No", new { @class = "lbl-font" })
                <input id="txtAWB" type="text" title="AWB No." value="" class="form-control" />
            </div>
            <div class="col-sm-2">
                <br />
                <button type="button" name="UpdateDespatch" id="btnUpdate" class="btn btn-success" onclick="return SaveEcfDespatchDetails()"> &nbsp;Update</button>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row mt-1 top" style="margin-top:2px;">
                <div class="col-md-12" style="background-color:#245988;height:32px;">

                    <p style="text-align:center;color:#fff;font:bold;padding-top:3px"> Despatched Details </p>
                </div>

                <div class="row mt-1">

                    <div class="col-md-12 table-responsive">


                        @*<div id="div_ecfdes" hidden="hidden">*@
                        @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.PhysicalDespatch_Model>().Name("KgridPhysicalDespatch2")
                                    .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(m => m.ecfID).Title("ID").Width(50).Hidden();
                                        columns.Bound(m => m.ecfNumber).Title("Ref No.").Width(80);
                                        columns.Bound(m => m.ecfSubType).Title("Type / Sub Type").Width(80);
                                        columns.Bound(m => m.raiserName).Title("Raiser ID / Name").Width(80);
                                        columns.Bound(m => m.supplierName).Title("Supplier ID / Name").Width(80);
                                        columns.Bound(m => m.ecfStatus).Title("Status").Width(40);
                                        columns.Bound(m => m.ecfAmount).Title("Amount").Width(40).HtmlAttributes(new { style = "text-align:right;" });
                                        columns.Bound(m => m.ecfDespatchModeName).Title("Despatch Mode").Width(80);
                                        columns.Bound(m => m.ecfDespatchDate).Title("Despatch Date").Width(80);
                                        columns.Bound(m => m.despatchEWBNumber).Title("AWB No.").Width(80);
                                        //columns.Bound(m => m.ecfSelectedId).ClientTemplate("<input type='checkbox' #= ecfSelectedId == true ? checked='checked' : '' # />").Width(40); ;

                                        columns.Bound(m => m.raiserID).Title("Raiser Gid").Hidden();


                                        //columns.Template(@<text></text>).ClientTemplate("<a style = 'color:blue;cursor:pointer' href='" + Url.Action(" ", " ") + "/#= id #'" + ">#= Action #</a>").Title("Action").Width(50);
                                        columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return View_ECFDespatched()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Action").Width(50);
                                    })
                                     .Pageable(pageable => pageable
                                                .Refresh(true)
                                                .PageSizes(new List<object> { 10, 15, 20, 25, 50, 100 })
                                                .ButtonCount(5))
                                     .Filterable()
                                     .Sortable()
                                     .Scrollable(s => s.Enabled(true).Height("auto"))
                                     .Resizable(resize => resize.Columns(true))
                                     .DataSource(dataSource => dataSource
                                     .Ajax()
                                     .PageSize(10)
                                         //.Events(events => events.Error("error_handler"))
                                     .Model(model => model.Id(p => p.id))
                                             .Read(read => read.Action("GetPhysicalDespatched", "PhysicalDespatch"))
                                     ))
                        @*</div>*@

                    </div>
                </div>

            </div>
        </div>

    </div>



</body>
</html>


<script type="text/javascript">
    var LoginID = '@Html.Raw(Json.Encode(Model.loginUserID))';
    function View_ECF() {
        debugger;
        var grid = $("#KgridPhysicalDespatch1").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.ecfSubType.toLowerCase();
        var BatchGID = model.batchID;
        var EcfGID = model.ecfID;
        var RaiserGID = model.raiserID;
        var ClaimStatus = model.ecfStatus;
        if (ClaimType == 'claim') {
            //window.location.href = '~/EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
            window.location.href = '@Url.Action("Claim", "Claim", new { BatchGID = "BatchGID", EcfGID = "EcfGID",  ClaimStatus = "ClaimStatus" })';
        }
        else if (ClaimType == 'invoice') {
            //window.location.href = '~/EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
            window.location.href = '@Url.Action("SupplierinvoiceDetails", "SupplierInvoice", new { BatchGID = "BatchGID", EcfGID = "EcfGID", RaiserGID="RaiserGID",ClaimStatus="ClaimStatus"})';
        }
        else if (ClaimType == 'advance') {
            //window.location.href = '~/EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
            window.location.href = '@Url.Action("AdvanceRequisition", "AdvanceRequisition", new { BatchGID = "BatchGID", EcfGID = "EcfGID" , PageStatus = "ClaimStatus" })';
        }
    }


    function onDataBound_Type() {
        debugger;
        $("#ecfDespatchModeID").data("kendoDropDownList").select(0);
        //$("#HDR_Type_Gid").data("kendoDropDownList").trigger("change");
    }

    function View_ECFDespatched() {
        debugger;
        var grid = $("#KgridPhysicalDespatch2").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.ecfSubType.toLowerCase();
        var BatchGID = model.batchID;
        var EcfGID = model.ecfID;
        var RaiserGID = model.raiserID;
        var ClaimStatus = model.ecfStatus;
        if (ClaimType == 'claim') {
            //window.location.href = '~/EOW/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
            window.location.href = '@Url.Action("Claim", "Claim", new { BatchGID = "BatchGID", EcfGID = "EcfGID",  ClaimStatus = "ClaimStatus" })';
        }
        else if (ClaimType == 'invoice') {
          //  window.location.href = '~/EOW/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
            window.location.href = '@Url.Action("SupplierinvoiceDetails", "SupplierInvoice", new { BatchGID = "BatchGID", EcfGID = "EcfGID", RaiserGID="RaiserGID",ClaimStatus="ClaimStatus"})';


        }
        else if (ClaimType == 'advance') {
           // window.location.href = '~/EOW/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
            window.location.href = '@Url.Action("AdvanceRequisition", "AdvanceRequisition", new { BatchGID = "BatchGID", EcfGID = "EcfGID" , PageStatus = "ClaimStatus" })';

        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }


    function Despatched_EcfDetails() {
       // $("#div_ecfdes").show();
        $("#KgridPhysicalDespatch2").data("kendoGrid").dataSource.read();
    }


    function SaveEcfDespatchDetails()
    {
        debugger;
        //var grid = $("#kendgrid_Proxy").data("kendoGrid");
        //var model = grid.dataItem($(event.target).closest("tr"));


        var grid = $("#KgridPhysicalDespatch1").data("kendoGrid");
        var checkedrows = $(".chkbx:checked", grid.tbody).closest("tr");
        if (checkedrows.length == 0) {
            $.alert({
                title: 'IEM Product',
                content: 'Select atleast one record!',
                type: 'blue',
            });
            return false;
        }

        if ($("#ecfDespatchDate").val() == '' || $("#txtAWB").val() == '' || $("#ecfDespatchModeID").val() == 0) {

            $.alert({
                title: 'IEM Product',
                content: 'Ensure Despatch Mode  and \n Despatch Date and \n AWB No.!',
                type: 'blue',
            });
            return false;

        }

        var Attribid = [];
        var Attribid1;
        for (var i = 0; i < checkedrows.length; i++) {
            var item = grid.dataItem(checkedrows[i]);
            //alert(item.ecfID);
            var GridID = item.ecfID;
            Attribid.push(GridID);
        }
        Attribid1 = Attribid.join(",");

        var modelobj = {};
        modelobj.actionType = 'Save';
        modelobj.ecfSelectedList = Attribid1;
        modelobj.ecfDespatchModeID = $("#ecfDespatchModeID").val();
        modelobj.ecfDespatchDate = $("#ecfDespatchDate").val();
        modelobj.despatchEWBNumber = $("#txtAWB").val();
        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("Save_EcfDespatchedList", "PhysicalDespatch")',
            data: '{objModel: ' + JSON.stringify(modelobj) + '}',
            success: function (result) {
                debugger;
                var message = JSON.parse(result);
                if (message[0].Clear == 1) {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        referesh();
                        @*window.location.href = '@Url.Action("PhysicalDespatch", "../PhysicalDespatch")'*@
                    }, 2000);
                }
                else {
                    if (message[0].Msg == 'errortable') {
                        $.dialog({
                            icon: 'fa fa-success',
                            title: 'IEM',
                            content: message[0].Error_ecfno + '-' + message[0].Error_description,
                            type: 'blue',
                        });
                    }
                    else {
                        $.dialog({
                            icon: 'fa fa-success',
                            title: 'IEM',
                            content: message[0].Msg,
                            type: 'blue',
                        });
                    }
                }
            }
        });

    }

    function referesh()
    {
        $("#KgridPhysicalDespatch1").data("kendoGrid").dataSource.read();
        $("#KgridPhysicalDespatch2").data("kendoGrid").dataSource.read();
        $("#ecfDespatchModeID").data("kendoDropDownList").select(0);
        $("#ecfDespatchDate").val('');
        $("#txtAWB").val('');
    }


</script>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;

        return true;
    }

</script>
