﻿<style>
    .checkbox, .radio {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 4px;
        line-height: 1.42857143;
        vertical-align: top;
    }
</style>
@if (ViewBag.ParentAttributes != null)
{
    <table class="table table-striped table-bordered table-responsive" style="border:inset;margin-bottom: 0px;">
        <tbody>

            @foreach (var item in ViewBag.ParentAttributes)
            {
                <tr>
                    <td>
                        <div class="checkbox">
                            <label class="hd-txt">
                                @*<input type="checkbox" class="chkParent" value="@item.Attr_Parent_Gid" onclick="return ShowRecords()">*@
                                @item.Attr_Parent_Name
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            @foreach (var itemchd in item.lst_child)
                            {
                                if (@item.Attr_Parent_Gid == @itemchd.Attr_Child_ParentGid)
                                {
                                    <label class="hd-txt">
                                        <input type="checkbox" class="chkChild" value="@itemchd.Attr_Child_Gid" onclick="return ShowRecords()">@itemchd.Attr_Child_Name
                                    </label>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}