﻿@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.WorkFlow_Model

<div class="row mt-1" style="margin-left:2px;">
    <div class="col-md-3">
        <label>Type</label>
        @(Html.Kendo().DropDownList()
                  .Name("Type_Code")
                  .DataTextField("Type_Name")
                  .DataValueField("Type_Code")
                  .Events(e => e.Change("onChange_Type"))
                  .HtmlAttributes(new { @style = "width: 100%;" })
                  .DataSource(source =>
                  {
                      source.Read(read => { read.Action("Read_Type", "WorkFlow", new { Master = "Type", Depend_Code = "0" }); });
                  }))
    </div>
    <div class="col-md-3">
        <label>Sub Type</label>
        @(Html.Kendo().MultiSelectFor(m => m.SubType_Code)
                  .Name("SubType_Code")
                  .DataTextField("SubType_Name")
                  .DataValueField("SubType_Code")
                  .Placeholder("- Select -")
                  .AutoBind(false)
                  .AutoClose(false)
                  .Filter("contains")
                  .Events(e => e.Change("onChange_SubType"))
                  .HtmlAttributes(new { @style = "width: 100%;height:30px;" })
                  .DataSource(source =>
                  {
                      source.Read(read => { read.Action("Read_Type", "WorkFlow").Data("GetTypeCode"); });
                  }))
    </div>
    <div class="col-md-3">
        <label>Attributes</label>
        @*<div id="Attributepartialview" style="width: 690px;"></div>*@
        <div id="Attributepartialview" style="width: 510px;"></div>
    </div>
    @Html.HiddenFor(model => model.HDN_Type)
    @Html.HiddenFor(model => model.HDN_SubType)
    @Html.HiddenFor(model => model.workflow_id)
</div>
<div style="height:5px"></div>
<div class="row"><button type="button" class="btn btn-primary" style="margin-left: 2.7%;" onclick="return Update_Headers();">Update Header</button></div>
<div class="row" style="margin-left:2px;">
    <div class="col-md-12">
        @using (Html.BeginForm("WorkFlow", "WorkFlow", FormMethod.Post, new { @id = "Form_WorkFlow", @style = "width:97%;" }))
        {
            @(Html.Kendo().Grid<DBHelper.WorkFlow_Model>().Name("KendGrid_WorkFlow")
                     .HtmlAttributes(new { @style = "width:100%;line-height:2em;font-weight:normal;height: 347px" })
                      .ToolBar(toolbar => toolbar.Create().Text(""))
                      .Columns(columns =>
                        {
                            columns.Bound(m => m.WorkFlow_Gid).Title("WorkFlow Gid").Hidden().Width(150);
                            columns.Bound(m => m.RoleFrom_Name).Title("Role From").Width(150);
                            columns.Bound(m => m.Action_Name).Title("Action").Width(150);
                            columns.Bound(m => m.Status_Name).Title("Status").Width(150);
                            columns.Bound(m => m.RoleTo_Name).Title("Role To").Width(150);
                            columns.Bound(m => m.TimeOut).Title("Time Out(Days)").Width(150);
                            columns.Bound(m => m.TimeOut_RoleTo_Name).Title("Role To").Width(150);
                            columns.Bound(m => m.Additional).Title("Additional").Width(150);
                            columns.Bound(m => m.HDN_Type).Hidden();
                            columns.Bound(m => m.HDN_SubType).Hidden();
                            columns.Command(cmd =>
                            {
                                cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("myDeleteJs");
                            }).Title("Action").Width(80);
                            //columns.Command(cmd => { cmd.Edit().CancelText(" ").UpdateText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(110);
                            //columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                        })
                        .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                        .Model(model => model.Id(p => p.WorkFlow_Gid))
                        .PageSize(10)
                        .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                        .Read(read => read.Action("Read_WorkFlow_New", "WorkFlow").Data("GetGridDetails"))
                        .Create(Create => Create.Action("Save_WorkFlow", "WorkFlow").Data("Get_Type_SubType_Attributes"))
                        .Update(update => update.Action("Update_WorkFlow", "WorkFlow").Data("Get_Type_SubType_Attributes"))
                        ))
        }
    </div>
</div>


<script>


    function Update_Headers() {
        debugger;
        if ($("#Type_Code").val() == "0" || $("#Type_Code").val() == null || $("#Type_Code").val() == "" || $("#Type_Code").val() == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the Type.!',
                type: 'blue',
            });
            return false;
        }

        if ($("#SubType_Code").val() == null || $("#SubType_Code").val() == "" || $("#SubType_Code").val() == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the SubType.!',
                type: 'blue',
            });
            return false;
        }

        var checkedchild = $('.chkChild:checkbox:checked').map(function () {
            return this.value;
        }).get();

        if (checkedchild.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the attributes.!',
                type: 'blue',
            });
            return false;
        }
        var objwfmodel = {};
        objwfmodel.workflow_action = "Header";
        objwfmodel.workflow_id = $("#workflow_id").val();
        objwfmodel.workflow_typecode = $("#Type_Code").val();
        objwfmodel.workflow_subtypecode = $("#SubType_Code").val().join(',');
        objwfmodel.workflow_attrib_childid = checkedchild.join(',');

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: '@Url.Action("UpdateHeaderDetails", "WorkFlow")',
            data: '{objmodel: ' + JSON.stringify(objwfmodel) + '}',
            success: function (data) {
                debugger;
                var Result = JSON.parse(data);
                if (Result[0].clear == "1") {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: Result[0].Msg,
                        type: 'green',
                        animationSpeed: 700,
                    });
                    //setTimeout(function () {
                    //    grid.dataSource.read();
                    //}, 2000);
                    $("#workflow_id").val(Result[0].WorkFlow_Id).trigger("change");
                }
                else {
                    $.dialog({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: Result[0].Msg,
                        type: 'green',
                        animationSpeed: 700,
                    });
                }
            },
        });

    }

    function Get_Type_SubType_Attributes(e) {
        debugger;
        //var Type_ = $("#HDN_Type").val();
        //var SbuType_ = $("#HDN_SubType").val();
        //var AttributeParent_ = $('.chkParent:checkbox:checked').map(function () {
        //    return this.value;
        //}).get();
        //var AttributeChild_ = $('.chkChild:checkbox:checked').map(function () {
        //    return this.value;
        //}).get();

        var workflowheader_gid = $("#workflow_id").val();
        return { workflowheader_gid: workflowheader_gid }
    }

    $('.k-grid-add').click(function (e) {
        debugger;

        if ($("#Type_Code").val() == "0" || $("#Type_Code").val() == null || $("#Type_Code").val() == "" || $("#Type_Code").val() == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the Type.!',
                type: 'blue',
            });
            return false;
        }

        if ($("#SubType_Code").val() == null || $("#SubType_Code").val() == "" || $("#SubType_Code").val() == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the SubType.!',
                type: 'blue',
            });
            return false;
        }

        var checkedparent = $('.chkChild:checkbox:checked').map(function () {
            return this.value;
        }).get();

        if (checkedparent.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the attributes.!',
                type: 'blue',
            });
            return false;
        }
        return true;
    });

    function ShowRecords() {
        debugger;
        if ($("#SubType_Code").val() == null || $("#SubType_Code").val() == "" || $("#SubType_Code").val() == undefined) {
            $.dialog({
                title: 'IEM',
                content: 'Please select the SubType.!',
                type: 'blue',
            });
            return false;
        }
        else {
            //var workflow_grid = $("#KendGrid_WorkFlow").data("kendoGrid");
            //workflow_grid.dataSource.data([]);
            //workflow_grid.dataSource.read();
        }
    }

    $(document).ready(function () {
        debugger;
        $('#KendGrid_WorkFlow .k-button').css('background', '#255988');
        var grid = $("#KendGrid_WorkFlow").data("kendoGrid");
        var multiselect = $("#SubType_Code").data("kendoMultiSelect");
        multiselect.enable(false);
        multiselect.dataSource.filter({});

        grid.bind('dataBound', function (e) {
            this.element.find('.k-edit').remove();
        })

    });

    function GetGridDetails(e) {
        debugger;

        // window._gridXHR.abort();
        //var Type_ = $("#HDN_Type").val(); Type_Code
        //var SbuType_ = $("#HDN_SubType").val();

        //var Type_ = $("#Type_Code").val();
        //var SubType_ = $("#SubType_Code").val();
        //if (SubType_ != null && SubType_ != undefined) {
        //    SubType_ = SubType_.join(',');
        //}
        //else {
        //    SubType_ = "";
        //}
        //var AttributeParent_ = $('.chkParent:checkbox:checked').map(function () {
        //    return this.value;
        //}).get();
        //var AttributeChild_ = $('.chkChild:checkbox:checked').map(function () {
        //    return this.value;
        //}).get();
        var workflowGid = $("#workflow_id").val();
        return { Master: 'WorkFlow', Depend_Code: workflowGid, TypeCode: '0', SubTypeCode: '0', AttributeParent: '0', AttributeChild: '0' }
    }

    function GetTypeCode() {
        debugger;
        var DependCode = $("#Type_Code").val();
        return { Master: 'SubType', Depend_Code: DependCode }
    }

    function onChange_Type() {
        debugger;
        $("#Attributepartialview").load("../WorkFlow/Show_Attribute_PartialView_ForWorkFlow", { 'Type_Code': $("#Type_Code").val() });
        var multiselect = $("#SubType_Code").data("kendoMultiSelect");
        multiselect.dataSource.read();
        multiselect.enable(true);
        $("#KendGrid_WorkFlow").data('kendoGrid').dataSource.data([]);
        //$("#KendGrid_WorkFlow").data("kendoGrid").dataSource.read();
    }

    function onChange_SubType() {
        debugger;
        var SubType = "";
        $("#HDN_Type").val('');
        $("#HDN_SubType").val('');
        $("#HDN_Type").val($("#Type_Code").val()).trigger("change");
        SubType = $("#SubType_Code").data("kendoMultiSelect").value();
        $("#HDN_SubType").val(SubType.join(",")).trigger("change");
        //var workflow_grid = $("#KendGrid_WorkFlow").data("kendoGrid");
        //workflow_grid.dataSource.data([]);
        //workflow_grid.dataSource.read();
    }

    function onRequestEnd(e) { //runs once the server operations is end.
        debugger;
        var message = "";
        //Check request type
        if (e.type == "create") {
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                message = JSON.parse(e.response);
                if (message[0].Clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#KendGrid_WorkFlow").data("kendoGrid").dataSource.read();
                        // window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#KendGrid_WorkFlow").data("kendoGrid").dataSource.read();
                }
                //keep the grid in edit-mode
                var grid = $("#KendGrid_WorkFlow").data("kendoGrid");
                grid.one("dataBinding", function (e) {
                    e.preventDefault();
                });
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                message = JSON.parse(e.response);
                if (message[0].Clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#KendGrid_WorkFlow").data("kendoGrid").dataSource.read();
                        //window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#KendGrid_WorkFlow").data("kendoGrid").dataSource.read();
                }
                //keep the grid in edit-mode
                var grid = $("#KendGrid_WorkFlow").data("kendoGrid");
                grid.one("dataBinding", function (e) {
                    e.preventDefault();
                });
            }
        }
    }

    function myDeleteJs() {
        debugger;
        var grid = $("#KendGrid_WorkFlow").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Master_Gid = (model.WorkFlow_Gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Remove_WorkFlow", "WorkFlow")',
                        data: "{ Master_Gid:'" + Master_Gid + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].Clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

    function error_handler(e) {
        debugger;
        e.preventDefault();
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM',
                content: message,
                type: 'blue',
            });
        }
    }

    //$(document).ajaxSend(function (event, jqXHR, ajaxOptions) {
    //    debugger;
    //    if (ajaxOptions.url == "Path/To/Read_WorkFlow") {
    //        window._gridXHR = jqXHR;
    //    }
    //});

    // window._gridXHR.abort();
    // var currentRequests = {};

    //$.ajaxPrefilter(function (options, originalOptions, jqXHR) {
    //    debugger;
    //    if (currentRequests[options.url]) {
    //        currentRequests[options.url].abort();
    //    }
    //    currentRequests[options.url] = jqXHR;
    //});
</script>
