﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.WorkFlow_Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .k-grid .k-button {
            background: #ffffff;
            border:#ffffff;
            background-color:wheat;
        }
    </style>
</head>

<body>

    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:white;">Workflow Details</p>
        </div>
    </div>
    <div class="row mt-1" style="margin-left:2px;">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" onclick="return Create_WorkFlow();">Create</button>
        </div>
        <div class="col-md-12">
            @(Html.Kendo().Grid<DBHelper.WorkFlow_Model>().Name("Kgrid_WorkFlowSummery")
                .HtmlAttributes(new { @style = "width:99%;line-height:2em;font-weight:normal;height: 550px !important;" })
                .Columns(columns =>
                {
                    columns.Bound(m => m.workflow_id).Title("WorkFlow Gid").Hidden();
                    columns.Bound(m => m.workflow_typename).Title("Type").Width(80);
                    columns.Bound(m => m.workflow_subtypename).Title("Sub Type").Width(150);
                    columns.Bound(m => m.workflow_attrib_parentname).Title("Attribute Parent").Width(100);
                    columns.Bound(m => m.workflow_typecode).Title("Type Code").Hidden();
                    columns.Bound(m => m.workflow_subtypecode).Title("SubType Code").Hidden();
                    columns.Bound(m => m.workflow_attrib_parentid).Title("Attribute ParentID").Hidden();
                    columns.Bound(m => m.workflow_attrib_childid).Title("Attribute ChidID").Hidden();
                    columns.Bound(m => m.workflow_attrib_childname).Title("attribute ChildName").Hidden();
                    columns.Command(cmd =>
                    {
                        cmd.Custom("Edit").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>").Click("View_WorkFlow");
                        cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("Detete_Header");
                    }).Title("Action").Width(40);
                })
                .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5).PageSizes(new List<object> { 20, 25, 50, 100 }))
                .Filterable()
                .Sortable()
                .Scrollable(s => s.Enabled(true).Height("auto"))
                .Resizable(resize => resize.Columns(true))
                .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .Model(model => model.Id(p => p.workflow_id))
                .PageSize(25)
                .Events(events => events.Error("error_handler"))
                .Read(read => read.Action("Read_WorkFlow_Summery", "WorkFlow", new { Master = "WorkFlowSummery", Depend_Code = "0", TypeCode = "0", SubTypeCode = "0", AttributeParent = "0", AttributeChild = "0" }))
            ))
        </div>
    </div>
    @(Html.Kendo().Window()
            .Name("kwindow_workflow")
            .Title("Access Privileges") //set the title of the window
            .Content(@<text> @Html.Partial("WorkFlowAction_PartialView") </text>)
            .Draggable()
            .Resizable()
            .Width(1200)
            .Height(550)
            .Events(ev => ev.Close("Reload"))
            .Modal(true)
            .Scrollable(false)
            .Visible(false))
</body>
</html>

<script type="text/javascript">
    function Reload() {
        window.location.reload(1);
    }

    function View_WorkFlow() {
        debugger;
        var window = $("#kwindow_workflow").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();
        var grid = $("#Kgrid_WorkFlowSummery").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));

        var ddtype = $("#Type_Code").data("kendoDropDownList");
        ddtype.value(model.workflow_typecode);
        ddtype.trigger("change");
        ddtype.enable(false)

        $("#workflow_id").val(model.workflow_id)
        setTimeout(function () {
            debugger;
            var filedsarray = model.workflow_attrib_childid.split(',');
            var arrayValues = filedsarray;
            $.each(arrayValues, function (i, val) {
                $("input[value='" + val + "']").prop('checked', true);
                //$("#chk_" + val).prop('checked', true);
            });

            var dmsubtype = $("#SubType_Code").data("kendoMultiSelect");
            var arrtype = model.workflow_subtypecode;
            dmsubtype.value(arrtype.split(','));
            //dmsubtype.trigger("change");

            $("#KendGrid_WorkFlow").data("kendoGrid").dataSource.read();
        }, 2000);
    }

    function Detete_Header() {
        debugger;
        var gridheader = $("#Kgrid_WorkFlowSummery").data("kendoGrid");
        var modelheader = gridheader.dataItem($(event.target).closest("tr"));
        //var Master_Gid = (modelheader.WorkFlow_Gid);

        var objwfhmodel = {};
        objwfhmodel.workflow_action = "Delete";
        objwfhmodel.workflow_id = modelheader.workflow_id;
        objwfhmodel.workflow_typecode = "";
        objwfhmodel.workflow_subtypecode = "";
        objwfhmodel.workflow_attrib_childid = "";

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("UpdateHeaderDetails", "WorkFlow")',
                        data: '{objmodel: ' + JSON.stringify(objwfhmodel) + '}',
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            gridheader.dataSource.read();
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

    function Create_WorkFlow() {
        debugger;
        var window = $("#kwindow_workflow").data("kendoWindow"); //get the Window widget's instance
        window.open();  //and call its open method
        window.center();

        var workflowid = 0;
        $("#workflow_id").val(workflowid);
    }

    function error_handler(e) {
        debugger;
        e.preventDefault();
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM',
                content: message,
                type: 'blue',
            });
        }
    }
</script>