﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.SubCategory_Model

    <html lang="en">

    <body>
        <div class="container-fluid">
            <div class="row mt-1 top" style="margin-top:2px;">
                <div class="col-md-12" style="background-color:#245988;">
                    <p style="text-align:center;color:#fff;">Transaction Details</p>
                </div>
            </div>
            <div class="container-fluid" style="margin-top:5px;">

                <div class="row mt-1">
                    <div class="col-md-12 table-responsive">

                        @using (Html.BeginForm("SubCategory", "SubCategory", FormMethod.Post, new { @id = "form1" }))
                        {
                            <div>
                                @(Html.Kendo().Grid<DBHelper.SubCategory_Model>().Name("KgridSubCategorydml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.expsubcat_gid).Width(20).Title("Master ID").Hidden();
                                    columns.Bound(m => m.NatureOfExpense).Width(80).Title("Nature Of Expense").Width(160);
                                    columns.Bound(m => m.expcategory).Width(80).Title("Expense Category").Width(160);
                                    columns.Bound(m => m.paybank_gl_no).Width(80).Title("GL NO").Width(160);
                                    columns.Bound(m => m.expsubcat_code).Width(83).Title("Sub Category Code").Width(160);
                                    columns.Bound(m => m.expsubcat_name).Width(120).Title("Sub Category Name").Width(160);
                                    columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(80);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()'><i class='fa fa-trash-o' aria-hidden='true'></i></button>").Width(80).Title("Delete");
                                })

                            .Editable(editable =>
                             { editable.Mode(GridEditMode.InLine); })


                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.expsubcat_gid);

                                })
                             .PageSize(5)

                                     .Events(events => events.Error("error_handler"))

                            .Model(model => model.Id(p => p.expsubcat_gid))
                             .Create(Create => Create.Action("SaveGrid", "SubCategory"))
                               .Read(read => read.Action("ReadGrid", "SubCategory"))
                             .Update(update => update.Action("UpdateGrid", "SubCategory"))
                             ))
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>



<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;

        $("#KgridSubCategorydml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridSubCategorydml").data("kendoGrid");

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })

    function onChangeNatureOFExpense() {
        debugger;
        var TranId = this.value();

        var parentcode = "QCD_Natureofexpense"
        if (TranId == "" || TranId == null || TranId == "undefined" || TranId == 0) {
            return false;
        }
        else {
            $.getJSON("GetExpenseCatValues/SubCategory?TranId=" + TranId + "&parentcode=" + parentcode, function (data) {
                debugger;
                var SubType = data;
                $("#expsubcat_expcat_masters_gid").data("kendoDropDownList").dataSource.data(SubType);


            });
        }
    }

    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }


    function myDeleteJs() {
        debugger;
        var grid = $("#KgridSubCategorydml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var expsubcat_gid = (model.expsubcat_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "SubCategory")',
                        data: "{ expsubcat_gid:'" + expsubcat_gid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

</script>

