﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DataAccessHandler.Models.IEMProduct.Delegation_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 50%;
        font-weight: normal;
    }
</style>
<div>
    <table>
        <tr>
   


            <td>@Html.Label("Module", new { style = "width:80px;font-weight: normal;margin-left:12%;" })</td>
            <td>
                @(Html.Kendo().DropDownList()
                                              .Name("delegate_delmattypeid")
                                              .DataTextField("delegate_delmattype")
                                              .DataValueField("delegate_delmattypeid")
                              .HtmlAttributes(new { style = "height:25px;width: 175px;font-weight:normal;margin-left: 2%;" })
                                                                                      .DataSource(source => { source.Read(read => { read.Action("GetDelmatType", "Delegation", new { parentcode = "QCD_Module" }); }).ServerFiltering(true); }))

            </td>


            @Html.HiddenFor(model => model.delegate_by)




            <td>@Html.Label("Role", new { style = "width:80px;font-weight: normal;margin-left: 11%; " })</td>
            <td>


                @(Html.Kendo().MultiSelectFor(m => m.Roleid)
                       .Name("Roleid")
                          .DataTextField("Rolename")
                          .DataValueField("Roleid")
                  .Placeholder("Select...")
                  .AutoBind(false)
                  .Height(500)
                  .AutoClose(false)
                  .Filter("contains")
                  .HtmlAttributes(new { style = "width:150%;height:30px !important;", @class = "form-control" })
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("GetRoleType", "Delegation", new { parentcode = "QCD_WorkFlowRole" });
                      }).ServerFiltering(false);
                  }))
                @Html.HiddenFor(m => m.delegate_workflow_Role)


            </td>



            @*<td>@Html.Label("Delmat Flag", new { style = "width:80px;font-weight: normal;margin-left: 11%; " })</td>
            <td>@Html.TextBoxFor(model => model.delegate_delmat_flag, new { style = "height:25px;width: 175px;font-weight:normal;margin-left: 2%; " })</td>*@
        </tr>
        <tr style="height:20px"></tr>

        <tr>


            <td>@Html.Label("Assign To Name/ ID", new { style = "width:80px;font-weight: normal;margin-left:12%;" })</td>
            <td>
                @(Html.Kendo().DropDownList()
                            .Name("empid")
                            .DataTextField("empname")
                            .DataValueField("empid")
    .HtmlAttributes(new { style = "height:25px;width:175px;font-weight:normal;margin-left:1%;" })
                                                            .DataSource(source => { source.Read(read => { read.Action("GetEmpCodeName", "Delegation", new { flag = "Employee" }); }).ServerFiltering(true); }))

            </td>


            <td>@Html.Label("Date From", new { style = "width:101px;font-weight: normal;margin-left: 11%;" })</td>
            <td>
                @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                                .Name("delegate_period_from")
               .Value(Model.delegate_period_from)

                               .HtmlAttributes(new { style = "height:25px;width:178px;font-weight: normal;margin-left:1%", placeholder = "DD-MM-YYYY", onkeypress = "return isNumberKey(event)" }))     @*//onkeypress = "return ESTOnkeypress();"*@

                        </td>
          

 
        </tr>
        <tr style="height:20px"></tr>


        <tr>
           
                        <td>@Html.Label("Date To", new { style = "width:100px;font-weight: normal;margin-left:14%;" })</td>
                        <td>
                            @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                            .Name("delegate_period_to")
            .Value(Model.delegate_period_to)

                            .HtmlAttributes(new { style = "height:25px;width:178px;font-weight: normal;margin-left:1%;", placeholder = "DD-MM-YYYY", onkeypress = "return isNumberKey(event)" }))
                        </td>



            <td style="width:10%;">@Html.Label("Status", new { style = "font-weight: normal;width:100%;margin-left: 14%;" })</td>
            <td style="padding-left: 3%;">
                @Html.RadioButtonFor(m => m.delegate_active, "Y", new {    })
                <label for="Ongoing" style="font-weight: normal;">Yes</label>
                @Html.RadioButtonFor(m => m.delegate_active, "N", new {  })

                <label for="One_Time" style="font-weight: normal;">No</label>
                @Html.ValidationMessageFor(m => m.delegate_active, "", new { @class = "error" })
            </td>

                    </tr>
                    <tr style="height:20px"></tr>

                    <tr>
                      




                    </tr>

                </table>

                <table>

                    <tr style="height:20px"></tr>
                </table>


            </div>

