﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;

    @model DataAccessHandler.Models.FlexiSpend.Pullout_Model

    <!DOCTYPE html>

    <html>
    

    <body>
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;height:21px;">
                <p style="text-align:center;color:white;">Pullout</p>
            </div>
        </div>
        <div class="container-fluid">


            <div class="row" style="margin-top:10px;">

                <div class=" col-md-2">

                    @Html.Label("Ref No", new { @class = "lbl-font" })
                    @(Html.Kendo().DropDownList()
                                 .Name("Refid")
                                  .DataTextField("RefNo")
                                 .DataValueField("Refid")
                                 .HtmlAttributes(new { style = "width:100%;" })
                            //.Events(e => e.DataBound("onDataBound_SubType"))
                                .Filter("Contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("Read_EcfDropDownList", "Pullout"); });
                                }))

                </div>

                <div class="col-md-2">

                    @Html.Label("Raiser Code/ Name", new { @class = "lbl-font" })

                    @(Html.Kendo().DropDownList()
                                      .Name("EmpGid")
                                         .DataTextField("EmpName")
                                         .DataValueField("EmpGid")
                                         .HtmlAttributes(new { style = "width:100%;" })
                            //.Events(e => e.DataBound("onDataBound_SubType"))
                                .Filter("Contains")
                                 .AutoBind(false)
                                 .MinLength(3)
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("Read_EmpDropDownList", "Pullout").Data("basicFilter"); }).ServerFiltering(true);
                                }))
                </div>
                <div class="col-md-2">

                    @Html.Label("Amount", new { @class = "lbl-font" })

                    @*@Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })*@
                    @Html.TextBoxFor(m => m.Amount, new { type = "number", min = "1", max = "999999999", @class = "form-controles", oncopy = "return false", onpaste = "return false" })

                </div>
                <div class="col-md-2" style=" margin-top: 20px;"> 
                    <button type="submit" value="Upload" style="width:70%" onclick="GetEcfDetails()" class=" btn btn-primary ">
                        <i class="fa fa-search"></i> Search
                    </button>

                </div>
                <div class="col-md-2" style=" margin-top: 20px;">
                    <button type="submit" value="Upload" style="width:70%" onclick="OnClear()" class="btn btn-primary">
                                           
                        Clear
                    </button>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="margin-top:10px;">
                <div class=" col-md-12">
                    @using (Html.BeginForm("Pullout", "Pullout", FormMethod.Post, new { @id = "Form_Pullout" }))
                    {
                        @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.Pullout_Model>().Name("KendGrid_Pullout")
                                       .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })

                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EcfGid).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#= Refid #'  /> ").Title("Select").Width(60).Sortable(false).Filterable(false);
                                        columns.Bound(m => m.EcfGid).Title("Ref id").Hidden();
                                        columns.Bound(m => m.EcfDate).Title("Date").Width(80).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.RefNo).Title("Ref No").Width(120);
                                        columns.Bound(m => m.Type_SubType).Title("Type/Sub Type").Width(135);
                                        columns.Bound(m => m.EcfStatus).Title("Status").Width(90);
                                        columns.Bound(m => m.EcfAmount).Title("Amount").Width(100).HtmlAttributes(new { @Style = "text-align: right;" });
                                        columns.Bound(m => m.RaiserId_Name).Title("Raiser Code & Name").Width(160);
                                        columns.Bound(m => m.SupplierId_Name).Title("Supplier/Employee Code & Name").Width(180);
                                        columns.Bound(m => m.Attributes).Title("Attribute Details").Width(150);
                                        columns.Bound(m => m.Physical).Title("Physical").Width(95);
                                        columns.Bound(m => m.RecivedDate).Title("Received Date").Width(130).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.BatchNo).Title("Batch No").Width(100);
                                        columns.Bound(m => m.PulloutDate).Title("Pullout Date").Width(130).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.HandedOverTo).Title("Handed Over To").Width(130);

                                    })


                                      .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(5))
                                            .Filterable()
                                            .Sortable()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .ServerOperation(false)
                                            .Model(model => model.Id(p => p.EcfGid))
                                            .PageSize(10)
                                                //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                            .Read(read => read.Action("Read_Pullout", "Pullout").Data("GetAction"))
                                    ))
                    }
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="margin-top:0.3%;">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-sm-2">
                    @Html.Label("Pullout Date", new { @class = "lbl-font" })
                    @(Html.Kendo().DatePicker()
                          .Name("PulloutDate_entry")
                            //.Value(Model.PulloutDate_entry)
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @placeholder = "DD-MM-YYYY", @style = "width: 100%;", onkeypress = "return IsDateKey(event)" }))
                </div>
                <div class="col-md-2">

                    @Html.Label("Handed Over To", new { @class = "lbl-font" })

                    @(Html.Kendo().DropDownList()
                                              .Name("HandedEmpId")
                                                 .DataTextField("HandedEmpName")
                                                 .DataValueField("HandedEmpId")
                                         .HtmlAttributes(new { style = "width:100%;" })
                            //.Events(e => e.DataBound("onDataBound_SubType"))
                                .Filter("Contains")
                                         .AutoBind(false)
                                         .MinLength(3)
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("Read_HandedDropDownList", "Pullout").Data("basicFilter"); }).ServerFiltering(true);
                                }))
                </div>
                <div class="col-md-2" style=" margin-top: 21px;">
                    <button type="submit" value="Upload" style="width:70%" onclick="Update()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-saved" style="color:white; font-size:12px;"></span> Update</button>

                </div>

            </div>
        </div>
       
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;height:21px;margin-top: 7px;">
                <p style="text-align:center;color:white;">Interfiling of Pullouts</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="margin-top:10px;">
                <div class=" col-md-12">
                    @using (Html.BeginForm("Pullout", "Pullout", FormMethod.Post, new { @id = "Form_PulloutInterfiling" }))
                    {
                        @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.Pullout_Model>().Name("KendGrid_Interfiling")
                                        .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })

                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EcfGid).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#= Refid #'  /> ").Title("Select").Width(60).Sortable(false).Filterable(false);
                                        columns.Bound(m => m.EcfGid).Title("Ref id").Hidden();
                                        columns.Bound(m => m.EcfDate).Title("Date").Width(80).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.RefNo).Title("Ref No").Width(120);
                                        columns.Bound(m => m.Type_SubType).Title("Type/Sub Type").Width(135);
                                        columns.Bound(m => m.EcfStatus).Title("Status").Width(90);
                                        columns.Bound(m => m.EcfAmount).Title("Amount").Width(100).HtmlAttributes(new { @Style = "text-align: right;" });
                                        columns.Bound(m => m.RaiserId_Name).Title("Raiser Code & Name").Width(160);
                                        columns.Bound(m => m.SupplierId_Name).Title("Supplier/Employee Code & Name").Width(180);
                                        columns.Bound(m => m.Attributes).Title("Attribute Details").Width(150);
                                        columns.Bound(m => m.Physical).Title("Physical").Width(95);
                                        columns.Bound(m => m.RecivedDate).Title("Received Date").Width(130).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.BatchNo).Title("Batch No").Width(100);
                                        columns.Bound(m => m.PulloutDate).Title("Pullout Date").Width(130).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.HandedOverTo).Title("Handed Over To").Width(130);
                                        columns.Bound(m => m.InterfilingDate).Title("Interfiling Date").Width(130).Format("{0:dd-MM-yyyy}");

                                    })


                                      .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(5))
                                            .Filterable()
                                            .Sortable()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .ServerOperation(false)
                                            .Model(model => model.Id(p => p.EcfGid))
                                            .PageSize(10)
                                                //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                            .Read(read => read.Action("Read_Interfiling", "Pullout").Data("GetInerfiling"))
                                    ))
                    }
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="margin-top:0.3%;">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-sm-2">
                    @Html.Label("Interfiling Date", new { @class = "lbl-font" })
                    @(Html.Kendo().DatePicker()
                                  .Name("InterFiling_entry")
                            //.Value(Model.PulloutDate_entry)
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @placeholder = "DD-MM-YYYY", @style = "width: 100%;", onkeypress = "return IsDateKey(event)" }))
                </div>
               
                <div class="col-md-2" style=" margin-top: 21px;">
                    <button type="submit" value="Upload" style="width:70%" onclick="Update_Interfiling()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-saved" style="color:white; font-size:12px;"></span> Update</button>

                </div>

            </div>
        </div>

    </body>
</html>

<script>
    function GetEcfDetails() {

        $("#KendGrid_Pullout").data("kendoGrid").dataSource.read();
    }
    function basicFilter(ev) {
        debugger;
        try {
            var empname = "";
            var emp_val = ev.filter;
            if (emp_val != undefined) {
                empname = ev.filter.filters[0].value;
            }
            else {
                empname = "";
            }
        }
        catch (e) {
            empname = "";
        }
        return {            
            EmployeeName: empname
        }
    }

    function GetAction() {
        debugger;
        var modelobj = {};
        modelobj.Refid = $("#Refid").val();
        modelobj.EmpGid = $("#EmpGid").val();
        modelobj.Amount = $("#Amount").val();
        return { "Obj_Model": modelobj }
    }

    function GetInerfiling() {
        var modelobj = {};
        modelobj.Refid = $("#Refid").val();
        modelobj.EmpGid = $("#EmpGid").val();
        modelobj.Amount = $("#Amount").val();
        return { "Obj_Model": modelobj }
    }

    function OnClear() {
        $("#Refid").data("kendoDropDownList").value(0);
        $("#EmpGid").data("kendoDropDownList").value(0);
        $("#Amount").val("");
        $("#HandedEmpId").data("kendoDropDownList").value(0);
    }

    function Update() {
        debugger;
        var PulloutData = {};

        var Refid = [];
        var grid = $("#KendGrid_Pullout").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");
        var Pulloutdate = $("#PulloutDate_entry").val();
        var HandOverId = $("#HandedEmpId").val();

        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one ECF to tagging Pullout Cases.!',
                type: 'blue',
            });
            return false;
        }
        if (Pulloutdate == "") {
            $.dialog({
                title: 'IEM',
                content: 'Please give  Pullout Date.!',
                type: 'blue',
            });
            return false;
        }
        if (HandOverId == "0")
        {
            $.dialog({
                title: 'IEM',
                content: 'Please select Handed Over To.!',
                type: 'blue',
            });
            return false;
        }

        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);
            Refid.push(itemcompare.EcfGid);
        }

        var Refids = Refid.join(",");

        PulloutData.PulloutECF_Gid = Refids;
        PulloutData.Doc_PulloutDate = Pulloutdate;
        PulloutData.Doc_HandedEmpId = HandOverId;
        PulloutData.Action = "Pullout";

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("UpdatePulloutDetails", "Pullout")",           
            data: '{Obj_Model: ' + JSON.stringify(PulloutData) + '}',
            success: function (response) {
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    if (Result[0]["clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            $("#KendGrid_Pullout").data("kendoGrid").dataSource.read();
                            $("#KendGrid_Interfiling").data("kendoGrid").dataSource.read();
                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'red',
                        });
                        $("#KendGrid_Pullout").data("kendoGrid").dataSource.read();
                        $("#KendGrid_Interfiling").data("kendoGrid").dataSource.read();
                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                    $("#KendGrid_Pullout").data("kendoGrid").dataSource.read();
                    $("#KendGrid_Interfiling").data("kendoGrid").dataSource.read();
                }
            },
            error: function (response) {
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });
    }

    function Update_Interfiling()
    {
        debugger;
        var PulloutData = {};

        var Refid = [];
        var grid = $("#KendGrid_Interfiling").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");
        var InterFilingdate = $("#InterFiling_entry").val();
       

        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one ECF to tagging Pullout Cases.!',
                type: 'blue',
            });
            return false;
        }
        if (InterFilingdate == "") {
            $.dialog({
                title: 'IEM',
                content: 'Please give Interfiling Date.!',
                type: 'blue',
            });
            return false;
        }
     
        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);
            Refid.push(itemcompare.EcfGid);
        }

        var Refids = Refid.join(",");

        PulloutData.PulloutECF_Gid = Refids;
        PulloutData.Doc_InterfilingDate = InterFilingdate;        
        PulloutData.Action = "Interfiling";

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("UpdatePulloutDetails", "Pullout")",           
            data: '{Obj_Model: ' + JSON.stringify(PulloutData) + '}',
        success: function (response) {
            if (response.length > 0) {
                var Result = JSON.parse(response);
                if (Result[0]["clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        $("#KendGrid_Pullout").data("kendoGrid").dataSource.read();
                        $("#KendGrid_Interfiling").data("kendoGrid").dataSource.read();
                    }, 1500);

                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                    $("#KendGrid_Pullout").data("kendoGrid").dataSource.read();
                    $("#KendGrid_Interfiling").data("kendoGrid").dataSource.read();
                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: "No Record Update",
                    type: 'red',
                });
                $("#KendGrid_Pullout").data("kendoGrid").dataSource.read();
                $("#KendGrid_Interfiling").data("kendoGrid").dataSource.read();
            }
        },
        error: function (response) {
            $.dialog({
                title: 'IEM Product',
                content: "Error..",
                type: 'red',
            });
        }
    });
    }



</script>

