﻿@helper GetTreeView(List<DataAccessHandler.Models.IEMProduct.AccessPrivileges_Model.menu> menu, int parentID)
{
    foreach (var i in menu.Where(a => a.parent_menu_gid.Equals(parentID)))
    {
        <li>
            @{var submenu = menu.Where(a => a.parent_menu_gid.Equals(i.menu_gid)).Count();}
            @if (submenu > 0)
            {
                <span class="collapse1 collapsible1">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>
                <input type="checkbox" id="chkbox" name=@i.menu_gid value="@i.menu_gid" onchange="searchfunction(value)" checked="@i.rights_flag">
                @i.menu_name
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @Treeview.GetTreeView(menu, i.menu_gid)
                </ul>
            }
        </li>
    }
    <script id="%">
        function searchfunction(value) {
            debugger;
            var checkedmenu = null;
            checkedmenu = [];
            var notcheckedmenu = null;
            notcheckedmenu = [];
            $('input:checkbox:checked').each(function () {
                checkedmenu.push($(this).attr('value'));
            });
            sessionStorage.setItem("checkedmenu", checkedmenu);
            //sessionStorage["checkedmenu"] = checkedmenu;
            $('input:checkbox:not(:checked)').each(function () {
                notcheckedmenu.push($(this).attr('value'));
            });
            sessionStorage.setItem("notcheckedmenu", notcheckedmenu);
            //sessionStorage["notcheckedmenu"] = notcheckedmenu;
        }
    </script>
}


