﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DBHelper.PayBank_Model
<style>
    a.k-button.k-button-icontext.k-grid-add {
        background: transparent;
        border-color: transparent;
    }
</style>
<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top">
            <div class="col-md-12">
                <p style="text-align:center;color:#fff;">Bank</p>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("PayBank", "PayBank", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<DBHelper.PayBank_Model>().Name("Kgridpaybankdml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text(""))
                                .Columns(columns =>
                                {

                                    columns.Bound(m => m.paybank_gid).Width(20).Title("Bank ID").Hidden();
                                    columns.Bound(m => m.paybank_QCbank).Width(80).Title("Bank QCCode").Width(160);
                                    columns.Bound(m => m.paybank_bank_code).Width(80).Title("Bank Code").Width(160).Hidden();
                                    columns.Bound(m => m.paybank_bank_name).Width(80).Title("Bank Name").Width(160);
                                    columns.Bound(m => m.paybank_acc_no).Width(80).Title("Account No").Width(160);
                                    columns.Bound(m => m.paybank_ifsc_code).Width(80).Title("IFSC Code").Width(160);
                                    columns.Bound(m => m.paybank_branch_name).Width(80).Title("Branch Name").Width(160);
                                    columns.Bound(m => m.paybank_gl_no).Width(80).Title("GL Code").Width(160);
                                    columns.Bound(m => m.paybank_period_from).Width(80).Title("Period From").Format("{0: dd-MM-yyyy}").Width(200);
                                    columns.Bound(m => m.paybank_period_to).Width(80).Title("Period To").Format("{0: dd-MM-yyyy}").Width(200);
                                    columns.Bound(m => m.paybank_memo_filename).Width(80).Title("Memo File Name").Width(160);
                                    columns.Bound(m => m.paybank_online_filename).Width(80).Title("Online File Name").Width(160);
                                    columns.Bound(m => m.paybank_bank_address).Width(80).Title("Address").Width(160);
                                    columns.Bound(m => m.paybank_default).Width(80).Title("Default").Width(160);
                                    columns.Bound(m => m.paybank_CHQ_default).Width(80).Title("CHQ Default").Width(160);
                                    columns.Bound(m => m.paybank_EFT_default).Width(80).Title("EFT Default").Width(160);
                                    columns.Bound(m => m.paybank_ERA_default).Width(80).Title("ERA Default").Width(160);
                                    columns.Bound(m => m.paybank_DD_default).Width(80).Title("DD default").Width(160);
                                    //columns.Command(cmd =>
                                    //{
                                    //    cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                    //    cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("myDeleteJs");
                                    //}).Title("Action").Width(70);
                                    columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(180);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                                })
                             .Editable(editable =>
                             { editable.Mode(GridEditMode.PopUp).TemplateName("PayBankDropdown"); })

                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))
                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.paybank_gid);
                                    model.Field(m => m.paybank_QCbank).DefaultValue(ViewBag.paybank_QCbank);
                                })
                             .PageSize(5)

                                     .Events(events => events.Error("error_handler"))

                            .Model(model => model.Id(p => p.paybank_gid))
                             .Create(Create => Create.Action("SaveGrid", "PayBank"))
                               .Read(read => read.Action("ReadGrid", "PayBank"))
                             .Update(update => update.Action("UpdateGrid", "PayBank"))
                             ))
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</body>
</html>



<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }
    var KendoAdd = false;
    var KendoRowIndex = 0;
    $(document).ready(function () {
        debugger;

        //$("#Kgridpaybankdml").on("click", function () {
        //    debugger;
        //    var grid = $("#Kgridpaybankdml").data("kendoGrid");
        //    var selectedItem = grid.dataItem(grid.select());
        //    alert(selectedItem)

        //});

        $("#Kgridpaybankdml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#Kgridpaybankdml").data("kendoGrid");

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


            if (event.model.isNew() == true) {
                $("#paybank_default").val('Y').trigger("change");
                $("#paybank_CHQ_default").val('Y').trigger("change");
                $("#paybank_EFT_default").val('Y').trigger("change");
                $("#paybank_ERA_default").val('Y').trigger("change");
                $("#paybank_DD_default").val('Y').trigger("change");
            }
            else {

                //if (e.model.isNew() == false) {
                    $("#paybank_bank_name").attr("readonly", true);
                    $("#paybank_ifsc_code").attr("readonly", true);
                    $("#paybank_branch_name").attr("readonly", true);
                // $("#paybank_gl_no").attr("readonly", true);
                    var dataSource = $("#paybankglid").data("kendoDropDownList");
                    dataSource.readonly();

                    var datadependcode = $("#Depend_Code").data("kendoDropDownList");
                    datadependcode.readonly();

                  //  $("paybankglid").attr("readonly", true);
                  //  $("Depend_Code").attr("readonly", true);
               // }
                //var emp_ids = $("#delegate_workflow_Role").val();
                //multiEmployee.value(emp_ids.split(','));
                //multiEmployee.trigger("change");

            }
            //if (event.model.isNew() == true) {
            //    KendoAdd = true;
            //    KendoRowIndex = 0;
            //} else {
            //    KendoAdd = false;
            //    KendoRowIndex = 1;
            //}
        });



    })

    //onchange bank name
    function onChangeBankcode(e) {
        debugger;
        var paybank_Depend_Code = this.value();
        var parentcode = "QCD_Bank"

        if (paybank_Depend_Code == "" || paybank_Depend_Code == null || paybank_Depend_Code == "undefined" || paybank_Depend_Code == 0) {
            return false;
        }
        else {
            $.getJSON("Getbranch/PayBank?paybank_Depend_Code=" + paybank_Depend_Code + "&parentcode=" + parentcode, function (data) {
                debugger;
                var SubType = data;
                $("#Depend_Code").data("kendoDropDownList").dataSource.data(SubType);
                // $("#paybankbranchid").data("kendoDropDownList").dataSource.data(SubType);

            });
        }
    }





    //onchange branch name
    function onChangeBankName(e) {
        debugger;
        // var variable_Depend_Code = this.value();
        var dataItem = this.dataItem(e.item);
        var variable_Depend_Code = dataItem.bankname;

        var parentcode = "QCD_Bank Branch"
        if (variable_Depend_Code == "" || variable_Depend_Code == null || variable_Depend_Code == "undefined" || variable_Depend_Code == 0) {
            return false;
        }
        else {
            $.getJSON("GetbranchName/PayBank?paybank_Depend_Code=" + variable_Depend_Code + "&parentcode=" + parentcode, function (data) {
                debugger;
                var SubType = data;
                $("#paybankbranchid").data("kendoDropDownList").dataSource.data(SubType);
                // $("#paybankbranchid").data("kendoDropDownList").dataSource.data(SubType);

            });
        }
    }



    ////onchange branch name
    function onChangeBankName(e) {
        debugger;
        // var variable_Depend_Code = this.value();
        var dataItem = this.dataItem(e.item);
        var variable_Depend_Code = dataItem.bankname;
        //$("#paybank_branch_name").val(dataItem.paybank_branch_name);
        //$("#paybank_ifsc_code").val(dataItem.paybank_ifsc_code);


        $("#paybank_branch_name").val(dataItem.paybank_branch_name).trigger("change");
        $("#paybank_ifsc_code").val(dataItem.paybank_ifsc_code).trigger("change");
        // $("#Depend_Code").data("kendoDropDownList").trigger("change");
        $("#paybank_bank_name").data("kendoDropDownList").trigger("change");
        //$("#paybank_ifsc_code").data("kendoTextBox").dataSource.data(dataItem.paybank_ifsc_code);
        // $("#UnitID").data("kendoDropDownList").trigger("change");
        var grid = $("#Kgridpaybankdml").data("kendoGrid");
        //var selectrow = grid.select();
        //var rowindex = selectrow.index();
        alert(grid.select().closest("tr").index());


        //  var selectedRow = grid.selectedRow();
        // alert(selectedRow.index);

        //grid.dataSource.data()[KendoRowIndex].paybank_ifsc_code = dataItem.paybank_ifsc_code;
        //grid.dataSource.data()[KendoRowIndex].paybank_branch_name = dataItem.paybank_branch_name;
        // grid.dataSource.data()[KendoRowIndex].paybank_bank_name = dataItem.paybank_bank_name;

    }

    function onChangeBankBranch() {
        debugger;
        var paybank_Depend_Code = this.value();

        var parentcode = "QCD_IFSC"
        if (paybank_Depend_Code == "" || paybank_Depend_Code == null || paybank_Depend_Code == "undefined" || paybank_Depend_Code == 0) {
            return false;
        }
        else {
            $.getJSON("GetIfscCode/PayBank?paybank_Depend_Code=" + paybank_Depend_Code + "&parentcode=" + parentcode, function (data) {
                debugger;
                var SubType = data;
                $("#paybankifscid").data("kendoDropDownList").dataSource.data(SubType);
                // $("#paybankbranchid").data("kendoDropDownList").dataSource.data(SubType);

            });
        }
    }


    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }


    function myDeleteJs() {
        debugger;
        var grid = $("#Kgridpaybankdml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var paybank_gid = (model.paybank_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "PayBank")',
                        data: "{ paybank_gid:'" + paybank_gid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

</script>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;

        return true;
    }

</script>

@*inline grid readonly*@
<script type="text/javascript">
    function edit(e) {
        
    }
</script>


@* To click from date -to date to visible, from date to future date *@
<script type="text/javascript">

    function StartDateChanged() {
        // alert('test');
        var startDate = this.value();
        var endPicker = $("#paybank_period_to").data("kendoDatePicker");

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            endPicker.min(startDate);
        }
        else {

        }
    }

    function EndDateChanged() {
        var endDate = this.value();
        var startPicker = $("#paybank_period_from").data("kendoDatePicker");

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate());
            startPicker.max(endDate);
        }
    }
</script>