﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.PaymentConversion_Model

<!DOCTYPE html>

<html>
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 57%;
        font-weight: normal;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        /*height:25%;*/
    }

        .k-edit-form-container .k-edit-buttons {
            visibility: hidden !important;
        }
</style>

<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:21px;">
            <p style="text-align:center;color:white;">Payment Conversion Checker</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class=" col-md-12">
                @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.PaymentConversion_Model>().Name("KendGrid_PaymentChecker")
                                            .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })

                                    .Columns(columns =>
                                    {
                                        columns.Bound(m => m.PV_Gid).Width(20).Title("PV ID").Hidden();
                                        // columns.Bound(m => m.Tran_Type).Width(80).Title("Type").Width(160).EditorTemplateName("GetTranTypeDropDown");
                                        columns.Bound(m => m.Payment_Bank).Width(80).Title("Payment Bank").Width(130);
                                        columns.Bound(m => m.PaymentReissue_Id).Width(80).Title("PaymentReissue Gid").Hidden();
                                        columns.Bound(m => m.Ecf_Gid).Width(80).Title("ECF Gid").Hidden();
                                        columns.Bound(m => m.PVGL_Gid).Width(80).Title("PVGL Gid").Hidden();
                                        columns.Bound(m => m.GLValue_Date).Width(83).Title("GL Value Date").Width(125).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.PV_No).Width(120).Title("PV No").Width(100);
                                        columns.Bound(m => m.PV_Amount).Width(120).Title("PV Amount").Width(125).HtmlAttributes(new { @Style = "text-align: right;" });
                                        columns.Bound(m => m.PV_Beneficiary).Width(120).Title("Beneficiary").Width(130);
                                        columns.Bound(m => m.PV_Paymode).Width(120).Title("Paymode").Width(100);
                                        columns.Bound(m => m.PV_Status).Width(120).Title("Payment Status").Width(150);
                                        columns.Bound(m => m.PV_Reason).Width(120).Title("Reason").Width(140);
                                        columns.Bound(c => c.PaymentReissue_Id).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#= PV_Gid #'   /> ").Title("<span style='color:cornsilk;'> Select").Width(60).Sortable(false).Filterable(false);
                                        columns.Bound(m => m.PV_Change_Paymode).Width(120).Title("Changed Paymode").Width(155);
                                        columns.Bound(m => m.Change_GLValue_Date).Width(120).Title("New GL Value Date").Width(155).Format("{0:dd-MM-yyyy}");
                                        columns.Bound(m => m.ECF_Supplier_Employee_Type).Width(120).Hidden();
                                        columns.Bound(m => m.ECF_Supplier_Employee_Gid).Width(120).Hidden();

                                    })


                                      .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(5))
                                            .Filterable()
                                            .Sortable()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .ServerOperation(false)
                                                    .Model(model => model.Id(p => p.PV_Gid))
                                            .PageSize(50)
                                                //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                            .Read(read => read.Action("Read_PaymentConversionChecker", "PaymentConversionChecker").Data("GetAction"))
                                    ))
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:0.3%;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2" style="margin-top: 1%;">
                @*@Html.Label("Authorizer Status", new { @class = "lbl-font" }) &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;*@
                &nbsp;&nbsp;   <input type="radio" class="rdo-apprej" name="rblstatus" id="rblstatus" value="Approve">&nbsp;<span style="color: green;font-size: 15px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Approve
                &nbsp;&nbsp; <input type="radio" class="rdo-apprej" name="rblstatus" id="rblstatus" value="Reject">&nbsp;<span style="color: red;font-size: 15px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;Reject
            </div>
            <div class="col-md-2" style="margin-top: 0.5%;">
                <button type="button" style="width: 70%;margin-top: 2%;" class="btn btn-success" onclick="return AuthoriseSubmit()"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;Authorise</button>
            </div>

        </div>
    </div>


</body>
</html>

<script>



    function GetAction() {
        var modelobj = {};
        modelobj.Action = "GetPayrunVoucher-Checker";
        return { "Obj_Model": modelobj }
    }



    function AuthoriseSubmit() {
        debugger;
        var PaymentConversionData = {};

        var Refid = [];
        var grid = $("#KendGrid_PaymentChecker").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");
        var AuthorizeStatus = $("input[name='rblstatus']:checked").val();

        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one record to Authorize.!',
                type: 'blue',
            });
            return false;
        }
        if (AuthorizeStatus == "" || AuthorizeStatus == null || AuthorizeStatus == undefined) {

            $.dialog({
                title: 'IEM',
                content: 'Select Authoriser Status.!',
                type: 'blue',
            });
            return false;
        }


        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);
            Refid.push(itemcompare.PaymentReissue_Id);
        }

        var Refids = Refid.join(",");

        PaymentConversionData.PaymentReissue_Gid = Refids;
        PaymentConversionData.CheckList_status = $("input[name='rblstatus']:checked").val();

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("SetPaymentConvChecker", "PaymentConversionChecker")",
            //data: { "UrgentECF_Gid": Refids, "Maker_Reason": Reason },
            data: '{Obj_Model: ' + JSON.stringify(PaymentConversionData) + '}',
            success: function (response) {
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    if (Result[0]["clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            $("#KendGrid_PaymentChecker").data("kendoGrid").dataSource.read();
                          
                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'red',
                        });
                        $("#KendGrid_PaymentChecker").data("kendoGrid").dataSource.read();
                       
                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                    $("#KendGrid_PaymentChecker").data("kendoGrid").dataSource.read();
                }
            },
            error: function (response) {
                $.dialog({
                    title: 'IEM Product',
                    content: "Error..",
                    type: 'red',
                });
            }
        });
    }



</script>