﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.ChequePayment_Model

<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Cheque Despatch</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("ChequeDespatch", "ChequeDespatch", FormMethod.Post, new { @id = "form1" }))
                    {
                        @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.ChequePayment_Model>().Name("Kgridchequedespatch")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                            //.ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                    {


                                        columns.Bound(m => m.chq_gid).Title("Ref1 id").Hidden();
                                        // columns.Bound(m => m.payrunvouchergid).Title("Ref1 id").Hidden();
                                        columns.Bound(m => m.bankname).Title("Payment Bank").Width(140);
                                        // columns.Bound(m => m.glno).Title("GL Value").Width(90);
                                        columns.Bound(m => m.glvaluedate).Title("GL Value Date").Width(120);
                                        columns.Bound(m => m.pvno).Title("PV No").Width(100).HtmlAttributes(new { @Style = "text-align: right;" });

                                        columns.Bound(m => m.pvamount).Title("PV Amount").Width(130).HtmlAttributes(new { @Style = "text-align: right;" });
                                        columns.Bound(m => m.beneficiary).Title("Beneficiary").Width(130);
                                        columns.Bound(m => m.paymode).Title("Pay Mode").Width(130);
                                        columns.Bound(m => m.chq_no).Title("Cheque No").Width(130);
                                        columns.Bound(m => m.chq_date).Title("Cheque Date").Width(130);
                                        columns.Bound(m => m.chq_depatch_mode).Title("Depatch Mode").Width(130);
                                        columns.Bound(m => m.chq_courier_name).Title("Courier Name").Width(130);
                                        columns.Bound(m => m.chq_awb_no).Title("AWB No").Width(130);
                                        columns.Bound(m => m.chq_despatch_date).Title("Despatch Date").Width(130);
                                        columns.Command(cmd => { cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(110);

                                    })
                                     .Editable(editable =>
                                     { editable.Mode(GridEditMode.InLine); })


                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                                //  .Events(events => events.Edit("edit"))//inline grid readonly
                             
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.chq_gid);

                                })
                             .PageSize(5)
                             .Events(events => events.Error("error_handler"))
                                 //.Events(events => events.Error("error_handler"))
                                 // .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                             .Model(model => model.Id(p => p.chq_gid))
                                  .Create(Create => Create.Action("SaveGrid", "ChequeDespatch"))
                                  .Read(read => read.Action("ReadGrid", "ChequeDespatch"))
                                 .Update(update => update.Action("UpdateGrid", "ChequeDespatch"))
                             ))
                    }
                </div>
            </div>
        </div>

    </div>

</body>
</html>



<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;
       
        $("#Kgridchequedespatch").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#Kgridchequedespatch").data("kendoGrid");

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {

            $("#bankname").attr("readonly", true);
            $("#glvaluedate").attr("readonly", true);
            $("#pvno").attr("readonly", true);
            $("#pvamount").attr("readonly", true);
            $("#beneficiary").attr("readonly", true);
            $("#paymode").attr("readonly", true);
            $("#chq_no").attr("readonly", true);
            $("#chq_date").attr("readonly", true);

            
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })


    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }



</script>



@*inline grid readonly*@
@*<script type="text/javascript">
    function edit(e) {
        if (e.model.isNew() == false) {
            $("#bankname").attr("readonly", true);
            $("#glvaluedate").attr("readonly", true);
            $("#pvno").attr("readonly", true);
            $("#pvamount").attr("readonly", true);
            $("#beneficiary").attr("readonly", true);
            $("#paymode").attr("readonly", true);
            $("#chq_no").attr("readonly", true);
            $("#chq_date").attr("readonly", true);
             
        }
    }
</script>*@

