﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;


@*<div class="container">
    <div class="row">
        <div class="col-sm-2">

            @(Html.Kendo().DropDownList()
            .Name("proxyTo")
               .DataTextField("proxyTo")
              .DataValueField("proxyToId")
                                      .Filter("contains")
                                      .HtmlAttributes(new { @style = "width: 100%;", @class = "form-control" })
                                      .DataSource(source =>
                                      {
                                          source.Read(read => { read.Action("Get_EmployeeList", "Proxy").Data("ProxyTo_Onchange"); });
                                      }))
        </div>
        <div class="col-sm-2">

            @(Html.Kendo().DatePicker()
                  .Name("proxyPeriodFrom")
                  .Value(Model.proxyPeriodFrom)
                  .Min(DateTime.Today)
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "min-width: 110%;", onkeypress = "return IsDateKey(event)" }))
        </div>

        <div class="col-sm-2">

            @(Html.Kendo().DatePicker()
                  .Name("proxyPeriodTo")
                  .Value(Model.proxyPeriodTo)
                  .Min(DateTime.Today)
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "min-width: 110%;", onkeypress = "return IsDateKey(event)" }))
        </div>
        <div class="col-sm-2">

            @(Html.Kendo().DropDownList()
            .Name("proxyActive")
          .Filter("contains")
          .DataTextField("proxyActive")
          .DataValueField("proxyActive")
          .HtmlAttributes(new { @style = "width: 110%;", @class = "form-control" })
          .BindTo(new List<SelectListItem>()
          {
              new SelectListItem() {
                Text = "Active", Value ="1"
              },
              new SelectListItem() {
                Text = "In Active", Value ="2"
              }
          })
            )

        </div>
    </div>
</div>*@