﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model DataAccessHandler.Models.IEMProduct.Query_Model


<html>

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 57%;
        font-weight: normal;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        /*height:25%;*/
    }

        .k-edit-form-container .k-edit-buttons {
            visibility: hidden !important;
        }
</style>


<body>

    <div class="container-fluid">
        @*@using (Html.BeginForm("AttachmentGrid_Save", "Attachment", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {*@
        <div class="row" style="margin-top:10px;">

            <div class="col-sm-3">
                @Html.Label("ECF NO", new { })<br />
                @Html.TextBoxFor(model => model.ecf_no, new { style = "width:100%" })
                @Html.ValidationMessageFor(model => model.ecf_no, "", new { @class = "text-danger" })


            </div>
            <div class="col-sm-3">
                @Html.Label("Department", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                        .Name("deptid")
                        .DataTextField("deptname")
                        .DataValueField("deptid")
                .HtmlAttributes(new { style = "width:100%;" })
                                                .DataSource(source => { source.Read(read => { read.Action("GetDepartment", "Query", new { parentcode = "Dept" }); }).ServerFiltering(true); }))


            </div>
            <div class="col-sm-3">
                @Html.Label("Status", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                        .Name("statusid")
                        .DataTextField("statusname")
                        .DataValueField("statusid")
                .HtmlAttributes(new { style = "width:100%;" })
                                                                                        .DataSource(source => { source.Read(read => { read.Action("dropdowns_values_binding", "Query", new { flag = "ecfStatus" }); }).ServerFiltering(true); }))


            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-3">

                @Html.Label("ECF Date From", new { @class = "lbl-font" })
                @*@(Html.Kendo().DatePicker().Format("")
                    .Name("fromdate")
            .Value(Model.fromdate)
                          //.Min(DateTime.Today) --
            .HtmlAttributes(new { style = "width:100%;", placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(evt)" }))*@     @*onkeypress = "return ESTOnkeypress();"*@

                @(Html.Kendo().DatePicker().Name("fromdate").HtmlAttributes(new { style = "height:25px;font-weight:normal;width:100%", placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(evt)"}))


            </div>
            <div class="col-sm-3">
                @Html.Label("ECF Date To", new { @class = "lbl-font" })
                @*@(Html.Kendo().DatePicker().Format("")
                    .Name("todate")
            .Value(Model.todate)
                      //.Min(DateTime.Today) -- past date is hide
            .HtmlAttributes(new { style = "width: 100%;", placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(evt)", id = "datepicker" }))*@

                @(Html.Kendo().DatePicker().Name("todate").HtmlAttributes(new { style = "height:25px;font-weight:normal;width:100%", placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(evt)"}))


            </div>

            <div class="col-sm-3" style="margin-top:20px;">
                <button type="submit" value="Upload" style="width:70%" onclick="Querysearch()" class="btn btn-primary" > Search</button>
            </div>
            </div>

        </div>
     
            
    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                @using (Html.BeginForm("Query", "Query", FormMethod.Post, new { @id = "form3" }))
                {

                    @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Query_Model>().Name("KQuery")
                                .HtmlAttributes(new { style = "width:99%;line-height:2em;font-weight:normal" })
                      
                                    .Columns(columns =>
                                    {

                                        columns.Bound(m => m.id).Width(20).Title("Master ID").Hidden();
                                        columns.Bound(m => m.ecf_no).Width(80).Title("Ref No").Width(160);
                                        columns.Bound(m => m.deptname).Width(120).Title("Department Name").Width(160).Hidden();
                                         columns.Bound(m => m.ClaimType).Width(80).Title("Type/Sub Type").Width(160);
                                        columns.Bound(m => m.raiser).Width(83).Title("Raiser Id/Name").Width(160);
                                        columns.Bound(m => m.suppliername).Width(120).Title("Supplier Code/Name").Width(160);
                                        columns.Bound(m => m.ecf_amount).Width(120).Title("Amount").Width(160);
                                        columns.Bound(m => m.ecf_status).Width(120).Title("Status").Width(160);
                                        columns.Bound(m => m.date).Width(120).Title("Date").Width(160).Format("{0: dd-MM-yyyy}").Width(200);
                                       
                                        columns.Template(p => { }).ClientTemplate("<button type='button'  onclick='return View_ECF()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("Action").Width(50);
                                    })

                                        
                                            .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(new List<object> { 20,25,30,40,50,70, 500 })
                                            .ButtonCount(5))
                                            .Filterable()
                                            .Sortable()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                             
                                            .PageSize(20)

                                                                                      .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))

                                           // .Events(events => events.Error("error_handler"))
                                                .Model(model => model.Id(p => p.id))
                                            .Create(Create => Create.Action(" ", " "))
                                                                .Read(read => read.Action("ReadGrid", "Query").Data("queryget"))
                                          ))
                }
            </div>
        </div>
    </div>

</body>

</html>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }




    $(document).ready(function () {
        debugger;


        $("#KQuery").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KQuery").data("kendoGrid");

        //function for changing kendo popup title. // .Data("query")
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })
    //
    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }

     

    function queryget() {
        debugger;
        var ecf = $("#ecf_no").val();
        var dept = $("#deptid").val();
        var Status = $("#statusid").val();
      var datefrom = $("#fromdate").val();
          var dateto = $("#todate").val();
        
        return {
            Ecfno: ecf, Deptid: dept, Statusid: Status, Fromdate: datefrom, Todate: dateto
        }
    }

    function Querysearch() {
        debugger;
     

        $("#KQuery").data("kendoGrid").dataSource.read();
 
 
    }


    //redirection ECF
    function View_ECF() {
        debugger;
        var grid = $("#KQuery").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var ClaimType = model.ClaimType.toLowerCase();
        var BatchGID = model.Batch_Gid;
        var EcfGID = model.Ecf_Gid;
        var RaiserGID = model.Raiser_Gid;
        var ClaimStatus = model.Approver_Status;
        // var Claimtype = "Transaction";


        if (ClaimType == 'claim') {
            window.location.href = '/eow/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'invoice') {
            window.location.href = '/eow/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'advance') {
            window.location.href = '/eow/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&PageStatus=' + ClaimStatus;
        }
    }



      
</script>







