﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.Profile_Model
<style>
    a.k-button.k-button-icontext.k-grid-add {
        background: transparent;
        border-color: transparent;
    }
</style>
<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Employee Profile</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("EmpProfile", "EmpProfile", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<DBHelper.Profile_Model>().Name("KgridEmpProfiledml")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {

                                    columns.Bound(m => m.Emp_Gid).Title("ID").Hidden();
                                    columns.Bound(m => m.Emp_Code).Title("Emp Code").Width(70);
                                    columns.Bound(m => m.Emp_Name).Title("Emp Name").Width(80);
                                    columns.Bound(m => m.Gender).Title("Gender").Width(50);
                                    columns.Bound(m => m.DOB).Title("Date of Birth").Width(80).Format("{0:dd-MM-yyyy}");
                                    columns.Bound(m => m.DOJ).Title("Date of Join").Width(80).Format("{0:dd-MM-yyyy}");
                                    columns.Bound(m => m.DesignationName).Title("Designation").Width(70);
                                    columns.Bound(m => m.GradeName).Title("Grade").Width(60);
                                    columns.Bound(m => m.branchid).Hidden();
                                    columns.Bound(m => m.branchname).Title("Branch Name").Width(70);
                                    columns.Bound(m => m.FcName).Title("FC_Name").Width(70).Hidden();
                                    columns.Bound(m => m.CCName).Title("CC_Name").Width(70).Hidden();
                                    columns.Bound(m => m.ProductName).Title("Product_Code").Width(70).Hidden();
                                    columns.Bound(m => m.cityname).Title("City").Width(70);
                                    columns.Bound(m => m.Personal_Email).Title("Personal_Email").Width(70);
                                    columns.Bound(m => m.Office_Email).Title("Office_Email").Width(70);
                                    columns.Bound(m => m.BankName).Title("Bank Name").Hidden();
                                    columns.Bound(m => m.DesignationName).Title("Designation").Hidden();
                                    columns.Bound(m => m.GradeName).Title("ID").Hidden();
                                    columns.Bound(m => m.Departmentname).Title("ID").Hidden();
                                    columns.Bound(m => m.Emp_Addr1).Title("ID").Hidden();
                                    columns.Bound(m => m.Emp_Addr2).Title("ID").Hidden();
                                    columns.Bound(m => m.Address).Title("ID").Hidden();
                                    columns.Bound(m => m.employee_supervisor_gid).Title("employee_supervisor_gid").Hidden();
                                    columns.Bound(m => m.Supervisor_name).Title("ID").Hidden();
                                    columns.Bound(m => m.emp_status).Title("ID").Hidden();
                                    columns.Bound(m => m.AccountNo).Title("ID").Hidden();
                                    
                                    columns.Bound(m => m.mobileno).Title("ID").Hidden();
                                    columns.Bound(m => m.password).Title("ID").Hidden();
                                    //columns.Bound(m => m.pass).Title("ID").Hidden();
                                    columns.Bound(m => m.Pincode).Title("ID").Hidden();
                                    columns.Bound(m => m.employee_bankaccounttype).Title("ID").Hidden();
                                    columns.Bound(m => m.employee_dor).Title("ID").Hidden().Width(80).Format("{0:dd-MM-yyyy}");
                                    columns.Bound(m => m.empbranch_id).Hidden();

                                    columns.Bound(m => m.employee_lastworkingdate).Title("ID").Hidden().Width(80).Format("{0:dd-MM-yyyy}");

                                    columns.Bound(m => m.employee_effectivedate).Title("ID").Hidden().Width(80).Format("{0:dd-MM-yyyy}");

                                    columns.Bound(m => m.HRIS_LASTMODIFIEDON).Title("ID").Hidden().Width(80).Format("{0:dd-MM-yyyy}");
  
                                  //  columns.Bound(m => m.employee_bankaccounttype).Title("ID").Hidden();
                                   // columns.Bound(m => m.employee_dor).Title("ID").Hidden();
                                    
                                    columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(50);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                                    //columns.Command(cmd =>
                                    //{
                                    //    cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                    //    cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("myDeleteJs");
                                    //}).Title("Action").Width(70);

                                })

                              .Editable(editable =>
                             { editable.Mode(GridEditMode.PopUp).TemplateName("EmployeeProfilePopUp"); })

                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                             .PageSizes(new List<object> { 5, 10, 20,100, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))
                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.Emp_Gid);

                                })
                             .PageSize(20)
                           .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))

                            .Model(model => model.Id(p => p.Emp_Gid))
                             .Create(Create => Create.Action("SaveGrid", "Profile"))
                              .Read(read => read.Action("ReadGrid", "Profile"))
                             .Update(update => update.Action("UpdateGrid", "Profile"))
                             ))
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</body>
</html>



<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;

     //   $("#KgridEmpProfiledml").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridEmpProfiledml").data("kendoGrid");
       // password =
       // $("#password").val("");
       // password.setText("");
      //  password.Text = string.Empty;
          // textBoxName.Clear();
       // password.val('');
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
           
            if (event.model.isNew() == true) {
                $("#editmode").hide();
                $("#Gender").val('M').trigger("change");
                $("#emp_status").val('Y').trigger("change"); 
                $("#employee_bankaccounttype").val('S').trigger("change");
               // $("#password").val("");
            }
            else {
                $("#getdata").show();

                var emp_id = $("#Selected_supervisor_gid").val();
                var SupervisorDropDown = $("#employee_supervisor_gid").data("kendoDropDownList");
                $.getJSON("GetEmpCodeName/Profile?Master=Employee_ByID&EmployeeName=" + emp_id, function (result) {
                    debugger;
                    //var employeelist = data.employee; 
                    SupervisorDropDown.dataSource.data(result);
                    //alert(emp_ids);
                    SupervisorDropDown.value(emp_id.split(','));
                    SupervisorDropDown.trigger("change");
                });

            }
        });

    })

     

    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }
    function fn_claimSave() {
        debugger;
        var employeeids = "";
        var emp = $("#Roleid").data("kendoMultiSelect").value();
        var employeeids = emp.join(",")
        return { Employee_Ids: employeeids }
    }

    function myDeleteJs() {
        debugger;
        var grid = $("#KgridEmpProfiledml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Emp_Gid = (model.Emp_Gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "Profile")',
                        data: "{ Emp_Gid:'" + Emp_Gid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }


    function IsDateKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }

</script>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;

        return true;
    }
    function basicFilter(ev) {
        debugger;
        try {
            var empname = "";
            var emp_val = ev.filter;
            if (emp_val != undefined) {
                empname = ev.filter.filters[0].value;
            }
            else {
                empname = "";
            }
        }
        catch (e) {
            empname = "";
        }
        return {
            //Master: "Employee_Search", Master_Code: "0", Master_Gid: "0",
            EmployeeName: empname, flag: "Employee", Master: "Employee_Search"
        }
    }
</script>