﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.FlexiSpend.RejectDespatch_Model


<!DOCTYPE html>
<html>

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;height:21px;">
                <p style="text-align:center;color:white;">Reject Despatch</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                @Html.Label("Type", new { style = "margin-left:6%" })
                @(Html.Kendo().DropDownList()
            .Name("TranId")
            .DataTextField("Tran_Type")
            .DataValueField("TranId")
    .HtmlAttributes(new { style = "width:100%;margin-left:5%" })
                                            .DataSource(source => { source.Read(read => { read.Action("GetTranType", "RejectDespatch", new { parentcode = "QCD_Type" }); }).ServerFiltering(true); }))




                @*@(Html.Kendo().DropDownList()
                                                .Name("TranId")
                            .DataTextField("Tran_Type")
                                                .DataValueField("TranId")
                                   .Events(e => e.Change("onChangeTranType"))
                    .HtmlAttributes(new { style = "width:100%;margin-left:8%" })
                                            .DataSource(source => { source.Read(read => { read.Action("GetTranType", "RejectDespatch", new { parentcode = "QCD_Type" }); }).ServerFiltering(true); }))*@
                @*<div class="col-sm-3" style="margin-top:20px;">
                    <button type="submit" value="Update" style="width:70%" onclick="Searchgrid()" class="btn btn-primary"> Search</button>
                </div>*@



            </div>
            <div class="col-sm-3">
                @Html.Label("Review/Despatch", new { style = "margin-left:10%" })
                @(Html.Kendo().DropDownList()
                                .Name("id")
                                .DataTextField("rejectdespatchname")
                                .DataValueField("id")
                                              // .Events(e => e.Change("onchangegrid"))
                        .HtmlAttributes(new { style = "width:100%;margin-left:8%" })
                                       .DataSource(source => { source.Read(read => { read.Action("dropdowns_values_binding", "RejectDespatch", new { flag = "RejectDespatch" }); }).ServerFiltering(true); }))


            </div>

            <div class="col-sm-3" style="margin-top:20px;margin-left:3%">
                <button type="submit" value="Update" style="width:70%" onclick="SearchGrid()" class="btn btn-primary"> Search</button>
            </div>
        </div>


    </div>



    <div class="container-fluid" style="display:none;" id="Despatchreview">

        <div class="container-fluid" style="margin-top:5px; ">

            <div class="row mt-1">
                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("RejectDespatch", "RejectDespatch", FormMethod.Post, new { @id = "form1" }))
                    {
                        @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.RejectDespatch_Model>().Name("KgridRejectDespatch")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                            //.ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                    {


                                        columns.Bound(m => m.inexid).Title("ID").Width(140).Hidden();
                                        columns.Bound(m => m.reviewstatus).Title("ID").Width(140).Hidden();
                                        columns.Bound(m => m.ecfid).Title("ID").Width(140).Hidden();
                                        columns.Bound(c => c.inexid).ClientTemplate("<input type='checkbox'  id ='chkRefid' value = '#= Refid #'  />").Title("Select").Width(60).Sortable(false).Filterable(false);

                                        //  columns.Bound().ClientTemplate("<input type='checkbox' value = '#=  #'  /> ").Title("Select").Width(60).Sortable(false).Filterable(false);
                                        //  columns.Bound(m => m.ecfid).Title("Type").Width(90).Hidden();
                                        columns.Bound(m => m.Tran_Type).Title("Type").Width(90).Hidden();
                                        //columns.Bound(m => m.Tran_Type).Title("Type").Width(90).Hidden();
                                        columns.Bound(m => m.refno).Title("Ref No").Width(140);
                                        columns.Bound(m => m.date).Title("Date").Width(140);
                                        columns.Bound(m => m.Tran_Type).Title("Type").Width(90);
                                        columns.Bound(m => m.subtype).Title("Sub Type").Width(120);
                                        columns.Bound(m => m.Approver_Status).Title("Status").Width(100).HtmlAttributes(new { @Style = "text-align: right;" });

                                        columns.Bound(m => m.amount).Title("Amount").Width(130).HtmlAttributes(new { @Style = "text-align: right;" });
                                        columns.Bound(m => m.raiseridname).Title("Raiser ID/Name").Width(160);
                                        columns.Bound(m => m.supliercodename).Title(" Supplier/Employee").Width(180);
                                        columns.Bound(m => m.Attributes).Title("Attributes").Width(280);
                                        // columns.Bound(c => c.select).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#=  #'  /> ").Title("Select").Width(60).Sortable(false).Filterable(false);
                                        columns.Bound(m => m.inexdate).Title("Inex Date").Width(150);
                                        columns.Bound(m => m.inexby).Title("Inex By").Width(150);
                                        columns.Bound(m => m.inexremark).Title("Inex Remark").Width(130);
                                        columns.Bound(m => m.inexreason).Title("Inex Reason").Width(180);
                                        columns.Template(p => { }).ClientTemplate("<button type='button'  onclick='return View_ECFDespatchReview()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("View").Width(80);

                                    })
                                     .Editable(editable =>
                                     { editable.Mode(GridEditMode.InLine); })


                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                            //.Events(events => events.Edit("value"))//inline grid readonly

                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.inexid);

                                })
                             .PageSize(5)


                              .Events(events => events.Error("onRequestEnd"))

                                                             .Model(model => model.Id(p => p.inexid))
                                     .Create(Create => Create.Action(" ", "RejectDespatch"))
                                      .Read(read => read.Action("ReadGrid", "RejectDespatch"))
                                 .Update(update => update.Action(" ", "RejectDespatch"))
                             ))
                    }

                </div>
            </div>
        </div>


        <div class="row" style="margin-top:10px; margin-left:1%">

            <div class="col-sm-3">
                @Html.Label("Remarks", new { style = "margin-left:-3%" })<br />
                @Html.TextBoxFor(model => model.remark, new { style = "width:100%;margin-left:-4%" })
                @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })


            </div>

            <div class="col-sm-2">
                <label>Review Status</label><br />

                @Html.RadioButtonFor(m => m.reviewstatus, "Inex", new { Checked = "checked", id = "Statusyes" })

                <label for="Yes" style="font-weight: normal; ">Inex</label>
                @Html.RadioButtonFor(m => m.reviewstatus, "Re_Audit", new { id = "Statusno" })
                <label for="No" style="font-weight: normal;">Re_Audit</label>
                @*@Html.ValidationMessageFor(model => model.status, "", new { })*@
                @Html.ValidationMessageFor(model => model.reviewstatus)
            </div>
            @*<div class="col-sm-3">*@
            <div class="col-sm-3" style="margin-top:20px;">
                <button type="submit" value="Update" style="width:70%;" onclick="updatedata()" class="btn btn-primary"> Update</button>
            </div>
            @*</div>*@

        </div>

    </div>

    @*Despatch*@

    @*<div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;height:21px;margin-top: 7px;">
                <p style="text-align:center;color:white;">Interfiling of Pullouts</p>
            </div>
        </div>*@
    @*<div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class=" col-md-12">*@

 

    <div class="container-fluid" style="margin-top:5px;width:98%;display:none;" id="getdata">

        <div class="row mt-1">
            <div class="col-md-12 table-responsive">
                @using (Html.BeginForm("RejectDespatch", "RejectDespatch", FormMethod.Post, new { @id = "form2" }))
                {
                    @(Html.Kendo().Grid<DataAccessHandler.Models.FlexiSpend.RejectDespatch_Model>().Name("KGridDespatch")
                                            .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })

                                    .Columns(columns =>
                                    {
                                        columns.Bound(m => m.despatch_gids).Title("ID").Width(140).Hidden();
                                        columns.Bound(m => m.ecfid).Title("Type").Width(90).Hidden();
                                        columns.Bound(c => c.despatch_gids).ClientTemplate("<input type='checkbox'  id ='chkRefid' value = '#= Refid #'  />").Title("Select").Width(60).Sortable(false).Filterable(false);
 
                                        columns.Bound(m => m.inex_gid).Title("Type").Width(90).Hidden();
                                        columns.Bound(m => m.Tran_Type).Title("Type").Width(90).Hidden();
                                        columns.Bound(m => m.refno).Title("Ref No").Width(140);
                                        columns.Bound(m => m.date).Title("Date").Width(140);
                                        columns.Bound(m => m.Tran_Type).Title("Type").Width(90);
                                        columns.Bound(m => m.subtype).Title("Sub Type").Width(120);
                                        columns.Bound(m => m.Approver_Status).Title("Status").Width(100).HtmlAttributes(new { @Style = "text-align: right;" });

                                        columns.Bound(m => m.amount).Title("Amount").Width(130).HtmlAttributes(new { @Style = "text-align: right;" });
                                        columns.Bound(m => m.raiseridname).Title("Raiser ID/Name").Width(160);
                                        columns.Bound(m => m.supliercodename).Title(" Supplier/Employee").Width(180);
                                        columns.Bound(m => m.Attributes).Title("Attributes").Width(280);
                                        // columns.Bound(c => c.select).ClientTemplate("<input type='checkbox' id ='chkRefid' value = '#=  #'  /> ").Title("Select").Width(60).Sortable(false).Filterable(false);
                                        columns.Bound(m => m.chq_depatch_mode).Title("Despatch Mode").Width(150);
                                        columns.Bound(m => m.courriername).Title("Courrier Name").Width(150);
                                        columns.Bound(m => m.awbno).Title("AWB No").Width(130);
                                        columns.Bound(m => m.despatchdate).Title("Despatch Date").Width(180);
                                        columns.Template(p => { }).ClientTemplate("<button type='button'  onclick='return View_EcfDespatch()' class = 'deleteclass'><i class='fa fa-eye' aria-hidden='true'></i></button>").Title("View").Width(80);

                                    })


                                     .Editable(editable =>
                                     { editable.Mode(GridEditMode.InLine); })


                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                         
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.despatch_gids);

                                })
                             .PageSize(5)


                              .Events(events => events.Error("onRequestEnd"))

                                                         .Model(model => model.Id(p => p.despatch_gids))
                                     .Create(Create => Create.Action(" ", "RejectDespatch"))
                                          .Read(read => read.Action("Read_Grid", "RejectDespatch"))
                                     .Update(update => update.Action("Update_Grid", "RejectDespatch"))
                             ))
                }
            </div>
        </div>






        <div class="row" style="margin-top:10px; margin-left:1%">

            <div class="col-sm-2">
                @Html.Label("Despatch Mode", new { style = "margin-left: -15%;" })<br />
                @(Html.Kendo().DropDownList()
                                              .Name("despatchid")
                          .DataTextField("chq_depatch_mode")
                                              .DataValueField("despatchid")
                                                              .Events(e => e.Change("onChangecourier"))
              .HtmlAttributes(new { style = "height:25px;width:225px;font-weight: normal;margin-left: -15%;" })
                                                  .DataSource(source => { source.Read(read => { read.Action("GetDespatchMode", "ChequeDespatch", new { parentcode = "QCD_DespatchMode" }); }).ServerFiltering(true); }))





            </div>

            <div class="col-sm-2">
                @Html.Label("Courier Name", new { })<br />
                @(Html.Kendo().DropDownList()
                                                          .Name("courierid")
                              .DataTextField("chq_courier_name")
                                                          .DataValueField("courierid")

              .HtmlAttributes(new { style = "height:25px;width:225px;font-weight: normal" })
                                                  .DataSource(source => { source.Read(read => { read.Action("GetDespatchMode", "ChequeDespatch", new { parentcode = "QCD_Courier" }); }).ServerFiltering(true); }))



                @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })


            </div>
            <div class="col-sm-2">
                @Html.Label("AWB No", new { style = "margin-left: 7%;" })<br />
                @Html.TextBoxFor(model => model.awbno, new { style = "width:100%;margin-left: 7%;" })
                @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })


            </div>
            <div class="col-sm-2">
                @Html.Label("Despatch Date", new { })<br />
                @(Html.Kendo().DatePicker()
                                      .Name("despatchdate")

                  .Format("dd-MM-yyyy")

                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(event)" }))


            </div>
            <div class="col-sm-3" style="margin-top:20px;">
                <button type="submit" value="Update" style="width:70%" onclick="data()" class="btn btn-primary"> Update</button>
            </div>

        </div>
    </div>
</body>
</html>



<script>

    $(document).ready(function () {
        debugger;

        $("#KgridRejectDespatch").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridRejectDespatch").data("kendoGrid");

        $("#KGridDespatch").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KGridDespatch").data("kendoGrid");



        $("rejectdespatchname").change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue) {
                    $(".box").not("." + optionValue).hide();
                    $("." + optionValue).show();
                } else {
                    $(".box").hide();
                }
            });
        }).change();





        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })




    function onRequestEnd(e) {
        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'green',
                });
            }
        }


        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        //window.location.reload(1);
                        $("#KgridRejectDespatch").data("kendoGrid").dataSource.read();
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'green',
                });
            }
        }

    }

    // Despatch Review Redirect 
    function View_ECFDespatchReview() {
        debugger;
        var grid = $("#KgridRejectDespatch").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));

        var ClaimType = model.Tran_Type.toLowerCase();
        var BatchGID = model.batchgid;
        var EcfGID = model.ecfid;
        var RaiserGID = model.raiserid;
        var ClaimStatus = model.Approver_Status;
        var ClaimStatus = "inprocess";
        // var Claimtype = "Transaction";inprocess


        if (ClaimType == 'claim') {
            window.location.href = '/eow/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'invoice') {
            window.location.href = '/eow/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID
                + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'advance') {
            window.location.href = '/eow/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID
                + '&PageStatus=' + ClaimStatus;
        }
    }


    // Despatch Review Update 
    function updatedata()
    {
        debugger;
        var ReviewData = {};

        var Refid = [];
        var ecf_id = [];
        var grid = $("#KgridRejectDespatch").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");
        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one one ECF to Review.!',
                type: 'blue',
            });
            return false;
        }

        var remark = $("#remark").val();

        if (remark == "") {
            $.dialog({
                title: 'IEM',
                content: 'Enter The Despatch Review Remark!',
                type: 'blue',
            });
            return false;
        }

        
        for (var i = 0; i < checkedrows.length; i++) {
            var datavalues = grid.dataItem(checkedrows[i]);
            
            var inexid = datavalues.inexid;
            var remark = $("#remark").val();
            var ecfid = datavalues.ecfid;
            var status = datavalues.status;
        }

        
        var reviewstatus = "";
         
        if (document.getElementById('Statusyes').checked) {
            reviewstatus = document.getElementById('Statusyes').value;
        }
        else if (document.getElementById('Statusno').checked) {
            reviewstatus = document.getElementById('Statusno').value;
        }
       


        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);
            Refid.push(itemcompare.inexid);
        }

        var Refids = Refid.join(",");

        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);
            ecf_id.push(itemcompare.ecfid);
        }
        var ecfids = ecf_id.join(",");

        ReviewData.inexid = Refids;
        ReviewData.ecfgids = ecfids;
        ReviewData.remark = remark;
        ReviewData.reviewstatus = reviewstatus;
        ReviewData.status = status;
     
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("UpdateGrid", "RejectDespatch")",
            data: '{ModelObject: ' + JSON.stringify(ReviewData) + '}',
            success: function (response) {
                debugger;
                if (response.length > 0) {
                    var Result = JSON.parse(response);
                    if (Result[0]["clear"] == 1) {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        setTimeout(function () {
                            $("#KgridRejectDespatch").data("kendoGrid").dataSource.read();

                        }, 1500);

                    }
                    else {
                        $.dialog({
                            title: 'IEM Product',
                            content: Result[0]["Msg"],
                            type: 'green',
                        });
                        $("#KgridRejectDespatch").data("kendoGrid").dataSource.read();

                    }
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: "No Record Update",
                        type: 'red',
                    });
                    $("#KgridRejectDespatch").data("kendoGrid").dataSource.read();

                }
            },
        error: function (response) {
            $.dialog({
                title: 'IEM Product',
                content: "Error..",
                type: 'red',
            });
        }
    });
    }




    //Despatch:
    //Despatch onchange 
    function onChangecourier() {
        debugger;

        $("#KGridDespatch").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KGridDespatch").data("kendoGrid");
        var TranId = this.value();

        var parentcode = "QCD_DespatchMode"
        if (TranId == "" || TranId == null || TranId == "undefined" || TranId == 0) {
            return false;
        }
        else {
            $.getJSON("GetSubType/ChequeDespatch?TranId=" + TranId + "&parentcode=" + parentcode, function (data) {
                debugger;
                var SubType = data;
                $("#courierid").data("kendoDropDownList").dataSource.data(SubType);


            });
        }
    }



    
    //Despatch Update 
    function data()
    {
        debugger;
        var Despatchdata = {};
         
        var Refid = [];
        var ecf_id = [];
        var grid = $("#KGridDespatch").data("kendoGrid");
        var checkedrows = $("#chkRefid:checked", grid.tbody).closest("tr");
        if (checkedrows.length == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select atleast one one ECF to Review.!',
                type: 'blue',
            });
            return false;
        }

        
        var awbno = $("#awbno").val();
        var despatchdate = $("#despatchdate").val();
        var despatchid = $("#despatchid").data("kendoDropDownList").value();
        var courierid = $("#courierid").data("kendoDropDownList").value();
        //var chq_depatch_mode = $("#chq_depatch_mode").data("kendoDropDownList").text();
        if (despatchid == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select Despatch Mode.!',
                type: 'blue',
            });
            return false;
        }


        // if (despatchid =="370" )
        //{
        //     $('#courierid').attr("disabled", false);
          

        //}
        //else {

        //     $('#courierid').attr("disabled", true);

        //}

        


        if (courierid == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Select Despatch Courrier.!',
                type: 'blue',
            });
            return false;
        }

        if (awbno == 0) {
            $.dialog({
                title: 'IEM',
                content: 'Enter The Despatch AWB No.!',
                type: 'blue',
            });
            return false;
        }

        if (despatchdate == "") {
            $.dialog({
                title: 'IEM',
                content: 'Select The Despatch Date.!',
                type: 'blue',
            });
            return false;
        }
        for (var i = 0; i < checkedrows.length; i++) {
            var datadespatch = grid.dataItem(checkedrows[i]);

            var despatch_gids = datadespatch.despatch_gids;
            var awbno = datadespatch.awbno;
            var despatchdate = datadespatch.despatchdate;
            var despatchid = datadespatch.despatchid;
            var courierid = datadespatch.courierid;
             
            var ecfid = datadespatch.ecfid;
        }

        var awbno = $("#awbno").val();
        var despatchdate = $("#despatchdate").val();
        var despatchid = $("#despatchid").data("kendoDropDownList").value();
        var courierid = $("#courierid").data("kendoDropDownList").value();
       


        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);
            Refid.push(itemcompare.despatch_gids);
        }

        var Refids = Refid.join(",");


        //for (var i = 0; i < checkedrows.length; i++) {
        //    var itemcompare = grid.dataItem(checkedrows[i]);
        //    ecf_id.push(itemcompare.ecfid);
        //}
        //var ecfids = ecf_id.join(",");



        for (var i = 0; i < checkedrows.length; i++) {
            var itemcompare = grid.dataItem(checkedrows[i]);
            ecf_id.push(itemcompare.ecfid);
        }
        var ecfids = ecf_id.join(",");


        var Despatchdata = {
            'despatch_gids': Refids, 'despatchid': despatchid, 'despatchdate': despatchdate, 'awbno': awbno, 'courierid': courierid
            , 'ecfgids': ecfids
        };

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            url: "@Url.Action("Update_Grid", "RejectDespatch")",
            data: '{ModelObject: ' + JSON.stringify(Despatchdata) + '}',
        success: function (response) {
            if (response.length > 0) {
                var Result = JSON.parse(response);
                if (Result[0]["clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        $("#KGridDespatch").data("kendoGrid").dataSource.read();

                    }, 1500);

                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    $("#KGridDespatch").data("kendoGrid").dataSource.read();

                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: "No Record Update",
                    type: 'red',
                });
                $("#KGridDespatch").data("kendoGrid").dataSource.read();

            }
        },
        error: function (response) {
            $.dialog({
                title: 'IEM Product',
                content: "Error..",
                type: 'red',
            });
        }
    });
    }

    // Despatch   Redirect 
    function View_EcfDespatch() {
        debugger;
        var grid = $("#KGridDespatch").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));

        var ClaimType = model.Tran_Type.toLowerCase();
        var BatchGID = model.batchgid;
        var EcfGID = model.ecfid;
        var RaiserGID = model.raiserid;
        var ClaimStatus = model.Approver_Status;
        var ClaimStatus = "inprocess";
        // var Claimtype = "Transaction";inprocess


        if (ClaimType == 'claim') {
            window.location.href = '/eow/Claim/Claim?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'invoice') {
            window.location.href = '/eow/SupplierInvoice/SupplierinvoiceDetails?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID + '&RaiserGID=' + RaiserGID
                + '&ClaimStatus=' + ClaimStatus;
        }
        else if (ClaimType == 'advance') {
            window.location.href = '/eow/AdvanceRequisition/AdvanceRequisition?BatchGID=' + BatchGID + '&EcfGID=' + EcfGID
                + '&PageStatus=' + ClaimStatus;
        }
    }


    
    // To select dropdown  onchange to hide and show relavent grid
        //function onchangegrid() {
        //    debugger;
        //    var TranId = this.value();

           
        //    if (TranId == 2) {
        //        $("#getdata").show();
        //        $("#Despatchreview").hide();
        //    } else {
        //        $("#getdata").hide();
        //        $("#Despatchreview").show();
        //    }
            
        //}
     
    // To Click Search button to hide and show relavent grid
        function SearchGrid()
        {
            debugger;
            var dropdownid = $("#id").data("kendoDropDownList").value();
            var TranId = $("#TranId").data("kendoDropDownList").value();


            if (dropdownid == 0) {
                $.dialog({
                    title: 'IEM',
                    content: 'Select The Review/Despatch .!',
                    type: 'blue',
                });
                return false;
            }

            if (TranId == 0) {
                $.dialog({
                    title: 'IEM',
                    content: 'Select The Type .!',
                    type: 'blue',
                });
                return false;
            }
          //  var TranId = this.value();


            if (dropdownid == 2) {
                $("#getdata").show();
                $("#Despatchreview").hide();
            } else {
                $("#getdata").hide();
                $("#Despatchreview").show();
            }
        }
</script>
