/*grid content should not be wrap*/
.k-grid td {
    white-space: nowrap;
    height: 17px;
}

/*grid header should not be wrap*/
.k-grid-header table {
    width: 100% !important;
}

/*Boostrap scroll bar*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.content {
    padding: 60px 15px 50px !important;
    margin-left: -230px !important;
}

body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-weight: 400 !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    /*font-size: 13px !important;*/
}

a.k-link, span.k-link {
    color: #fff !important;
    margin-top: 0px !important;
}

a.k-button.k-button-icontext.k-grid-edit {
    background: transparent;
    border-color: transparent;
}

span.k-icon.k-edit {
    display: none;
}

.deleteclass {
    background: transparent;
    border-color: transparent;
    color: #235584;
}

footer {
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: #215180;*/
    color: #000;
    text-align: center;
}

.k-grid-header-wrap {
    height: 22px;
}

span.k-link {
    position: relative;
    top: -9px;
}

li.k-item:hover {
    background: #C9C2BF !important;
    color: #000 !important;
}

a.k-button.k-button-icontext.k-grid-add {
    background: transparent;
    border-color: transparent;
}
/*Paste the below code in bootstrap.css*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #1f4a79 !important;
    border-color: #1f4a79 #1f4a79 #1f4a79 !important;
    margin: 0px;
}

.nav-tabs .nav-link {
    border: 1px solid #1f4a79;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #467fbd;
    color: #fff;
    /*font-size: 12px;*/
    padding: 4px;
    margin: 0px;
}

.btn-sm {
    /*font-size: 12px;*/
    line-height: 1.5;
    border-radius: .2rem;
    padding: 0px 40px;
}

.table .thead-dark th {
    background-color: #1f4a79 !important;
    border-color: #1f4a79 !important;
    font-weight: 400 !important;
    text-align: center;
}

.table-sm td, .table-sm th {
    padding: .05rem !important;
}

.table {
    font-size: 14px !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #1f4a79 #1f4a79 #1f4a79;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #255987;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    color: #fff;
}
/********************************************/
div#attach2 {
    margin-left: -15px;
}

div#audit {
    margin-left: 16px;
}

.k-dropdown-wrap .k-select {
    background: #245887;
}

/*.k-state-disabled {
    background: #efefef;
}*/

/*kendo popup title color*/
.k-window-title {
    color: #fff;
}

/*kendo popup input fieldset*/
.form-controls {
    height: 20px !important;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

a.k-grid-Delete {
    background: transparent !important;
    border: transparent !important;
}

a.k-grid-View {
    background: transparent !important;
    border: transparent !important;
}
 .lbl-font {
            font-weight: normal;
        }

 /*kendo popup input fieldset*/
.form-controles {
    height: 30px !important;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}