



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Arial,helvetica, serif,sans-serif;
}

/*---------------------------------------------*/

.form-login {
    background: #fff;
    border-radius: 15px;
}
.top {
    background: #1f4a79;
    padding: 1px;
}
.form-controls {
    display: block;
    width: 100%;
    height: 50px !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.forms {
    background: #fff;
    border-radius: 20px;
}
.txt {
    width: 100% !important;
}
i.fa.fa-search {
    position: relative;
    top: -6px;
    cursor:pointer;
}
.input-group-append {
    margin-left: -1px;
    height: 25px !important;
}
.bg-light {
    background-color: #1f4a79!important;
    margin: 0;
    padding: 0px 9px;
}
textarea#comment {
    width: 100% !important;
    height: 150px !important;
}
.navbar-light .navbar-nav .nav-link {
    color:#fff !important;
}
.form-control {
    height:25px !important;
    font-size:12px;
}
select#days {
    width: 100%;
    height: 0% !important;
}
.btn-sms {
    font-size: 17px;
    line-height: 1.5;
    border-radius: .2rem;
    padding: 2px 15px;
}

a {
	font-family: Arial,helvetica, serif,sans-serif;
	font-size: 13px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
label {
    font-size:12px !important;
}
a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #a64bf4;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #1F4A79 !important;
}
.nav-link a:hover {
    color: #928c8c !important;
}
.navbar-nav {
    margin-bottom: -5px !important;
    margin-top: -5px !important;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family:Arial,helvetica, serif,sans-serif;
	font-size: 13px;
	line-height: 1.7;
	color: #000;
	margin: 0px;
}
.lgn-btn {
    margin-bottom:3px;
}
ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}
.plus {
    height: 15%;
    background: #E6E6E6;
}
i.fa.fa-plus {
    padding: 1px;
    margin: 3px;
    color: #1f4a79;
    font-size:12px;
    cursor:pointer;
}

i.fa.fa-eye, i.fa.fa-trash, i.fa.fa-pencil,i.fa.fa-check {
    padding: 1px;
    margin: 3px;
    color: #1f4a79;
    font-size:12px;
    cursor:pointer;
}
i.fa.fa-floppy-o {
    padding: 1px;
    margin: 3px;
    color: #1f4a79;
    font-size:14px;
    cursor:pointer;
}
i.fa.fa-paperclip {
    padding: 1px;
    margin: 3px;
    color: #1f4a79;
    font-size:13px;
    cursor:pointer;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}
.title {
    background: #1f4a79;
    padding: 4px;
    color: #fff;
}
.btn-sm1 {
    font-size: 6px;
    line-height: 1.5;
    border-radius: .2rem;
    padding: 0px 6px;
}
.btn-sm2 {
    font-size: 8px;
    line-height: 1.5;
    border-radius: .2rem;
    padding: 1px 8px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}
.table-sm td, .table-sm th {
    padding: .05rem !important;
}
.align {
    margin-left: 15px;
}

button:hover {
	cursor: pointer;
}
.btn-info,.btn-success,.btn-danger {
    color: #fff;
    height: 32px;
    margin-top: 8px;
    font-size: 13px;
}
.btn-secondary1 {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    height: 32px;
    margin-top: 8px;
    font-size: 13px;
}
.btn-primary1 {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    height: 32px;
    margin-top: 8px;
    font-size: 13px;
}
.save {
    float:right;
    margin-top: -38px;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}
.footer {
    background: #f2f2f2;
    padding:5px;
}
.footers {
    background: #f2f2f2;
    padding: 5px;
    margin-top: 170px !important;
}
.txt2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #1da1f2}
.bg3 {background-color: #ea4335}



/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 21px;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 13px;
  color: #333333;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 43px;
  background: transparent;
  padding: 0 7px 0 43px;
}
.btn-primary2 {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 12px;
}


/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #adadad;
  font-size: 22px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.input100:focus + .focus-input100::after {
  color: #a64bf4;
}

.has-val.input100 + .focus-input100::after {
  color: #a64bf4;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}
.btn-sm {
    font-size: 12px;
    line-height: 1.5;
    border-radius: .2rem;
    padding: 0px 6px;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
p.mas-def {
    float: right;
    font-size: 16px;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  width: 100%;
  height: 42px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
div#attach2 {
    margin-left: -15px;
}
.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login100-social-item {
  font-size: 25px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.table .thead-dark th {
    background-color: #1f4a79 !important;
    border-color: #1f4a79 !important;
    font-weight:100 !important;
    text-align:center;
}
.table {
    font-size:12px !important;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

/* Tabs */
.nav-tabs {
    border-bottom: 1px solid #1f4a79;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #1f4a79 !important;
  border-color: #1f4a79 #1f4a79 #1f4a79 !important;
}
.nav-tabs .nav-link {
    border: 1px solid #1f4a79;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #467fbd;
    color: #fff;
    font-size: 11px;
    padding: 6px;
}
div#attachment {
    margin-left: 0px;
}
div#audit {
    margin-left: 16px;
}
div#ap {
    margin-left: 0px;
}
.remark {
    margin-left:-16px;
}
.mt-0 {
    margin-top: -15px !important;
}


/*-------------- */

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
    width:90%;
  }
} 
@media (min-width: 1200px) {
.containers {
    max-width: 1275px !important;
}
}