﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DataAccessHandler.Models.IEMProduct.Delmat_Model

@{
    DBHelper.WorkFlow_Model objmdl = new DBHelper.WorkFlow_Model();
    //objmdl.Type_Code = Model.Type_gid.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delmat</title>`
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        span.k-link {
            position: relative !important;
            top: 0px !important;
        }
        .k-multiselect-wrap{
            max-height:30px !important;
            overflow:auto !important;
        }
          a.k-grid-Delete{
            background:transparent !important;
            border:transparent !important;
        }
    </style>
</head>
<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;">
            <p style="text-align:center;color:white;">Delmat Configuration</p>
        </div>
    </div>

    <div class="row" style="margin-top:10px;margin-left:5px;margin-right:5px;">
        <div class="col-sm-3">
            <label>Delmat Name</label><br />
            <input id="txtDelmatName" type="text" title="Delmat Name" value="" class="form-control" />
        </div>
        <div class="col-sm-9">
            @Html.Partial("Types_Attribute", objmdl)
        </div>
    </div>
    <div class="row" style="margin-top:10px;margin-left:5px;margin-right:5px;">
        <div class="col-sm-3">
            <label>Department</label>
            @(Html.Kendo().MultiSelectFor(m => m.Dept_Gid)
                  .Name("Dept_Gid")
                  .DataTextField("Dept_Name")
                  .DataValueField("Dept_Gid")
                  .HtmlAttributes(new { @style = "width: 100%;" })
                  .AutoBind(false)
                  .AutoClose(false)
                  .DataSource(source =>
                  {
                      source.Read(read => { read.Action("Get_DropDownList_Dept", "WorkFlow", new { Action_Type = "Dept", Master_Code = "Dept" }); });
                  }))

        </div>

        <div class="col-sm-2" id="clone">
            <label>Clone</label><br />

            @Html.RadioButtonFor(m => m.IsCloned, "Y", new { id = "cloneyes", onclick = "EnableExistingDelmat(this);" })
            <label for="Yes" style="font-weight: normal;">Yes</label>
            @Html.RadioButtonFor(m => m.IsCloned, "N", new { id = "cloneno", onclick = "EnableExistingDelmat(this);" })
            <label for="No" style="font-weight: normal;">No</label>

            @*@Html.RadioButtonFor(model => model.IsCloned, "Y") @Html.Label("Yes:")
                @Html.RadioButtonFor(model => model.IsCloned, "N") @Html.Label("No:")*@
        </div>
        <div class="col-sm-2">
            <label>Existing Delmat</label><br />
            @(Html.Kendo().DropDownList()
        .Name("DelmatName")
                .DataTextField("ExistingDelmat_Name")
                .DataValueField("ExistingDelmat_Gid")
                    //  .Events(e => e.Change("OnChange_ExistingDelmat"))
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("Get_DelmatName", "Delmat");
        });
    }))


        </div>
        <div class="col-sm-1">
            <label>Version</label><br />
            @*<input type="text" id="lblVersion" class="form-control" />*@
            @Html.TextBoxFor(m => m.Version, new { @style = "width:50px" })
        </div>
        <div class="col-sm-2" id="status">
            <label>Active</label><br />

            @Html.RadioButtonFor(m => m.IsActive, "Y", new { id = "Statusyes" })
            <label for="Yes" style="font-weight: normal;">Yes</label>
            @Html.RadioButtonFor(m => m.IsActive, "N", new { id = "Statusno" })
            <label for="No" style="font-weight: normal;">No</label>

            @*@Html.RadioButtonFor(model => model.IsActive, "Y") @Html.Label("Yes:")
                @Html.RadioButtonFor(model => model.IsActive, "N") @Html.Label("No:")*@
        </div>
        <div class="col-sm-3" style="margin-top:23px;">
            <button type="button" class="btn btn-primary" onclick="return SetDelmatHeader();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>&nbsp;
        </div>
    </div>
    <div class="row" style="margin-left:2px;">
        <button type="button" id="btnsave" class="btn btn-primary" value="Save" style="margin-top:20px" onclick="NewSlabAdd()">
            <span class="glyphicon glyphicon-floppy-disk" style="color:white; font-size:12px;"></span> Slab
        </button>
        <button type="button" id="btnException" class="btn btn-primary" value="Save" style="margin-top:20px" onclick="NewExceptionAdd()">
            <span class="glyphicon glyphicon-floppy-disk" style="color:white; font-size:12px;"></span> Exception
        </button>
    </div>
    <div class="row" style="margin-left:2px;">
        @using (Html.BeginForm("Delmat", "Delmat", FormMethod.Post, new { @id = "Form_DelmatFlow" }))
        {
            @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Delmat_Model>().Name("KendGrid_DelmatFlow")
                     .HtmlAttributes(new { @style = "width:99%;line-height:2em;font-weight:normal;height: 200px;" })
                      .ToolBar(toolbar => toolbar.Create().Text("Add Delmat Flow"))
                      .Columns(columns =>
                        {
                            columns.Bound(m => m.DelmatFlow_Gid).Title("DelmatFlow_Gid").Hidden().Width(150);
                            columns.Bound(m => m.Title_Text).Title("Title").Width(150);
                            columns.Bound(m => m.Title_Ref_Code).Title("Title Ref Value").Width(150);
                            columns.Bound(m => m.Slabrange_LimitName).Title("SlabRange Name").Width(150);
                            columns.Bound(m => m.IsIncluded).ClientTemplate("<input type='checkbox' id='checkbox'  #= IsIncluded == true ? checked='checked' : '' # />").Width(30);
                            columns.Bound(m => m.DelmatFlow_Order).Title("Flow Order").Width(50);
                            columns.Command(cmd => {                                 
                                cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("DelmatFlow_Delete");
                            }).Title("Action").Width(110);
                           // columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return DelmatFlow_Delete()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                        })
                        .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5)) 
                //.Filterable() 
                        .Sortable()
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                        .Model(model =>
                            {
                                model.Id(p => p.DelmatFlow_Gid);
                                model.Field(m => m.IsIncluded).Editable(true);
                            })
                        .PageSize(10)
                            //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                        .Read(read => read.Action("Read_DelmatFlow", "Delmat").Data("GetdelmatflowGridDetails"))
                        .Create(Create => Create.Action("Save_Update_DelmatFlow", "Delmat").Data("SetAddionalParams"))
                        .Update(update => update.Action("Save_Update_DelmatFlow", "Delmat").Data("SetAddionalParams"))
                        ))
        }



    </div>
    <div class="row" style="margin-left:700px;margin-top:10px;" id="divSubmit">
        <button name="btnSubmitDelmat" id="btnSubmitDelmat" type="button" class="btn btn-primary" onclick="SubmitDelmat()">
            <i class='fa fa-floppy-o' aria-hidden='true'></i> Submit
        </button>&nbsp;
        <button name="btnBack" id="btnBack" type="button" class="btn btn-primary" onclick="BacktoDelmatSummary()">
            <i class='fa fa-floppy-o' aria-hidden='true'></i> Back
        </button>
    </div>
    @(Html.Kendo().Window()
.Name("myWindow") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
.Title("Slab Range") //set the title of the window
.Content(@<text>
            @Html.Partial("SlabRange")
</text>)
                                                                                                                                                                                                                                                                                                                                .Draggable() //Enable dragging of the window
                                                                                                                                                                                                                                                                                                                                .Resizable() //Enable resizing of the window
                                                                                                                                                                                                                                                                                                                                .Width(600) //Set width of the window
                                                                                                                                                                                                                                                                                                                                .Modal(true)
                                                                                                                                                                                                                                                                                                                                .Visible(false)
    )

    @(Html.Kendo().Window()
.Name("ExceptionWin") //The name of the window is mandatory. It specifies the "id" attribute of the widget.
.Title("Add Exception") //set the title of the window
.Content(@<text>
            @Html.Partial("Exception")
</text>)
                                                                                                                                                                                                                                                                                                                                               .Draggable() //Enable dragging of the window
                                                                                                                                                                                                                                                                                                                                               .Resizable() //Enable resizing of the window
                                                                                                                                                                                                                                                                                                                                               .Width(600) //Set width of the window
                                                                                                                                                                                                                                                                                                                                               .Modal(true)
                                                                                                                                                                                                                                                                                                                                               .Visible(false)
    )
    @Html.HiddenFor(m => m.Delmat_Gid)

</body>
</html>

<div id="ForSlabRangePartialView"></div>




<script>
    function BacktoDelmatSummary() {
        debugger;
        window.location = '@Url.Action("ReadDelmat","Delmat")';
    }

    function OnChange_ExistingDelmat() {
        /* debugger;
         var a = $("#DelmatName").val();
         $("#Delmat_Gid").val($("#DelmatName").val());
         var b = $("#Delmat_Gid").val();
         $("#KendGrid_DelmatFlow").data("kendoGrid").dataSource.read();
         $("#KgridException").data("kendoGrid").dataSource.read();*/
    }

    function EnableExistingDelmat(IsClonedval) {
        debugger;
        var DelmatName = $('#DelmatName').data("kendoDropDownList");
        var IsCloned = "N";
        if (document.getElementById('cloneyes').checked) {
            IsCloned = document.getElementById('cloneyes').value;
        }
        if (IsCloned == "Y") {
            DelmatName.enable(true);
        }
        else {
            DelmatName.enable(false);
        }
    }
    $(document).ready(function () {
        debugger;

        //$('input:radio[name=IsCloned]:checked').change(function () {
        //$('input[name="IsCloned"]:clcik').change(function () {


        var Delmat_Gid = $("#Delmat_Gid").val();
        if (Delmat_Gid > 0) {
            $.ajax({
                url: '../Delmat/Read_DelmatHeader/',
                //data: JSON.stringify(DelmatHeader),
                data: "{ Delmat_Gid:'" + Delmat_Gid + "'}",
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    debugger;

                    var DelmatName = data.Data[0].Delmat_Name;
                    $("#txtDelmatName").val(DelmatName);

                    var Version = data.Data[0].Version;
                    $("#Version").val(Version);

                    //var Cloned = data.Data[0].IsCloned
                    //$("#clone").val(IsCloned);


                    //var Type_Code = data.Data[0].Type_Code
                    //$("#Type_Name").val(Type_Code);
                  

                    //$("#HDN_Type").val(data.Data[0].AttributeChilds);

                    var Type = $('#Type_Code').data("kendoDropDownList");
                    // var Typeid = data.Data[0].SubTypkene_gids;
                    Type.value(data.Data[0].Type_gid);
                    Type.trigger("change");

                    debugger;
                    //var multiSelect = $('#Dept_Gid').data("kendoMultiSelect");
                    //var dept_ids = data.Data[0].Dept_Gids;
                    //multiSelect.value(dept_ids.split(','));
                    //multiSelect.trigger("change");
                    /*debugger;
                    var multiSelect_subtype = $('#SubType_Code').data("kendoMultiSelect");
                    var SubType_gids = data.Data[0].SubType_gids;
                    multiSelect_subtype.value(SubType_gids.split(','));
                    multiSelect_subtype.trigger("change");*/

                    //var ExistingDelmatGid = data.Data[0].ExistingDelmatGid
                    //$("#DelmatName").val(ExistingDelmatGid);

                    var ExistingDelmatName = $('#DelmatName').data("kendoDropDownList");
                    // var Typeid = data.Data[0].SubTypkene_gids;
                    ExistingDelmatName.value(data.Data[0].ExistingDelmatGid);
                    ExistingDelmatName.trigger("change");
                    //var IsCloned = document.getElementById("status");
                    //var IsCloned = document.getElementById("status");

                    // var IsCloned = $("input[name=IsCloned]:checked").val()

                    var IsActive = data.Data[0].IsActive;
                    $('input[name="two"]:checked').val(IsActive);
                    if (IsActive == "Y") {
                        $("#Statusyes").prop("checked", true);
                    }
                    else {
                        $("#Statusno").prop("checked", true)
                    }

                    debugger;
                    var IsCloned = data.Data[0].IsCloned;
                    $('input[name="one"]:checked').val(IsCloned);
                    var ExistingDelmatName = $('#DelmatName').data("kendoDropDownList");
                    if (IsCloned == "Y") {
                        $("#cloneyes").prop("checked", true);

                        ExistingDelmatName.enable(true);

                    }
                    else {
                        $("#cloneno").prop("checked", true);
                        ExistingDelmatName.enable(false);
                    }

                    debugger;
                    setTimeout(function () {

                        var multiSelect = $('#Dept_Gid').data("kendoMultiSelect");
                        var dept_ids = data.Data[0].Dept_Gids;
                        multiSelect.value(dept_ids.split(','));
                        multiSelect.trigger("change");

                        /* var chklength = $('.chkChild').length;
                         var attribute_gids = data.Data[0].AttributeChilds;
                         var attributearray = attribute_gids.split(',');
                         //for (j = 0; j < chklength; j++) {
                             for (k = 0; k < attributearray.length; k++) {
                                 var a = attributearray[k];
                                 // $('.chkChild')[a].checked = true;
                                 //$('.chkChild:checked').val(a);
                                 $('input[class="chkChild"]:checked').val(a);
                            // }
                             }*/

                        var attribute_gids = data.Data[0].AttributeChilds;
                        var attributearray = attribute_gids.split(',');
                        var arrayValues = attributearray;
                        $.each(arrayValues, function (i, val) {
                            $("input[value='" + val + "']").prop('checked', true);

                        });

                        var multiSelect_subtype = $('#SubType_Code').data("kendoMultiSelect");
                        var SubType_gids = data.Data[0].SubType_gids;
                        multiSelect_subtype.value(SubType_gids.split(','));
                        multiSelect_subtype.trigger("change");
                    }, 2500);

                },


            });
        }

    })
    function SubmitDelmat() {
        debugger;
        var DelmatHeader_gid = $("#Delmat_Gid").val();
        var DelmatHeader = {
            "DelmatHeader_gid": DelmatHeader_gid
        }
        $.ajax({
            url: '../Delmat/Save_DelmatMatrix/',
            data: JSON.stringify(DelmatHeader),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                var Result = JSON.parse(data);

                if (Result[0]["Clear"] == 1) {
                    $("#btnSubmitDelmat").attr("disabled", "disabled");
                    $.alert({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        //objDialog.dialog("close");
                        window.location = '@Url.Action("ReadDelmat","Delmat")';
                        debugger;
                        
                    }, 2500);

                    // window.location = '@Url.Action("ReadDelmat","Delmat")';

                   
                }
                else {
                    $.alert({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                }

            },
        });
    }
    function SetDelmatHeader() {
        debugger;
        var DelmatHeader_gid = $("#Delmat_Gid").val();
        var Delmat_Name = $("#txtDelmatName").val();
        var Type_Code = $("#Type_Code").val();
        var SubType_Code = $("#SubType_Code").val();
        var AttributeChild = $('.chkChild:checkbox:checked').map(function () {
            return this.value;
        }).get();

        var Dept_Gids = $("#Dept_Gid").val();
        var ExistingDelmat_Gid = 0;

        var Version = $("#Version").val();

        var IsActive = "";

        if (document.getElementById('Statusyes').checked) {
            IsActive = document.getElementById('Statusyes').value;
        }
        else if (document.getElementById('Statusno').checked) {
            IsActive = document.getElementById('Statusno').value;
        }

        var IsCloned = "";

        if (document.getElementById('cloneyes').checked) {
            IsCloned = document.getElementById('cloneyes').value;
        }
        else if (document.getElementById('cloneno').checked) {
            IsCloned = document.getElementById('cloneno').value;
        }
        if (IsCloned == "Y") {
            ExistingDelmat_Gid = $("#DelmatName").val();

        }
        if (Delmat_Name == null || Delmat_Name == "") {
            $.alert({
                title: 'IEM Product',
                content: 'Please Enter The Delmat Name',
                type: 'blue',
            });
            return false;
        }

        if (Type_Code == "-select-" || Type_Code == undefined || Type_Code == "0") {
            $.alert({
                title: 'IEM Product',
                content: 'Select Type Name',
                type: 'blue',
            });
            return false;
        }

        if (SubType_Code == "-select-" || SubType_Code == undefined) {
            $.alert({
                title: 'IEM Product',
                content: 'Select Sub Type',
                type: 'blue',
            });
            return false;
        }

        if (Dept_Gids == "-select-" || Dept_Gids == undefined) {
            $.alert({
                title: 'IEM Product',
                content: 'Select Department',
                type: 'blue',
            });
            return false;
        }


        if (Version == null || Version == "") {
            $.alert({
                title: 'IEM Product',
                content: 'Please Enter The  Version',
                type: 'blue',
            });
            return false;
        }

        if (IsActive == null || IsActive == "") {
            $.alert({
                title: 'IEM Product',
                content: 'Please Select The  Status',
                type: 'blue',
            });
            return false;
        }

        /* debugger;
         var confirm = "N";
         if (IsCloned == "Y") {
             debugger;
             $.confirm("Are you sure you want to Clone the Delmat? ", "Message", function (u) {
                 debugger;
                 if (u == true) {
                     debugger;
                     confirm = "Y";
                 }
             });

         }
         else {
             confirm = "Y";
         }

         setTimeout(function () {
             if (confirm == "Y") */


        var DelmatHeader = {
            "DelmatHeader_gid": DelmatHeader_gid,
            "Delmat_Name": Delmat_Name,
            "Type_gid": Type_Code,
            "SubType_gids": SubType_Code.join(','),
            "AttributeChilds": AttributeChild.join(','),
            "Dept_Gids": Dept_Gids.join(','),
            "IsCloned": IsCloned,
            "ExistingDelmat_Gid": ExistingDelmat_Gid,
            "Version": Version,
            "IsActive": IsActive
        };
        $.ajax({
            url: '../Delmat/Save_Update_Delmat/',
            data: JSON.stringify(DelmatHeader),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                var Result = JSON.parse(data);

                if (Result[0]["Clear"] == 1) {
                    //$("#Delmat_Gid").val(Result[0]["delmat_gid"]);

                    $.alert({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        objDialog.dialog("close");
                        //$("#KendGrid_DelmatFlow").data("kendoGrid").dataSource.read();
                        //$("#KgridException").data("kendoGrid").dataSource.read();
                    }, 2500);
                    window.location.href = '../Delmat/Delmat?Delmat_Gid=' + Result[0]["delmat_gid"];
                }
                else {
                    $.alert({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                }

            },
        });
        /* }
     }, 2500);*/
    }
    function Title_Onchange() {
        debugger;
       /* var grid = $("#KendGrid_DelmatFlow").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Title_Text = (model.Title_Text);*/
        //$("#DelmatFlow_Order").focus();
        var select = $("#Title_Ref_Gid").data("kendoDropDownList");
        select.dataSource.read();
    }

    function Title_Ref_Onchange() {
        debugger;
        //var grid = $("#KendGrid_DelmatFlow").data("kendoGrid");
        //var model = grid.dataItem($(event.target).closest("tr"));
        //var Title_Text = (model.Title_Text);
        var res = $("#Title_Code").data("kendoDropDownList").value();
        return { TitleRefcode: res }
    }

    function NewSlabAdd() {
        var wdw = $("#myWindow").data("kendoWindow"); //get the Window widget's instance
        wdw.open();
        //objDialog.load('../Delmat/SlabRange?name=' + value + '&viewfor=new&' + new Date().getTime());
        //objDialog.dialog({ title: 'Add New Slab Range', width: '850' });
        //objDialog.dialog("open");
        //$("#KgridSlabRange").data("kendoGrid").dataSource.bind();
        return false;
    }
    function NewExceptionAdd() {
        var wdw = $("#ExceptionWin").data("kendoWindow"); //get the Window widget's instance
        wdw.open();
        //objDialog.load('../Delmat/SlabRange?name=' + value + '&viewfor=new&' + new Date().getTime());
        //objDialog.dialog({ title: 'Add New Slab Range', width: '850' });
        //objDialog.dialog("open");
        //$("#KgridSlabRange").data("kendoGrid").dataSource.bind();
        return false;
    }
</script>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;

        $("#KendGrid_DelmatFlow").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KendGrid_DelmatFlow").data("kendoGrid");



        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })

    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }





    function DelmatFlow_Delete() {
        debugger;
        var grid = $("#KendGrid_DelmatFlow").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var DelmatFlow_Gid = (model.DelmatFlow_Gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Remove_DelmatFlow", "Delmat")',
                        data: "{ DelmatFlow_Gid:'" + DelmatFlow_Gid + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].Clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }


    function GetdelmatflowGridDetails() {
        debugger;
        //var Delmat_Gid = 1;Delmat_Gid
        // var Delmat_Gid = $("#hdDelmat_gid").val();
        var Delmat_Gid = $("#Delmat_Gid").val();
        //if (Delmat_Gid == 0) {
        //    $.alert({
        //        icon: 'fa fa-success',
        //        title: 'IEM Product',
        //        theme: 'dark',
        //        content: 'Kindly Save Delmat Header Details.!',
        //        type: 'green',
        //        animationSpeed: 700,
        //    });
        //}
        //else {
        return { DelmatHeader_Gid: Delmat_Gid }
        //}
    }

    function SetAddionalParams() {
        debugger;
        //var Delmat_Gid = 1;
        // var Delmat_Gid = $("#hdDelmat_gid").val();Delmat_Gid
        // var action = "C";
        var aaaaa = $("#Delmat_Gid").val();

        return { DelmatHeader_Gid: aaaaa }
    }

</script>
