﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">

    @using (Html.BeginForm("Exception", "Exception", FormMethod.Post, new { @id = "form1" }))
    {
        <div>
            @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Delmat_Model>().Name("KgridException")
                                .HtmlAttributes(new { @style = "line-height:2em;font-weight:normal;height:150px;width:90%;margin-bottom:8px;" })
                                 .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.delmatexception_gid).Width(40).Title("delmatexception_gid").Hidden();
                                    columns.Bound(m => m.EmployeeCode).Width(80).Title("Employee Code/Name");
                                    columns.Bound(m => m.delmatexception_title).Width(60).Title("Title");
                                    columns.Bound(m => m.delmatexception_Limit).Width(60).Title("Limit");
                                    columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(95).HeaderHtmlAttributes(new { style = "position:relative !important; top:-9px !important;" });
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50).HeaderHtmlAttributes(new { style = "position:relative !important; top:-9px !important;" });
                                })
                                .Editable(editable =>

                             { editable.Mode(GridEditMode.InLine); })
                              .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(new List<object> { 5, 10, 20, 500 })
                              .ButtonCount(2))
                              .Filterable()
                              .Sortable()
                              .Scrollable(s => s.Enabled(true).Height("auto"))
                              .Resizable(resize => resize.Columns(true))
                              .Selectable()
                              .DataSource(dataSource => dataSource
                              .Ajax()
                             .PageSize(10)
                             .Model(model => model.Id(p => p.delmatexception_gid))
                             //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                             .Read(read => read.Action("Read_Exception", "Delmat").Data("GetExceptionGridDetails"))
                             .Create(Create => Create.Action("Save_Update_Delmat_Exception", "Delmat").Data("SetSaveActionType"))
                             .Update(update => update.Action("Save_Update_Delmat_Exception", "Delmat").Data("SetSaveActionType"))
                             ))
        </div>

    }



        </div>
    </div>
</div>
<script>
    function myDeleteJs() {
        debugger;
        var grid = $("#KgridException").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var DelmatException_Gid = (model.delmatexception_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Remove_Exception", "Delmat")',
                        data: "{ Delmat_Exeption_Gid:'" + DelmatException_Gid + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].Clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }


    $(document).ready(function () {
        debugger;

        $("#KgridException").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridException").data("kendoGrid");

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })


    function onRequestEnd(e) { //run once the server operations is end.
        debugger;
        var message = "";
        //Check request type
        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                message = JSON.parse(e.response);
                if (message[0].Clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#KgridException").data("kendoGrid").dataSource.read();
                        //window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    $("#KgridException").data("kendoGrid").dataSource.read();
                }
            }
        }
    }
    function GetExceptionGridDetails() {
        debugger;
        //var Delmat_Gid = 1;Delmat_Gid
       // var Delmat_Gid = $("#hdDelmat_gid").val();
        var Delmat_Gid = $("#Delmat_Gid").val();

        return { Delmat_Gid: Delmat_Gid }
    }
    function SetSaveActionType() {
        debugger; 
        var employee_gid = $("#EmployeeCode").val();
        var action = "C";
        //var delmat_gid = "1";
      //  var delmat_gid = $("#hdDelmat_gid").val();
        var delmat_gid = $("#Delmat_Gid").val();
        return { ActionType: action, DelmatException_DelmatGid: delmat_gid, Employee_gid: employee_gid }
    }
    
</script>