﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DataAccessHandler.Models.IEMProduct.Delmat_Model

@{
    DBHelper.BulkUpload_Model objmdl = new DBHelper.BulkUpload_Model();
    //objmdl.Type_Code = Model.Type_gid.ToString();
}
<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Delmat</p>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:5px;">

            <div class="row mt-1">

                <button type="submit" onclick="btnadd()" class="btn btn-block  pull-left" style="text-align:left;padding-left:20px;"><span class="fa fa-plus-circle"></span> Add New</button>

                <div class="col-md-12 table-responsive">

                    @using (Html.BeginForm("ReadDelmat", "Delmat", FormMethod.Post, new { @id = "form1" }))
                    {
                        <div>
                            @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Delmat_Model>().Name("KgridDelmat")
                                .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal;height: 347px" })
                              //  .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                              
                                .Columns(columns =>
                        {
                            columns.Bound(m => m.Delmat_Gid).Title("DelmatFlow_Gid").Hidden().Width(10);
                            columns.Bound(m => m.Delmat_Name).Title("Delmat_Name").Width(50);
                            columns.Bound(m => m.Version).Title("Version").Width(50);
                            columns.Bound(m => m.IsActive).Title("Active").Width(50);
                        //   columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Edit").Width(110);
                           columns.Template(p => { }).ClientTemplate("<span class='btn btn-orange fa fa-edit' id='Edit' value='Edit'  onclick='Edit()' ></span>").Title("Edit").Width(100);
                            
                           // columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return DelmatFlow_Delete()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                            columns.Template(p => { }).ClientTemplate("<span class='btn btn-orange fa fa-eye View' id='View' value='View' onclick='return View_Academic()' ></span>").Title("Action").Width(100);
                                 
                            //columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(180);
                            columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return  myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);

                        })

                             //   .Editable(editable =>
                             //{ editable.Mode(GridEditMode.PopUp).TemplateName("Delmat"); })
                                       .Pageable(pageable => pageable
                                        .Refresh(true)
                                          .PageSizes(new List<object> { 5, 10, 20, 500 })
                                        .ButtonCount(5))

                            .Filterable()
                             .Sortable()
                             .Scrollable(s => s.Enabled(true).Height("auto"))
                             .Resizable(resize => resize.Columns(true))

                             .DataSource(dataSource => dataSource
                             .Ajax()
                              .Model(model =>
                                {
                                    model.Id(m => m.Delmat_Gid);

                                })
                             .PageSize(5)

                                     .Events(events => events.Error("error_handler"))

                            .Model(model => model.Id(p => p.Delmat_Gid))
                             .Read(read => read.Action("Read_Delmat", "Delmat"))
                .Create(Create => Create.Action(" ", " "))
                            .Update(update => update.Action(" ", " "))
                             ))
                        </div>
                    }
                </div>

                @*<div class="container-fluid">
                    @Html.Partial("DebitlineBulkUpload", objmdl)
                </div>*@
            </div>
        </div>

    </div>
    @*<input type="hidden" id="hdDelmat_gid" value="0" />*@
    @*@Html.HiddenFor(m => m.Delmat_Gid)*@
</body>
</html>



<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;

        //$("#KgridDelmat").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        $("#KgridDelmat").data("kendoGrid").dataSource.bind();
        var grid = $("#KgridDelmat").data("kendoGrid");
     //   Delmat_Gid = $("#Delmat_Gid").val();
      // alert(Delmat_Gid);

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");


        });

    })

    function myDeleteJs() {
        debugger;
        var grid = $("#KgridDelmat").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Delmat_Gid = (model.Delmat_Gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Remove_Delmat", "Delmat")',
                        data: "{ Delmat_Gid:'" + Delmat_Gid + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].Clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }


    @*function View_Academic() {
        debugger;
        var url = '@Url.Action("Delmat", "Delmat")'
        window.location.href = url;

        // to click selected row
        $("#KgridDelmat").on("click", function () {
            debugger;
            var grid = $("#KgridDelmat").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());

            $("#KendGrid_DelmatFlow").data("kendoGrid").dataSource.read();

        });

        var Delmat_Gid = $("#hdDelmat_gid").val();
       // return { DelmatHeader_Gid: Delmat_Gid }
        //window.location.href = '../login/ForgetPassword';
    }*@
   

    //function SetAddionalParams() {
    //    debugger;
    //    //var Delmat_Gid = 1;

    //}
</script>

<script>
    function btnadd() {
        //debugger;
        //window.location.href = '../ConfigureAttributes/ConfigureAttributes';
        //return;

        debugger;
        var url = '@Url.Action("Delmat", "Delmat")'
        window.location.href = url;
         
    }



    function Edit() {
        debugger;

        var grid = $("#KgridDelmat").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Delmat_Gid = (model.Delmat_Gid);
       // var Delmat_Name = (model.Delmat_Name);
        //var Type_Code = (model.Type_Code);
       // var SubType_Code = (model.SubType_Code);
        //var Delmat_Name = (model.Delmat_Name);
      //  var IsCloned = (model.IsCloned);
        //var mode = 'I';
        window.location.href = '../Delmat/Delmat?Delmat_Gid=' + Delmat_Gid;

    }

    function View_Academic() {
        debugger;

        var grid = $("#KgridDelmat").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var Delmat_Gid = (model.Delmat_Gid);
        //var mode = 'I';
        window.location.href = '../Delmat/Delmat?Delmat_Gid=' + Delmat_Gid;

    }
    
    </script>
 