﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;

<style>
    .title {
        background: #255987;
        color: #fff;
        padding: -2px;
        height: 22px;
        margin-top: 24px !important;
        margin-bottom: 8px;
    }

    .heading {
        text-align: center;
        font-size: 14px;
        margin: 3px;
    }

    .k-selectable {
        height: 100px;
    }

    a.k-button.k-button-icontext.k-grid-add {
        background: transparent;
        border-color: transparent;
    }

    div.k-window-content {
        overflow: hidden;
    }

    .k-widget.k-window {
        top: 290px !important;
        left: 300px !important;
    }
    .k-grid table {
        height:10px;
    }
</style>

@*
    <table class="table table-striped table-bordered table-responsive" style="border:inset;margin-bottom: 0px;">
        <tbody>

            <tr>
                <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeName">Slab Range Name</span>
                    <br />
                    <input type="text"
                           name="SlabRangeName"
                           id="SlabRangeName"
                           value="" maxlength="50"
                           class="fstextbox valid" />
                </td>
                <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeFrom">Slab Range From</span>
                    <br />
                    <input type="text"
                           name="SlabRangeFrom"
                           id="SlabRangeFrom"
                           value="" maxlength="13" onkeypress="return isNumberKey(event)"
                           class="fstextbox valid" />
                </td>
                <td style="width:25%; padding:0px 10px 0px 3px;">
                    <span id="lblSlabRangeTo">Slab Range To</span>
                    <br />
                    <input type="text"
                           name="SlabRangeTo"
                           id="SlabRangeTo"
                           value="" maxlength="13" onkeypress="return isNumberKey(event)"
                           class="fstextbox valid" />
                </td>

                <td style="width:25%; padding:0px 10px 0px 3px;">

                    <button type="button" id="btnsave" class="btn btn-primary" value="Save" style="margin-top:20px" onclick="SaveSlab()">
                        <span class="glyphicon glyphicon-floppy-disk" style="color:white; font-size:12px;"></span> Save
                    </button>

                </td>
            </tr>

        <tr>
            <td>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">

            @*@using (Html.BeginForm("SlabRange", "SlabRange", FormMethod.Post, new { @id = "form1471" }))
            {*@
                <div>
                    @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Delmat_Model>().Name("KgridSlabRange")
                                .HtmlAttributes(new { @style = "line-height:2em;font-weight:normal;height:150%;width:90%;margin-bottom: 7px;" })
                                 .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.Slabrange_Gid).Width(80).Title("slabrange_gid").Hidden();
                                    columns.Bound(m => m.Slabrange_Name).Width(40).Title("Slab Range Name");
                                    columns.Bound(m => m.Slabrange_From).Width(40).Title("Slab Range From");
                                    columns.Bound(m => m.Slabrange_To).Width(40).Title("Slab Range To");
                                    columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(70).HeaderHtmlAttributes(new { style = "position:relative !important; top:-9px !important;" });
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return SlabRange_Delete()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(30).HeaderHtmlAttributes(new { style = "position:relative !important; top:-9px !important;" });
                                })
                                .Editable(editable =>

                             { editable.Mode(GridEditMode.InLine); })
                              .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(new List<object> { 5, 10, 20, 500 })
                              .ButtonCount(2))
                              .Filterable()
                              .Sortable()
                              .Scrollable(s => s.Enabled(true).Height("auto"))
                              .Resizable(resize => resize.Columns(true))
                              .Selectable()
                              .DataSource(dataSource => dataSource
                              .Ajax()
                             .PageSize(10)
                             .Model(model => model.Id(p => p.Slabrange_Gid))
                             .Read(read => read.Action("Read_SlabRange", "Delmat"))
                                     .Create(Create => Create.Action("SaveNew_SlabRange", "Delmat"))
                                     .Update(update => update.Action("SaveNew_SlabRange", "Delmat"))
                             ))
                </div>

            @*}*@



        </div>
    </div>
</div>
 
<script type="text/javascript">
   

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }

    $(document).ready(function () {
        debugger;
        $("#KgridSlabRange").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#KgridSlabRange").data("kendoGrid");
    });


    function onRequestEnd(e) {
        debugger;
        //Check request types  $.getJSON("GetTranType/Transaction?  id=" + templateid + "&parentcode=" + parentcode, function (data)

        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }

  

    $(document).ready(function () {
        debugger;
        $("#KgridSlabRange").data("kendoGrid").dataSource.bind();
    });

    function isNumberKey(evt) {
      
        if (event.shiftKey == true) {
            event.preventDefault();
        }
        if ((event.keyCode >= 48 && event.keyCode <= 57) ||
            //(event.keyCode >= 96 && event.keyCode <= 105) ||
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {
        } else {
            event.preventDefault();
        }
        if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault();
       
    }



</script>


<script>
    function SlabRange_Delete() {
        debugger;
        var grid = $("#KgridSlabRange").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var SlabRange_Gid = (model.Slabrange_Gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Remove_SlabRange", "Delmat")',
                        data: "{ SlabRange_Gid:'" + SlabRange_Gid + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].Clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
</script>