﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DataAccessHandler.Models.IEMProduct.Checklist_Model


<html>

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 57%;
        font-weight: normal;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        /*height:25%;*/
    }

        .k-edit-form-container .k-edit-buttons {
            visibility: hidden !important;
        }
</style>


<body>

    <div class="container-fluid">
        <div class="row mt-1 top" style="margin-top:2px;">
            <div class="col-md-12" style="background-color:#245988;">
                <p style="text-align:center;color:#fff;">Check List</p>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-3">
                @Html.Label("Type", new { style = "" })
                @(Html.Kendo().DropDownList()
                       .Name("TranId")
                       .DataTextField("Tran_Type")
                       .DataValueField("TranId")
                               .Events(e => e.Change("onChangeType"))
                       .HtmlAttributes(new { style = "width:100%" })
                       .DataSource(source => { source.Read(read => { read.Action("GetTranType", "CheckList", new { parentcode = "QCD_Type" }); }).ServerFiltering(true); }))
                @*@Html.ValidationMessageFor(model => model.TranId)*@



            </div>
            <div class="col-sm-3">
                @Html.Label("Sub Type", new { })<br />

                @(Html.Kendo().DropDownList()
                       .Name("TransubId")
                       .DataTextField("Tran_SubType")
                       .DataValueField("TransubId")
                        // .Events(e => e.Change("onChangeBankName"))
                       .HtmlAttributes(new { style = "width:100%" })
                       .DataSource(source => { source.Read(read => { read.Action("GetTranSubType", "CheckList", new { parentcode = "QCD_SubType" }); }).ServerFiltering(true); }))
                @*@Html.ValidationMessageFor(model => model.TransubId, "", new { })*@
                @*@Html.ValidationMessageFor(model => model.TransubId)*@
            </div>
            @*<div class="col-sm-3">
                                @Html.Label("Status", new { })<br />
                                @(Html.Kendo().DropDownList()
                                                                                                    .Name("statusname")
                                                           .DataTextField("statusname")
                                                                                                    .DataValueField("statusname")
                            // .Events(e => e.Change("onChangeBankName"))
                .HtmlAttributes(new { style = "width:100%" })
                                                                                                                .DataSource(source => { source.Read(read => { read.Action("dropdowns_values_binding", "CheckList", new { flag = "ChecklistStatus" }); }).ServerFiltering(true); }))





                            </div>*@


            <div class="col-sm-2">



                <label>Status</label><br />

                @Html.RadioButtonFor(m => m.status, "Y", new { id = "Statusyes" })

                <label for="Yes" style="font-weight: normal;">Active</label>
                @Html.RadioButtonFor(m => m.status, "N", new { id = "Statusno" })
                <label for="No" style="font-weight: normal;">In-Active</label>
                @*@Html.ValidationMessageFor(model => model.status, "", new { })*@
                @Html.ValidationMessageFor(model => model.status)
            </div>
            <div class="col-sm-3">

            </div>

        </div>



    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                @using (Html.BeginForm("CheckList", "CheckList", FormMethod.Post, new { @id = "form3" }))
                {

                    @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Checklist_Model>().Name("Kgridchecklistdml")
                                .HtmlAttributes(new { style = "width:99%;line-height:2em;font-weight:normal" })
                         .ToolBar(toolbar => toolbar.Create().Text("Add New"))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.checklist_gid).Width(20).Title("Master ID").Hidden();
                                    columns.Bound(m => m.checklist_item).Width(80).Title("Check List Item").Width(160);
                                    columns.Bound(m => m.checklist_reason).Width(83).Title("Check List Reason").Width(160);

                                    columns.Bound(m => m.workorder).Width(40).Title("workorder");
                                    columns.Bound(m => m.value).Width(83).Title("workorder").Hidden();
                                    columns.Bound(m => m.TranId).Width(20).Title("Master ID").Hidden();
                                    columns.Bound(m => m.Tran_Type).Width(20).Title("Master ID").Hidden();
                                    columns.Bound(m => m.TransubId).Width(20).Title("Master ID").Hidden();
                                    columns.Bound(m => m.Tran_SubType).Width(20).Title("Master ID").Hidden();
                                    columns.Bound(m => m.status).Width(20).Title("Master ID").Hidden();
                                    columns.Command(cmd => { cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(50);
                                    columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50);
                                })

                                            .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                                            .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(new List<object> { 5, 10, 20, 500 })
                                            .ButtonCount(5))
                                            .Filterable()
                                            .Sortable()
                                                .Events(events => events.Cancel("onCancel"))
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(resize => resize.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                                //.Model(model => { model.Id(m => m.MasterGid);})
                                            .PageSize(20)
                                                .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                            .Model(model => model.Id(p => p.checklist_gid))
                                                                    .Create(Create => Create.Action("SaveGrid", "CheckList").Data("Getchecklist"))
                                                            .Read(read => read.Action("ReadGrid", "CheckList"))
                                         .Update(update => update.Action("UpdateGrid", "CheckList").Data("Getchecklist"))
                                             ))
                }
            </div>
        </div>
    </div>

</body>

</html>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'IEM PRODUCT',
                content: message,
                type: 'red',
            });
        }
    }



    $(document).ready(function () {
        debugger;


        $("#Kgridchecklistdml").data("kendoGrid").dataSource.bind("RequestEnd", onRequestEnd);
        var grid = $("#Kgridchecklistdml").data("kendoGrid");
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
            if (event.model.isNew() == true) {

            }
            else {
                debugger;

                event.container
                          .find("input[name=value]") // get the input element for the field
                          .val("1") // set the value
                          .change();


                var tran = event.model.checklist_gid;

                $("#TranId").data("kendoDropDownList").value(event.model.TranId);

                $("#TranId").data("kendoDropDownList").trigger("change");
                $("#TransubId").data("kendoDropDownList").value(event.model.TransubId);
                $("#TransubId").data("kendoDropDownList").trigger("change");
                var statusname = event.model.status
                if (statusname == "Y") {
                    document.getElementById('Statusyes').checked
                    $("#Statusyes").prop("checked", true);
                }
                else if (statusname == "N") {
                    document.getElementById('Statusno').checked
                    $("#Statusno").prop("checked", true);
                }

            }


        });

    })


    function onRequestEnd(e) {
        debugger;
        //Check request type


        if (e.type == "create") {

            debugger;
            //var Msg = e.response;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                     
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                    //keep the grid in edit-mode
                    var grid = $("#Kgridchecklistdml").data("kendoGrid");
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });
                }
            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

        if (e.type == "update") {
            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'blue',
                    });

                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
            }
        }

    }
    function onCancel(e) {
        debugger;
        $("#Kgridchecklistdml").data("kendoGrid").refresh();

        $("#TranId").data("kendoDropDownList").value(0);

        $("#TransubId").data("kendoDropDownList").value(0);

        $("#Statusyes").prop("checked", false);
        $("#Statusno").prop("checked", false);
    }


    //onchange type
    function onChangeType() {
        debugger;
        var TranId = this.value();

        var parentcode = "QCD_Type"
        if (TranId == "" || TranId == null || TranId == "undefined" || TranId == 0) {
            return false;
        }
        else {
            $.getJSON("/CheckList/GetSubType?TranId=" + TranId + "&parentcode=" + parentcode, function (data) {
                debugger;
                var SubType = data;
                $("#TransubId").data("kendoDropDownList").dataSource.data(SubType);


            });
        }
    }

    function Getchecklist() {
        debugger;
        var type = $("#TranId").val();
        var subtype = $("#TransubId").val();
        var status = "";
        if (document.getElementById('Statusyes').checked) {
            status = document.getElementById('Statusyes').value;
        }
        else if (document.getElementById('Statusno').checked) {
            status = document.getElementById('Statusno').value;
        }
        return { _status: status, Typename: type, subtypename: subtype }
    }






    function myDeleteJs() {
        debugger;
        var grid = $("#Kgridchecklistdml").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var checklist_gid = (model.checklist_gid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeleteGrid", "CheckList")',
                        data: "{ checklist_gid:'" + checklist_gid + "'}",

                        success: function (data) {
                            debugger;

                            var Result = JSON.parse(data);
                            if (Result[0]["Clear"] == 1) {

                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM Product',
                                    theme: 'dark',
                                    content: Result[0]["Msg"],
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }

                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },

                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM Product',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }



</script>


