﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model  DBHelper.Profile_Model

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 80%;
        font-weight: normal;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        /*height:25%; */
    }

    input, select, textarea {
        max-width: 367px !important;
    }
</style>

<html lang="en">

<body>
    <div class="container">
        @*<div class="row mt-1 top" style="margin-top:2px;">
                <div class="col-md-12" style="background-color:#245988;">
                    <p style="text-align:center;color:#fff;">Employee Profile</p>
                </div>
            </div>*@

        <div class="row">

            <div class="col-sm-2">
                @Html.Label("Employee Name", new { @class = "lbl-font" })
                @*@Html.TextBoxFor(model => model.Emp_Name, new { @class = "form-control"})*@
                @Html.TextBoxFor(model => model.Emp_Name, new { style = "width:188px;" })
            </div>
            <div class="col-sm-2">
                @Html.Label("Employee Code", new { @class = "lbl-font" })
                @*@Html.TextBoxFor(model => model.Emp_Code, new { @class = "form-control"*@
                @Html.TextBoxFor(model => model.Emp_Code, new { style = "width:188px;",@maxlength="8"})
            </div>
            <div class="col-sm-2">
                @Html.Label("Gender", new { @class = "lbl-font" })
                <div class="row" style="margin-left: 0px;">
                    @*@Html.RadioButtonFor(m => m.Gender, "M", new { id = "Male", @enable = "false" })*@
                    @Html.RadioButtonFor(m => m.Gender, "M")

                    <label for="Gender" style="font-weight: normal;">Male</label>
                    @*@Html.RadioButtonFor(m => m.Gender, "F", new { id = "Female", @enable = "false" })*@
                    @Html.RadioButtonFor(m => m.Gender, "F")
                    <label for="Gender" style="font-weight: normal;">Female</label>
                </div>
            </div>

            <div class="col-sm-2">
                @Html.Label("Bank Name", new { @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                                                                                                    .Name("Bankid")
                                                                           .DataTextField("BankName")
                                                                                                            .DataValueField("Bankid")
                        //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                                                                       .DataSource(source => { source.Read(read => { read.Action("GetBankName", "Profile", new { parentcode = "QCD_Bank" }); }).ServerFiltering(true); }))



            </div>

            <div class="col-sm-2">
                @Html.Label("Branch", new { style = "margin-top: 2%;", @class = "lbl-font" })
                @(Html.Kendo().DropDownList()
                                                                                                    .Name("branchid")
                                                                           .DataTextField("branchname")
                                                                                                            .DataValueField("branchid")
                        //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                                                                       .DataSource(source => { source.Read(read => { read.Action("Getbranch", "Profile", new { parentcode = "QCD_Branch" }); }).ServerFiltering(true); }))





            </div>



        </div>











        <div class="row" style="margin-top:0.5%;">

            <div class="col-sm-2">
                @Html.Label("Date Of Birth", new { @class = "lbl-font" })
                @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                          .Name("DOB")
                        //.Value(Model.DOB )
                                          .HtmlAttributes(new { style = "width:100%;", placeholder = "DD-MM-YYYY", onkeypress = "return isNumberKey(event)" }))     @*//onkeypress = "return ESTOnkeypress();"*@
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Date Of Join", new { @class = "lbl-font" })
                                        @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                          .Name("DOJ")
                                                //.Value(Model.DOJ )
                                          .HtmlAttributes(new { style = "width: 100%;", placeholder = "DD-MM-YYYY", onkeypress = "return isNumberKey(event)" }))
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Designation", new { @class = "lbl-font" })


                                        @(Html.Kendo().DropDownList()
                                                                                    .Name("Designationid")
                                                   .DataTextField("DesignationName")
                                                                                    .DataValueField("Designationid")
                                                //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                               .DataSource(source => { source.Read(read => { read.Action("Getdesignation", "Profile", new { parentcode = "QCD_Designation" }); }).ServerFiltering(true); }))


                                    </div>
                                    @*<div class="col-sm-2">
                                            <div></div>
                                        </div>*@


                                    <div class="col-sm-2">
                                        @Html.Label("Grade", new { @class = "lbl-font" })
                                        @(Html.Kendo().DropDownList()
                                                                                    .Name("Gradeid")
                                                           .DataTextField("GradeName")
                                                                                            .DataValueField("Gradeid")
                                                //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                                               .DataSource(source => { source.Read(read => { read.Action("GetGrade", "Profile", new { parentcode = "QCD_Grade" }); }).ServerFiltering(true); }))




                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Department", new { @class = "lbl-font" })
                                        @(Html.Kendo().DropDownList()
                                                                                            .Name("Departmentid")
                                                                   .DataTextField("Departmentname")
                                                                                                    .DataValueField("Departmentid")
                                                //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                                                       .DataSource(source => { source.Read(read => { read.Action("GetDepartment", "Profile", new { parentcode = "Dept" }); }).ServerFiltering(true); }))




                                    </div>

                                </div>










                                <div class="row" style="margin-top:0.5%;">


                                </div>








                                <div class="row" style="margin-top:0.5%;">
                                    <div class="col-sm-2">
                                        @Html.Label("FC", new { @class = "lbl-font" })<br />
                                        @(Html.Kendo().DropDownList()
                                                                                                    .Name("Fcid")
                                                                           .DataTextField("FcName")
                                                                                                            .DataValueField("Fcid")
                                                //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                                                                       .DataSource(source => { source.Read(read => { read.Action("GetFC", "Profile", new { parentcode = "QCD_FC" }); }).ServerFiltering(true); }))





                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("CC", new { @class = "lbl-font" })<br />
                                        @(Html.Kendo().DropDownList()
                                                                                                    .Name("CCid")
                                                                           .DataTextField("CCName")
                                                                                                            .DataValueField("CCid")
                                                //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                                                                       .DataSource(source => { source.Read(read => { read.Action("GetCC", "Profile", new { parentcode = "QCD_CC" }); }).ServerFiltering(true); }))





                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Product Code", new { @class = "lbl-font" })
                                        @(Html.Kendo().DropDownList()
                                                                                                    .Name("Productid")
                                                                           .DataTextField("ProductName")
                                                                                                            .DataValueField("Productid")
                                                //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
           .DataSource(source => { source.Read(read => { read.Action("GetProduct", "Profile", new { parentcode = "QCD_Product" }); }).ServerFiltering(true); }))





                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Personal Email", new { @class = "lbl-font" })<br />
                                        @*@Html.TextBoxFor(model => model.Personal_Email, new { @class = "form-control" })*@
                                        @Html.TextBoxFor(model => model.Personal_Email, new { style = "width:188px;" })
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Office Email", new { @class = "lbl-font" })<br />
                                        @*@Html.TextBoxFor(model => model.Personal_Email, new { @class = "form-control" })*@
                                        @Html.TextBoxFor(model => model.Office_Email, new { style = "width:188px;" })
                                    </div>
                                    @*<div class="col-sm-4">
                                            @Html.Label("Address1", new { @class = "lbl-font" })
                                            @Html.TextBoxFor(model => model.Emp_Addr1, new { @class = "form-control" })
                                        </div>*@



                                </div>

                                <div class="row" style="margin-top:1.5%;">
                                    <div class="col-sm-2">
                                        @Html.Label("Supervisor", new { @class = "lbl-font" })
                                        @(Html.Kendo().DropDownList()
                                .Name("employee_supervisor_gid")
                                .DataTextField("Supervisor_name")
                                .DataValueField("employee_supervisor_gid")
                        .Filter("contains")
                                .AutoBind(false)
                .MinLength(3)
                  .HtmlAttributes(new { @style = "width: 100%;"})
                    .DataSource(source =>
               {
                   source.Read(read => { read.Action("GetEmpCodeName", "Profile").Data("basicFilter"); }).ServerFiltering(true); 
               }))

                                        @Html.HiddenFor(model => model.Selected_supervisor_gid)

                                    </div>

                                    <div class="col-sm-2">
                                        @Html.Label("Status", new { @class = "lbl-font" })
                                        <div class="row" style="margin-left: 0px;">
                                            @Html.RadioButtonFor(m => m.emp_status, "Y")
                                            <label for="Status" style="font-weight: normal;">Active</label>
                                            @Html.RadioButtonFor(m => m.emp_status, "N")
                                            <label for="Status" style="font-weight: normal;">Inactive</label>
                                            @Html.RadioButtonFor(m => m.emp_status, "R")
                                            <label for="Status" style="font-weight: normal;">Resigned</label>




                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        @Html.Label("Account No", new { @class = "lbl-font" })
                                        @*@Html.TextBoxFor(model => model.AccountNo, new { @class = "form-control"*@
                                        @Html.TextBoxFor(model => model.AccountNo, new { style = "width:188px;", @maxlength = "16" })
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("City", new { @class = "lbl-font" })
                                        @(Html.Kendo().DropDownList()
                                                                                                            .Name("cityid")
                                                                                   .DataTextField("cityname")
                                                                                                                    .DataValueField("cityid")
                                                //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                                                                                       .DataSource(source => { source.Read(read => { read.Action("Getcity", "Profile", new { parentcode = "QCD_City" }); }).ServerFiltering(true); }))



                                    </div>

                                    <div class="col-sm-2">
                                        @Html.Label("Mobile No", new { @class = "lbl-font" })
                                        @*@Html.TextBoxFor(model => model.mobileno, new { @class = "form-control" })*@
                                        @Html.TextBoxFor(model => model.mobileno, new { style = "width:188px;", @maxlength = "10" })
                                    </div>
                                </div>

                                <div class="row" style="margin-top:1.5%;">
                                    <div class="col-sm-2">
                                        @*<div class="wrap-input100 validate-input m-b-5" data-validate="Password is required">
                                                <span class="label-input100">Password</span>
                                                <input class="input100" type="password" name="password" placeholder="Type your password" style=" width:188px;" >

                                                <span class="focus-input100" data-symbol="&#xf190;"></span>
                                            </div>*@
                                        <div class="col-md-12">
                                            <label class="lbl-font">Password</label>
                                            @Html.PasswordFor(m => m.password, new { style = "width:193px;margin-left:-12px;font-weight:normal;" })
                                            @Html.ValidationMessageFor(m => m.password)
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Pin Code", new { @class = "lbl-font" })
                                        @*@Html.TextBoxFor(model => model.Pincode, new { @class = "form-control" })*@
                                        @Html.TextBoxFor(model => model.Pincode, new { style = "width:188px;", @maxlength = "6" })
                                    </div>

                                    @*@Html.Label("Bank Account Type", new { @class = "lbl-font" })
                                        @Html.TextBoxFor(model => model.employee_bankaccounttype, new { @class = "form-control" })*@

                                    <div class="col-sm-2">
                                        @Html.Label("Bank Account Type", new { @class = "lbl-font" })
                                        <div class="row" style="margin-left: 0px;">
                                            @*@Html.RadioButtonFor(m => m.Gender, "M", new { id = "Male", @enable = "false" })*@
                                            @Html.RadioButtonFor(m => m.employee_bankaccounttype, "S")

                                            <label for="Gender" style="font-weight: normal;">Salary</label>
                                            @*@Html.RadioButtonFor(m => m.Gender, "F", new { id = "Female", @enable = "false" })*@
                                            @Html.RadioButtonFor(m => m.employee_bankaccounttype, "R")
                                            <label for="Gender" style="font-weight: normal;">Reimbursement</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Employee Branch", new { @class = "lbl-font" })
                                        @(Html.Kendo().DropDownList()
                                                                                                                            .Name("empbranch_id")
                                                                                                   .DataTextField("empbranch_name")
                                                                                                                                    .DataValueField("empbranch_id")
                                                //  .Events(e => e.Change("onChangeBankName"))
    .HtmlAttributes(new { style = "height: ;width: 195px;font-weight:normal;margin-left: 0%;" })
                                                                                                                                                               .DataSource(source => { source.Read(read => { read.Action("GetEmpbranch", "Profile", new { flag = "EmpBranch" }); }).ServerFiltering(true); }))



                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Card No", new { @class = "lbl-font" })
                                        @*@Html.TextBoxFor(model => model.mobileno, new { @class = "form-control" })*@
                                        @Html.TextBoxFor(model => model.Card_No, new { style = "width:188px;", @maxlength = "16" })
                                    </div>

                                </div>


                                <div class="row" style="margin-top:0.5%;">
                                    <div class="col-sm-3">
                                        @Html.Label("Address1", new { @class = "lbl-font" })
                                        @Html.TextBoxFor(model => model.Emp_Addr1, new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-3" style="float:left;">
                                        @Html.Label("Address2", new { @class = "lbl-font" })
                                        @Html.TextBoxFor(model => model.Emp_Addr2, new { @class = "form-control" })
                                    </div>


                                    <div class="col-sm-3" style="float:right;">
                                        @Html.Label("Permanant Address", new { @class = "lbl-font" })
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    </div>

                                    @*<div class="col-sm-3">
                                            @Html.Label("Personal Email", new { @class = "lbl-font" })<br />
                                            @Html.TextBoxFor(model => model.Personal_Email, new { @class = "form-control" })
                                            @Html.TextBoxFor(model => model.Personal_Email, new { @maxlength = "12" })
                                        </div>*@

                                </div>







                                <div class="row" style="margin-top:1.5%;">
                                    @*<div class="col-sm-2">
                                            @Html.Label("IEM Designation", new { @class = "lbl-font" })
                                            @Html.TextBoxFor(model => model.Iem_Designation, new { @class = "form-control"  })
                                        </div>*@

                                </div>

                                <div class="row" style="margin-top:0.5%;" id="editmode">

                                    @*<div class="col-sm-2">
                                        @Html.Label("Employee DOR", new { @class = "lbl-font" })
                                        @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                                                                  .Name("DOJ")
                                                //.Value(Model.DOB )
                                                  .HtmlAttributes(new { style = "width:100%;", placeholder = "DD-MM-YYYY", onkeypress = "return IsDateKey(evt)" }))     @*//onkeypress = "return ESTOnkeypress();"*@
                                    @*</div>*@


                                    <div class="col-sm-2">
                                        @Html.Label("Employee DOR", new { @class = "lbl-font" })
                                        @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                                  .Name("employee_dor")
                                           .Min(DateTime.Today)
                                                //.Value(Model.DOJ )
                                          .HtmlAttributes(new { style = "width: 100%;", placeholder = "DD-MM-YYYY", onkeypress = "return isNumberKey(event)" }))
                                    </div>





                                    <div class="col-sm-2">
                                        @Html.Label("Last working Date", new { @class = "lbl-font" })
                                        @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                                  .Name("employee_lastworkingdate")
                                           .Min(DateTime.Today)
                                                //.Value(Model.DOB )
                                          .HtmlAttributes(new { style = "width:100%;", placeholder = "DD-MM-YYYY", onkeypress = "return isNumberKey(event)" }))     @*//onkeypress = "return ESTOnkeypress();"*@
                                    </div>

                                    <div class="col-sm-2">
                                        @Html.Label("Effective Date", new { @class = "lbl-font" })
                                        @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                                  .Name("employee_effectivedate")
                                                //.Value(Model.DOB )
                                          .HtmlAttributes(new { style = "width:100%;", placeholder = "DD-MM-YYYY", onkeypress = "return isNumberKey(event)" }))     @*//onkeypress = "return ESTOnkeypress();"*@
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.Label("Last Modified On", new { @class = "lbl-font" })
                                        @(Html.Kendo().DatePicker().Format("dd-MM-yyyy")
                                          .Name("HRIS_LASTMODIFIEDON")
                                                //.Value(Model.DOB )
                                          .HtmlAttributes(new { style = "width:100%;", placeholder = "DD-MM-YYYY", onkeypress = "return isNumberKey(event)" }))     @*//onkeypress = "return ESTOnkeypress();"*@
                                    </div>


                                </div>

                            </div>
                        </body>
                    </html>
