﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.SupplierInvoice_Model

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 70%;
        height: auto;
        overflow: auto;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }

    /*.form-control {
        height: 20px !important;
    }*/
</style>
<div class="container">

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Tax Type", new { style = "" })
            @(Html.Kendo().DropDownList()
                .Name("Taxid")
                .DataTextField("TaxName")
                .DataValueField("Taxid")
                .Events(e => e.Change("onChange_Tax"))
                .HtmlAttributes(new { @style = "width: 100%;" })
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("Read_DropDownList", "SupplierInvoice").Data("GetTaxCode"); });
                }))
        </div>
        <div class="col-md-2">
            @Html.Label("Tax Subtype", new { style = "" })
            @(Html.Kendo().DropDownList()
                .Name("SubTaxid")
                .DataTextField("SubTaxName")
                .DataValueField("SubTaxid")
                .Events(e => e.Change("onChange_SubTax"))
                .HtmlAttributes(new { @style = "width: 100%;" })
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("Read_DropDownList", "SupplierInvoice").Data("GetSubTaxCode"); });
                }))

        </div>
        <div class="col-md-2">
            @Html.Label("Taxt Rate", new { style = "" })
            @Html.HiddenFor(m => m.TaxRate, new { type = "text", @class = "form-controls", id = "txtTaxrate", oncopy = "return false", onpaste = "return false", Readonly = "Readonly" })
            @Html.HiddenFor(m => m.Invoiceid, new { id = "txtInvid" })
            @Html.HiddenFor(m => m.Refid, new { id = "txtRefid" })
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Invoice No", new { style = "" })
            @Html.TextBoxFor(m => m.InvoiceNo, new { type = "text", @class = "form-controls", id = "txtInvno", oncopy = "return false", onpaste = "return false", Readonly = "Readonly" })
        </div>
        <div class="col-md-2">
            @Html.Label("Invoice Amount", new { style = "" })
            @Html.TextBoxFor(m => m.InvoiceAmt, new { type = "text", @class = "form-controls", id = "txtInvamt", oncopy = "return false", onpaste = "return false", Readonly = "Readonly" })
        </div>
        <div class="col-md-2">
            @Html.Label("Taxable Amount", new { style = "" })
            @Html.TextBoxFor(m => m.TaxableAmt, new { type = "text", @class = "form-controls", id="txtTaxableamt", oncopy = "return false", onpaste = "return false" })
        </div>
    </div>
</div>

