﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.AdvanceRequisition_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 65%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Ref No", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Ref_No, null, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
            @Html.HiddenFor(model => model.Ref_Gid)
        </div>
        <div class="col-sm-2" id="div_employee">
            @Html.Label("Emp/Supplier Code & Name", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Emp_Supl_Code, null, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
        </div>
        <div class="col-sm-2" id="div_supplier">
            @Html.Label("Emp/Supplier Code & Name", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                .Name("Supplier_Gid")
                .DataTextField("Supplier_Name")
                .DataValueField("Supplier_Gid")
                .Filter("contains")
                .Events(eve => eve.DataBound("onDataBound_Common"))
                .HtmlAttributes(new { @style = "width: 110%;", @class = "form-control" })
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("Get_dropdownlist_records", "AdvanceRequisition", new { Master = "Supplier", Master_Code = "0", Master_Gid = "0" }); });
                }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Advance Type", new { @class = "lbl-font" })
            @(Html.Kendo().DropDownList()
                    .Name("AdvanceType_Gid")
                    .DataTextField("AdvanceType_Name")
                    .DataValueField("AdvanceType_Gid")
                    .Events(e => e.Change("onChange_AdvanceType").DataBound("onDataBound_Common"))
                    .HtmlAttributes(new { @style = "width: 110%;", @class = "form-control" })
                    .DataSource(source =>
                    {
                        //source.Read(read => { read.Action("Get_dropdownlist_records", "AdvanceRequisition", new { Master = "AdvanceType", Master_Code = "0", Master_Gid = "0" }); });
                        source.Read(read => { read.Action("Get_dropdownlist_records", "AdvanceRequisition").Data("Get_SubType"); });
                    }))
        </div>
        <div class="col-sm-2">
            @Html.Label("GL Code & Description", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.GL_CodeDesc, null, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
        </div>
    </div>

    <div class="row" style="margin-top: 1%;">
        <div class="col-sm-2">
            @Html.Label("Liquidation Date", new { @class = "lbl-font" })
            @(Html.Kendo().DatePicker()
                  .Name("Liquidation_Date")
                  .Value(Model.Liquidation_Date)
                  .Min(DateTime.Today)
                  .Format("dd-MM-yyyy")
                  .HtmlAttributes(new { @class = "form-control", @placeholder = "DD-MM-YYYY", @style = "min-width: 110%;", onkeypress = "return IsDateKey(event)" }))
        </div>
        <div class="col-sm-2">
            @Html.Label("Advance Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Advance_Amount, null, new { @class = "form-controls" })
        </div>
        <div class="col-sm-4">
            @Html.Label("Description", new { @class = "lbl-font" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-controls", @style = "min-width: 108%;", })
        </div>
    </div>

</div>