﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.SupplierInvoice_Model

<style>
    div#kwindow_coa {
        overflow: hidden;
    }
</style>

<div class="container">
    @Html.HiddenFor(m => m.Expenseid)
    <div class="col-md-12 table-responsive">
        @(Html.Kendo().Grid<DataAccessHandler.Models.EOW.SupplierInvoice_Model>().Name("KendGrid_ExpenseCOA")
            .HtmlAttributes(new { @style = "width:90%;line-height:2em;font-weight:normal;height:250px;" })
            .ToolBar(toolbar => toolbar.Create().Text("COA"))
            .Columns(columns =>
            {
                columns.Bound(m => m.Expenseid).Title("Expenseid").Hidden();
                columns.Bound(m => m.COAid).Title("COAid").Hidden();
                columns.Bound(m => m.GlName).Title("GL Code & Descritpion");
                columns.Bound(m => m.FC_Code).Title("Business Segment(BS)");
                columns.Bound(m => m.CC_Code).Title("Cost Center(CC)");
                columns.Bound(m => m.Product_Code).Title("Product Code");
                columns.Bound(m => m.OU_Code).Title("OU Code");
                columns.Bound(m => m.COAAmount).Title("COA Amount");
                columns.Command(cmd => { cmd.Edit().Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>"); }).Title("Action").Width(110);
                columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return COADelete()' class='deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(50).Hidden(ViewBag.IsApprover);
            })
            .Editable(editable => { editable.Mode(GridEditMode.InLine); })
            .Filterable()
            .Sortable()
            .Scrollable(s => s.Enabled(true).Height("auto"))
            .Resizable(resize => resize.Columns(true))
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .Model(model =>
                        {
                            model.Id(p => p.COAid);
                        })
            .PageSize(5)
            .Read(read => read.Action("Read_COA", "SupplierInvoice").Data("SetAdditionalParams"))
            .Create(Create => Create.Action("Save_Update_COA", "SupplierInvoice").Data("SetAdditionalParams"))
            .Update(update => update.Action("Save_Update_COA", "SupplierInvoice").Data("SetAdditionalParams"))
                ))
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger
        var gridcoa = $("#KendGrid_ExpenseCOA").data("kendoGrid");
        gridcoa.bind("edit", function (event) {

        });
    });

    function SetAdditionalParams() {
        debugger;
        var COA_Expense_Gid = $("#Expenseid").val();
        return { "COA_Expense_Gid": COA_Expense_Gid }
    }

    function COADelete() {
        debugger;
        var grid = $("#KendGrid_ExpenseCOA").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var COA_Gid = (model.COAid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Remove_COA", "SupplierInvoice")',
                        data: "{ COA_Gid:'" + COA_Gid + "'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].Clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
</script>