﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 50%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Ref No", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_ecfno, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Pay Mode", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_paymodemode, null, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("GL Code", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_ecfno, new { @class = "form-controls", @readonly = "readonly", @style = "background-color: #eee;" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Beneficiary", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_beneficiary, new { @class = "form-controls", @readonly = "readonly", @style = "width: 100% !important; background-color: #eee;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Credit Amount", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_creditamount, new { @class = "form-controls", @type = "number", @style = "width: 100% !important;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Payment Ref No", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Pay_referenceno, new { @class = "form-controls", @readonly = "readonly", @style = "width: 100% !important;background-color: #eee;" })
        </div>

    </div>
</div>
