﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.EOW.Claim_Model
<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 35%;
        font-weight: normal;
    }

    .k-window > div.k-popup-edit-form {
        overflow: hidden !important;
    }

    .lbl-font {
        font-weight: normal;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Label("Ref No", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Rem_ecfno, new { @class = "form-controls", @readonly = "readonly", @style = "width: 100% !important; background-color: #eee;" })
        </div>
        <div class="col-sm-2">
            @Html.Label("Status", new { @class = "lbl-font" })
            @Html.TextBoxFor(model => model.Rem_status, new { @class = "form-controls", @readonly = "readonly", @style = "width: 100% !important; background-color: #eee;" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.Label("Remarks", new { @class = "lbl-font" })
            @Html.TextAreaFor(model => model.Rem_remarks, new { @class = "form-controls", @style = "height:50% !important;max-width: 72% !important;" })
        </div>
    </div>
</div>