﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model DataAccessHandler.Models.IEMProduct.Proxy_Model

<!DOCTYPE html>
<html lang="en">
<head>
    <title>IEM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .lbl-font {
            font-weight: normal;
        }

        .form-control {
            height: 30px !important;
        }

        .k-state-disabled {
            background: #efefef;
        }

        a.k-button.k-button-icontext.k-grid-Tax {
            height: 30px;
            margin-top: 15px;
            margin-left: 25px;
        }

    </style>
</head>
<body>
    <div class="row mt-1 top" style="margin-top:2px;">
        <div class="col-md-12" style="background-color:#245988;height:35px;">
            <p style="text-align:center;color:#fff;">Proxy</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-1">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    @(Html.Kendo().Grid<DataAccessHandler.Models.IEMProduct.Proxy_Model>().Name("kendgrid_Proxy")
                                .HtmlAttributes(new { @style = "width:80%;line-height:2em;font-weight:normal;" })
                                .ToolBar(toolbar => toolbar.Create().Text(""))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.proxyGid).Width(50).Title("Proxy ID").Hidden();
                                    columns.Bound(m => m.proxyFromId).Title("ProxyFromID").Width(80).Hidden();
                                    columns.Bound(m => m.proxyTo).Title("Proxy Name/ ID").Width(80);
                                    columns.Bound(m => m.proxyPeriodFrom).Title("Date From").Width(80);
                                    columns.Bound(m => m.proxyPeriodTo).Title("Date To").Width(80);
                                    columns.Bound(m => m.proxyActive).Title("Status").Width(80);
                                    columns.Bound(m => m.Selected_supervisor_gid).Title("Status").Width(80).Hidden();
                                    columns.Command(cmd =>
                                    {
                                        cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'>");
                                        cmd.Custom("Delete").Text("<span class='fa fa-trash' style='color:#225281;font-size: 12px;'>").Click("myDeleteJs");
                                    }).Title("Action").Width(70);
                                   // columns.Command(cmd => { cmd.Edit().UpdateText(" ").CancelText(" ").Text("<span class='fa fa-pencil' style='color:#225281;font-size: 12px;'> <button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>"); }).Title("Action").Width(40);
                                    
                                 //   columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()' class = 'deleteclass'><i class='fa fa-trash' aria-hidden='true'></i></button>").Title("Delete").Width(30);
                                })
                                   .Editable(editable =>

                             { editable.Mode(GridEditMode.InLine); })
                              .Pageable(pageable => pageable
                              .Refresh(true)
                                  //.PageSizes(new List<object> { 5, 10, 20, 500 })
                              .ButtonCount(2))
                              .Filterable()
                              .Sortable()
                              .Scrollable(s => s.Enabled(true).Height("auto"))
                              .Resizable(resize => resize.Columns(true))
                              .Selectable()
                              .DataSource(dataSource => dataSource
                              .Ajax()
                             .PageSize(10)
                             .Model(model => model.Id(p => p.proxyGid))
                                  //.Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                     .Read(read => read.Action("GetProxyDetails", "Proxy"))
                                     .Create(Create => Create.Action("Save_Update_ProxyDetails", "Proxy").Data("SetSaveActionType"))
                                     .Update(update => update.Action("Save_Update_ProxyDetails", "Proxy").Data("SetUpdateActionType"))
                             ))
                </div>

            </div>
        </div>
    </div>
</body>
</html>
<script>
    function myDeleteJs() {
        debugger;
        var grid = $("#kendgrid_Proxy").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var proxyGid = (model.proxyGid);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'IEM Product',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Remove_ProxyDetail", "Proxy")',
                        data: "{ proxyGid:'" + proxyGid + "',ActionType:'D'}",
                        success: function (data) {
                            debugger;
                            var Result = JSON.parse(data);

                            if (Result[0].Clear == "1") {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'IEM',
                                    theme: 'dark',
                                    content: Result[0].Msg,
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                grid.dataSource.read();
                            }, 2000);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }

    $(document).ready(function () {
        debugger;

        $("#kendgrid_Proxy").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#kendgrid_Proxy").data("kendoGrid");

        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
            if (event.model.isNew()) {

                var ddl = event.container.find("input[name=proxyActiveId]").data("kendoDropDownList");
                ddl.select(0);
            }
            //else {

                

            //    var emp_id = $("#Selected_supervisor_gid").val();

            //    setTimeout(function () {
            //        $.getJSON("GetEmpCodeName/Delegation?Master=Employee_ByID&EmployeeName=" + emp_id, function (result) {
            //            debugger;
            //            //var employeelist = data.employee; 
            //            var SupervisorDropDown = $("#proxyToId").data("kendoDropDownList");
            //            SupervisorDropDown.dataSource.data(result);
            //            SupervisorDropDown.value(emp_id);
            //        });
            //    }, 1000);
            //}
        });

    })


    function onRequestEnd(e) { //run once the server operations is end.
        debugger;
        var message = "";
        //Check request type
        if (e.type == "create") {

            debugger;

            //check for errors in the response

            if (e.response.Errors == null) {
                var Result = JSON.parse(e.response);
                if (Result[0]["Clear"] == 1) {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.dialog({
                        title: 'IEM Product',
                        content: Result[0]["Msg"],
                        type: 'red',
                    });
                    //keep the grid in edit-mode
                    var grid = $("#kendgrid_Proxy").data("kendoGrid");
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });
                }

            }
            else {
                $.dialog({
                    title: 'IEM Product',
                    content: Result[0]["Msg"],
                    type: 'red',
                });
                $("#kendgrid_Proxy").data("kendoGrid").dataSource.read();
            }
        }

        if (e.type == "update") {
            if (e.response == null || e.response.Errors == null) {
                message = JSON.parse(e.response);
                if (message[0].Clear == 1) {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'green',
                    });
                    setTimeout(function () {
                        debugger;
                        $("#kendgrid_Proxy").data("kendoGrid").dataSource.read();
                        //window.location.reload(1);
                    }, 1500);
                }
                else {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'IEM',
                        content: message[0].Msg,
                        type: 'blue',
                    });
                    // $("#kendgrid_Proxy").data("kendoGrid").dataSource.read();
                    var grid = $("#kendgrid_Proxy").data("kendoGrid");
                    grid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });

                }
            }
        }
    }

    function SetSaveActionType() {
        debugger;
        var employee_gid = $("#proxyToId").val();
        var action = "C";
        var status = $("#proxyActiveId").val();
        //var delmat_gid = "1";
        //  var delmat_gid = $("#hdDelmat_gid").val();
        //var delmat_gid = $("#Delmat_Gid").val();
        return { ActionType: action, ProxyToId: employee_gid, Status: status }
    }


    function SetUpdateActionType() {
        debugger;
        var employee_gid = $("#proxyFromId").val();
        var employee_gid1 = $("#proxyToId").val();
        var action = "U";
        var status = $("#proxyActiveId").val();

        //var delmat_gid = "1";
        //  var delmat_gid = $("#hdDelmat_gid").val();
        //var delmat_gid = $("#Delmat_Gid").val();
        return { ActionType: action, ProxyFromId: employee_gid, ProxyToId: employee_gid1, Status: status }
    }


    function IsDateKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31)
            return false;
        return true;
    }


</script>


<script>
    function basicFilter(ev) {
        debugger;
        try {
            var empname = "";
            var emp_val = ev.filter;
            if (emp_val != undefined) {
                empname = ev.filter.filters[0].value;
            }
            else {
                empname = "";
            }
        }
        catch (e) {
            empname = "";
        }
        return {
            //Master: "Employee_Search", Master_Code: "0", Master_Gid: "0",
            EmployeeName: empname, flag: "Employee", Master: "Employee_Search"
        }
    }
</script>